/*=======================================
=            THEME OVERRIDES            =
=======================================*/


.peril-card-wrapper--selected {

   
    .peril-card {
        color:black;
        .card__header{
            border-bottom:solid 1px black;
        }
    }
    &:after {
       
        color:black;
        border: solid 2px black;
        
    }
    .peril-card__header{
        
        @include respond-to(small){
            border-bottom:solid 1px black;    
        }
    }

}






.card-button:hover .btn, .card-button:hover .btn-default, .card-button:hover .btn-ghost, .card-button:hover .hr-toggler__btn, .card-button:hover .btn-ghost-inverted, .card-button:hover .btn-blank, .card-button:focus .btn, .card-button:focus .btn-default, .card-button:focus .btn-ghost, .card-button:focus .hr-toggler__btn, .card-button:focus .btn-ghost-inverted, .card-button:focus .btn-blank,td.day.active, td.active.new{
	color:black!important;
}

.custom-datepicker::after { /*  Custom datepicker arrow */
  color:black!important;
}
 .custom-dropdown::after{
 	color: black!important;
 }

 .btn-primary.btn-ghost, .btn-primary.btn-blank{
    color:black!important;
 }
  .btn-secondary.btn-ghost, .btn-secondary.btn-blank{
    color:black!important;
 }
 .btn-primary:hover{
    background:black;
    color:white!important;
    border:solid 2px black;
 }
 .btn-primary.btn-ghost:hover{
    color:white!important;
    background:black!important;
    border: solid 2px black;
 }
.btn-primary.btn-blank:hover{
    color:black!important;
}
 .btn-ghost btn-disabled{
    color:$gray-35!important;
 }

 .radio input:focus + label::before, .radio-inline input:focus + label::before, .checkbox input:focus + label::before, .checkbox-inline input:focus + label::before {
    outline: 0;
    box-shadow: inset 0px 0px 0px 1px $btn-form-highlight;
}
.btn-form-highlight{
    background:$btn-form-highlight;
    border:solid 2px $btn-form-highlight;
    color:white;
    &:hover{
        background:$btn-form-highlight-hover;
        border:solid 2px $btn-form-highlight-hover;
    }
    &.btn-ghost{
        border:solid 2px $btn-form-highlight;
        color:black;
        &:hover{
            background:$btn-form-highlight;
            color:black;
        }
    }
    
}
.peril-card:hover .btn-form-highlight{
    background:black!important;
    color:white!important;
    border:solid 2px black;
}