/*===============================================
=            SPRINT THEME OVERRIDE VARS            =
===============================================*/

$primary-color: #ffce0a;
$secondary-color: #3171bf;

$client-header-background: white;
$client-header-logo-path: '../sprint/img/asurion-logo-black.svg';
$client-header-logo-width:10em;
$client-header-text-color:#666;

$step-color--current: $primary-color;

$client-header-background:$primary-color;

$form-highlight-color: $primary-color;


$btn-primary: $primary-color;
$button-text-color:black;
$btn-secondary: $primary-color;
$primary-text-color:black;

$btn-form-highlight-hover:$primary-color;

//$link-font-family: $system-font-family!default;


$link-color: $secondary-color!default;
$link-hover-color: saturate($link-color, 20%)!default;
$link-active-color: saturate($link-color, 20%)!default;
$link-visited-color: saturate($link-color, 20%)!default;
