/*==========================================
=            CLAIM STEPS LAYOUT            =
==========================================*/



.step{
	padding-bottom:3rem;

}
.step__header{
	text-align:center;
	padding-top:3rem;
	padding-bottom:3rem;
}
.step__header--info{
	background-color:$info-muted;
	color:$info;
	margin-bottom:2rem;
}
.step__header--alert{
	background-color:$alert-muted;
	color:$alert;
	margin-bottom:2rem;
}
.step__header--warning{
	background-color:$warning-muted;
	color:$warning;
	margin-bottom:2rem;
}
.step__header--success{
	background-color:$success-muted;
	color:$success;
	margin-bottom:2rem;
}
.step__header__icon{
	margin-top: -0.2em;
	display: inline-block;
	margin-right: .1em;
}
.step__header__title{
	margin-bottom:1rem;
}
.step__content{
	padding-bottom:2.5rem;
}
.step__footer{
	padding-bottom:1.5rem;
}

.step__header__subtitle{
	line-height:1.4;
	margin-bottom:0;
}

.step.ng-enter, .step.ng-leave {
  
}

.step.ng-enter,
.step-wrapper.ng-enter {
  @include fadeIn();
}

.step.ng-enter-active {
  
}
.step.ng-leave {
	// @include fadeOutLeft();
	// position: absolute;
	// top:0;
	// left:0;
	// width:100%;
}

.step.ng-leave-active {
  
}

.path-control{
	position: fixed;
	top:1rem;
	left:1rem;
	z-index: 9999;
	opacity: 0.5;
}

/*==================================
=            STYLEGUIDE            =
==================================*/
.styleguide{
	margin-top:100vh;
	position: relative;
	
}
.styleguide__nav{
	
}
.styleguide__nav ul{

	@extend .bold;
	width:100%;
	background-color:$adg-blue;
	color:$gray-75;
	list-style:none;
	margin:0;
	padding:0;
	background-color:white;
	line-height:1rem;
	text-align:center;
	-webkit-box-shadow: -0px 25px 25px -25px rgba(0, 0, 0, 0.08);
	-moz-box-shadow: -0px 25px 25px -25px rgba(0, 0, 0, 0.08);
	box-shadow: -0px 25px 25px -25px rgba(0, 0, 0, 0.08);
	

}
.styleguide__nav__item{
	display:inline-block;
	padding:2rem 1rem;
	cursor: pointer;
	
	
}
.styleguide__header{
	position: fixed;
	width:100%;
	height:100%;
	top:0;
	left:0;
	background: $bg-color; /* Old browsers */
	text-align: center;
    padding-top: 3rem;
    padding-bottom: 3rem;
    height: 100vh;
    vertical-align: middle;
    display: table;
    width:100%;
    text-align:center;
}
.styleguide__lockup{
	@include fadeInUp(
		$duration:800ms,
		$delay:1000ms

	);
	display:table-cell;
	vertical-align: middle;
	text-align:center;
}
.styleguide__main{

	background-color:$bg-color;
	position: relative;
	margin-top:-5rem;
	-webkit-box-shadow: 2px 8px 131px 10px rgba(0,0,0,0.15);
	-moz-box-shadow: 2px 8px 131px 10px rgba(0,0,0,0.15);
	box-shadow: 2px 8px 131px 10px rgba(0,0,0,0.15);

}

.styleguide__section{
	padding-bottom:5em;
}

.styleguide-demo-small{
	// border:solid 1px $gray-50;
	-ms-transform: scale(.65); /* IE 9 */
	    -webkit-transform: scale(.65); /* Safari */
	    transform: scale(.65);
	   -webkit-box-shadow: 2px 8px 131px 10px rgba(0,0,0,0.15);
	   -moz-box-shadow: 2px 8px 131px 10px rgba(0,0,0,0.15);
	   box-shadow: 2px 8px 131px 10px rgba(0,0,0,0.15);
}
.styleguide-layout-demo{
	position: relative;
}
.styleguide-layout-demo:after{
	content: attr(data-demo-text);
	position: absolute;
	left:0;
	top:0;
	display:block;
	background-color: $warning-muted;
	color:$warning;
	font-size:1.3rem;
	line-height:1;
}
.styleguide-layout-demo:before{
	content:'';
	position: absolute;
	border:dashed 2px $gray-35;
	width:100%;
	height:100%;
	left:0;
	top:0;
}
/*=====  End of STYLEGUIDE  ======*/
