/*========================================
=            CS PORTAL LAYOUT            =
========================================*/

.cs-portal, .cs-portal body{
	background:#2e3e4e;
	height:100%;
}

/*----------  HEADER`  ----------*/

.cs-portal__header{
	@extend .clearfix;
	background:white;

}
.cs-portal__header__left{
	float: left;
}
.cs-portal__header__right{
	float:right;
}
.cs-portal__header__nav{
	margin:0;
	padding:0;
	@include respond-to(small-max){
		display:none;
	}
}
.cs-portal__header__nav__item{
	@extend .loud;
	display:inline-block;
	margin-right:.25rem;
	min-width:4rem;
	text-align:center;
	padding:1.5rem .5rem;
	-webkit-box-shadow:inset 0px 4px 0px 0px $gray-15;
	-moz-box-shadow:inset 0px 4px 0px 0px $gray-15;
	box-shadow:inset 0px 4px 0px 0px $gray-15;
	transition:200ms;
}
.cs-portal__header__nav__item:not(.cs-portal__header__nav__item--current):hover{
	-webkit-box-shadow:inset 0px 4px 0px 0px $gray-50;
	-moz-box-shadow:inset 0px 4px 0px 0px $gray-50;
	box-shadow:inset 0px 4px 0px 0px $gray-50;
}
.cs-portal__header__nav__item--current{
	-webkit-box-shadow:inset 0px 4px 0px 0px $asurion-lt-blue;
	-moz-box-shadow:inset 0px 4px 0px 0px $asurion-lt-blue;
	box-shadow:inset 0px 4px 0px 0px $asurion-lt-blue;
}
.cs-portal__header__nav__link{
	text-decoration:none;
	color:$gray-75;
}

/*----------  BRAND  ----------*/
.cs-portal__brand{
	color:inherit;
	text-decoration: none;
	@include respond-to(small-max){
		font-size:.9rem;
	}	
}

.cs-portal__brand--white{
	.cs-portal__brand__name, .cs-portal__brand__mark{
		color:white;	
	}
}

.icon-adg-logomark {
  
  text-decoration: none;
  border: none;
  font-style: normal;
  
  &a {
    text-decoration: none;
  }
  
}

.cs-portal__brand__mark{
	font-size: 1.6em; 
	margin-right:.5rem;
	display:inline-block;
	vertical-align:middle;
	padding:1.5rem;
	-webkit-box-shadow:inset 0px 4px 0px 0px $asurion-green;
	-moz-box-shadow:inset 0px 4px 0px 0px $asurion-green;
	box-shadow:inset 0px 4px 0px 0px $asurion-green;
}
.cs-portal__brand__name{
	font-size: 1.6em; 
	font-family: $heading-font-family; 
	font-weight: $heading-font-weight; 
	line-height: $heading-line-height;
	letter-spacing: -.02em;
	margin:0;
	padding:0;
	display:inline-block;
	vertical-align:middle;
	padding:1.5rem 0;
}

/*----------  SECTION  ----------*/

.cs-portal__section{
	padding-bottom:3rem;
}
.cs-portal__section--gray{
	background:$gray-15;
}
.cs-portal__section__header{
	text-align:center;
	padding:3rem 0;
}
.cs-portal__section__header__title{
	@extend .h2;
}
.cs-portal__section__content{

}

/*----------  CARDS  ----------*/

.cs-portal__cards{
	@extend .clearfix;

}

.cs-portal__card-chat-icon {
  width: 20%;
  position: relative;
  top: 0.2em;
}

.cs-portal__card{
	float: left;
	width:32%;
	margin-right:1%;
	border:none;
	background:none;
	margin-bottom:3rem;
	text-decoration:none;
	@include respond-to(small-max){
		width:49%;
	}
}
.cs-portal__card--half{
	width:49%;
}
.cs-portal__card--full{
	width:100%;
}
.cs-portal__card__header{
	background:white;
	border-bottom-right-radius:.25rem;
	border-bottom-left-radius:.25rem;
	padding:1rem;
	text-align:center;
}
.cs-portal__card__content{
	height:10rem;
	background:$asurion-lt-blue;
	border-top-right-radius:.25rem;
	border-top-left-radius:.25rem;
	width:100%;
	color:white;
	position: relative;
	@include respond-to(small-max){
		height: 7rem;
	}
}
.cs-portal__card__content__front, .cs-portal__card__content__back{
	display:table;
	height:100%;
	width:100%;
	position:absolute;
}
.cs-portal__card__content__front{}
.cs-portal__card__content__back{
	padding:2rem;
	
}
.cs-portal__card__title{
	@extend .h4;
	margin-bottom:0;
	color:inherit;
}
.cs-portal__card__desc{
	@extend .loud;
	color:inherit;
	display:table-cell;
	vertical-align:middle;
}
.cs-portal__card__icon{
	vertical-align:middle;
	text-align:center;
	color:white;
	font-size:4em;
	display:table-cell;
}

/*----------  CARD ANIMATION  ----------*/

.cs-portal__card{
	.cs-portal__card__content{
		// transition: 50ms;
	}
	.cs-portal__card__content__front{
		opacity: 1;
		transition: 300ms;
	}
	.cs-portal__card__content__back{
		opacity: 0;
		transition: 300ms;
	}
	.cs-portal__card__desc{
		opacity: 0;
		transition: 200ms 100ms;
	}
}

.cs-portal__card:hover{
	.cs-portal__card__content{
		background:$asurion-green;
	}
	.cs-portal__card__content__front{
		opacity: 0;
	}
	.cs-portal__card__content__back{
		opacity: 1;
	}
	.cs-portal__card__desc{
		opacity: 1;
	}
}


/*----------  FOOTER  ----------*/

.cs-portal__footer{
	padding:1rem 0;
	color:white;
}
.cs-portal__footer__left{}
.cs-portal__footer__nav{
	margin:0;
	padding:0;
	list-style:none;
	margin-left:5.5rem;
}
.cs-portal__footer__nav__item{
	@extend .loud;
}
.cs-portal__footer__nav__link{
	color:inherit;
}
.cs-portal__footer__brand{
	.cs-portal__brand__mark{
		-webkit-box-shadow:none;
		-moz-box-shadow:none;
		box-shadow:none;
	}
}
.cs-portal__footer__copyright{
	margin-top:3rem;
	color:inherit;
	@extend .loud;
}


/*----------  DIRECTORY  ----------*/

.cs-portal-directory{
	@include respond-to(small){
		font-size: .8rem;
	}
	@include respond-to(medium){
		font-size: .9rem;	
	}
	@include respond-to(large){
		font-size: 1rem;
	}
	
	
}
.cs-portal-directory__section__header{
	padding:1em 0;
	display:table;
	width:100%;
}
.cs-portal-directory__col{
	display:table-cell;
	vertical-align:middle;
}
.cs-portal-directory__col:last-child:not(:first-child){
	text-align:right;
}
.cs-portal-directory__section{
	background:white;
	border-radius:.5rem;
	border:solid 2px $gray-35;
	padding: 0em 2em;
	margin-bottom: 1em;
	position: relative;
}



.cs-portal-directory__section__content{
	border-top:solid 1px $gray-35;
	padding:1em 0;
	position: relative;
	display:none;
}
.cs-portal-directory__section__content--open{
	display:block
}
.cs-portal-directory__section__toggle-btn{
	// @extend .btn-ghost;
	color:$accessible-blue;
	background:transparent;
	line-height:1em!important;
	border:solid 2px $accessible-blue!important;
	&:before{
		color:$accessible-blue;
		content: "\e913";
		font-family: 'icomoon';
		position: relative;
		display: block;
	}
}
.cs-portal-directory__section__toggle-btn:hover{
	background-color:$accessible-blue;
	color:white;
	border:solid 2px $accessible-blue;
	&:before{
		color:white;
	}
}
.cs-portal-directory__section__toggle-btn--open:before{
	-moz-transform: scaleY(-1);
    -o-transform: scaleY(-1);
    -webkit-transform: scaleY(-1);
    transform: scaleY(-1);
    filter: FlipV;
    -ms-filter: "FlipV";
}
.cs-portal-directory__section__title{
	@extend .h4;
	@extend .loud;
	margin:0;
	padding:0;
	margin-right:1em; 
}

.cs-portal-directory__section__btn{
	@extend .btn;
	@extend .btn-primary;
	@extend .btn-sm;
	vertical-align:middle;
	line-height:1;
	display:inline-block;
	border-radius:100%;
	margin:0;
	min-width:initial;
	padding: 0!important;
	width: 2.5rem;
	height: 2.5rem;
	line-height: 2.5em;
}


.cs-portal-directory__section__go-btn{
	
	
}
.cs-portal-directory__screens{
	position: relative;
	white-space:nowrap;
	overflow:scroll;
}
.cs-portal-directory__section__content:after{
	content:'';
	position: absolute;
	right:0;
	top:0;
	height:100%;
	width:10em;
	z-index: 9;
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,ffffff+100&0+0,1+100 */
	background: -moz-linear-gradient(left,  rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(left,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to right,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=1 ); /* IE6-9 */

}
.cs-portal-directory__screen{
	border-radius: .5rem;
	background: #51b5e0;
	color: white;
	height:6em;
	width:6em;
	margin-right: .5rem;
	margin-bottom: .5rem;
	display: inline-block;
	padding: .5rem;
	padding-top:1.5em;
	position: relative;
	text-decoration: none;
	white-space:normal;
	vertical-align:top;

}
.cs-portal-directory__screen__inner{
	display:table;
	width:100%;
	height:100%;
}
.cs-portal-directory__screen__inner:before{
	font-family: 'icomoon';
	position: relative;
	display: table-cell;
	vertical-align: middle;
}
.cs-portal-directory__screen:hover{
	background:white;
	color:$primary-color;
	-webkit-box-shadow: inset 0px 0px 0px 2px $primary-color;
	-moz-box-shadow: inset 0px 0px 0px 2px $primary-color;
	box-shadow: inset 0px 0px 0px 2px $primary-color;
}
.cs-portal-directory__screen-group{
	float: left;
}
.cs-portal-directory__screen--blank{
	@extend .cs-portal-directory__screen;
	background:transparent;
	&:hover{
		box-shadow:none;
		background:transparent;
	}
}

.cs-portal-directory__screen--right{
	@extend .cs-portal-directory__screen;
	color:$accessible-green;
	background:transparent;
	padding:0;
	text-align:center;
	&:hover{
		box-shadow:none;
		color:$accessible-green;
		background:transparent;
	}
	.cs-portal-directory__screen__inner{
		&:before{
			content: "\e9c7";
			font-size: 2em;
			width: 1em;
		}
	}
	
}
.cs-portal-directory__screen--stop{
	@extend .cs-portal-directory__screen;
	color:$warning;
	background:transparent;
	padding:0;
	text-align:center;
	&:hover{
		box-shadow:none;
		background:transparent;
		color:$warning;
	}
	.cs-portal-directory__screen__inner{
		&:before{
			font-size: 2em;
			width: 1rem;
			content: "\e9ca";
		}
	}

	
}

.cs-portal-directory__screen__id{
	@extend .micro;
	@extend .loud;
	position: absolute;
	top:.5rem;
	left:.5rem;
}
.cs-portal-directory__screen__title{
	@extend .bold;
    display: block;
    line-height: .9;
    text-decoration: none;
    font-size: .95em;
    
}


/*=====       OBC STYLES       ======*/


.cs-portal__content-outbound {
  
    .tabs {
      width: 80%;
      margin: 0 auto;
      
      &:after {
      content: "";
      position: absolute;
      height: 0;
      border-bottom: 1px solid #979797;
      top: 50%;
      width: 15%;
      }
      
      &:before {
      content: "";
      position: absolute;
      height: 0;
      border-bottom: 1px solid #979797;
      top: 50%;
      width: 15%;
      right: 100%;
      }

    }
    
    li {
      margin-right: 1em;
    }
    
    .tab {
      background-color: white;
      font-size: 1.2em;
      padding: 0.5em;
      width: 288px !important;
      margin-right: 0.2em;
      
      &.tab--active {
        background-color: #4A90E2;
        color: white;
      }
      
      &:first-child {
        border-top-left-radius: 6px;
        border-bottom-left-radius: 6px;
      }
      
      &:last-child {
        border-top-right-radius: 6px;
        border-bottom-right-radius: 6px;
      }
      
      
    }
    
    .tab * {
      opacity: 1;
    }

    .tab-anchor-box {
      width: 100%;
      
      .tab-anchor {

        
        &.center {
          text-align: center;
        }
        
        img {
          width: 100%;
        }
      
      }
      
    }
  
  
  .tab-h3 {
    color: #4A4A4A;
    border-bottom: 1px solid #d4d4d4;
    padding-bottom: 1em;
    display: initial;
  }
  
   button {
     background-color: none;
     background: none;
     border: none;
   }
  
  .cs-portal__content-devices {
    padding-top: 3em;
    
    .list-unstyled {

      li {
        list-style: none;
        display: inline-block;
      
        .list-item {
          display: inline-block;

          
        }
        
        img {
          vertical-align: baseline;
        }

      
      }
      
    }
    
    
  }
  
  
}

  .modal {
    
    &.large {
      width: 90%;
      text-align: center;
    }
    
    
    
  }



/*=====  End of CS PORTAL LAYOUT  ======*/
