/*======================================
=            LOADERS            =
======================================*/

.loader{
  right: 0;
  margin: auto;
  position: absolute;
  left: 0;
  top: 30%;
}
.loader--relative{
  position: relative;
  left:auto;
  right: autol
}
.loader, .adg-loader-overlay{
  z-index:-9999;
  opacity: 0;
  transition: opacity 200ms;
}

.loader.active{
  z-index:9999;
  opacity: 1;
}
.loader-overlay.active{
  z-index:999;
  opacity: 1;
}

.adg-patterns .adg-loader{
  
}
.loader-overlay{
  position: fixed;
  left:0;
  top:0;
  width:100%;
  height:100%;
  background:rgba(7, 29, 43, 0.65);
  z-index: 999;
}

.loader-wrap{
  position: relative;
  border: solid 1px rgba(255, 255, 255, 0.13);
  height: 300px;
  width: 100%;
  z-index: 9999;
}
/*========================================
=            ASURION LOADER A            =
========================================*/


.adg-loader {
  font-size: 10px;
  
  width: 10em;
  height: 10em;
  
  &:after{
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    left:0;
    top:0;
    background-size: contain;
    background-repeat: no-repeat;
  }
  span{
    position: absolute;
    width: 10em;
    height: 10em;
    background-size: contain;
    background-repeat: no-repeat;
  }
  span:nth-child(1){
    top: -7em;
    left: 2.5em;
     opacity: 0;
    // animation-delay:500ms;
  }
  span:nth-child(2){
    left: 2em;
    top: 6.5em;
     opacity: 0;
    animation-delay:250ms;
  }
  span:nth-child(3){
    left: -8em;
     opacity: 0;
    animation-delay:500ms;
  }
  p{
    color: white;
    position: absolute;
    top: 120%;
    font-size: 2em;
    font-weight: 600;
  }
}
.adg-loader--color{
  &:after{
    background-image: url(../../img/adg-loader-center.svg);
  }
  span{
    -webkit-animation: asurion 3s infinite ease;
     animation: asurion 3s infinite ease;
  }
  span:nth-child(1){
    background-image: url(../../img/adg-loader-top.svg);
  }
  span:nth-child(2){
    background-image: url(../../img/adg-loader-right.svg);
  }
  span:nth-child(3){
    background-image: url(../../img/adg-loader-left.svg);
  }
}

.adg-loader--light {
  &:after{
    background-image: url(../../img/adg-loader-center--white.svg);
    opacity: .35;
  }
  span{
    -webkit-animation: asurion--light 3s infinite ease;
     animation: asurion--light 3s infinite ease;
  }
  span:nth-child(1){
    background-image: url(../../img/adg-loader-top--white.svg);
  }
  span:nth-child(2){
    background-image: url(../../img/adg-loader-right--white.svg);
  }
  span:nth-child(3){
    background-image: url(../../img/adg-loader-left--white.svg);
  }
}

.adg-loader--dark {
  &:after{
    background-image: url(../../img/adg-loader-center--black.svg);
    opacity: .35;
  }
  span{
    -webkit-animation: asurion--light 3s infinite ease;
     animation: asurion--light 3s infinite ease;
  }
  span:nth-child(1){
    background-image: url(../../img/adg-loader-top--black.svg);
  }
  span:nth-child(2){
    background-image: url(../../img/adg-loader-right--black.svg);
  }
  span:nth-child(3){
    background-image: url(../../img/adg-loader-left--black.svg);
  }
}


@-webkit-keyframes asurion {
  0% {
    -webkit-transform: rotate(30deg);
    transform: rotate(30deg);
    opacity: 0;
  }
  
  50%{
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    opacity: 1;
  }
  90%{
    -webkit-transform: rotate(-30deg);
    transform: rotate(-30deg);
    opacity: 0;
  }
  
  100% {
    -webkit-transform: rotate(30deg);
    transform: rotate(30deg);
    opacity: 0;
    
  }
}

@keyframes asurion {
  0% {
    -webkit-transform: rotate(30deg);
    transform: rotate(30deg);
    opacity: 0;
  }
  
  50%{
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    opacity: 1;
  }
  90%{
    -webkit-transform: rotate(-30deg);
    transform: rotate(-30deg);
    opacity: 0;
  }
  
  100% {
    -webkit-transform: rotate(30deg);
    transform: rotate(30deg);
    opacity: 0;
    
  }
}


@-webkit-keyframes asurion--light {
  0% {
    -webkit-transform: rotate(30deg);
    transform: rotate(30deg);
    opacity: 0;
  }
  
  50%{
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    opacity: .35;
  }
  90%{
    -webkit-transform: rotate(-30deg);
    transform: rotate(-30deg);
    opacity: 0;
  }
  
  100% {
    -webkit-transform: rotate(30deg);
    transform: rotate(30deg);
    opacity: 0;
    
  }
}

@keyframes asurion--light {
  0% {
    -webkit-transform: rotate(30deg);
    transform: rotate(30deg);
    opacity: 0;
  }
  
  50%{
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    opacity: .35;
  }
  90%{
    -webkit-transform: rotate(-30deg);
    transform: rotate(-30deg);
    opacity: 0;
  }
  
  100% {
    -webkit-transform: rotate(30deg);
    transform: rotate(30deg);
    opacity: 0;
    
  }
}

@-webkit-keyframes asurion--dark {
  0% {
    -webkit-transform: rotate(30deg);
    transform: rotate(30deg);
    opacity: 0;
  }
  
  50%{
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    opacity: .35;
  }
  90%{
    -webkit-transform: rotate(-30deg);
    transform: rotate(-30deg);
    opacity: 0;
  }
  
  100% {
    -webkit-transform: rotate(30deg);
    transform: rotate(30deg);
    opacity: 0;
    
  }
}

@keyframes asurion--dark {
  0% {
    -webkit-transform: rotate(30deg);
    transform: rotate(30deg);
    opacity: 0;
  }
  
  50%{
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    opacity: .35;
  }
  90%{
    -webkit-transform: rotate(-30deg);
    transform: rotate(-30deg);
    opacity: 0;
  }
  
  100% {
    -webkit-transform: rotate(30deg);
    transform: rotate(30deg);
    opacity: 0;
    
  }
}





/*===============================
=            LOADING            =
===============================*/


.loader-overlay{
 @extend .modal-overlay;
  
}
.loader-overlay--active{
  @extend .modal-overlay--active;
}

.generic-loader--active:before,
.generic-loader--active:after,
.generic-loader--active {
  border-radius: 50%;
  width: 2.5em;
  height: 2.5em;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation: load7 1.8s infinite ease-in-out;
  animation: load7 1.8s infinite ease-in-out;

}
.generic-loader {
  font-size: 12px;
  position: fixed;
  // position: fixed;
  text-indent: -9999em;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
  left: -9999px;
  right: 0;
  margin: auto;
  top:40%;
  z-index: 999;
  opacity: 0;
  width: 100%;
  
}
.generic-loader--active{
  opacity: 1;
  left:0;
  transition: opacity 200ms 300ms;
  -webkit-transition: opacity 200ms 300ms;
}
.generic-loader--relative{
  position: relative !important;
}
.generic-loader:before {
  left: -3.5em;
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}
.generic-loader:after {
  left: 3.5em;
}
.generic-loader:before,
.generic-loader:after {
  content: '';
  position: absolute;
  top: 0;
}
@-webkit-keyframes load7 {
  0%,
  80%,
  100% {
    box-shadow: 0 2.5em 0 -1.3em $form-highlight-color;
  }
  40% {
    box-shadow: 0 2.5em 0 0 $form-highlight-color;
  }
}
@keyframes load7 {
  0%,
  80%,
  100% {
    box-shadow: 0 2.5em 0 -1.3em $form-highlight-color;
  }
  40% {
    box-shadow: 0 2.5em 0 0 $form-highlight-color;
  }
}






/*=====================================
=           TRIVIA            =
=====================================*/


.trivia{
  text-align:center;
  margin-top: 50px;  
  min-height: 150px;
  max-width: 650px;
  position: relative;
  margin: auto;
  
}
.trivia__item{
  opacity: 0;
  transition: all 500ms;
  -webkit-transition: all 500ms;
  position: absolute;
  left:0;
  right:0;
  padding: 4rem;
  background: #F5F5F5;
  border-radius: 1rem;
  width: 100%;
}
.trivia__item.active{
  opacity: 1;
  
}
.trivia__item.reveal{
  
}
.trivia__item__q{
  font-size: 1.2em;
  font-weight: bold;
  margin-bottom: 10px;
  transition: all 500ms;
  -webkit-transition: all 500ms;
}
.trivia__item__a{
  margin:0;
  padding:0;
  transition: all 500ms;
  -webkit-transition: all 500ms;

}
.reveal .trivia__item__q{
  opacity: .5;
  transition: all 500ms;
  -webkit-transition: all 500ms;
}
.reveal .trivia__item__a li{
  opacity: .5;
  transition: all 500ms;
  -webkit-transition: all 500ms;
}
.reveal .trivia__item__a li.true{
  opacity: 1;
  transition: all 500ms;
  -webkit-transition: all 500ms;
  font-weight: bold;
}

.trivia__item__a li{
  display:inline-block;
  margin-right:1em;
}


.processing-message{
  
}
.processing-message h1:last-child{
  position:relative;
}
.processing-message h1{
  opacity: 0;
  position: absolute;
  left:0;
  right: 0;
  opacity: 0;
  transition: all 500ms;
  -webkit-transition: all 500ms;
}
.processing-message h1.active{
  opacity: 1;
}

.progressBar {
    width: 20%;
    min-width: 250px;
    height: 8px;
    background-color: $gray-15;
    left:0;
    right:0;
    margin:auto;
}
.progressBar div {
    height: 100%;
    color: #fff;
    text-align: right;
    line-height: 22px; /* same as .progressBar height if we want text middle aligned */
    width: 0;
    background-color: $form-highlight-color;
    width: 50%;
    animation: fillLeft 5s linear infinite;
}
@keyframes fillLeft {
  0% {
    width:0;
  }
  100% {
    width:100%;
  }
}

.waiting-text{
  opacity: 0;
  transition: all 500ms;
  -webkit-transition: all 500ms;
  
}
.waiting-text.active{
  opacity: 1;
  
}