/*==============================
=            MODALS            =
==============================*/

.page{
	-webkit-filter: blur(0px);
    -webkit-transition: -webkit-filter 0ms 0ms linear;
}
.page.blurred{
	-webkit-filter: blur(10px);
	-webkit-transition: -webkit-filter 300ms 100ms linear;
}

.modal-overlay{
	left:-999999px;
	position: fixed;
	top:0;
	width:100%;
	height: 100%;
	// background: -moz-radial-gradient(ellipse at center, rgba(255, 255, 255, 0.9) 10%, rgba(156, 156, 156, 0.81) 100%); /* FF3.6-15 */
	// background: -webkit-radial-gradient(ellipse at center, rgba(255, 255, 255, 0.9) 10%, rgba(156, 156, 156, 0.81) 100%); /* Chrome10-25,Safari5.1-6 */
	// background:radial-gradient(ellipse at center, rgba(255, 255, 255, 0.9) 10%, rgba(156, 156, 156, 0.81) 100%);

	// background:radial-gradient(ellipse at center, rgba(156, 156, 156, 0.9) 0%, rgba(255, 255, 255, 0.8) 100%);
	background:rgba(234, 234, 234, 0.3);
	z-index: 9;
	
}
.modal-overlay--active{
	left:0;
	@include fadeIn(
		$duration:500ms
	);
}
.modal{
	left:-999999px;
	width:96%;
	position:fixed;
	overflow:auto;
	top:5%;
	z-index: 10;
	max-height:90%;
	border-radius:$standard-border-radius;
	-webkit-box-shadow: 10px 10px 70px 0px rgba(0,0,0,0.28);
	    -moz-box-shadow: 10px 10px 70px 0px rgba(0,0,0,0.28);
	@include respond-to(small){
		top:5rem;
	}
	@include respond-to(medium){
		top:5rem;
		width:700px;
		

	}
}

.modal__close-btn{

	position: absolute;
	right:1rem;
	top:1rem;
	cursor: pointer;
	font-size:1.1rem;
	color:$gray;
}
.modal--active{
	left:0;
	right: 0;
	margin: auto;
	@include fadeInUp(
		$duration:500ms,
		$delay:300ms

	);
}
.modal__header{
	background: white;
	padding: 3rem;
	padding-bottom:1rem;
	text-align: center;
	color: $gray;
	border-top-left-radius: $standard-border-radius*.50;
	border-top-right-radius: $standard-border-radius*.50;
}
.modal__content {
	background:white;
    padding: 2rem 1.5rem;
    // min-height: 10rem;
    @extend .clearfix;
}

.modal__footer {
	background:white;
    padding: 1.5rem;
    border-bottom-left-radius: $standard-border-radius*.50;
	border-bottom-right-radius: $standard-border-radius*.50;
    
}
.modal__title{
	@extend .h3;
	margin:0;
	padding-bottom:2rem;
	border-bottom:solid 1px $gray-25;
	
}