d{% extends "_step-layout.html" %}

{% set stepTitle = 'Confirm your account.' %} 
{% set stepSubTitle = 'Enter your AT&amp;T passcode.' %}
{% set btnText = 'Continue' %}
{% set nextStep = '005.2000.ipd-start.html' %}


{% block messaging %}
<!-- <div class="alert-box alert-box--info">
    <div class="container text-center">
        <div class="alert-box__icon icon-Icon-help"></div>
        <span class="alert-box__message superlink" data-modal="#js-previous-claim-modal">Already filed a claim and have a problem with your replacement device?</span>
        <div data-alert-close class="alert-box__close icon-uniE601"></div>
    </div>
</div> -->
{% endblock %}
{% block stepContent %}
	<!-- <div class="container--md">
		<div class="row">
			<div class="col-sm-12">
				<div class="callout text-center margin-bottom-2x">
					<div class="callout__close-btn icon-uniE601" data-callout-close=""></div>
					<span class="text-primary icon-Icon-page-help-circle icon--bold icon--kilo margin-half--right"></span><a class="superlink" data-modal="#js-previous-claim-modal">Already filed a claim and have an issue with your replacement device?</a>
				</div>
			</div>
		</div>
	</div> -->
	  <div class="container--xs ">
	    <div class="form-group">
	    	<label for="deviceWirelessNumber">Passcode</label>
	        <input type="text" class="form-control js-phone_us" id="passcode">
	        <div class="field__help-text">
	        	<a href="#" class="clean-link">Forgot your passcode?</a>
	        </div>
	    </div>
	</div>

{% endblock %}
{% block stepFooter %}
<div class="step__footer">
    <div class="container">
        <div class="btn-well">

            <a href="{[nextStep]}" id="js-next-button" class="btn btn-primary " >{[btnText]}</a>
            <!-- <span class="btn-caption"><span class="btn-caption__next">Next: </span>Provide your wireless account address.</span> -->
        </div>
        
    </div>
</div>

{% endblock %}

{% block pageFoot %}

{%endblock%}