{% extends "_step-layout.html" %}
{% set stepTitle = 'Submit your details.' %} 
{% set stepSubTitle = 'To continue your claim, please review and submit your information.' %}
{% set btnText = 'Submit details' %}
{% set nextStep = '008.3005.big-submit.html' %}

{% block stepContent %}
<div class="container--xs">
    <div class="card">
        <div class="card__content padding-left-right-2x padding-left-right-sm-4x">
            
                <h3 class="h4 loud">Device number</span></h3>
                <p>(555) 555-5555</p>
            <hr class="hr">
            <h3 class="h4 loud">What happened? </span> <a href="" class="edit-link">(Edit)</a></h3>
            <dl class="d-list">
                <dt>When it happened:</dt>
                <dd>03/30/2016</dd>
            </dl>
            <dl class="d-list">
                <dt>Device:</dt>
                <dd>Apple iPhone 8 32GB White </dd>
            </dl>
            <dl class="d-list">
                <dt>Problem:</dt>
                <dd>Device is damaged</dd>
            </dl>
            <hr class="hr">
            <h3 class="h4 loud">Account Information</span></h3>
            <p>John Smith</p>
            <h5 class="h6 margin-bottom-0x">Address on account:</h5>
            <p > 
                55 South Lane <br> Orem, Ut 84057</p>
            <dl class="d-stacked-list">
                <dt>Email address:</dt>
                <dd class="js-email-current">kjones@gmail.com <a href="" class="edit-link js-email-change-trigger">(Edit)</a></dd>
                <div class="form-group form-group--inline js-email-change hidden">
                    <input type="text" class="form-control margin-bottom-1x" value="kjones@gmail.com">
                    <button class="btn btn-primary js-email-change-trigger margin-bottom-1x">Update</button>
                </div>
            </dl>
            <dl class="d-stacked-list">
                <dt>Contact number:</dt>
                 <dd class="js-altPhone-current">(555) 555-5555 <a href="" class="edit-link js-altPhone-change-trigger">(Edit)</a></dd>
                <div class="form-group form-group--inline js-altPhone-change hidden">
                    <input type="text" class="form-control margin-bottom-1x" value="(555) 555-5555">
                    <button class="btn btn-primary js-altPhone-change-trigger margin-bottom-1x">Update</button>
                </div>
            </dl>
            
            
        </div>
    </div>
</div>
<div class="container margin-top-2x">
    <div class="callout highlight highlight--alert">
        <div class="checkbox margin-0x">
            <input type="checkbox" name="formData.optIn.firstReview" id="formData.optIn.firstReview" value="">
            <label for="formData.optIn.firstReview" class="margin-reset">
                <p class="fine-print margin-0x">I understand that filing a fraudulent claim may subject me to liability under appicable law. <span class="link" data-modal="#js-fraud-modal">Learn more</span>.</p>
            </label>
        </div>
    </div>
</div>
{% endblock %} {% block stepFooter %}
<div class="step__footer">
    <div class="container">
        <div class="btn-well">
            <a href="{[nextStep]}" class="btn btn-primary">{[btnText]}</a>
            <!-- <span class="btn-caption btn-caption--active"><span class="btn-caption__next">Next:</span> We'll process your claim while you wait.</span> -->
        </div>
    </div>
</div>
<!-- <div class="pills step__pills">
    <a class="pill" href="1.1.device.html" title=""></a>
    <a class="pill" href="1.2.problem.html" title=""></a>
    <a class="pill" href="1.3.account.html" title=""></a>
    <a class="pill active" href="1.4.review.html" title=""></a>
</div> -->
{% endblock %}

{% block pageFoot %}
<div class="modal" id="js-fraud-modal">
    <div class="modal__close-btn icon-uniE601" data-modal-close></div>
    <header class="modal__header">
        <h3 class="modal__title">Important Legal Notice</h3>
    </header>
    <div class="modal__content">
        <div class="row">
            <div class="col-sm-10 col-sm-offset-1 typography">
                <p>Any person who knowingly and with intent to injure, defraud or deceive any insurer, files a statement of claim containing any false, incomplete, or misleading information is guilty of insurance fraud, which is a crime. All claim files and documentation are subject to inspection by the various State Departments of Insurance.</p>
            </div>
        </div>
    </div>
    <footer class="modal__footer">
        <div class="btn-well">
            <button class="btn btn-primary" data-modal-close >Close</button>
        </div>
    </footer>
</div>
<script>
    jQuery(document).ready(function($) {
        $('.js-email-change-trigger').click(function(event) {
            event.preventDefault();
            if( $('.js-email-change').hasClass('hidden') ){
                $('.js-email-change').removeClass('hidden');
                $('.js-email-current').addClass('hidden');
            } 
            else{
                $('.js-email-change').addClass('hidden');
                $('.js-email-current').removeClass('hidden');  
            }
        });
        $('.js-altPhone-change-trigger').click(function(event) {
            event.preventDefault();
            if( $('.js-altPhone-change').hasClass('hidden') ){
                $('.js-altPhone-change').removeClass('hidden');
                $('.js-altPhone-current').addClass('hidden');
            } 
            else{
                $('.js-altPhone-change').addClass('hidden');
                $('.js-altPhone-current').removeClass('hidden');  
            }
        });

    });
    
</script>

{% endblock %}
    