{% extends "_step-layout.html" %}

{% set stepTitle = 'Contact us.' %} 
{% set stepSubTitle = '' %}
{% set btnText = 'Continue' %}
{% set nextStep = '010.4002.lfl-shipping.html' %}

{% block stepContent %} 
    <div class="container--sm">
        <div class="card padding-3x text-center">
            <p>Your original device is no longer produced and there is no other comparable models available. If you have any questions, please <a href="">contact us</a> and a Customer Service Representative will be happy to assist you.</p>
            <p>Thank you for allowing us to serve you.</p>
            <p>Asurion <br>
            Your Technology Protection Company</p>
        </div>
    </div>
</div>
{% endblock %}
{% block stepFooter %}

{% endblock %}

{% block pageFoot %}


{%endblock%}