/*======================================
=            EMBELLISHMENTS            =
======================================*/


/*----------  RIBBONS  ----------*/

.ribbon-wrapper-primary {
    width: 85px;
    height: 88px;
    overflow: hidden;
    position: absolute;
    top: 0;
	right: 1em;
	z-index: 9;
 }

.ribbon-primary {
    font: bold 15px Sans-Serif;
    color: #333;
    text-align: center;
    text-shadow: rgba(255, 255, 255, 0.5) 0px 1px 0px;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    position: relative;
    padding: 7px 0;
    left: -5px;
    top: 15px;
    width: 120px;
    background-color: $primary-color;
    background-image: -webkit-gradient(linear, left top, left bottom, from($primary-color), to($primary-color));
    background-image: -webkit-linear-gradient(top, $primary-color, $primary-color);
    background-image: -moz-linear-gradient(top, $primary-color, $primary-color);
    background-image: -ms-linear-gradient(top, $primary-color, $primary-color);
    background-image: -o-linear-gradient(top, $primary-color, $primary-color);
    color: black;
    -webkit-box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.3);
}

.ribbon-primary:before,
.ribbon-primary:after {
    content: "";
    border-top: 3px solid #6e8900;
    border-left: 3px solid transparent;
    border-right: 3px solid transparent;
    position: absolute;
    bottom: -3px;
}

.ribbon-primary:before {
    left: 0;
}

.ribbon-primary:after {
    right: 0;
}