

/*===============================
=            BUTTONS            =
===============================*/


.btn {
    font-family:$loud-font-family;
    font-weight: 600;
    padding: 0.75em;
    min-width: 15rem;
    max-width: 100%;
    border-radius: .35em;
    line-height: 1.25em;
    text-decoration: none;
    color:$button-text-color!important;
    background:$gray;
    font-size: 1.2rem;
    display: inline-block;
    text-align: center;
    margin-bottom: $standard-margin;
    // margin-right: $standard-margin;
    -webkit-transition: all 0.15s linear;
    -moz-transition: all 0.15s linear;
    -o-transition: all 0.15s linear;
    -ms-transition: all 0.15s linear;
    transition: all 0.15s linear;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border:solid 2px transparent;
    @include respond-to(small){
        // font-size: 1.2rem;
         &:last-of-type{
            margin-right:0;
        }
    }
}
.btn + .btn{
    @include respond-to(small){
        margin-left: $standard-margin;    
    }
}
.btn-default{
    @extend .btn;
}

.btn-ghost {
    @extend .btn;
    background: white!important;
    border:solid 2px $gray;
    color:$gray!important;
}

.btn-ghost-inverted {
    @extend .btn;
    background: transparent!important;
    border: solid 1px white!important;
    color: white!important;
}
.btn-blank{
    @extend .btn;
    background: none!important;
    border:solid 2px transparent !important;
    color:$gray;
    &:hover{
        border:solid 2px $gray !important;
    }

}

/*----------  BUTTON SIZES  ----------*/

.btn-xs{
/*     padding: 1.1em 2em .85em; */
    font-size: .65rem;
    @include respond-to(small){
        font-size:.7rem;   
    }
    
}
.btn-sm{
    font-size:.9rem;
    min-width: 8rem;
    font-family:$loud-font-family;
/*     padding: 1.2em 3em; */
    
}
.btn-md{
    font-size: 1rem;
}
.btn-lg{
    font-size:1.3rem;
}


/*----------  BUTTON COLORS  ----------*/

.btn-primary{
    background:$btn-primary;
    border:solid 2px $btn-primary;
    
    &:hover{
        background: $btn-primary-hover;
        border:solid 2px $btn-primary-hover;
    }
    &.btn-ghost{
        background:white;
        border:solid 2px $btn-primary;
        color:$btn-primary!important;
        &:hover{
            background:$btn-primary!important;
            color:$button-text-color!important;
        }
    }
    &.btn-blank{
        color:$btn-primary!important; 
        &:hover{
            border:solid 2px $btn-primary !important;
        }  
    }
    &:focus{
        -webkit-box-shadow: inset 0 2px 2px rgba(0, 0, 0, 0.075), 0 0 8px $btn-primary;
        box-shadow: inset 0 2px 2px rgba(0, 0, 0, 0.075), 0 0 8px $btn-primary;
    }
}

.btn-secondary{
    background:$btn-secondary;
    border:solid 2px $btn-secondary;
    color:white;
    &:hover{
        background:$btn-secondary-hover;
        border:solid 2px $btn-secondary-hover;
    }
    &.btn-ghost{
        background:white;
        border:solid 2px $btn-secondary;
        color:$btn-secondary!important;
        &:hover{
            background:$btn-secondary!important;
            color:$button-text-color!important;
        }
    }
    &.btn-blank{
        color:$btn-secondary!important; 
        &:hover{
            border:solid 2px $btn-secondary !important;
        }  
    }
    &:focus{
        -webkit-box-shadow: inset 0 2px 2px rgba(0, 0, 0, 0.075), 0 0 8px $btn-secondary;
        box-shadow: inset 0 2px 2px rgba(0, 0, 0, 0.075), 0 0 8px $btn-secondary;
    }
}

.btn-tertiary{
    background:$btn-tertiary;
    border:solid 2px $btn-tertiary;
    &:hover{
        background:$btn-tertiary-hover;
        border:solid 2px $btn-tertiary-hover;
    }
    &.btn-ghost{
        background:white;
        border:solid 2px $btn-tertiary;
        color:$btn-tertiary!important;
        &:hover{
            background:$btn-tertiary!important;
            color:$button-text-color!important;
        }
    }
    &.btn-blank{
        color:$btn-tertiary!important; 
        &:hover{
            border:solid 2px $btn-tertiary !important;
        }  
    }
    &:focus{
        -webkit-box-shadow: inset 0 2px 2px rgba(0, 0, 0, 0.075), 0 0 8px $btn-tertiary;
        box-shadow: inset 0 2px 2px rgba(0, 0, 0, 0.075), 0 0 8px $btn-tertiary;
    }
}

.btn-success{
    background:$btn-success;
    border:solid 2px $btn-success;
    color:white;
    &:hover{
        background:$btn-success-hover;
        border:solid 2px $btn-success-hover;
    }
    &.btn-ghost{
        background:white;
        border:solid 2px $btn-success;
        color:$btn-success;
        &:hover{
            background:$btn-success;
            color:white;
        }
    }
    &.btn-blank{
        color:$btn-success; 
        &:hover{
            border:solid 2px $btn-success !important;
        }  
    }
    &:focus{
        -webkit-box-shadow: inset 0 2px 2px rgba(0, 0, 0, 0.075), 0 0 8px $btn-success;
        box-shadow: inset 0 2px 2px rgba(0, 0, 0, 0.075), 0 0 8px $btn-success;
    }
}

.btn-info{
    background:$btn-info;
    border:solid 2px $btn-info;
    color:white;
    &:hover{
        background:$btn-info-hover;
        border:solid 2px $btn-info-hover;
    }
    &.btn-ghost{
        background:white;
        border:solid 2px $btn-info;
        color:$btn-info;
        &:hover{
            background:$btn-info;
            color:white;
        }
    }
    &.btn-blank{
        color:$btn-info; 
        &:hover{
            border:solid 2px $btn-info !important;
        }  
    }
    &:focus{
        -webkit-box-shadow: inset 0 2px 2px rgba(0, 0, 0, 0.075), 0 0 8px $btn-info;
        box-shadow: inset 0 2px 2px rgba(0, 0, 0, 0.075), 0 0 8px $btn-info;
    }
}

.btn-alert{
    background:$btn-alert;
    border:solid 2px $btn-alert;
    color:white;
    &:hover{
        background:$btn-alert-hover;
        border:solid 2px $btn-alert-hover;
    }
    &.btn-ghost{
        background:white;
        border:solid 2px $btn-alert;
        color:$btn-alert;
        &:hover{
            background:$btn-alert;
            color:white;
        }
    }
    &.btn-blank{
        color:$btn-alert; 
        &:hover{
            border:solid 2px $btn-alert !important;
        }  
    }
    &:focus{
        -webkit-box-shadow: inset 0 2px 2px rgba(0, 0, 0, 0.075), 0 0 8px $btn-alert;
        box-shadow: inset 0 2px 2px rgba(0, 0, 0, 0.075), 0 0 8px $btn-alert;
    }
}

.btn-warning{
    background:$btn-warning;
    border:solid 2px $btn-warning;
    color:white;
    &:hover{
        background:$btn-warning-hover;
        border:solid 2px $btn-warning-hover;
    }
    &.btn-ghost{
        background:white;
        border:solid 2px $btn-warning;
        color:$btn-warning;
        &:hover{
            background:$btn-warning;
            color:white;
        }
    }
    &.btn-blank{
        color:$btn-warning; 
        &:hover{
            border:solid 2px $btn-warning !important;
        }  
    }
    &:focus{
        -webkit-box-shadow: inset 0 2px 2px rgba(0, 0, 0, 0.075), 0 0 8px $btn-warning;
        box-shadow: inset 0 2px 2px rgba(0, 0, 0, 0.075), 0 0 8px $btn-warning;
    }
}



.btn-form-highlight{
    background:$btn-form-highlight;
    border:solid 2px $btn-form-highlight;
    color:white;
    &:hover{
        background:$btn-form-highlight-hover;
        border:solid 2px $btn-form-highlight-hover;
    }
    &.btn-ghost{
        background:white;
        border:solid 2px $btn-form-highlight;
        color:$btn-form-highlight;
        &:hover{
            background:$btn-form-highlight!important;
            color:white!important;
        }
    }
    &.btn-blank{
        color:$btn-form-highlight; 
        &:hover{
            border:solid 2px $btn-form-highlight !important;
        }  
    }
    &:focus{
        -webkit-box-shadow: inset 0 2px 2px rgba(0, 0, 0, 0.075), 0 0 8px $btn-form-highlight;
        box-shadow: inset 0 2px 2px rgba(0, 0, 0, 0.075), 0 0 8px $btn-form-highlight;
    }
}

/*----------  BUTTON CONTAINERS  ----------*/


.btn-well{
    text-align: center;
    [class^="btn"]{
        margin:.5rem;
    @include respond-to(small){
        
        }
    }

}
.btn-stack{
    text-align:center;
    [class^="btn"]{
        margin: auto;
        margin-bottom: $standard-margin;
        display: block;
        width:100%;
        &:last-child{
            margin-bottom: 0;
        }
    }
}


/*----------  BUTTON MODIFIERS  ----------*/

// make button span the width of container
.btn-block {
    padding-left:0;
    padding-right:0;
    width: 100%;
    &:last-of-type{
        
    }
    &--xs{
        @include respond-to(small-max){
            padding-left:0;
            padding-right:0;
            width: 100%;
        }
    }
}

/*----------  BUTTON STATES  ----------*/

.btn-disabled{
    cursor: normal;
    background: $gray-50!important;
    border-color: $gray-50!important;
    color:white!important;
    &:hover{
        background: $gray-50!important;
        border-color: $gray-50!important;
    }
    &:focus{
        -webkit-box-shadow: none !important;
        box-shadow: none !important;
    }
}
.btn-disabled.btn-ghost{
    background: transparent!important;
    color:$gray-50!important;
    border-color: $gray-50!important;
    &:hover{
        color:$gray-50!important;
        background: transparent!important;
        border-color: $gray-50!important;
    }
    &:focus{
        -webkit-box-shadow: none !important;
        box-shadow: none !important;
    }
}

.btn-disabled.btn-blank{
    background: transparent!important;
    color:$gray-50!important;
    border:none!important;
    &:hover{
        color:$gray-50!important;
        background: transparent!important;
        border:none!important;
    }
    &:focus{
        -webkit-box-shadow: none !important;
        box-shadow: none !important;
    }
}

/*----------  SPECIFIC BUTTONS  ----------*/

.menu-btn{
    // padding:.8em 4em;
}

.add-more-btn{
    float: right;
    padding: 1em;
    text-align: center;
    letter-spacing: 1;
}

.form-group .btn{
  @include respond-to(small){
    // margin-top: 1.3rem;
    // padding: 1.2em 3em;
  }
}


/*----------  MISC  ----------*/

.btn > .btn-icon-right{
    margin-left:.45em;
}
.btn > .btn-icon-left{
    margin-right:.45em;
}
.refresh-btn{}

@-moz-keyframes spin {
    from { -moz-transform: rotate(0deg); }
    to { -moz-transform: rotate(360deg); }
}
@-webkit-keyframes spin {
    from { -webkit-transform: rotate(0deg); }
    to { -webkit-transform: rotate(360deg); }
}
@keyframes spin {
    from {transform:rotate(0deg);}
    to {transform:rotate(360deg);}
}

.refresh-btn-icon--active:before{
    display: none;
}



.btn-caption{
    @extend .loud;
    display: block;
    visibility: hidden;
    font-size: .8em;
    color:$gray;
    transition: 300ms;
    -webkit-transition: 300ms;
    opacity: 0;
    @include fadeOutRight(
        $duration: 500ms,
        $count: 1,
        $function: ease, 
        $fill: both
      );
}
.btn-caption__next{
    @extend .bold;
    text-transform: uppercase;
    color:$gray;
    margin: 0!important;
    
}
.btn-caption--active{
    opacity: 1;
    visibility: visible;
    @include fadeInLeft(
        $duration: 500ms,
        $count: 1,
        $function: ease, 
        $fill: both
      );
}


.hr-toggler{
    margin: 3em 0;
    text-align: center;
    position: relative;
}
.hr-toggler:after {
    display: block;
    left: 0;
    content: '';
    position: absolute;
    height: 2px;
    background: $gray-35;
    width: 100%;
    top: 50%;
    z-index: 0;
}
.hr-toggler__btn{
    @extend .btn-ghost;
    @extend .btn-md;
    color:$gray-75;
    border:solid 2px $gray-35;
    position: relative;
    background:white!important;
    left:0;
    right:0;
    margin: auto;
    z-index: 1;
}
.hr-toggler__btn--active{
    background:$gray-35;
    color:$gray-75;
}

.hr-togglie--off{
    visibility: hidden;
    
}
.hr-togglie--on{

    visibility: visible;
    @include fadeInLeft(
        $duration: 500ms,
        $count: 1,
        $function: ease, 
        $fill: both
      );
}

/*----------  Subsection comment block  ----------*/
