/*=============================
=            LISTS            =
=============================*/

.list{
	padding-left:1rem;
    list-style: none;
    margin:0;
    padding:0;
	li{
		line-height: 1.3;
        margin-bottom: .25em;
	}
}
.list--spaced{
    li{
        margin-bottom: .75em;
        padding-bottom:.75em;
        border-bottom:solid 1px $gray-35;
    }
}

.list--unstyled {
    list-style-type: none;
    margin: 0;
    padding: 0;
    position: static;
}

.list--float {
    li {
        float: left;
    }
}

dl.d-stacked-list{
    line-height: 1.3;
    margin:0;
    padding:0;

    // margin-bottom: .25em;
    dt, dd{
        width: auto;
        margin:0;
        padding:0;
        display: block;
        vertical-align: middle;
        
    }
    dt {
        @extend .loud;
        // padding-right:.5em;
        // float: left; 
    }
    dd{
        // @extend .loud;
        margin-bottom: .75rem;
    }
    dt+ dd{
        
        // overflow: hidden;
        white-space: nowrap;
        // text-overflow: ellipsis; 
    }
    dd:after{
    }

}

dl.d-list{
    line-height: 1.3;
    margin:0;
    padding:0;
    margin-bottom: .25rem;
    dt, dd{
        width: auto;
        margin:0;
        padding:0;
        display: inline-block;
        vertical-align: middle;
        
    }
    dt {
        @extend .loud;
        padding-right:.5em;
        // float: left; 
    }
    dd{
        // @extend .loud;
        // margin-bottom: .75rem;
        &:after{
            content: '';
            clear: both;
        }
    }
    dt+ dd{
        
        // overflow: hidden;
        white-space: nowrap;
        // text-overflow: ellipsis; 
    }
    dd:after{
    }

}

dl.d-table{
    line-height: 1.3;
    margin:0;
    padding:0;
    display: table;
    dt, dd{
        width: auto;
        margin:0;
        padding:0;
        display: table-column;
    }
    dt {
        @extend .loud;
        text-align: right;
    }
    dt+ dd{
        padding-left:.5em;
        // overflow: hidden;
        // white-space: nowrap;
        // text-overflow: ellipsis; 
    }
    dd:after{
        @extend .clearfix;
    }

}

.list-reset{
  list-style: none;
  margin:0;
  padding:0;
}

ol.lower-alpha {list-style-type: lower-alpha;}

.ul-list { list-style-type: disc; }

.ol-list{
  
      
}

/*====================================
=            ROUNDED LIST            =
====================================*/

.rounded-list{
    @extend .loud;
    counter-reset: li; /* Initiate a counter */
    list-style: none; /* Remove default numbering */
    list-style: decimal; /* Keep using default numbering for IE6/7 */
    padding: 0;
}
.rounded-list li{
    position: relative;
    display: block;
    padding: .4em .4em .4em 3em;
    *padding: .4em;
    margin: .5em 0;
    background: transparent;
    color: #444;
    text-decoration: none;
    border-radius: .3em;
    transition: all .3s ease-out;   
}

// .rounded-list li:hover{
//     background: #eee;
// }

// .rounded-list li:hover:before{
//     transform: rotate(360deg);  
// }

.rounded-list li:before{
    content: counter(li);
    counter-increment: li;
    position: absolute; 
    left: 0;
    top: .1rem;
    background: $form-highlight-color;
    color:$button-text-color;
    height: 2em;
    width: 2em;
    line-height: 2em;
    // border: .3em solid #fff;
    text-align: center;
    font-weight: bold;
    border-radius: 2em;
    transition: all .3s ease-out;
}

.rounded-list.rounded-list--inverted li{

}
.rounded-list.rounded-list--inverted li:before{
    background: $form-highlight-color;
    color:white;   
}

/*====================================
=            STANDARD LIST            =
====================================*/

.standard-list{
    @extend .loud;
    counter-reset: li; /* Initiate a counter */
    list-style: none; /* Remove default numbering */
    list-style: decimal; /* Keep using default numbering for IE6/7 */
    padding: 0;
}
.standard-list li{
    position: relative;
    display: block;
    padding: .4em .4em .4em 2em;
    *padding: .4em;
    margin: .5em 0;
    background: transparent;
    color: $primary-text-color;
    text-decoration: none;
    border-radius: .3em;
    transition: all .3s ease-out;   
}

// .standard-list li:hover{
//     background: #eee;
// }

// .standard-list li:hover:before{
//     transform: rotate(360deg);  
// }

.standard-list li:before{
    content: counter(li) ".";
    counter-increment: li;
    position: absolute; 
    left: 0;
    top: .08rem;
    background: transparent;
    height: 2em;
    width: 2em;
    line-height: 2em;
    // border: .3em solid #fff;
    text-align: center;
    font-weight: bold;
    transition: all .3s ease-out;
}

.table-list{
    list-style:none;
    margin: 0;
    padding:0;
}
.table-list__item{
    display: block;
    // margin:.35em 0;
    
    position: relative;
}
.table-list__item--promote{
    background: $success-muted;
    @extend .loud;
    // color:$success;
}
.table-list__item--demote{
    background: $warning-muted;
    @extend .loud;
    // color:$success;
}
.table-list--first .table-list__dt, .table-list--first .table-list__dd{
    display: block;
}
.table-list__dt, 
.table-list__dd{
    padding:.35em;
    line-height: 1.7;
    border-bottom:solid 1px $gray-35;
}
.table-list__dt{
    display: none;
    // @extend .milli;
    @extend .loud;
    left: -7em;
    text-align: left;
    position: absolute;
    width: 7em;
    white-space: nowrap;
    padding-left:1em;
    
}
.table-list__dd{
    
    padding-left:3em;
}

.list-hr-separated > *{
    border-bottom:solid 1px $gray-35;
    padding-bottom:2rem;
}