/*===============================
=            CARDS            =
===============================*/

.card {
    border-radius: $standard-border-radius;
    background-color: white;
    margin-bottom: 1.5rem;
    width: 100%;
    line-height: 1.3;
    position: relative;
    text-align: initial;
    border: solid $standard-border-width $standard-border-color;
    
    .card__header {}
}
.card-header-icon{
    margin-top:-5rem;
    position: relative;
    left:0;
    right: 0;
    display: block;
    margin-left: auto;
    margin-right: auto;
    font-size: 6rem;
    


}

.card-header-icon__in{
    background: white;
    border-radius: 100%;
}


.card--warning{
    border:solid 2px $warning;
}
.card__action {
    color: $form-highlight-color;
    position: absolute;
    top: -.35em;
    left: -.35em;
    background: white;
    padding: .5em;
    border-radius: 100%;
    z-index: 9;
    border: solid 2px $form-highlight-color;
    font-size: .8em;
    &:before{
        color:$form-highlight-color
    }
}

.card__check {}

.card--muted {
    background-color: transparent!important;
    // border: solid $standard-border-width $standard-border-color;
    .card__header {
        background: $gray-35;
        color: $gray-75;
    }
    .card__content{
        opacity: .7;
    }
}
.card--selected{
    border:solid 2px $form-highlight-color;
    // .card__header{
    //     background-color: $primary-color;
    //     color: $button-text-color;
    // }
}
.card__close {
    left: auto;
    right: -.65em;
    color: #51b5e0;
    top: -.55em;
}

.card-default {
    @extend .card;
    
}


.card__header {
    // background: white;
    padding: 1.4rem;
    text-align: center;
    color: $gray;
    // border-top-left-radius: $standard-border-radius*.50;
    // border-top-right-radius: $standard-border-radius*.50;
    transition: all 300ms;
}

.card__header--muted {
    background: $gray-35;
    color: $gray-75;
}

.card__subtitle {
    @extend .loud;
    font-size: 1rem;
    margin-bottom: .5em;
    margin-top: 0;
    line-height: 1.1;
    @include respond-to(small){
        font-size: .9rem;
    }
    @include respond-to(medium){
        font-size: 1rem;
    }
}

.card__header__title {
    @extend .h4;
    @extend .loud;
    // font-size: 1rem;
    line-height: 1.1;
    margin: 0;
    padding: 0;
}

.card__content {
    padding: 2rem 1rem;
    // min-height: 10rem;
    @extend .clearfix;
    img{
        max-width: 100%;
    }
}
.card-phone-image{
    
    @include respond-to(small){
        width: 50px;
    }
    @include respond-to(medium){
        width: auto;
    }
    @include respond-to(large){
        
    }
}
.card__footer {
    padding: 1rem 2rem;
    background: $gray-10;
}
.card__footer__icon-top{
    background: $gray-15;
    margin-top: -3em;
    width: 4em;
    height: 4em;
    position: relative;
    border-radius: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align:center;
    margin-bottom: .5rem;

    [class^="icon-"]{
        padding-top: .8em;
        display: block;
        font-size: 1.5em;
    }
}

/*====================================
=            CARD BUTTONS            =
====================================*/

.card-button {
    transition: border-color 100ms;
    cursor: pointer;
    -webkit-appearance: none;
    -webkit-writing-mode: none;
    appearance: none;
    padding: 0;
    // text-align: center;
    &:hover,
    &:focus {
        transition: border-color 300ms;
        border: solid 2px $form-highlight-color; 
        outline: 0;
        .card__header{

            // background-color: $form-highlight-color;
            // color:$button-text-color;
            
        }
        .btn {
            background-color: $form-highlight-color;
            color:$button-text-color;
            border: solid 1px $form-highlight-color;
        }
    }
    .card__header {
        // position: absolute;
        // top:0;
        // width: 100%;
        // left:0;
    }
    .card__content {
        // top:2.5em;
        // width: 100%;
        // position: absolute;
    }
    .btn-well {
        position: absolute;
        width: 100%;
        bottom: 2rem;
        left: 0;
    }
    .btn {
        // width: 80%;
        min-width: 60%;
        max-width: 100%;
        padding-left: 2rem;
        padding-right: 2rem;
        margin:0 1rem;
        @include respond-to(small){
            padding-left: 1rem;
            padding-right: 1rem;
            margin: 0 1rem;
        }
        @include respond-to(medium){
            padding-left: 1rem;
            padding-right: 1rem;
            margin:0 2rem;
        }
        
        @include respond-to(large){
            padding-left: 2rem;
            padding-right: 2rem;
        }
    }
    .list {
        min-height: 100px;
    }
}
.card-button--highlighted{
    box-shadow: .25em .5em 1em 0em rgba(50, 50, 50, 0.44);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    top: .35em;
}
.card-button--selected {
    border: solid 2px $form-highlight-color;
    .btn {
        background-color: $form-highlight-color;
        color: $button-text-color;
    }
    &:after {
        -webkit-transform: translateY(0%);
        transform: translateY(0%);
        position: absolute;
        opacity: 1;
        height: 1.25em;
        width: 1.25em;
        background: $form-highlight-color;
        border-radius: 50%;
        z-index: 10;
        font-family: 'icomoon' !important;
        font-size: 1.5rem;
        content: "\e918";
        color: $button-text-color;
        top: -1rem;
        right: -1rem;
        padding: 8px;
        transition: all .4s ease;
        text-align: center;
    }
}
// .card-button--selected .card__footer{
//     background-color:$form-highlight-color;
// }
.card-button--blank{
    border:solid $standard-border-width transparent;
}
.card-button--blank:hover{
    border: solid $standard-border-width $form-highlight-color;
}

/*=====  End of CARD BUTTONS  ======*/



.card__btn-right {
    -webkit-transform: translateY(0%);
    transform: translateY(0%);
    position: absolute;
    height: 2em;
    width: 2em;
    font-size: 1.5rem;
    color: #e4e4e4;
    right: -1.25em;
    top: 50%;
    background: $gray-10;
    border-radius: 100%;
    border: solid 2px #e4e4e4;
}
.one-of-three{
    @include respond-to(small){
        width:30%;
        margin:0 1.5% ;
    }
}
.one-of-three:last-of-type{
    margin-right: 0;
}
/*===================================
=            PERIL CARDS            =
===================================*/

.peril-card {
    // @extend .card-ghost;
    @extend .bg-white;
    // min-height: 300px;
    position: relative;
    text-align: inherit;
    vertical-align: top;
    padding-bottom: 1.5rem;
    .card__header {}
    @include respond-to(small-max){
        padding-bottom:1rem;
        width:80%;
        margin-left:auto;
        margin-right:auto;
    }
}
.peril-card__header{
    margin-left:1rem;
    margin-right:1rem;
    margin-top: 1.5rem;
    margin-bottom: .5rem;
    border-bottom:solid 1px $gray-25;
    @include respond-to(small-max){
        border-bottom:0;
    }
}

.peril-card__header__title{
    @extend .h4;
    text-align: center;
    @extend .bold;
    // text-transform: uppercase;

}
.peril-card__content{
    text-align:center;
    margin:1rem;
    @include respond-to(small-max){
        display: none;
    }
}
.peril-card .btn-well{
    @include respond-to(small-max){
        display: none;
    }
}
.peril-card__content .list{
    @extend .loud;
    list-style: none;
    padding-left:0;
    margin-left:0;

}
.peril-card-wrapper {
    position: absolute;
    right: 99999px;
    visibility: hidden;
    opacity: 0;
    transition: opacity .4s ease;
    transition: left .4s ease;
    .card__action {
        display: none;
        @include bounceOut($duration: 300ms);
    }
}

.peril-card-wrapper--active {
    display: block;
    position: relative;
    right: 0;
    visibility: visible;
    opacity: 1;
}
.my-device-is{
    transition: 300ms;
    opacity: 0;
    @include respond-to(small-max){
        opacity: 1!important;
    }
}
.my-device-is--active{
    opacity: 1;

    
}
.change-selection{
    margin-bottom: 1rem;
    @include respond-to(small){
        margin-bottom:0;
    }
}
.for-example{
    font-family: $loud-font-family;
    // font-size: .95rem;
}
.peril-card-wrapper--selected {
    
    @include respond-to (small){
        position: absolute;
        left: 15px;
        padding: 0;
        width: calc(33% - 27px);
        -webkit-animation-iteration-count: 1s;
        -moz-animation-iteration-count: 1s;
        -ms-animation-iteration-count: 1s;
        -o-animation-iteration-count: 1s;
        animation-iteration-count: 1s;
        -webkit-animation-duration: 500ms;
        -moz-animation-duration: 500ms;
        -ms-animation-duration: 500ms;
        -o-animation-duration: 500ms;
        animation-duration: 500ms;
        -webkit-animation-delay: 0s;
        -moz-animation-delay: 0s;
        -ms-animation-delay: 0s;
        -o-animation-delay: 0s;
        animation-delay: 0s;
        -webkit-animation-timing-function: easeInCubic;
        -moz-animation-timing-function: easeInCubic;
        -ms-animation-timing-function: easeInCubic;
        -o-animation-timing-function: easeInCubic;
        animation-timing-function: easeInCubic;
        -webkit-animation-fill-mode: both;
        -moz-animation-fill-mode: both;
        -ms-animation-fill-mode: both;
        -o-animation-fill-mode: both;
        animation-fill-mode: both;
        -webkit-backface-visibility: hidden;
        -moz-backface-visibility: hidden;
        -ms-backface-visibility: hidden;
        -o-backface-visibility: hidden;
        backface-visibility: hidden;
        &:after {
            -webkit-transform: translateY(0%);
            transform: translateY(0%);
            position: absolute;
            opacity: 1;
            height: 1.25em;
            width: 1.25em;
            line-height: 1.25em;
            color:$button-text-color;
            border: solid 2px $button-text-color;
            background:$form-highlight-color;
            border-radius: 50%;
            z-index: 9999;
            font-family: 'icomoon' !important;
            font-size: 1.6rem;
            content: "\e918";
            bottom: 4.5rem;
            right: 0;
            left:0;
            margin: auto;
            padding: 8px;
            transition: all .4s ease;
            text-align: center;
        }
        
        .card__action {
            display: block;
            @include zoomIn($duration: 500ms, $delay: 0);
        }
        
        .btn {
            display: none;
        }    
    }
    .peril-card {
        
        transition: border-color 100ms;
        background: $form-highlight-color!important;
        color:$button-text-color;
        
    }
}

.peril-card-wrapper--selected .peril-card__header{
    @include respond-to(small-max){
        border-bottom:0;
    }
}

.peril-card-wrapper--selected:nth-child(1) {
    -webkit-animation-name: perilSlideInRight1;
    -moz-animation-name: perilSlideInRight1;
    -ms-animation-name: perilSlideInRight1;
    -o-animation-name: perilSlideInRight1;
    animation-name: perilSlideInRight1;
}

.peril-card-wrapper--selected:nth-child(2) {
    -webkit-animation-name: perilSlideInRight2;
    -moz-animation-name: perilSlideInRight2;
    -ms-animation-name: perilSlideInRight2;
    -o-animation-name: perilSlideInRight2;
    animation-name: perilSlideInRight2;
}

.peril-card-wrapper--selected:nth-child(3) {
    -webkit-animation-name: perilSlideInRight3;
    -moz-animation-name: perilSlideInRight3;
    -ms-animation-name: perilSlideInRight3;
    -o-animation-name: perilSlideInRight3;
    animation-name: perilSlideInRight3;
}

@include keyframes(perilSlideInRight1) {
    0% {
        opacity: 1;
        @include transform(translateX(0));
    }
    100% {
        opacity: 1;
        @include transform(translateX(0));
    }
}

@include keyframes(perilSlideInRight2) {
    0% {
        opacity: 1;
        @include transform(translateX(107%));
    }
    100% {
        opacity: 1;
        @include transform(translateX(0%));
    }
}

@include keyframes(perilSlideInRight3) {
    0% {
        opacity: 1;
        @include transform(translateX(217%));
    }
    100% {
        opacity: 1;
        @include transform(translateX(0%));
    }
}

.peril-details-wrapper {}

.peril-details {
    @extend .col-sm-offset-4;
    @extend .visually-hidden;
    transition: opacity 500ms ease 500ms;
}

.peril-details--selected {
    transition: opacity 500ms ease 500ms;
    position: relative;
    right: 0;
    visibility: visible;
    opacity: 1;
}


/*================================
=            CALLOUTS            =
================================*/

.callout {
    border-top: solid 1px $gray-35;
    border-bottom: solid 1px $gray-35;
    padding: 1.5rem;

}
.callout .checkbox{
    @include respond-to(small){
        text-align:center;
    }
}
.callout__close-btn{
        position: absolute;
        right: 1.25rem;
        top: 2rem;
        cursor: pointer;
        font-size: .6rem;
        color:$gray;
}

/*===================================
=            CARD MODULE            =
===================================*/

.card__module {}

.card__module__figure {
    float: left;
    width: 20%;
    text-align: center;
}

.card__module__figure img {
    max-width: 100%;
}

.card__module__title {
    // @extend .card__header__subtitle;
    margin: 0;
    padding: 0;
    line-height: 1.1;
}

.card__list {
    float: left;
    width: 80%;
    padding-left: 1rem;
    padding-top: 0.5rem;
}

.card__list__item {
    margin: 0;
    padding: 0;
    line-height: 1.5;
}


/*============================
=            MISC            =
============================*/

.shipping-price {
    margin-top: 1.25rem;
    color: $primary-color;
    font-weight: $bold-font-weight;
}
.js-change-selection{
    display: none;
    text-decoration: underline;
}

/*=======================================
=           OFFER CARDS                =
=======================================*/

.card {
  position: relative;
  

  &.offer-card-1 {
    padding: 1em;
    text-align: center;
    margin-top: 2em;
  
    &:hover {
      transition: all .2s ease-in-out;
      transform: scale(1.1);
    }

  h1 {
  margin: 1.5em 0 0 0;
  font-size: 1.5em;
  font-weight: 700;
  border-bottom: 2px solid #e4e4e4;
  padding-bottom: 0.5em;
  margin-bottom: 1em;
  }
  
  .content__summary {
    text-align: left;
  }
  
  .content__features {
    margin: 1em 0 2em 0;
    
    h2 {
      font-size: 1.2em;
      font-weight: 700;
      margin-bottom: 1em;
    }
    
     .list-unstyled {
       margin: 0;
       padding: 0;
       
      li {
       list-style: none;
       text-align: left;
       padding: .7em;
       border-bottom: 1px solid #e4e4e4;
       
       &:first-child {
         border-top: 1px solid #e4e4e4;
       }
       
       }
       
       
     }
     
  }
  
  .content__works {
    margin: 2.5em 0 2em 0;
    
      a {
        color: black;
        font-size: 1em;
        font-weight: 700;
      }
  }
  
  .content__card-cost {
    margin-top: 3em;
    text-align: center;
    

    
      .dollar-sign {
      font-size: 1.2em;
      display: inline-block;
      position: relative;
      top: -5px;
      }
    
      .card-cost {
      display: inline-block;
      font-size: 2.5em;
      }
      
      .cost-id {
      display: block;
      font-size: 1em;
      }
      
    }
  }
}

.card__icon {
  border-radius: 50%;
  position: absolute;
  margin-bottom: 1em;
  border: 2px solid #e4e4e4;
  width:75px;
  height: 75px;
  text-align: center;
  line-height: 1.7;
  font-size: .5em;
  color: $primary-color;
  margin: 0 auto;
  left: 38%;
  top: 0;
  background-color: white;
}




.card-container {
  strong {
    font-weight: bolder ;
  }

  
  &.left {
    width: 40%;
    float: left;
    padding: 2em;
    left: 16%;
    position: relative;
    z-index: 4;
    margin-right: 2em;
  }
  
  
  &.right {
    width: 40%;
    padding: 2em;
    float: right;
    position: relative;
    z-index: 2;
    margin-left: 2em;
    right: 12%;
  }
// CLOSE
}

.content__offers-cards-2 {
    @extend .clearfix;
  .card {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    padding: 1em;
    text-align: center;
    
      
      &.selected {
      border: 2px solid $primary-color;
      box-shadow: 2px 2px 21px 0px rgba(50, 50, 50, 0.44);
      transform: scale(1.1);
      }
    
      h1 {
        font-size: 1.2em;
        margin: 1em;
        letter-spacing: -0.1px;
      }
      
      .circle-container {
        width: 100%;
      }
      
      
      .content__circle {
        border-radius: 50%;
        background-color: $primary-color;
        height: 175px;
        width: 175px;
        margin: 0 auto;
        color: $primary-text-color;
        h2 {
          line-height: 2;
          margin: 0;
          top: 1.2em;
          font-size: 2em;
          letter-spacing: -0.1px;
          font-weight: 900;
          display: block;
          position: relative;
        }
        
        .cost-id {
          font-weight: 300;
          position: relative;
          top: 1.5em;
        }
        
      } // Circle
      
      .content__features {
        margin: 2em 0 2em 0;
        font-weight: 400;
        font-size: 14px;
      
      .list-unstyled {
       margin: 0;
       padding: 0;
       
        li {
         list-style: none;
         text-align: left;
         padding: .7em;
         border-bottom: 1px solid #e4e4e4;
         
         &:first-child {
           border-top: 1px solid #e4e4e4;
         }
        }
       }
      }
      
      
    .content__works {
    margin: 1.5em 0 2em 0;
    
      .how-it-works {
        color: black;
        font-size: 1em;
        font-weight: 700;
        cursor: pointer;
        text-decoration: underline;
      }
  }

  }//card close
}