/*=========================================
=            INSTRUCTION CARDS            =
=========================================*/

.adg-instruction-cards{
	margin:0;
	padding:0;
	counter-reset: li; /* Initiate a counter */
	list-style: none; /* Remove default numbering */
}
.adg-instruction-card{
	@extend .card;
	@extend .padding-left-right-sm-4x;
	@extend .padding-top-bottom-sm-2x;
	@extend .padding-top-4x;
	@extend .padding-2x;
	margin:0;
	margin-bottom:4em;
	&:last-of-type{
		margin-bottom: 0;
	}
	
}
.adg-instruction-card:before{
	font-family: $light-font-family;
	font-size:2.8rem;
	color:$accessible-blue;
	content: counter(li);
	counter-increment: li;
	position: absolute; 
	left: -37px;
	top: -37px;
	background: white;
	border:solid 7px white;
	-webkit-box-shadow: inset 0px 0px 0px 2px $accessible-blue;
	-moz-box-shadow: inset 0px 0px 0px 2px $accessible-blue;
	box-shadow: inset 0px 0px 0px 2px $accessible-blue;
	height: 65px;
	width: 65px;
	line-height: 67px;
	text-align: center;
	border-radius: 100%;
	transition: all .3s ease-out;
	z-index: 1;
	@include respond-to(small-max){
		left:0;
		right:0;
		margin: auto;
	}
}
.adg-instruction-card:after{
	content:'';
	 background: white;
	 border:solid 2px $gray-25;
	 border-radius:100%;
	 height: 80px;
	 width: 80px;
	 position:absolute;
	 left:-40px;
	 top:-40px;
	 z-index: -1;
	@include respond-to(small-max){
		left:0;
		right:0;
		margin: auto;
	}
}

/*=====  End of INSTRUCTION CARDS  ======*/
