/*===============================================
=            ATT MEXICO THEME OVERRIDE VARS            =
===============================================*/

$primary-color: #0574ac;
$secondary-color: #ef6f00;

$client-header-logo-path: '../att/img/client-logo--att.svg';
$client-header-logo-width:4em;
$client-header-background:$secondary-color;

$form-highlight-color: $primary-color;
$text-highlight-color: $secondary-color;