<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
  <head>
      <meta name="robots" content="noindex,nofollow">
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <title>Asurion</title>
      <link rel="stylesheet" href="../../assets/theme/att/att.css">

      <link rel="stylesheet" href="../../assets/theme/att/att.css">
      <link rel="apple-touch-icon" sizes="180x180" href="../../assets/img/apple-touch-icon.png">
      <link rel="icon" type="image/png" sizes="32x32" href="../../assets/img/favicon-32x32.png">
      <link rel="icon" type="image/png" sizes="16x16" href="../../assets/img/favicon-16x16.png">
      <meta name="description" content="">
      <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
      <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
      <script src="https://code.jquery.com/jquery-1.12.1.min.js"></script>
  </head>
  <body>
    <div class="page">
      <div class="pre-footer ng-scope">
        <header class="ng-scope">
            <div class="span12">
              <h1 class="logo"></h1>
              <div class="links">
                  <a id="setlanguage" href="" class="es-link" data-ng-click="changeLanguage(languageToBeSet)" data-vzw-language="" style="display: none;">
                      <span data-ng-bind-html="selectedLanguage.Locales[selectedLanguage.Code] | unsafe" class="ng-scope ng-binding">Ver esta página en español</span>
                  </a>
                  <a id="liveChat" href="" class="chat-link" data-ng-click="clicked();launchChat()" style="display: none;">
                      <div id="LP_DIV_Verizon_Reactive_Chat"><div id="LPMcontainer-1539199012914-0" class="LPMcontainer LPMoverlay" role="button" tabindex="0" style="margin: 1px; padding: 0px; border-style: solid; border-width: 0px; font-style: normal; font-weight: normal; font-variant: normal; list-style: none outside none; letter-spacing: normal; line-height: normal; text-decoration: none; vertical-align: baseline; white-space: normal; word-spacing: normal; background-repeat: repeat-x; background-position: left bottom; cursor: auto; display: block; position: relative; top: 0px; left: 0px;"><a id="liveChat" href="" class="chat-link" data-lp-event="click" style="display: block;">
                      <i class="icon-chat"></i>
                      <span>Live Chat</span>
                      </a></div></div>
                  </a>
              </div>
            </div>
        </header>
        <section class="container main">
          <div class="steps-include">
            <div class="step ng-scope" style="">
              <div class="row">
                <div id="step1" class="span12">
                  <div class="stepbar clearfix">
                    <i class="icon-user"></i>
                    <div class="stepbar-text-top">STEP ONE</div>
                    <div class="stepbar-text-bottom">Your Information</div>
                    <div class="stepbar-text-ClaimCreation" id="claimId_1"></div>
                    <div class="stepbar-text-ClaimCreation" id="MDN_1"></div>
                  </div>
                </div>
              </div>
              <div class="claimstep ng-scope claimstep--ob" stepnum="1" iconclass="icon-user" style="display: block;">
                  
	<div class="container">
		<!-- <div class="row">
			<div class="col-sm-12 text-center js-my-device-is my-device-is my-device-is--active margin-bottom-1x">
				<p class="giga loud">"I would say my device is..."</p>
			</div>
		</div> -->
		<div class="row" style="position:relative;" id="js-peril-cards">
			<div class="col-sm-4 peril-card-wrapper peril-card-wrapper--active" data-target="js-device-missing">
				<div class="card card-button peril-card padding-bottom-sm-4x" data-mh="js-peril-card">
					<!-- <span class="card__action card__check icon icon-checkmark"></span> -->
					<div class="peril-card__header">
						<h3 class="peril-card__header__title">Lost or Stolen</h3>
					</div>
					<div class="peril-card__content">
						<p class="for-example">For example:</p>
						<ul class="list">
							<li>Lost</li>
							<li>Stolen</li>
							<li>Unrecoverable</li>
						</ul>
					</div>
					<div class="btn-well">
						<button class="btn btn-ghost btn-form-highlight btn-md">Choose Lost or Stolen</button>
					</div>
				</div>
				<div class="text-center link milli js-change-selection change-selection">Back to options</div>
			</div>
			
			<div class="col-sm-4 peril-card-wrapper peril-card-wrapper--active" data-target="js-device-damaged">
				<div class="card card-button peril-card padding-bottom-sm-4x" data-mh="js-peril-card">
					<!-- <span class="card__action card__check icon icon-checkmark"></span> -->
					<div class="peril-card__header">
						<h3 class="peril-card__header__title">Damaged</h3>
					</div>
					<div class="peril-card__content">
						<p class="for-example">For example:</p>
						<ul class="list">
							<li>Damaged screen</li>
							<li>Broken buttons</li>
							<li>Liquid damage</li>
						</ul>
					</div>
					<div class="btn-well">
						<button class="btn btn-ghost btn-form-highlight btn-md" >Choose Damaged</button>
					</div>
				</div>
				<div class="text-center link milli js-change-selection change-selection">Back to options</div>
			</div>

			<div class="col-sm-4 peril-card-wrapper peril-card-wrapper--active" data-target="js-device-not-working">
				<div class="card card-button peril-card padding-bottom-sm-4x" data-mh="js-peril-card">
					<!-- <span class="card__action card__check icon icon-checkmark"></span> -->
					<div class="peril-card__header">
						<h3 class="peril-card__header__title">Malfunctioning</h3>
					</div>
					<div class="peril-card__content">
						<p class="for-example">For example:</p>
						<ul class="list">
							<li>Drops calls</li>
							<li>Won't turn on</li>
							<li>Won't charge</li>
						</ul>
					</div>
					<div class="btn-well">
							<button class="btn btn-ghost btn-form-highlight btn-md" >Choose Malfunctioning</button>
						</div>
				</div>
				<div class="text-center link milli js-change-selection change-selection">Back to options</div>
			</div>
			<div class="peril-details-wrapper" data-target="js-peril-details">
				<div id="js-device-missing" class="col-sm-8 peril-details">
					<div class="row">
						<div class="col-sm-8">
							<div class="form-group">
								<label for="problemIncidentDate">When did this happen</label>
						    	<div class="custom-datepicker">
						    	    <input type="text" class="form-control js-datepicker js-problemIncidentDate" id="problemIncidentDate" placeholder="Select date">
						        </div>
							</div>
							<div class="form-group">
								<label for="problemDamageType">Choose the device associated with <span class="bold">(123) 456-7890</span></label>
								 <div class="custom-dropdown">
									 <select class="form-control js-problemDamageType" id="problemDamageType" placeholder="Choose device" disabled>
									  <option value="">Choose device</option>
									  <option value="1">Apple iPhone 8 32GB White </option>
									  <option value="2">Apple iPhone 4S 16GB Black</option>
									  <option value="3">Apple iPhone 3 16GB Black</option>
									</select>
								</div>	
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-sm-8">
							<div class="form-group">
								<label for="problemDeviceLocation">What best described where your device is now?</label>

								 <div class="custom-dropdown">
									 <select class="form-control js-problemDeviceLocation" id="problemDeviceLocation" placeholder="Select device location" disabled="">
									  <option value="">Select device location</option>
									  <option value="Lost">Lost </option>
									  <option value="Stolen">Stolen </option>
									  <option value="cannot-retrieve">I know the location, but can&rsquo;t retrieve it or no longer have it</option>
									</select>
								</div>  
							</div>
						</div>
					</div>
					<div class="form-group">
						<label for="problemDeviceDescription">Describe what happened</label>
					    <textarea name="problemDescription" id="problemDescription" class="js-problemDescription form-control js-problemDescription" cols="30" rows="5" disabled=""></textarea>
					</div>
				</div>
				<div id="js-device-damaged" class="col-sm-8 peril-details">
					<div class="row">
						<div class="col-sm-8">
							<div class="form-group">
								<label for="problemIncidentDate">When did this happen</label>
								<div class="custom-datepicker">
								    <input type="text" class="form-control js-datepicker js-problemIncidentDate" id="problemIncidentDate" placeholder="Select date" >
							    </div>
							</div>
							<div class="form-group">
								<label for="problemDamageType">Choose the device associated with <span class="bold">(123) 456-7890</span></label>
								 <div class="custom-dropdown">
									 <select class="form-control js-problemDamageType" id="problemDamageType" placeholder="Choose device" disabled>
									  <option value="">Choose device</option>
									  <option value="1">Apple iPhone 8 32GB White </option>
									  <option value="2">Apple iPhone 4S 16GB Black</option>
									  <option value="3">Apple iPhone 3 16GB Black</option>
									</select>
								</div>	
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-sm-8">
							<div class="form-group">
								<label for="problemDamageType">What best describes the damaged device?</label>
								 <div class="custom-dropdown">
									 <select class="form-control js-problemDamageType" id="problemDamageType" placeholder="Select damage type" disabled>
									  <option value="">Select a damage type</option>
									  <option value="screen damage">Damaged screen / display </option>
									  <option value="Minor">Minor imperfections (scratch/chip, etc.) </option>
									  <option value="cannot-retrieve">Contact with liquid </option>
									  <option value="cannot-retrieve">Charging port, keys, buttons, audio jack, etc.</option>     
									</select>
								</div>	
							</div>
							    <div class="card js-sur-triage padding-left-right-1x">
							    	<div class="card__content">
							    		<div class="form-group">
							    			<p class="loud">Has your device come in contact with liquids?</p>
							    			<div class="inline-radio-group">
												<div class="radio-inline">
													<input type="radio" name="liquids" id="liquidsYes" value="yes">
													<label for="liquidsYes">Yes</label>
												</div>
												<div class="radio-inline">
													<input type="radio" name="liquids" id="liquidsNo" value="no">
													<label for="liquidsNo">No</label>
												</div>    				
							    			</div>
							    		</div>
							    		<div id="js-beyondGlass" style="display: none">
								    		<hr>
								    		<div class="form-group">
								    			<p class="loud margin-half--bottom">Is there physical damage beyond glass?</p>
								    			<p class="micro">(For example: charging ports, buttons, the back or sides of the device.)</p>
								    			<div class="inline-radio-group">
													<div class="radio-inline">
														<input type="radio" name="beyondGlass" id="beyondGlassYes" value="yes">
														<label for="beyondGlassYes">Yes</label>
													</div>
													<div class="radio-inline">
														<input type="radio" name="beyondGlass" id="beyondGlassNo" value="no">
														<label for="beyondGlassNo">No</label>
													</div>    				
								    			</div>
								    		</div>
							    		</div>
							    		<div id="js-photos" style="display: none">
				    			    		<hr>
				    			    		<div class="form-group">
				    			    			<p class="loud">Can you take photos?</p>
				    			    			<div class="inline-radio-group">
				    								<div class="radio-inline">
				    									<input type="radio" name="photos" id="photosYes" value="yes">
				    									<label for="photosYes">Yes</label>
				    								</div>
				    								<div class="radio-inline">
				    									<input type="radio" name="photos" id="photosNo" value="no">
				    									<label for="photosNo">No</label>
				    								</div>    				
				    			    			</div>
				    			    		</div>
							    		</div>
							    		<div id="js-calls" style="display: none">
								    		<hr>
								    		<div class="form-group">
								    			<p class="loud">Can you make and receive calls?</p>
								    			<div class="inline-radio-group">
													<div class="radio-inline">
														<input type="radio" name="calls" id="callsYes" value="yes">
														<label for="callsYes">Yes</label>
													</div>
													<div class="radio-inline">
														<input type="radio" name="calls" id="callsNo" value="no">
														<label for="callsNo">No</label>
													</div>    				
								    			</div>
								    		</div>
							    		</div>
							    	</div>
							    </div>	
							<div class="form-group">
								<label for="problemDescription">Describe what happened</label>
							    <textarea name="problemDescription" id="problemDescription" class="js-problemDescription form-control js-problemDescription" cols="30" rows="5" disabled></textarea>
							</div>
						</div>
					</div>
				</div>
				<div id="js-device-not-working" class="col-sm-8 peril-details" >
					<div class="row">
						<div class="col-sm-8">
							<div class="form-group">
								<label for="problemIncidentDate">When did this happen</label>
								<div class="custom-datepicker">
								    <input type="text" class="form-control js-datepicker js-problemIncidentDate" id="problemIncidentDate" placeholder="Select date" >
							    </div>
							</div>
							<div class="form-group">
								<label for="problemDamageType">Choose the device associated with <span class="bold">(123) 456-7890</span></label>
								 <div class="custom-dropdown">
									 <select class="form-control js-problemDamageType" id="problemDamageType" placeholder="Choose device" disabled>
									  <option value="">Choose device</option>
									  <option value="1">Apple iPhone 8 32GB White </option>
									  <option value="2">Apple iPhone 4S 16GB Black</option>
									  <option value="3">Apple iPhone 3 16GB Black</option>
									</select>
								</div>	
							</div>
						</div>
					</div>
					
					<div class="row">
						<div class="col-sm-8">
							<div class="form-group">
								<label for="problemMalfunctionType">What best describes the problem?</label>
							     <div class="custom-dropdown">
								     <select class="form-control js-problemMalfunctionType" id="problemMalfunctionType" placeholder="Select problem" disabled="">
								      <option value="">Select problem</option>
								      <option value="Lost">Contact with liquid </option>
								      <option value="Stolen">Will not charge/stay charged </option>
								      <option value="Liquid">Will not turn on </option>
								      <option value="cannot-retrieve">Dropping calls, apps not running, etc. </option>
								    </select>  
								</div>    
							</div>
							<div class="form-group">
								<label for="problemDescription">Describe what happened</label>
							    <textarea name="problemDescription" id="problemDescription" class="js-problemDescription form-control js-problemDescription" cols="30" rows="5" disabled></textarea>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="row" style="display:none;" id="js-replacement-device">
			<div class="col-sm-6 col-sm-offset-3">
				<div class="card card--selected">
					<div class="peril-card__header">
						<h3 class="peril-card__header__title">Select the option that best describes your issue:</h3>
					</div>
					<div class="peril-card__content">
						<div class="row">
							<div class="col-sm-10 col-sm-offset-2 text-left">
								<div class="radio">
									<input type="radio" name="problemReplacementIssue" id="problemReplacementIssue1" value="damaged" >
									<label for="problemReplacementIssue1">Device was damaged when I received it</label>
								</div>
								<div class="radio">
									<input type="radio" name="problemReplacementIssue" id="problemReplacementIssue2" value="empty_box" >
									<label for="problemReplacementIssue2">I never received the device or I received an empty box</label>
								</div>
								<div class="radio">
									<input type="radio" name="problemReplacementIssue" id="problemReplacementIssue3" value="not_satisfied" >
									<label for="problemReplacementIssue3">I'm not satisfied with the device</label>
								</div>
								<div class="radio">
									<input type="radio" name="problemReplacementIssue" id="problemReplacementIssue4" value="other_color_preference">
									<label for="problemReplacementIssue4">I prefer a different color</label>
								</div>
								<div class="radio">
									<input type="radio" name="problemReplacementIssue" id="problemReplacementIssue5" value="wrong_device">
									<label for="problemReplacementIssue5">I received the wrong device</label>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- <div class="container margin-top-2x">
	    <div class="callout">
	        <div class="checkbox margin-0x">
	            <input type="checkbox" name="formData.optIn.firstReview" class="js-opt-in" id="formData.optIn.firstReview" value="">
	            <label for="formData.optIn.firstReview" class="margin-reset">
	                <p class="fine-print margin-0x">I understand that filing a fraudulent claim may subject me to liability under appicable law.</p>
	            </label>
	        </div>
	    </div>
	</div> -->

              </div>
            </div>
            <div class="ob-expert-help">
              <h4>If you have any questions, our experts will be happy to help.</h4>
              <p>1-866-853-2601</p>
            </div>
          </div>
        </section>
      </div>
    </div>
    

<script>
	// CONTROL PROGRESSIVE FIELD ENABLING

	$('.js-problemIncidentDate').on('change', function(event) {
		$('.js-problemDeviceLocation').prop('disabled', false).focus();
		$('.js-problemMalfunctionType').prop('disabled', false).focus();
		$('.js-problemDamageType').prop('disabled', false).focus();
	});
	
	$(".js-problemDeviceLocation,.js-problemMalfunctionType,.js-problemDamageType").on('change', function(event) {
		$('.js-problemDescription').prop('disabled', false).focus()
	});
	$('.js-problemMalfunctionType').on('change', '.selector', function(event) {
		$('.js-problemDescription').prop('disabled', false).focus()
	});
	$('.js-problemDescription').on('change', function(event) {
		$('#nextButton').prop('disabled', false).removeClass('btn-disabled')	
		$('.btn-caption').addClass('btn-caption--active')
	});

       $('.js-problemDamageType').change(function(event) {
   		if( $(this).val() == "screen damage"){
   			$('.js-sur-triage').show()
   		}
   		else{
   			$('.js-sur-triage').hide()
   		}
   });

    $('.js-specify-device, .js-sur-triage').hide();
    
    $(".peril-card-wrapper").click(function(event) {
        $this = $(this);
        target = $this.attr('data-target');
        if ($this.hasClass('peril-card-wrapper--selected')) {
            $this.removeClass('peril-card-wrapper--selected')
            $(".peril-card-wrapper").addClass('peril-card-wrapper--active')
            $(".peril-details").removeClass('peril-details--selected')
            $("button").blur();
            $this.find(".js-change-selection").hide();
            $('.js-my-device-is').addClass('my-device-is--active');
            $('#js-next-button').prop('disabled', true).addClass('btn-disabled');
            $('.btn-caption').removeClass('btn-caption--active')
        } else {
            $(".peril-card-wrapper").removeClass('peril-card-wrapper--selected').removeClass('peril-card-wrapper--active')
            $(".peril-details").removeClass('peril-details--selected')
            $this.addClass('peril-card-wrapper--active').addClass('peril-card-wrapper--selected')
            $('#' + target).addClass('peril-details--selected')
            $this.find(".js-change-selection").fadeIn();
            $('.js-my-device-is').removeClass('my-device-is--active');
            
        }
    });
    $('input[name="problemIsReplacementDevice"]').change(function(event) {
        if ($(this).val() == "yes") {
            $('#js-replacement-device').show();
            $('#js-peril-cards').hide();
        } else {
            $('#js-replacement-device').hide()
            $('#js-peril-cards').show();
        }
    });
	$('.js-problemDescription').keyup(function(event) {
		if( $(this).val().length >= 5 ){
			$('#js-next-button').prop('disabled', false).removeClass('btn-disabled');
			$('.btn-caption').addClass('btn-caption--active')
		}
		else{
			$('#js-next-button').prop('disabled', true).addClass('btn-disabled');
			$('.btn-caption').removeClass('btn-caption--active')
		}
	});
	$('.js-problemDeviceSelect').change(function(event) {
		if ( $(this).val() == "Not Listed"){
			$('.js-specify-device').show();
			$('.js-problemDamageType').prop('disabled', true);
		}
		else{
			$('.js-specify-device').hide();	
		}
	});
	$('#deviceManufacturer').on('change', function(event) {
		$('#deviceModel').prop('disabled', false).focus();
	});
	$("#deviceModel").on('typeahead:select', function(event) {
		$('#deviceColor').prop('disabled', false).focus()
	});
	$('#deviceColor').on('change', function(event) {
		$('#nextButton').prop('disabled', false).removeClass('btn-disabled')	
		$('.btn-caption').addClass('btn-caption--active')
		$('.js-problemDamageType').prop('disabled', false).focus();
	});
	$('.js-opt-in').on('change', function(event) {
		event.preventDefault();
		if( $(this).is(':checked') ){
			$('#js-next-button').removeAttr('disabled').removeClass('btn-disabled')
		}
		else{
			$('#js-next-button').attr({disabled: true}).addClass('btn-disabled')
			$('.btn-caption').addClass('btn-caption--active')
		}
	});
	
	$('input[name="liquids"]').change(function(event) {
        if ($(this).val() == "no") {
            $('#js-beyondGlass').show();
        } else {
            $('#js-beyondGlass').hide()
        }
    });
    $('input[name="beyondGlass"]').change(function(event) {
        if ($(this).val() == "no") {
            $('#js-photos').show();
        } else {
            $('#js-photos').hide()
        }
    });
    $('input[name="photos"]').change(function(event) {
        if ($(this).val() == "yes") {
            $('#js-calls').show();
        } else {
            $('#js-calls').hide()
        }
    });
	// TYPEAHEAD

	var substringMatcher = function(strs) {
	    return function findMatches(q, cb) {
	        var matches, substrRegex;

	        // an array that will be populated with substring matches
	        matches = [];

	        // regex used to determine if a string contains the substring `q`
	        substrRegex = new RegExp(q, 'i');

	        // iterate through the pool of strings and for any string that
	        // contains the substring `q`, add it to the `matches` array
	        $.each(strs, function(i, str) {
	            if (substrRegex.test(str)) {
	                // the typeahead jQuery plugin expects suggestions to a
	                // JavaScript object, refer to typeahead docs for more info
	                matches.push({
	                    value: str
	                });
	            }
	        });

	        cb(matches);
	    };
	};

	
	var models = ['iPhone 3G 8GB', 'iPhone 4 8GB', 'iPhone 4 16GB', 'iPhone6', 'Galaxy S5', 'G2', 'G Flex', 'G3 Vigor', 'iPhone 5s 16GB'];

	$('#deviceModel').typeahead({
	    hint: true,
	    highlight: true,
	    minLength: 1
	}, {
	    name: 'models',
	    displayKey: 'value',
	    source: substringMatcher(models)
	});

</script>

    <span class="ob-confetti">&nbsp;</span>
    <img src="/assets/img/trophy.svg" alt="trophy" class="ob-trophy" style="display:none;" />
  </body>
</html>
