<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js cs-portal"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Device On-Boarding</title>
        <link rel="stylesheet" href="../assets/theme/asurion/asurion.css">
        
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
        <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
        <script src="https://code.jquery.com/jquery-1.12.1.min.js"></script>
    </head>
    <body >
        <div class="page">
            <header class="cs-portal__header">
                <div class="container--lg">
                    <div class="cs-portal__brand">
                        <img src="" alt="" class="cs-portal__brand__mark">
                        <h1 class="cs-portal__brand__name">Horizon Client Services Portal</h1>
                    </div>
                    <nav>
                        <ul class="cs-portal__header__nav">
                            <li class="cs-portal__header__nav__item"><a href="#" class="cs-portal__header__nav__link">Claim Flow</a></li>
                            <li class="cs-portal__header__nav__item"><a href="#" class="cs-portal__header__nav__link">Branding</a></li>
                            <li class="cs-portal__header__nav__item"><a href="#" class="cs-portal__header__nav__link">OBC</a></li>
                        </ul>
                    </nav>
                </div>
            </header>
            <section class="cs-portal__section cs-portal__section--gray">
                <header class="cs-portal__section__header">
                    <div class="container--lg">
                        <h2 class="h1">Welcome, Konichiwa, Bienvenidos!</h2>    
                    </div>
                </header>
                <div class="cs-portal__section__content">
                    <div class="container-lg">
                        <div class="cs-portal__cards">
                            <div class="cs-portal__card">
                                <div class="cs-portal__card__content">
                                    <div class="cs-portal__card__icon icon-arrow-right"></div>
                                    <div class="cs-portal__card__desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</div>
                                </div>
                                <header class="cs-portal__card__header">
                                    <h3 class="h2 cs-portal__card__title"></h3>
                                </header>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <footer class="cs-portal-footer"></footer>
        </div>
        <div class="modal-overlay"></div>
        <div class="loader-overlay"></div>
        <div class="generic-loader">Loading&llips;</div>
        <script src="../assets/js/vendor/jquery-1.11.1.min.js"></script>
        <script src="../assets/js/vendor/bootstrap.min.js"></script>
        <script src="../assets/js/vendor/bootstrap-datepicker.js"></script>
        <script src="../assets/js/vendor/jquery.matchHeight.js"></script>
        <script src="../assets/js/vendor/jquery.validate.min.js"></script>
        <script src="../assets/js/vendor/jquery.mask.min.js"></script>
        <script src="../assets/js/vendor/typeahead.bundle.js"></script>
        <script src="../assets/js/vendor/tooltipster.bundle.min.js"></script>
        <script src="../assets/js/vendor/prism.js"></script>
        <script src="../assets/js/modules.js"></script> 
        <script src="../assets/js/app.js"></script> 


        
        {% block pageFoot %}
        {% endblock %}
    </body>
</html>
