<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta name="robots" content="noindex,nofollow">
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Asurion</title>
        <link rel="stylesheet" href="../../assets/theme/att/att.css">
        <link rel="apple-touch-icon" sizes="180x180" href="../../assets/img/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="../../assets/img/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="../../assets/img/favicon-16x16.png">
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
        <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
        <script src="https://code.jquery.com/jquery-1.12.1.min.js"></script>
        <!-- Google Tag Manager -->
        <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
        new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
        j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
        'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
        })(window,document,'script','dataLayer','GTM-WWXJ2HP');</script>
        <!-- End Google Tag Manager -->
        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-125308757-2"></script>
        <script>
          window.dataLayer = window.dataLayer || [];
          function gtag(){dataLayer.push(arguments);}
          gtag('js', new Date());

          gtag('config', 'UA-125308757-2');
        </script>
    </head>
    <body>
        <!-- Google Tag Manager (noscript) -->
        <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-WWXJ2HP"
        height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
        <!-- End Google Tag Manager (noscript) -->
        <div class="page">
            <header class="client-header client-header--sm" role="banner"> 
                <div class="container">
                    <div class="client-header__branding">
                        <a href="/#ios" class="client-header__branding__logo">
                            <span class="hidden">Asurion</span>
                        </a>
                    </div>
                    <nav class="client-header__nav" role="navigation">
                        <li class="iosTopChatContainer">
                            <a id="iosTopChatPost" href="contact-chat.html" class="client-header__nav__item adg-chat-button">
                                <span class="adg-chat-button__icon icon-adg_icon_26_chat-filled"></span>
                                Live Chat</a>                            
                        </li>
                    </nav>
                </div>
            </header>
    		<section class="step main--content">
                {% block messaging %}
                
                {% endblock %}

                {% block blogEntry %}
                <div class="step__header">
                    <div class="container--md">
                        <div class="row">
                            <div class="col-sm-12">
                                <a class="pull-left bold back--link" href="/#ios">Back</a>
                            </div>
                        </div>

                        <h1 class="h2 step__header__title">{[blogTitle | safe]}</h1>
                        <h2 class="h4 step__header__subtitle">{[introOne | safe]}</h1>
                        <h2 class="h4 step__header__subtitle margin-top-2x">{[introTwo | safe]}</h1>
                    </div>
                </div>
                {% endblock %}


                <div class="step__content">
                    {% block stepContent %}

                    {% endblock %}
                </div>
                <div class="container--lg text-center">
                    <a class="btn btn-primary" href="/#ios">Back</a>
                </div>

    		</section>
    		<footer class="footer" role="contentinfo">
    		    <div class="container">
                    
    		        <nav class="footer-nav">
    		            <div class="menu-wrap">
    		                <ul class="menu footer-menu" >
                                <li class="menu-item"><a class="menu-link" href="terms.html">Terms &amp; Conditions</a></li>
                                <li class="menu-item"><a class="menu-link" href="privacy.html">Privacy Policy</a></li>
                                <li class="menu-item"><a class="menu-link" href="ios-contact.html">Contact Us</a></li>
    		                </ul>
    		            </div>
    		        </nav>
    		    </div>
    		</footer>
        </div>
        <div class="modal-overlay"></div>
        <div class="loader-overlay"></div>
        <div class="generic-loader">Loading&llips;</div>

        <script src="../../assets/js/vendor/jquery.waypoints.min.js"></script>
        <script src="../../assets/js/vendor/sticky.min.js"></script>
        <script src="../../assets/js/vendor/prism.js"></script>

        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-125308757-1"></script>
        <script>
          window.dataLayer = window.dataLayer || [];
          function gtag(){dataLayer.push(arguments);}
          gtag('js', new Date());

          gtag('config', 'UA-125308757-1');
        </script>

        {% block pageFoot %}
        {% endblock %}
    </body>
</html>
