{% extends "_step-layout.html" %}

{% set stepTitle = 'Good news! <br class="hidden-md">We can replace your broken iPhone.' %} 
{% set stepSubTitle = 'Click continue to finish up your claim—there are just a few more steps. ' %}
{% set btnText = 'Continue' %}
{% set nextStep = '../post-submit/0008.shipping.html' %}

{% block stepContent %} 
    <div class="container--sm">
        <div class="card">
            <div class="peril-card__header ">
                <h3 class="h4 loud text-center">Your replacement device</h3>
            </div>
            <div class="card__content padding-left-right-2x padding-left-right-sm-4x ">
                <div class="text-center">
                  <img src="../../assets/img/iphone_img2.png" alt="">
                </div>
                <div class="text-center margin-top-1x">
                    <h2 class="h3 loud">Black Apple iPhone 6 <span class="micro">(64 GB)</span> </h2>
                    <p class="">Including <span class="loud"> Battery</span> and <span class="loud">Charger</span></p>
                </div>
                <hr>
                <h3 class="h4 loud">Accessories</h3>
                <p>Were any accessories also affected?</p>
                <div class="form-group">
                   <div class="inline-radio-group">
                    <div class="radio-inline clear">
                        <input type="radio" name="accessoryAffected" id="yes" value="yes">
                        <label for="yes">Yes</label>
                    </div>
                    <div class="radio-inline">
                        <input type="radio" name="accessoryAffected" id="No" value="no" checked>
                        <label for="No">No</label>
                    </div>
                   </div>
                </div>
                <div class="card js-accessories padding-left-right-sm-1x bg-gray-10">
                    <div class="card__content">
                        <h3 class="h5 loud">What accessories were affected?
                        </h3>
                        <hr>
                        <div class=" form-group">
                            <div class="checkbox-inline">
                                <input type="checkbox" name="Car_Charger" id="Car_Charger" value="Car_Charger">
                                <label for="Car_Charger">Car Charger</label>
                            </div>
                            <div class="checkbox-inline">
                                <input type="checkbox" name="Headphones" id="Headphones" value="Headphones">
                                <label for="Headphones">Headphones</label>
                            </div>
                        </div>
                    </div>
                </div>  
                <hr class="hr">
                <h3 class="h4 loud">Activation </h3>
                <p>Would you like us to activate your device for you?
                    <span class="tooltip icon-Icon-page-help-circle" data-tooltip-content="#tooltip_content"></span>
                    <div class="tooltip_templates">
                        <span id="tooltip_content">
                            Select to have us activate your phone before we ship it to you so that it's ready for you to use when you receive it.  By selecting this option, your current device or any temporary device on this account will be deactivated and you will not be able to use it once you replacement device has shipped.
                        </span>
                    </div>
                </p>
                <div class="form-group">
                    <div class="radio">
                        <input type="radio" name="Activation" id="ActivationYes" value="yes" ng-model="formData.shipping.signatureReguired">
                        <label for="ActivationYes">Yes, activate my device for me.</label>
                    </div>
                    <div class="radio">
                        <input type="radio" name="Activation" id="ActivationNo" value="no" ng-model="formData.shipping.signatureReguired" checked>
                        <label for="shippingSignatureRequiredNo">No, I'll activate it when it arrives.</label>
                    </div>
                </div>
            </div>
            <div class="card__footer padding-left-right-2x padding-left-right-sm-4x ">
                
                <h4 class="card__subtitle">Your deductible:</h4>
                <p><span class="bold giga">$110.00</span>
                    <!-- <span class="micro"> + applicable taxes</span> -->
                </p>
            </div>
        </div>
    </div>
{% endblock %}
{% block stepFooter %}
<div class="step__footer">
    <div class="container">
        <div class="btn-well">
            <a href="{[nextStep]}" class="btn btn-primary">{[btnText]}</a>
            <span class="btn-caption btn-caption--active"><span class="btn-caption__next">Next: </span>Confirm your shipping details.</span>
        </div>
    </div>
</div>
<!-- <div class="pills step__pills">
    <a class="pill" href="1.1.device.html" title=""></a>
    <a class="pill active" href="1.2.problem.html" title=""></a>
    <a class="pill" href="1.3.account.html" title=""></a>
    <a class="pill" href="1.4.review.html" title=""></a>
</div> -->
{% endblock %}

{% block pageFoot %}

<script>
    jQuery(document).ready(function($) {
        $('.js-accessories').hide()
    });
    $('input[name="accessoryAffected"]').change(function(event) {
        if ($(this).val() == "yes") {
            $('.js-accessories').show();
        } else {
            $('.js-accessories').hide()
        }
    });
</script>
{%endblock%}