{% extends "_step-layout.html" %} {% block stepContent %}
{% set nextStep = '2.11.1.approved_exact_replacement.html' %}
<div class="vert-center-container">
    <div class="vert-center padding-1x">
    	<div class="generic-loader generic-loader--relative generic-loader--active">
    	    
    	</div>
    	<h1 class="h2 step__header__title margin-top-4x">Please don't leave or refresh this page.</h1>
        <h2 class="h5 step__header__subtitle">A live agent is reviewing your claim right now. It should take less than three minutes.</h1>
        <div class="waiting-text">
            <h3>Here's some fun trivia to read while you wait.</h3>
        </div>
        <!-- <h4 >Processing&hellip;</h4> -->
        <div class="trivia">
            <div class="trivia__item">
                <div class="trivia__item__q">In what year was the first mobile phone call made?</div>
                <ol class="trivia__item__a">
                    <li class="true">A. 1973</li>
                    <li>B. 1982</li>
                    <li>C. 1990</li>
                </ol>
            </div>
            <div class="trivia__item">
                <div class="trivia__item__q">What was the cost of the first mobile phone sold in 1983?</div>
                <ol class="trivia__item__a">
                    <li>A. $1,800</li>
                    <li class="true">B. $4,000</li>
                    <li>C. $7,500</li>
                </ol>
            </div>
            <div class="trivia__item">
                <div class="trivia__item__q">What percentage of mobile phones sold in Japan are waterproof?</div>
                <ol class="trivia__item__a">
                    <li>A. 25%</li>
                    <li>B. 60%</li>
                    <li class="true">C. 90%</li>
                </ol>
            </div>
            <div class="trivia__item">
                <div class="trivia__item__q">What year was the first smart phone introduced?</div>
                <ol class="trivia__item__a">
                    <li class="true">A. 1993</li>
                    <li>B. 2000</li>
                    <li>C. 2003</li>
                </ol>
            </div>
            <div class="trivia__item">
                <div class="trivia__item__q">What percentage of adults in the U.S. own a mobile phone?</div>
                <ol class="trivia__item__a">
                    <li>A. 45%</li>
                    <li>B. 60%</li>
                    <li class="true">C. 80%</li>
                </ol>
            </div>
        </div>
    </div>
</div>
<div class="path-control submission-outcome">
    <select name="" id="path-conrol__select">
        <option value="2.1.1.approved_exact_replacement.html">Select Submission Outcome</option>
        <option value="2.1.1.approved_exact_replacement.html">Approved (Exact replacement)</option>
        <option value="2.1.2.approved_select_replacement.html">Approved (Select replacement)</option>
        <option value="2.3.2.doc-hold.html">Documentation Needed</option>
    </select>   
    <button class="path-control__button">Skip</button>
</div>
{% endblock %} 

{% block stepFooter %}
{% endblock %}

{% block pageFoot %}
<script>

jQuery(document).ready(function($) {

    $('.footer').hide();
    $('.path-control__button').click(function(event) {
        var path = $('#path-conrol__select').val()
        document.location.href = path
    });

    setTimeout(function() {
        $('.waiting-text').addClass('active')
    }, 8000);
    setTimeout(function() {
        $('.trivia__item:nth-child(1)').addClass('active');

    }, 10000);
    setTimeout(function() {
        $('.trivia').addClass('reveal');
    }, 15000);
    setTimeout(function() {
        $('.trivia').removeClass('reveal');
        $('.trivia__item:nth-child(1)').removeClass('active');
        $('.trivia__item:nth-child(2)').addClass('active');
    }, 20000);
    setTimeout(function() {
        $('.trivia').addClass('reveal');
    }, 25000);
    setTimeout(function() {
        $('.trivia').removeClass('reveal');
        $('.trivia__item:nth-child(2)').removeClass('active');
        $('.trivia__item:nth-child(3)').addClass('active');
    }, 30000);
    setTimeout(function() {
        $('.trivia').addClass('reveal');
    }, 35000);
    setTimeout(function() {
        $('.trivia').removeClass('reveal');
        $('.trivia__item:nth-child(3)').removeClass('active');
        $('.trivia__item:nth-child(4)').addClass('active');
    }, 40000);
    setTimeout(function() {
        $('.trivia').addClass('reveal');
    }, 45000);
    setTimeout(function() {
        $('.trivia').removeClass('reveal');
        $('.trivia__item:nth-child(4)').removeClass('active');
        $('.trivia__item:nth-child(5)').addClass('active');
        document.location.href = path
    }, 50000);
});
</script>
{% endblock %}