{% extends "_step-layout.html" %} {% set stepTitle = 'Select a replacement device.' %} {% set stepSubTitle = 'An exact replacement for your device is on backorder, so we can\'t send it to you right away. You can select a replacement option or wait for your exact replacement to become available.' %} {% set btnText = 'Continue' %} {% set nextStep = '2.1.1.approved_exact_replacement.html' %} {% block stepContent %}
<div class="adg-comparison-tool">
    <header id="js-comparison-tool-header" class="adg-comparison-tool__header">
        <div class="container--lg">
            <div class="adg-comparison-tool__table">
                <div class="adg-comparison-tool__col adg-comparison-tool__col--borderless">
                    <h3 class="adg-comparison-tool__availability warning">On Backorder</h3>
                    <p class="milli text-center">(Ships in 3-5 business days)</p>
                </div>
                <div class="adg-comparison-tool__col adg-comparison-tool__col--borderless">
                    <h3 class="adg-comparison-tool__availability success">Available</h3>
                    <p class="milli text-center">(Ships in 1-2 business days)</p>
                </div>
                <div class="adg-comparison-tool__col adg-comparison-tool__col--borderless">
                    <h3 class="adg-comparison-tool__availability success">Available</h3>
                    <p class="milli text-center">(Ships in 1-2 business days)</p>
                </div>
                <div class="adg-comparison-tool__col adg-comparison-tool__col--borderless">
                    <h3 class="adg-comparison-tool__availability success">Available</h3>
                    <p class="milli text-center">(Ships in 1-2 business days)</p>
                </div>
            </div>
            <section class="adg-comparison-tool__section">
                <div class="adg-comparison-tool__section__content adg-comparison-tool__section__content--open">
                    <div class="adg-comparison-tool__table">
                        <div class="adg-comparison-tool__col">
                            <div class="adg-comparison-tool__item">
                                <div class="adg-comparison-tool__item__content">
                                    <img class="adg-comparison-tool__header__img card-phone-image" src="../../assets/img/iphone_img2.png" alt="">
                                    <h4 class="adg-comparison-tool__header__title">Black Apple iPhone 6 <br>(64gGB)</h4>
                                    <button class="adg-comparison-tool__btn">Select</button>
                                </div>
                            </div>
                        </div>
                        <div class="adg-comparison-tool__col">
                            <div class="adg-comparison-tool__item">
                                <div class="adg-comparison-tool__item__content">
                                    <img class="adg-comparison-tool__header__img card-phone-image" src="../../assets/img/iphone-5s.png" alt="">
                                    <h4 class="adg-comparison-tool__header__title">White Apple iPhone 5 <br>(32GB)</h4>
                                    <button class="adg-comparison-tool__btn">Select</button>
                                </div>
                                </footer>
                            </div>
                        </div>
                        <div class="adg-comparison-tool__col">
                            <div class="adg-comparison-tool__item">
                                <div class="adg-comparison-tool__item__content">
                                    <img class="adg-comparison-tool__header__img card-phone-image" src="../../assets/img/iphone-5s.png" alt="">
                                    <h4 class="adg-comparison-tool__header__title">White Apple iPhone 6 <br>(64GB)</h4>
                                    <button class="adg-comparison-tool__btn">Select</button>
                                </div>
                                </footer>
                            </div>
                        </div>
                        <div class="adg-comparison-tool__col">
                            <div class="adg-comparison-tool__item">
                                <div class="adg-comparison-tool__item__content">
                                    <img class="adg-comparison-tool__header__img card-phone-image" src="../../assets/img/iphone-5s.png" alt="">
                                    <h4 class="adg-comparison-tool__header__title">White Apple iPhone 6 <br>(64GB)</h4>
                                    <button class="adg-comparison-tool__btn">Select</button>
                                </div>
                                </footer>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="adg-comparison-tool__section__footer">
                    <div class="adg-comparison-tool__table">
                        <div class="adg-comparison-tool__col">
                            <h4 class="h6 margin-0x padding-top-1x">Your deductible:</h4>
                            <p class="margin-bottom-0x"><span class="bold mega">$140.00</span>
                            </p>
                        </div>
                        <div class="adg-comparison-tool__col">
                            <h4 class="h6 margin-0x padding-top-1x">Your deductible:</h4>
                            <p class="margin-bottom-0x"><span class="bold mega">$160.00</span>
                            </p>
                            <p class="hidden loud micro margin-0x">Selecting this device will raise your premium.</p>
                        </div>
                        <div class="adg-comparison-tool__col">
                            <h4 class="h6 margin-0x padding-top-1x">Your deductible:</h4>
                            <p class="margin-bottom-0x"><span class="bold mega">$160.00</span>
                            </p>
                            <p class="hidden loud micro margin-0x">Selecting this device will raise your premium.</p>
                        </div>
                        <div class="adg-comparison-tool__col">
                            <h4 class="h6 margin-0x padding-top-1x">Your deductible:</h4>
                            <p class="margin-bottom-0x"><span class="bold mega">$160.00</span>
                            </p>
                            <p class="hidden loud micro margin-0x">Selecting this device will raise your premium.</p>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </header>
    <div id="js-comparison-tool" class="adg-comparison-tool__content">
        <div class="container--lg">
            <section class="adg-comparison-tool__section">
                <header class="adg-comparison-tool__section__header js-comparison-tool-toggle">
                    <div class="adg-comparison-tool__section__header__col">
                        <h2 class="adg-comparison-tool__section__title">Details A</h2>
                    </div>
                    <div class="adg-comparison-tool__section__header__col">
                        <button class="adg-comparison-tool__section__btn adg-comparison-tool__section__toggle-btn "></button>
                    </div>
                </header>
                <div class="adg-comparison-tool__section__content js-comparison-tool-target">
                    <div class="adg-comparison-tool__table">
                        <div class="adg-comparison-tool__col">
                            <div class="adg-comparison-tool__item">
                                <div class="adg-comparison-tool__item__content">
                                    4.7in (diagonal)
                                    <br>750x334 resolution
                                </div>
                            </div>
                        </div>
                        <div class="adg-comparison-tool__col">
                            <div class="adg-comparison-tool__item">
                                <div class="adg-comparison-tool__item__content">
                                    4.7in (diagonal)
                                    <br>750x334 resolution
                                </div>
                            </div>
                        </div>
                        <div class="adg-comparison-tool__col">
                            <div class="adg-comparison-tool__item">
                                <div class="adg-comparison-tool__item__content">
                                    4.7in (diagonal)
                                    <br>750x334 resolution
                                </div>
                            </div>
                        </div>
                        <div class="adg-comparison-tool__col">
                            <div class="adg-comparison-tool__item">
                                <div class="adg-comparison-tool__item__content">
                                    4.7in (diagonal)
                                    <br>750x334 resolution
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section class="adg-comparison-tool__section">
                <header class="adg-comparison-tool__section__header js-comparison-tool-toggle">
                    <div class="adg-comparison-tool__section__header__col">
                        <h2 class="adg-comparison-tool__section__title">Details B</h2>
                    </div>
                    <div class="adg-comparison-tool__section__header__col">
                        <button class="adg-comparison-tool__section__btn adg-comparison-tool__section__toggle-btn "></button>
                    </div>
                </header>
                <div class="adg-comparison-tool__section__content js-comparison-tool-target">
                    <div class="adg-comparison-tool__table">
                        <div class="adg-comparison-tool__col">
                            <div class="adg-comparison-tool__item">
                                <div class="adg-comparison-tool__item__content">
                                    4.7in (diagonal)
                                    <br>750x334 resolution
                                </div>
                            </div>
                        </div>
                        <div class="adg-comparison-tool__col">
                            <div class="adg-comparison-tool__item">
                                <div class="adg-comparison-tool__item__content">
                                    4.7in (diagonal)
                                    <br>750x334 resolution
                                </div>
                            </div>
                        </div>
                        <div class="adg-comparison-tool__col">
                            <div class="adg-comparison-tool__item">
                                <div class="adg-comparison-tool__item__content">
                                    4.7in (diagonal)
                                    <br>750x334 resolution
                                </div>
                            </div>
                        </div>
                        <div class="adg-comparison-tool__col">
                            <div class="adg-comparison-tool__item">
                                <div class="adg-comparison-tool__item__content">
                                    4.7in (diagonal)
                                    <br>750x334 resolution
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section class="adg-comparison-tool__section">
                <header class="adg-comparison-tool__section__header js-comparison-tool-toggle">
                    <div class="adg-comparison-tool__section__header__col">
                        <h2 class="adg-comparison-tool__section__title">Details C</h2>
                    </div>
                    <div class="adg-comparison-tool__section__header__col">
                        <button class="adg-comparison-tool__section__btn adg-comparison-tool__section__toggle-btn "></button>
                    </div>
                </header>
                <div class="adg-comparison-tool__section__content js-comparison-tool-target">
                    <div class="adg-comparison-tool__table">
                        <div class="adg-comparison-tool__col">
                            <div class="adg-comparison-tool__item">
                                <div class="adg-comparison-tool__item__content">
                                    4.7in (diagonal)
                                    <br>750x334 resolution
                                </div>
                            </div>
                        </div>
                        <div class="adg-comparison-tool__col">
                            <div class="adg-comparison-tool__item">
                                <div class="adg-comparison-tool__item__content">
                                    4.7in (diagonal)
                                    <br>750x334 resolution
                                </div>
                            </div>
                        </div>
                        <div class="adg-comparison-tool__col">
                            <div class="adg-comparison-tool__item">
                                <div class="adg-comparison-tool__item__content">
                                    4.7in (diagonal)
                                    <br>750x334 resolution
                                </div>
                            </div>
                        </div>
                        <div class="adg-comparison-tool__col">
                            <div class="adg-comparison-tool__item">
                                <div class="adg-comparison-tool__item__content">
                                    4.7in (diagonal)
                                    <br>750x334 resolution
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section class="adg-comparison-tool__section">
                <header class="adg-comparison-tool__section__header js-comparison-tool-toggle">
                    <div class="adg-comparison-tool__section__header__col">
                        <h2 class="adg-comparison-tool__section__title">Details D</h2>
                    </div>
                    <div class="adg-comparison-tool__section__header__col">
                        <button class="adg-comparison-tool__section__btn adg-comparison-tool__section__toggle-btn "></button>
                    </div>
                </header>
                <div class="adg-comparison-tool__section__content js-comparison-tool-target">
                    <div class="adg-comparison-tool__table">
                        <div class="adg-comparison-tool__col">
                            <div class="adg-comparison-tool__item">
                                <div class="adg-comparison-tool__item__content">
                                    4.7in (diagonal)
                                    <br>750x334 resolution
                                </div>
                            </div>
                        </div>
                        <div class="adg-comparison-tool__col">
                            <div class="adg-comparison-tool__item">
                                <div class="adg-comparison-tool__item__content">
                                    4.7in (diagonal)
                                    <br>750x334 resolution
                                </div>
                            </div>
                        </div>
                        <div class="adg-comparison-tool__col">
                            <div class="adg-comparison-tool__item">
                                <div class="adg-comparison-tool__item__content">
                                    4.7in (diagonal)
                                    <br>750x334 resolution
                                </div>
                            </div>
                        </div>
                        <div class="adg-comparison-tool__col">
                            <div class="adg-comparison-tool__item">
                                <div class="adg-comparison-tool__item__content">
                                    4.7in (diagonal)
                                    <br>750x334 resolution
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>
<!-- END CONTAINER -->
{% endblock %} {% block stepFooter %}
<div class="step__footer">
    <div class="container">
        <div class="btn-well">
            <button data-modal="#js-modal" id="js-next-button" class="btn btn-primary btn-disabled" disabled>{[btnText]}</button>
            <span class="btn-caption btn-caption--active"><span class="btn-caption__next">Next:</span> Confirm selected device.</span>
        </div>
    </div>
</div>
{% endblock %} {% block pageFoot %}
<div class="modal" id="js-modal">
    <header class="modal__header">
        <h3 class="modal__title">Lorem ipsum dolor sit amet.</h3>
    </header>
    <div class="modal__content">
        <div class="row">
            <div class="col-sm-10 col-sm-offset-1 typography">
                <h5 class="loud">Lorem ipsum dolor sit amet, consectetur adipisicing elit. </h5>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Hic dolorem voluptas quam laboriosam suscipit molestias neque, ipsam id explicabo accusamus sunt aliquam, rem illo, aperiam unde voluptatum nemo obcaecati cumque.</p>
            </div>
        </div>
    </div>
    <footer class="modal__footer">
        <div class="row">
            <div class="col-sm-6 col-sm-offset-3">
                <div class="btn-stack">
                    <button class="btn btn-primary" data-modal-close>Accept</button>
                    <button class="btn btn-primary btn-blank" data-modal-close>Change selection</button>
                </div>
            </div>
        </div>
    </footer>
</div>
<script>
$('.js-select-device').click(function(event) {
    $this = $(this);
    if ($this.hasClass('card-button--selected')) {

    } else {
        $('.js-select-device').removeClass('card-button--selected');
        $this.addClass('card-button--selected')
        $('.card').removeClass('card--selected')
        $('.js-card-group').addClass('card--muted')
        $this.closest('.js-card-group').addClass('card--selected').removeClass('card--muted')
        $("#js-next-button").removeClass('btn-disabled').attr({
            disabled: false
        });
    }

});

var sticky = new Waypoint.Sticky({
    element: $('#js-comparison-tool-header')[0],
    stuckClass: 'adg-comparison-tool__header--stuck',
    offset:0
});
</script>
{%endblock%}