{% extends "_step-layout.html" %} 
{% set stepTitle = 'Select a replacement device.' %} 
{% set stepSubTitle = 'An exact replacement for your device is on backorder, so we can\'t send it to you right away.  You can select a replacement option or wait for your exact replacement to become available.' %} 
{% set btnText = 'Continue' %} 
{% set nextStep = '2.1.1.approved_exact_replacement.html' %} 
{% block stepContent %}
<div class="container--md">
    <div class="row">
        <div class="col-sm-4">
            <h3 class="h4 loud text-center margin-bottom-0x">On Backorder</h3>
            <p class="milli text-center">(Ships in 3-5 business days)</p>
            <div class="card card-button js-select-card" data-mh="js-select-card">
                <div class="card__content">
                    <div class="text-center">
                        <img class="card-phone-image" src="../../assets/img/iphone_img2.png" alt="" height="130">
                    </div>
                    <div class="text-center margin-top-1x">
                        <h4 class="h6 margin-0x">Black Apple iPhone 6 <br>(64gGB)</h4>
                    </div>
                </div>
                <div class="card__footer" data-mh="js-peril-card-footer">
                    <div class="row">
                        <div class="col-xs-10 col-xs-offset-1">
                            <h4 class="h6 margin-0x">Your deductible:</h4>
                             <p class=""><span class="bold mega">$140.00</span>
                                <!-- <span class="micro"> + applicable taxes</span> -->
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <ul class="table-list js-features table-list--first">
                <li class="table-list__item">
                    <div class="table-list__dt">Weight</div>
                    <div class="table-list__dd">4.9oz</div>
                </li>
                <li class="table-list__item">
                    <div class="table-list__dt">Camera</div>
                    <div class="table-list__dd">14 megapixels</div>
                </li>
                <li class="table-list__item">
                    <div class="table-list__dt">Capacity</div>
                    <div class="table-list__dd">64 GB</div>
                </li>
                <li class="table-list__item">
                    <div class="table-list__dt">Battery Life</div>
                    <div class="table-list__dd">10 hours</div>
                </li>
                <li class="table-list__item">
                	<div class="table-list__dt">Wifi</div>
                	<div class="table-list__dd">Yes</div>
                </li>
            </ul>
        </div>
        <div class="col-sm-4">
            <h3 class="h4 loud text-center margin-bottom-0x">Available</h3>
            <p class="milli text-center">(Ships in 1-2 business days)</p>
            <div class="card card-button js-select-card" data-mh="js-select-card">
                <div class="card__content">
                    <div class="text-center">
                        <img class="card-phone-image" src="../../assets/img/iphone-5s.png" alt="" height="130">
                    </div>
                    <div class="text-center margin-top-1x">
                        <h4 class="h6 margin-0x">White Apple iPhone 5 <br>(32GB)</h4>
                    </div>
                </div>
                <div class="card__footer" data-mh="js-peril-card-footer">
                    <div class="row">
                        <div class="col-xs-10 col-xs-offset-1">
                            <h4 class="h6 margin-0x">Your deductible:</h4>
                            <p class=""><span class="bold mega">$160.00</span>
                                <!-- <span class="micro"> + applicable taxes</span> -->
                            </p>
                            <p class="loud micro margin-0x">Selecting this device will raise your premium.</p>
                        </div>
                    </div>
                </div>
            </div>
            <ul class="table-list js-features">
                <li class="table-list__item">
                    <div class="table-list__dt">Weight</div>
                    <div class="table-list__dd">4.8oz</div>
                </li>
                <li class="table-list__item">
                    <div class="table-list__dt">Camera</div>
                    <div class="table-list__dd">12 megapixels</div>
                </li>
                <li class="table-list__item">
                    <div class="table-list__dt">Capacity</div>
                    <div class="table-list__dd">32 GB</div>
                </li>
                <li class="table-list__item">
                    <div class="table-list__dt">Battery Life</div>
                    <div class="table-list__dd">8 hours</div>
                </li>
                <li class="table-list__item">
                	<div class="table-list__dt">Wifi</div>
                	<div class="table-list__dd">No</div>
                </li>
            </ul>
        </div>
        <div class="col-sm-4">
            <h3 class="h4 loud text-center margin-bottom-0x">Available</h3>
            <p class="milli text-center">(Ships in 1-2 business days)</p>
            <div class="card card-button js-select-card" data-mh="js-select-card">
                <div class="card__content">
                    <div class="text-center">
                        <img class="card-phone-image" src="../../assets/img/iphone-5s.png" alt="" height="130">
                    </div>
                    <div class="text-center margin-top-1x">
                        <h4 class="h6 margin-0x">White Apple iPhone 6 <br>(64GB)</h4>
                    </div>
                </div>
                <div class="card__footer" data-mh="js-peril-card-footer">
                    <div class="row">
                        <div class="col-xs-10 col-xs-offset-1">
                            <h4 class="h6 margin-0x">Your deductible:</h4>
                            <p class=""><span class="bold mega">$160.00</span>
                                <!-- <span class="micro"> + applicable taxes</span> -->
                            </p>
                            <p class="loud micro margin-0x">Selecting this device will raise your premium.</p>
                        </div>
                    </div>
                </div>
            </div>
            <ul class="table-list js-features">
                <li class="table-list__item">
                    <div class="table-list__dt">Weight</div>
                    <div class="table-list__dd">4.8oz</div>
                </li>
                <li class="table-list__item">
                    <div class="table-list__dt">Camera</div>
                    <div class="table-list__dd">12 megapixels</div>
                </li>
                <li class="table-list__item">
                    <div class="table-list__dt">Capacity</div>
                    <div class="table-list__dd">32 GB</div>
                </li>
                <li class="table-list__item">
                    <div class="table-list__dt">Battery Life</div>
                    <div class="table-list__dd">8 hours</div>
                </li>
                <li class="table-list__item">
                	<div class="table-list__dt">Wifi</div>
                	<div class="table-list__dd">No</div>
                </li>
            </ul>
        </div>
      </div>

    <div class="hr-toggler margin-top-2x margin-bottom-2x">
        <button class="hr-toggler__btn" data-hr-toggle=".js-features"><span class="js-hr-toggler__text-toggle">Compare</span> Features</button>
    </div>
</div>


{% endblock %}

{% block stepFooter %}
<div class="step__footer">
    <div class="container">
        <div class="btn-well">
            <button data-modal="#js-modal" id="js-next-button" class="btn btn-primary btn-disabled" disabled>{[btnText]}</button>
            <span class="btn-caption btn-caption--active"><span class="btn-caption__next">Next:</span> Confirm selected device.</span>
        </div>
    </div>
</div>

{% endblock %}

{% block pageFoot %}
<div class="modal" id="js-modal">
    <header class="modal__header">
        <h3 class="modal__title">Lorem ipsum dolor sit amet.</h3>
    </header>
    <div class="modal__content">
        <div class="row">
            <div class="col-sm-10 col-sm-offset-1 typography">
                <h5 class="loud">Lorem ipsum dolor sit amet, consectetur adipisicing elit. </h5>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Hic dolorem voluptas quam laboriosam suscipit molestias neque, ipsam id explicabo accusamus sunt aliquam, rem illo, aperiam unde voluptatum nemo obcaecati cumque.</p>
            </div>
        </div>
    </div>
    <footer class="modal__footer">
        <div class="row">
            <div class="col-sm-6 col-sm-offset-3">
                <div class="btn-stack">
                    <button class="btn btn-primary" data-modal-close >Accept</button>
                    <button class="btn btn-primary btn-blank" data-modal-close >Change selection</button>
                </div>
            </div>
        </div>
        
    </footer>
</div>
<script>
    $('.js-select-device').click(function(event) {
        $this = $(this);
        if( $this.hasClass('card-button--selected')){

        }
        else{
            $('.js-select-device').removeClass('card-button--selected');
            $this.addClass('card-button--selected')
            $('.card').removeClass('card--selected')
            $('.js-card-group').addClass('card--muted')
            $this.closest('.js-card-group').addClass('card--selected').removeClass('card--muted')
            $("#js-next-button").removeClass('btn-disabled').attr({
                disabled: false
            });
        }
        
    });
</script>
{%endblock%}