{% extends "_step-layout.html" %}

{% set stepTitle = 'Documentation Needed' %} 
{% set stepSubTitle = 'To continue the claim process, you will need to upload the following documents:' %}
{% set btnText = 'Next' %}
{% set nextStep = '0610.affadavit-download.html' %}

{% block stepHeader %}
<div class="step__header">
    <div class="container">
        <div class=" icon--tera text-center icon-Icon-page-checklist-circle margin-bottom-2x"></div>
        <h1 class="h2 step__header__title">{[stepTitle | safe]}</h1>
        <h2 class="h4 step__header__subtitle">{[stepSubTitle | safe]}</h1>
    </div>
</div>
{% endblock %}
{% block stepContent %}
	<div class="container--sm">
		<div class="card">
			<div class="card__content">
				
				<div class="row">
					<div class="col-sm-10 col-sm-offset-1">
						<ol class="list list--spaced">
						<li class="mega loud">A photo ID <span class="eg">(e.g. Drivers License, Passport)</span></li>
						<li class="mega loud">Affidavit with your personal information <span class="tooltip icon-Icon-page-help-circle" data-modal="#js-affidavit-modal"> </span><span class="eg">(Download on next screen)</span>
						</li>
						<li class="mega loud">If required, proof of ownership of your device <span class="eg">(e.g. Receipt, Service Agreement, UPC Code From Box)</span></li>
						</ol>
						
						
					</div>
				</div>
			</div>
		</div>
	</div>

{% endblock %}
{% block stepFooter %}
<div class="step__footer">
    <div class="container">
        <div class="btn-well">
            <a href="{[nextStep]}" class="btn btn-primary">{[btnText]}</a>
        </div>
    </div>
</div>
{% endblock %}

{% block pageFoot %}
<div class="modal" id="js-affidavit-modal">
	<div class="modal__close-btn icon-uniE601" data-modal-close=""></div>
	<header class="modal__header">
		<h3 class="modal__title">FAQ</h3>
	</header>
	<div class="modal__content">
		<div class="row">
		    <div class="col-sm-10 col-sm-offset-1 typography">
		    	<h5 class="loud">What if I don’t have a printer?</h5>
		    	<p>You can print your documents at a local business or library that offers Internet and printing services.</p>

		    	<h5 class="loud">I’ve filed claims in the past without documentation.</h5>
		    	<p>Identity security and fraud is big problem. To prevent unauthorized use of your benefits, we sometimes ask people who file claims to submit additional documentation.</p>

		    	<h5 class="loud">I need my device immediately and cannot wait.</h5>
		    	<p>In most cases, we can move forward with your claim within 3-5 hours after you submit your documentation.</p>
		    </div>
		</div>
	</div>
	<footer class="modal__footer">
		<div class="btn-well">
			<button class="btn btn-primary" data-modal-close >Close</button>
		</div>
	</footer>
</div>

{% endblock %}
