{% extends "_step-layout.html" %}

{% set stepTitle = 'Download affidavit' %} 
{% set stepSubTitle = 'Please download and print a blank affidavit and follow the instructions on the first page. You will be asked to upload the completed affidavit and other requisite documents on the next screen. <span class="tooltip icon-Icon-page-help-circle" data-modal="#js-affidavit-modal"> </span>' %}
{% set btnText = 'Download affidavit' %}
{% set nextStep = '0620.document-upload.html' %}

{% block stepHeader %}
<div class="step__header">
    <div class="container--lg">
        <div class=" icon--tera text-center icon-Icon-page-download-doc-circle margin-bottom-2x"></div>
        <h1 class="h2 step__header__title">{[stepTitle | safe]}</h1>
        <h2 class="h4 step__header__subtitle">{[stepSubTitle | safe]}</h1>
    </div>
</div>
{% endblock %}
{% block stepContent %}
	<!-- div class="container--sm">
		<div class="card">
			<div class="card__content">
				
				<div class="row">
					<div class="col-sm-10 col-sm-offset-1">
						<ul class="list">
							<h3 class="h4 loud">"Why do I need to complete an affidavit?"</span></h3>
							 <li>Written affidavits minimize incidences of fraudulent claims.</li>
							 <li>That means a safer, more secure claims experience for everyone.</li>
							 <li>If you are filing a legitimate claim, then you have nothing to worry about.</li>  
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div> -->

{% endblock %}
{% block stepFooter %}
<div class="step__footer">
    <div class="container">
    	<div class="row">
    		<div class="col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4">
    			<div class="btn-stack">
    				<a href="{[nextStep]}" class="btn btn-primary">{[btnText]}</a>
    				<a href="{[nextStep]}" class="btn btn-blank btn-primary">I'm ready to upload</a>		
    			</div>
    		</div>
    	</div>
    </div>
</div>
{% endblock %}

{% block pageFoot %}
<div class="modal" id="js-affidavit-modal">
	<div class="modal__close-btn icon-uniE601" data-modal-close=""></div>
	<header class="modal__header">
		<h3 class="modal__title">FAQ</h3>
	</header>
	<div class="modal__content">
		<div class="row">
		    <div class="col-sm-10 col-sm-offset-1 typography">
		    	<h5 class="loud">What if I don’t have a printer?</h5>
		    	<p>You can print your documents at a local business or library that offers Internet and printing services.</p>

		    	<h5 class="loud">I’ve filed claims in the past without documentation.</h5>
		    	<p>Identity security and fraud is big problem. To prevent unauthorized use of your benefits, we sometimes ask people who file claims to submit additional documentation.</p>

		    	<h5 class="loud">I need my device immediately and cannot wait.</h5>
		    	<p>In most cases, we can move forward with your claim within 3-5 hours after you submit your documentation.</p>
		    </div>
		</div>
	</div>
	<footer class="modal__footer">
		<div class="btn-well">
			<button class="btn btn-primary" data-modal-close >Close</button>
		</div>
	</footer>
</div>

{% endblock %}