{% extends "_step-layout.html" %}

{% set stepTitle = 'Upload documents' %} 
{% set stepSubTitle = 'Please scan, photograph, or photocopy the required documents and then upload them below.' %}
{% set btnText = 'Submit Documents' %}
{% set nextStep = '2.3.4.doc-hold-upload.html' %}

{% block stepHeader %}
<div class="step__header">
    <div class="container--lg">
        <div class=" icon--tera text-center icon-Icon-page-upload-doc-circle margin-bottom-2x"></div>
        <h1 class="h2 step__header__title">{[stepTitle | safe]}</h1>
        <h2 class="h4 step__header__subtitle">{[stepSubTitle | safe]}</h1>
    </div>
</div>
{% endblock %}
{% block stepContent %}
<div class="container">
    <div class="card">
        <div class="card__content padding-sm-3x">
            <p class="uploader__header">
                Accepted file formats include <span class="bold">GIF</span>, <span class="bold">JPG</span>, <span class="bold">PNG</span>, <span class="bold">TIF</span> or <span class="bold">PDF</span> file(s). <span class="no-wrap--desktop">Maximum size limit per file is <span class="bold">10MB</span>.</span>
            </p>
            <hr>
                <div class="upload-card">
                    <div class="upload-card__header" data-mh="js-upload-header">
                        <h3 class="upload-card__title">Photo ID</h3>
                    </div>
                    <div class="upload-card__content">
                        <div class="upload-dropzone" data-mh="js-upload-card">
                            <div class="upload-dropzone__content">
                                <div class="icon--muted icon--mega text-center icon-uniE60B margin-bottom-1x"></div>
                                <p class="upload-dropzone__text">Drag your <br>photo ID here</p>
                            </div>
                        </div>
                    </div>
                    <div class="upload-card__footer" data-mh="js-upload-footer">
                        <div class="btn-block">
                            <button class="upload-card__button upload-card__button--upload">Upload file</button>
                            <button class="upload-card__button upload-card__button--photo">Take Photo</button>
                        </div>
                        <p class="upload-card__eg">e.g. Drivers License, <br class="br-desktop">Passport, Military ID</p>
                    </div>
                </div>
            
                <div class="upload-card">
                    <div class="upload-card__header" data-mh="js-upload-header">
                        <h3 class="upload-card__title">Affidavit</h3>
                    </div>
                    <div class="upload-card__content">
                        <div class="upload-dropzone" data-mh="js-upload-card">
                            <div class="upload-dropzone__content">
                                <div class="icon--muted icon--mega text-center icon-uniE60B margin-bottom-1x"></div>
                                <p class="upload-dropzone__text">Drag your <br>affidavit here</p>
                            </div>
                        </div>
                    </div>
                    <div class="upload-card__footer" data-mh="js-upload-footer">
                        <div class="btn-block">
                            <button class="upload-card__button upload-card__button--upload">Upload file</button>
                            <button class="upload-card__button upload-card__button--photo">Take Photo</button>
                        </div>
                        <a href="" class="upload-card__eg clean-link"><span class="icon--inline icon-uniE60B"></span>Download Affidavit
                            </a>
                    </div>
                </div>
            
                <div class="upload-card">
                    <div class="upload-card__header" data-mh="js-upload-header">
                        <h3 class="upload-card__title">Proof of ownership</h3>
                    </div>
                    <div class="upload-card__content">
                        <div class="upload-dropzone" data-mh="js-upload-card">
                            <div class="upload-dropzone__content">
                                <div class="icon--muted icon--mega text-center icon-uniE60B margin-bottom-1x"></div>
                                <p class="upload-dropzone__text">Drag your <br>proof or ownership here</p>
                            </div>
                        </div>
                    </div>
                    <div class="upload-card__footer" data-mh="js-upload-footer">
                        <div class="btn-block">
                            <button class="upload-card__button upload-card__button--upload">Upload file</button>
                            <button class="upload-card__button upload-card__button--photo">Take Photo</button>
                        </div>
                        <p class="upload-card__eg">e.g. receipt, UPC code from box, service agreement</p>
                    </div>
                </div>
            
                <div class="upload-card">
                    <div class="upload-card__header" data-mh="js-upload-header">
                        <h3 class="upload-card__title">Other / misc.</h3>
                    </div>
                    <div class="upload-card__content">
                        <div class="upload-dropzone" data-mh="js-upload-card">
                            <div class="upload-dropzone__content">
                                <div class="icon--muted icon--mega text-center icon-uniE60B margin-bottom-1x"></div>
                                <p class="upload-dropzone__text">Drag your <br>additional files here.</p>
                            </div>
                        </div>
                    </div>
                    <div class="upload-card__footer" data-mh="js-upload-footer">
                        <div class="btn-block">
                            <button class="upload-card__button upload-card__button--upload">Upload file</button>
                            <button class="upload-card__button upload-card__button--photo">Take Photo</button>
                        </div>
                        <p class="upload-card__eg">e.g. police report, insurance document, etc.</p>
                    </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
{% block stepFooter %}
<div class="step__footer">
    <div class="container">
        <div class="btn-well">
            <a href="{[nextStep]}" class="btn btn-primary">{[btnText]}</a>
        </div>
    </div>
</div>
{% endblock %}
