{% extends "_step-layout.html" %} 
{% set stepTitle = 'Shipping Details' %} 
{% set stepSubTitle = 'Double-check your shipping address and select your shipping options.' %} 
{% set btnText = 'Next' %} 
{% set nextStep = '4.1.payment.html' %} 
{% set stepTitle = 'We can only ship to the address we have on record.' %} 
{% set stepSubTitle = 'Would you like us to proceed with shipping to this address?' %} 
{% block stepContent %}
<div class="container--sm">
    <div class="card">
        <div class="card__content">
            <div class="row">
                <div class="col-sm-10 col-sm-offset-1">
                    <h3 class="h4 loud">Shipping Address</span></h3>
                    <p class="margin-reset--bottom">Kim Jones</p>
                    <p>123 Park Street, Apt. 1 <br> Springfield, TN 01234
                        </p>
                    <a href="3.2.shippingAddressEdit.html" class="edit-link">Edit</a>
                    <hr class="hr">
                    <h3 class="h4 loud">Shipping Method</span></h3>
                    <div class="row margin-2x--bottom">
                        <div class="col-sm-8">
                            <div class="form-group">
                                <select class="form-control" id="deviceManufacturer" ng-model="formData.shipping.method" ng-change="setDeliveryDate()">
                                    <option value="Next Day">Next Day</option>
                                    <option value="Second Day">Second Day</option>
                                    <option value="Saturday Delivery">Saturday Delivery</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <h3 class="h4 loud">Require Signature?</span></h3>
                            <div class="form-group">
                                <div class="radio">
                                    <input type="radio" name="shippingSignatureRequired" id="shippingSignatureRequiredYes" value="yes" ng-model="formData.shipping.signatureReguired">
                                    <label for="shippingSignatureRequiredYes">Yes, require a signature.</label>
                                </div>
                                <div class="radio">
                                    <input type="radio" name="shippingSignatureRequired" id="shippingSignatureRequiredNo" value="no" ng-model="formData.shipping.signatureReguired">
                                    <label for="shippingSignatureRequiredNo">No, it's okay to leave it at the front door.</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card__footer">
            <div class="row">
                <div class="col-sm-10 col-sm-offset-1">
                    <dl class="d-list">
                        <dt>Expected Delivery:</dt>
                        <dd>April 2, 2016</dd>
                    </dl>
                    <dl class="d-list">
                        <dt>Shipping:</dt>
                        <dd class="text-highlight-color loud">Free shipping!</dd>
                    </dl>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}