{% extends "_step-layout.html" %} {% set stepTitle = 'Good consectetur!' %} {% set stepSubTitle = 'Lorem ipsum dolor sit amet consectetur.' %} {% set btnText = 'Continue' %} {% set nextStep = '1.3.account.html' %} {% block stepContent %}
<div class="container--sm">
    <div class="card">
        <div class="card__content padding-sm-2x">
            <div class="zipcode-search">
                <div class="form-group">
                    <label class="h5 loud zipcode-search__label" for="deviceWirelessNumber">Current ZIP code location:</label>
                    <input type="text" class="form-control zipcode-search__input" placeholder="" value="34111">
                    <button class="btn btn-md btn-primary zipcode-search__btn">Update ZIP</button>
                </div>
            </div>
            <div class="store-listing">
                <div class="store-listing__item">
                    <div class="store-listing__col store-listing__col1">
                        <div class="radio">
                            <input class="card-radio" type="radio" name="store" id="store1" value="store1">
                            <label class="store-listing__store-info" for="store1">
                                <h6 class="store-listing__store-name">Sprint Store</h6>
                                <span class="store-listing__store-address">10600 Tamiami Trl<br>
                            Naples, FL  34108 <br>
                            239-597-7337
                        </label>
                    </div>
                </div>
                <div class="store-listing__col store-listing__col2">
                    <span class="store-listing__distance">3 miles from you<span class="icon-Icon-marker store-listing__distance__icon"></span></span>
                                <div class="store-listing__hours">
                                    <a href="" class="store-listing__hours__intro js-hours-expander-trigger">Store Hours<span class="icon-Icon-carrot-down store-listing__hours__icon"></span></a>
                                    <ul class="store-listing__hours__expanded js-hours-expander-target hours-expander-target">
                                        <li class="store-listing__hours__expanded__item">
                                            <span class="store-listing__hours__expanded__day">Sunday</span>
                                            <span class="store-listing__hours__expanded__hours">10AM - 7PM</span>
                                        </li>
                                        <li class="store-listing__hours__expanded__item">
                                            <span class="store-listing__hours__expanded__day">Monday</span>
                                            <span class="store-listing__hours__expanded__hours">CLOSED</span>
                                        </li>
                                        <li class="store-listing__hours__expanded__item">
                                            <span class="store-listing__hours__expanded__day">Tuesday</span>
                                            <span class="store-listing__hours__expanded__hours">10AM - 7PM</span>
                                        </li>
                                        <li class="store-listing__hours__expanded__item">
                                            <span class="store-listing__hours__expanded__day">Wednesday</span>
                                            <span class="store-listing__hours__expanded__hours">10AM - 7PM</span>
                                        </li>
                                        <li class="store-listing__hours__expanded__item">
                                            <span class="store-listing__hours__expanded__day">Thursday</span>
                                            <span class="store-listing__hours__expanded__hours">10AM - 7PM</span>
                                        </li>
                                        <li class="store-listing__hours__expanded__item">
                                            <span class="store-listing__hours__expanded__day">Friday</span>
                                            <span class="store-listing__hours__expanded__hours">10AM - 7PM</span>
                                        </li>
                                        <li class="store-listing__hours__expanded__item">
                                            <span class="store-listing__hours__expanded__day">Saturday</span>
                                            <span class="store-listing__hours__expanded__hours">10AM - 7PM</span>
                                        </li>
                                    </ul>
                                </div>
                        </div>
                    </div>
                    <div class="store-listing__item">
                        <div class="store-listing__col store-listing__col1">
                            <div class="radio">
                                <input class="card-radio" type="radio" name="store" id="store2" value="store2">
                                <label class="store-listing__store-info" for="store2">
                                    <h6 class="store-listing__store-name">Sprint Store</h6>
                                    <span class="store-listing__store-address">10600 Tamiami Trl<br>
                            Naples, FL  34108 <br>
                            239-597-7337
                        </label>
                    </div>
                </div>
                <div class="store-listing__col store-listing__col2">
                    <span class="store-listing__distance">3 miles from you<span class="icon-Icon-marker store-listing__distance__icon"></span></span>
                                    <div class="store-listing__hours">
                                        <a href="" class="store-listing__hours__intro js-hours-expander-trigger">Store Hours<span class="icon-Icon-carrot-down store-listing__hours__icon"></span></a>
                                        <ul class="store-listing__hours__expanded js-hours-expander-target hours-expander-target">
                                            <li class="store-listing__hours__expanded__item">
                                                <span class="store-listing__hours__expanded__day">Sunday</span>
                                                <span class="store-listing__hours__expanded__hours">10AM - 7PM</span>
                                            </li>
                                            <li class="store-listing__hours__expanded__item">
                                                <span class="store-listing__hours__expanded__day">Monday</span>
                                                <span class="store-listing__hours__expanded__hours">CLOSED</span>
                                            </li>
                                            <li class="store-listing__hours__expanded__item">
                                                <span class="store-listing__hours__expanded__day">Tuesday</span>
                                                <span class="store-listing__hours__expanded__hours">10AM - 7PM</span>
                                            </li>
                                            <li class="store-listing__hours__expanded__item">
                                                <span class="store-listing__hours__expanded__day">Wednesday</span>
                                                <span class="store-listing__hours__expanded__hours">10AM - 7PM</span>
                                            </li>
                                            <li class="store-listing__hours__expanded__item">
                                                <span class="store-listing__hours__expanded__day">Thursday</span>
                                                <span class="store-listing__hours__expanded__hours">10AM - 7PM</span>
                                            </li>
                                            <li class="store-listing__hours__expanded__item">
                                                <span class="store-listing__hours__expanded__day">Friday</span>
                                                <span class="store-listing__hours__expanded__hours">10AM - 7PM</span>
                                            </li>
                                            <li class="store-listing__hours__expanded__item">
                                                <span class="store-listing__hours__expanded__day">Saturday</span>
                                                <span class="store-listing__hours__expanded__hours">10AM - 7PM</span>
                                            </li>
                                        </ul>
                                    </div>
                            </div>
                        </div>
                        <div class="store-listing__item">
                            <div class="store-listing__col store-listing__col1">
                                <div class="radio">
                                    <input class="card-radio" type="radio" name="store" id="store3" value="store3">
                                    <label class="store-listing__store-info" for="store3">
                                        <h6 class="store-listing__store-name">Sprint Store</h6>
                                        <span class="store-listing__store-address">10600 Tamiami Trl<br>
                            Naples, FL  34108 <br>
                            239-597-7337
                        </label>
                    </div>
                </div>
                <div class="store-listing__col store-listing__col2">
                    <span class="store-listing__distance">3 miles from you<span class="icon-Icon-marker store-listing__distance__icon"></span></span>
                                        <div class="store-listing__hours">
                                            <a href="" class="store-listing__hours__intro js-hours-expander-trigger">Store Hours <span class="icon-Icon-carrot-down store-listing__hours__icon"></span></a>
                                            <ul class="store-listing__hours__expanded js-hours-expander-target hours-expander-target">
                                                <li class="store-listing__hours__expanded__item">
                                                    <span class="store-listing__hours__expanded__day">Sunday</span>
                                                    <span class="store-listing__hours__expanded__hours">10AM - 7PM</span>
                                                </li>
                                                <li class="store-listing__hours__expanded__item">
                                                    <span class="store-listing__hours__expanded__day">Monday</span>
                                                    <span class="store-listing__hours__expanded__hours">CLOSED</span>
                                                </li>
                                                <li class="store-listing__hours__expanded__item">
                                                    <span class="store-listing__hours__expanded__day">Tuesday</span>
                                                    <span class="store-listing__hours__expanded__hours">10AM - 7PM</span>
                                                </li>
                                                <li class="store-listing__hours__expanded__item">
                                                    <span class="store-listing__hours__expanded__day">Wednesday</span>
                                                    <span class="store-listing__hours__expanded__hours">10AM - 7PM</span>
                                                </li>
                                                <li class="store-listing__hours__expanded__item">
                                                    <span class="store-listing__hours__expanded__day">Thursday</span>
                                                    <span class="store-listing__hours__expanded__hours">10AM - 7PM</span>
                                                </li>
                                                <li class="store-listing__hours__expanded__item">
                                                    <span class="store-listing__hours__expanded__day">Friday</span>
                                                    <span class="store-listing__hours__expanded__hours">10AM - 7PM</span>
                                                </li>
                                                <li class="store-listing__hours__expanded__item">
                                                    <span class="store-listing__hours__expanded__day">Saturday</span>
                                                    <span class="store-listing__hours__expanded__hours">10AM - 7PM</span>
                                                </li>
                                            </ul>
                                        </div>
                                </div>
                            </div>
                            <div class="js-more-stores-target-A1">
                                <div class="store-listing__item">
                                    <div class="store-listing__col store-listing__col1">
                                        <div class="radio">
                                            <input class="card-radio" type="radio" name="store" id="store4" value="store4">
                                            <label class="store-listing__store-info" for="store4">
                                                <h6 class="store-listing__store-name">Sprint Store</h6>
                                                <span class="store-listing__store-address">10600 Tamiami Trl<br>
                            Naples, FL  34108 <br>
                            239-597-7337
                            </label>
                        </div>
                    </div>
                    <div class="store-listing__col store-listing__col2">
                        <span class="store-listing__distance">3 miles from you<span class="icon-Icon-marker store-listing__distance__icon"></span></span>
                                                <div class="store-listing__hours">
                                                    <a href="" class="store-listing__hours__intro js-hours-expander-trigger">Store Hours<span class="icon-Icon-carrot-down store-listing__hours__icon"></span></a>
                                                    <ul class="store-listing__hours__expanded js-hours-expander-target hours-expander-target">
                                                        <li class="store-listing__hours__expanded__item">
                                                            <span class="store-listing__hours__expanded__day">Sunday</span>
                                                            <span class="store-listing__hours__expanded__hours">10AM - 7PM</span>
                                                        </li>
                                                        <li class="store-listing__hours__expanded__item">
                                                            <span class="store-listing__hours__expanded__day">Monday</span>
                                                            <span class="store-listing__hours__expanded__hours">CLOSED</span>
                                                        </li>
                                                        <li class="store-listing__hours__expanded__item">
                                                            <span class="store-listing__hours__expanded__day">Tuesday</span>
                                                            <span class="store-listing__hours__expanded__hours">10AM - 7PM</span>
                                                        </li>
                                                        <li class="store-listing__hours__expanded__item">
                                                            <span class="store-listing__hours__expanded__day">Wednesday</span>
                                                            <span class="store-listing__hours__expanded__hours">10AM - 7PM</span>
                                                        </li>
                                                        <li class="store-listing__hours__expanded__item">
                                                            <span class="store-listing__hours__expanded__day">Thursday</span>
                                                            <span class="store-listing__hours__expanded__hours">10AM - 7PM</span>
                                                        </li>
                                                        <li class="store-listing__hours__expanded__item">
                                                            <span class="store-listing__hours__expanded__day">Friday</span>
                                                            <span class="store-listing__hours__expanded__hours">10AM - 7PM</span>
                                                        </li>
                                                        <li class="store-listing__hours__expanded__item">
                                                            <span class="store-listing__hours__expanded__day">Saturday</span>
                                                            <span class="store-listing__hours__expanded__hours">10AM - 7PM</span>
                                                        </li>
                                                    </ul>
                                                </div>
                                        </div>
                                    </div>
                                    <div class="store-listing__item">
                                        <div class="store-listing__col store-listing__col1">
                                            <div class="radio">
                                                <input class="card-radio" type="radio" name="store" id="store5" value="store5">
                                                <label class="store-listing__store-info" for="store5">
                                                    <h6 class="store-listing__store-name">Sprint Store</h6>
                                                    <span class="store-listing__store-address">10600 Tamiami Trl<br>
                            Naples, FL  34108 <br>
                            239-597-7337
                            </label>
                        </div>
                    </div>
                    <div class="store-listing__col store-listing__col2">
                        <span class="store-listing__distance">3 miles from you<span class="icon-Icon-marker store-listing__distance__icon"></span></span>
                                                    <div class="store-listing__hours">
                                                        <a href="" class="store-listing__hours__intro js-hours-expander-trigger">Store Hours<span class="icon-Icon-carrot-down store-listing__hours__icon"></span></a>
                                                        <ul class="store-listing__hours__expanded js-hours-expander-target hours-expander-target">
                                                            <li class="store-listing__hours__expanded__item">
                                                                <span class="store-listing__hours__expanded__day">Sunday</span>
                                                                <span class="store-listing__hours__expanded__hours">10AM - 7PM</span>
                                                            </li>
                                                            <li class="store-listing__hours__expanded__item">
                                                                <span class="store-listing__hours__expanded__day">Monday</span>
                                                                <span class="store-listing__hours__expanded__hours">CLOSED</span>
                                                            </li>
                                                            <li class="store-listing__hours__expanded__item">
                                                                <span class="store-listing__hours__expanded__day">Tuesday</span>
                                                                <span class="store-listing__hours__expanded__hours">10AM - 7PM</span>
                                                            </li>
                                                            <li class="store-listing__hours__expanded__item">
                                                                <span class="store-listing__hours__expanded__day">Wednesday</span>
                                                                <span class="store-listing__hours__expanded__hours">10AM - 7PM</span>
                                                            </li>
                                                            <li class="store-listing__hours__expanded__item">
                                                                <span class="store-listing__hours__expanded__day">Thursday</span>
                                                                <span class="store-listing__hours__expanded__hours">10AM - 7PM</span>
                                                            </li>
                                                            <li class="store-listing__hours__expanded__item">
                                                                <span class="store-listing__hours__expanded__day">Friday</span>
                                                                <span class="store-listing__hours__expanded__hours">10AM - 7PM</span>
                                                            </li>
                                                            <li class="store-listing__hours__expanded__item">
                                                                <span class="store-listing__hours__expanded__day">Saturday</span>
                                                                <span class="store-listing__hours__expanded__hours">10AM - 7PM</span>
                                                            </li>
                                                        </ul>
                                                    </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- end more stores -->
                                </div>
                            </div>
                            <div class="card__footer padding-left-right-sm-0x">
                                <div class="js-show-more padding-left-right-sm-3x loud">
                                    <a href="">Show more locations</a>
                                </div>
                                <div class="js-pagination-A">
                                    <div class="adg-pagination padding-left-right-sm-2x">
                                        <div class="adg-pagination__fewer js-show-fewer"><a href="">Show fewer locations</a></div>
                                        <ul class="adg-pagination__nav">
                                        </ul>
                                        <div class="adg-pagination__more js-next-five"><a href="">Next 5 Locations</a><span class="icon-Icon-carrot-right adg-pagination__icon adg-pagination__next__icon"></span></div>
                                    </div>
                                </div>
                                <div class="js-pagination">
                                    <div class="adg-pagination padding-left-right-sm-2x">
                                        <div class="adg-pagination__prev js-pagination__prev"><span class="icon-Icon-carrot-left adg-pagination__prev__icon adg-pagination__icon"></span><a href="">Prev 5 Locations</a></div>
                                        <ul class="adg-pagination__nav js-adg-pagination__nav">
                                            <li class="adg-pagination__nav__item">1</li>
                                            <li class="adg-pagination__nav__item adg-pagination__nav__item--current">2</li>
                                        </ul>
                                        <div class="adg-pagination__next js-pagination__next"><a href="">Next 5 Locations</a><span class="icon-Icon-carrot-right adg-pagination__icon adg-pagination__next__icon"></span></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endblock %} {% block stepFooter %}
                    <div class="step__footer">
                        <div class="container">
                            <div class="btn-well">
                                <a href="{[nextStep]}" class="btn btn-primary btn-disabled" id="js-next-button" disabled>{[btnText]}</a>
                                <!-- <span class="btn-caption"><span class="btn-caption__next">Next: </span>Tell us what happened.</span> -->
                            </div>
                        </div>
                    </div>
                    {% endblock %} {% block pageFoot %}
                    <script>
                    $(document).ready(function() {
                        $('.js-hours-expander-trigger').click(function(event) {
                            event.preventDefault();
                            var trigger = $(this),
                                target = trigger.next('.js-hours-expander-target');
                            if (trigger.hasClass('hours-expander-trigger--active')) {
                                trigger.removeClass('hours-expander-trigger--active');
                                target.removeClass('hours-expander-target--active')
                            } else {
                                trigger.addClass('hours-expander-trigger--active');
                                target.addClass('hours-expander-target--active')
                            }
                        });
                        $('[name=store]').change(function(event) {
                            $('#js-next-button').attr({
                                disabled: 'false'
                            }).removeClass('btn-disabled');

                        });
                        $('.js-more-stores-target-A1, .js-show-fewer, .js-pagination, .js-next-five').hide();

                        $('.js-show-more').click(function(event) {
                            event.preventDefault();
                            if ($(window).width() > 768) {
                                $('.js-more-stores-target-A1, .js-show-fewer, .js-next-five, .js-pagination-A').show();
                                $(this).hide();
                            } else {
                                $('.js-show-more').click(function(event) {
                                    event.preventDefault();
                                    $('.js-more-stores-target-A1').show();
                                });
                            }
                        });

                        $('.js-show-fewer').click(function(event) {
                            event.preventDefault()
                            $('.js-show-more').show();
                            $('.js-more-stores-target-A1, .js-pagination-A').hide();

                        });

                        $('.js-next-five').click(function(event) {
                            event.preventDefault()
                            $('.js-pagination').show();
                            $('.js-show-fewer, .js-show-more, .js-next-five').hide();
                        });


                        $('.js-pagination__next').click(function(event) {
                            event.preventDefault();
                            var oldVal = parseInt( $('.adg-pagination__nav__item--current').text() ),
                                newVal = oldVal+1;
                                currentStep = $('.adg-pagination__nav__item--current');

                            currentStep.removeClass('adg-pagination__nav__item--current');

                            if ( currentStep.next('li').length !== 0){
                                currentStep.next('li').addClass('adg-pagination__nav__item--current')
                            }
                            else{
                                if (newVal <= 5){
                                    $('.js-adg-pagination__nav').append('<li class="adg-pagination__nav__item adg-pagination__nav__item--current">'+newVal+'</li>')
                                }
                                else{
                                    currentStep.addClass('adg-pagination__nav__item--current')
                                }
                            }

                        });

                        $('.js-pagination__prev').click(function(event) {
                            event.preventDefault();
                            currentStep = $('.adg-pagination__nav__item--current');
                            
                            if ( currentStep.prev('li').length !== 0){
                                currentStep.removeClass('adg-pagination__nav__item--current');
                                currentStep.prev('li').addClass('adg-pagination__nav__item--current')
                            }
                            
                        });
                        $(document).on('click', '.adg-pagination__nav__item', function(event) {
                            event.preventDefault();
                            $('.adg-pagination__nav__item--current').removeClass('adg-pagination__nav__item--current');
                            $(this).addClass('adg-pagination__nav__item--current')
                        }); 
                    });
                    </script>
                    {%endblock%}
