{% extends "_step-layout.html" %}

{% set stepTitle = 'Verify your identity.' %} 
{% set stepSubTitle = 'Your security and protecting your account against fraudulent use is important to us. Please provide your date of birth and the last 4 digits of your SSN. You will also need to answer some questions in order to verify your identity.' %}
{% set btnText = 'Next' %}
{% set nextStep = '2.2.2.asurionID.html' %}

{% block stepHeader %}
<div class="step__header">
    <div class="container">
        <div class=" icon--tera text-center icon-Icon-page-checklist-circle margin-bottom-2x"></div>
        <h1 class="h2 step__header__title">{[stepTitle | safe]}</h1>
        <h2 class="h4 step__header__subtitle">{[stepSubTitle | safe]}</h1>
    </div>
</div>
{% endblock %}
{% block stepContent %}
	<div class="container--sm">
		<div class="card padding-left-right-sm-2x">
			<div class="card__content">
<!-- 				<h3 class="h4 loud">Identity Verification
				</h3>
				<hr>
 -->				<div class="row gutter--sm">
					<div class="col-xs-6">
						<div class="form-group">
						    <label for="dob">Date of Birth</label>
						    <div class="custom-dropdown">
						        <select name="DOBmonth" id="DOBmonth" placeholder="Month" class="form-control">
						            <option>Month</option>
					            	<option value="January">January</option>
					            	<option value="Febuary">Febuary</option>
					            	<option value="March">March</option>
					            	<option value="April">April</option>
					            	<option value="May">May</option>
					            	<option value="June">June</option>
					            	<option value="July">July</option>
					            	<option value="August">August</option>
					            	<option value="September">September</option>
					            	<option value="October">October</option>
					            	<option value="November">November</option>
					            	<option value="December">December</option>
						        </select>
						    </div>
						</div>
					</div>
					<div class="col-xs-3">
						<div class="form-group">
						    <label for=""></label>
						    <div class="custom-dropdown">
						        <select name="DOBday" id="DOBday" placeholder="Day" class="form-control">
						            <option>Day</option>
						            	<option value="1">1</option>
						            	<option value="2">2</option>
						            	<option value="3">3</option>
						            	<option value="4">4</option>
						            	<option value="5">5</option>
						            	<option value="6">6</option>
						            	<option value="7">7</option>
						            	<option value="8">8</option>
						            	<option value="9">9</option>
						            	<option value="10">10</option>
						            	<option value="11">11</option>
						            	<option value="12">12</option>
						            	<option value="13">13</option>
						            	<option value="14">14</option>
						            	<option value="15">15</option>
						            	<option value="16">16</option>
						            	<option value="17">17</option>
						            	<option value="18">18</option>
						            	<option value="19">19</option>
						            	<option value="20">20</option>
						            	<option value="21">21</option>
						            	<option value="22">22</option>
						            	<option value="23">23</option>
						            	<option value="24">24</option>
						            	<option value="25">25</option>
						            	<option value="26">26</option>
						            	<option value="27">27</option>
						            	<option value="28">28</option>
						            	<option value="29">29</option>
						            	<option value="30">30</option>
						            	<option value="31">31</option>
						        </select>
						    </div>
						</div>
					</div>
					<div class="col-xs-3">
						<div class="form-group">
						    <label for=""></label>
						    <div class="custom-dropdown">
						        <select name="DOByear" id="DOByear" placeholder="Year" class="form-control">
						            <option>Year</option>
						            	<option value="1993">1993</option>
						            	<option value="1992">1992</option>
						            	<option value="1991">1991</option>
						            	<option value="1990">1990</option>
						            	<option value="1989">1989</option>
						            	<option value="1988">1988</option>
						            	<option value="1987">1987</option>
						            	<option value="1986">1986</option>
						            	<option value="1985">1985</option>
						            	<option value="1984">1984</option>
						            	<option value="1983">1983</option>
						            	<option value="1982">1982</option>
						            	<option value="1981">1981</option>
						            	<option value="1980">1980</option>
						            	<option value="1979">1979</option>
						            	<option value="1978">1978</option>
						            	<option value="1977">1977</option>
						            	<option value="1976">1976</option>
						            	<option value="1975">1975</option>
						            	<option value="1974">1974</option>
						            	<option value="1973">1973</option>
						            	<option value="1972">1972</option>
						            	<option value="1971">1971</option>
						            	<option value="1970">1970</option>
						            	<option value="1969">1969</option>
						            	<option value="1968">1968</option>
						            	<option value="1967">1967</option>
						            	<option value="1966">1966</option>
						            	<option value="1965">1965</option>
						            	<option value="1964">1964</option>
						            	<option value="1963">1963</option>
						            	<option value="1962">1962</option>
						            	<option value="1961">1961</option>
						            	<option value="1960">1960</option>
						            	<option value="1959">1959</option>
						            	<option value="1958">1958</option>
						            	<option value="1957">1957</option>
						            	<option value="1956">1956</option>
						            	<option value="1955">1955</option>
						            	<option value="1954">1954</option>
						            	<option value="1953">1953</option>
						            	<option value="1952">1952</option>
						            	<option value="1951">1951</option>
						            	<option value="1950">1950</option>
						            	<option value="1949">1949</option>
						            	<option value="1948">1948</option>
						            	<option value="1947">1947</option>
						        </select>
						    </div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-sm-5">
						<div class="form-group">
							<div class="form-group">
								<label for="ssn">SSN Last 4 digits</label>
							    <input type="text" class="form-control" id="ssn" placeholder="SSN Last 4 digits" >
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

{% endblock %}
{% block stepFooter %}
<div class="step__footer">
    <div class="container">
        <div class="btn-well">
            <a href="{[nextStep]}" class="btn btn-primary">{[btnText]}</a>
        </div>
    </div>
</div>
{% endblock %}

{% block pageFoot %}


{% endblock %}
