{% extends "_step-layout.html" %}

{% set stepTitle = 'Verify your identity.' %} 
{% set stepSubTitle = 'Your security and protecting your account against fraudulent use is important to us. Please verify your age. You will also need to answer some questions in order to verify your identity.' %}
{% set btnText = 'Next' %}
{% set nextStep = '2.2.2.asurionID.html' %}

{% block stepHeader %}
<div class="step__header">
    <div class="container">
        <div class=" icon--tera text-center icon-Icon-page-checklist-circle margin-bottom-2x"></div>
        <h1 class="h2 step__header__title">{[stepTitle | safe]}</h1>
        <h2 class="h4 step__header__subtitle">{[stepSubTitle | safe]}</h1>
    </div>
</div>
{% endblock %}
{% block stepContent %}
<div class="container--sm">
    <div class="card">
        <div class="card__content padding-left-right-4x">
            <div class="card-radio-group js-card-radio-group">
                <div class="radio">
                    <h3 class="h4 loud margin-top-1x">
                    <input class="card-radio" type="radio" name="ageVerification" id="older" value="older">
                    <label for="older">I am 18 years of age or older.</label></h3>
                    <!-- <p>If you are 18 years or older, you may continue the claim process.</p> -->
                </div>
            </div>
            <hr>
            <div class="card-radio-group js-card-radio-group">
                <div class="radio">
                    <h3 class="h4 loud margin-top-1x">
                    <input class="card-radio" type="radio" name="ageVerification" id="younger" value="younger" >
                    <label for="younger">I am younger than 18 years of age.</label>
                    <span class="tooltip icon-Icon-page-help-circle" data-tooltip-content="#tooltip_content"></span>
                    <div class="tooltip_templates">
                        <span id="tooltip_content">
                            If you are younger than 18 years of age, then you will not be able to continue filing your claim online.
                        </span>
                    </div></h3>

                    <!-- <p>If you younger than 18 years of age, you will exit the claim flow.</p> -->
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
{% block stepFooter %}
<div class="step__footer">
    <div class="container">
        <div class="btn-well">
            <a href="{[nextStep]}" class="btn btn-primary btn-disabled js-next-btn" disabled>{[btnText]}</a>
        </div>
    </div>
</div>
{% endblock %}

{% block pageFoot %}
<script>
$(document).ready(function() {
	$('[name=ageVerification').change(function(event) {
        $('.js-next-btn').attr({
            disabled: false
        }).removeClass('btn-disabled');
    });
});
	
</script>

{% endblock %}
