{% extends "_step-layout.html" %}

{% set stepTitle = 'Verify your identity.' %} 
{% set stepSubTitle = ' Your security and protecting your account against fraudulent use is important to us. Please answer the following questions. ' %}
{% set btnText = 'Next' %}
{% set nextStep = '2.1.1.approved_exact_replacement.html' %}

{% block stepHeader %}
<div class="step__header">
    <div class="container">
        <div class=" icon--tera text-center icon-Icon-page-checklist-circle margin-bottom-2x"></div>
        <h1 class="h2 step__header__title">{[stepTitle | safe]}</h1>
        <h2 class="h4 step__header__subtitle">{[stepSubTitle | safe]}</h1>
    </div>
</div>
{% endblock %}
{% block stepContent %}
	<div class="container--sm">
		<div class="card">
			<div class="card__content padding-left-right-sm-4x">
				
				<h3 class="h4 loud">Which of these streets did you live on in 1985?
				</h3>
				<hr>
				<div class="radio">
					<input type="radio" name="problemReplacementIssue" id="problemReplacementIssue1" value="damaged" >
					<label for="problemReplacementIssue1">Elmwood Street</label>
				</div>
				<div class="radio">
					<input type="radio" name="problemReplacementIssue" id="problemReplacementIssue2" value="empty_box" >
					<label for="problemReplacementIssue2">Lombardy Street</label>
				</div>
				<div class="radio">
					<input type="radio" name="problemReplacementIssue" id="problemReplacementIssue3" value="not_satisfied" >
					<label for="problemReplacementIssue3">Forrest Hill Ave</label>
				</div>
					
			</div>
			<div class="card__footer padding-left-right-sm-4x">
				<p class="micro margin-0x">This multiple choice question was taken from public records and not from your account.</p>
			</div>
		</div>
	</div>

{% endblock %}
{% block stepFooter %}
<div class="step__footer">
    <div class="container">
        <div class="row">
        	<div class="col-sm-4 col-sm-offset-4">
        		<div class="btn-stack">
        			<a href="" class="btn btn-primary">Next</a>
        			
        		</div>
        	</div>
        </div>
    </div>
</div>
{% endblock %}

{% block pageFoot %}
<div class="modal" id="js-affidavit-modal">
	<div class="modal__close-btn icon-uniE601" data-modal-close=""></div>
	<header class="modal__header">
		<h3 class="modal__title">FAQ</h3>
	</header>
	<div class="modal__content">
		<div class="row">
		    <div class="col-sm-10 col-sm-offset-1 typography">
		    	<h5 class="loud">What if I don’t have a printer?</h5>
		    	<p>You can print your documents at a local business or library that offers Internet and printing services.</p>

		    	<h5 class="loud">I’ve filed claims in the past without documentation.</h5>
		    	<p>Identity security and fraud is big problem. To prevent unauthorized use of your benefits, we sometimes ask people who file claims to submit additional documentation.</p>

		    	<h5 class="loud">I need my device immediately and cannot wait.</h5>
		    	<p>In most cases, we can move forward with your claim within 3-5 hours after you submit your documentation.</p>
		    </div>
		</div>
	</div>
	<footer class="modal__footer">
		<div class="btn-well">
			<button class="btn btn-primary" data-modal-close >Close</button>
		</div>
	</footer>
</div>

{% endblock %}
