{% extends "_step-layout.html" %}

{% set stepTitle = 'Please unlock your iPhone.' %} 
{% set stepSubTitle = 'To protect your privacy, disable the Find My iPhone feature before sending us your device.' %}
{% set btnText = 'Continue' %}
{% set nextStep = '7.4.1.hard.peril.html' %}

{% block stepContent %}
	<div class="container--md">
		<div class="card js-sur-triage">
			<div class="card__content">
				<div class="row">
					<div class="col-sm-10 col-sm-offset-1">
						<h3 class="h4 loud">iPhone Unlock Instructions</h3>
						<h4 class="h6">For the correct instructions, select whether or not you are currently able to use your device:</h4>
					</div>
				</div>
				<hr>
				<div class="btn-well">
					<button class="btn btn-primary btn-ghost js-unlock-toggle" data-target=".js-i-can">I can use my device</button>
					<button class="btn btn-primary btn-ghost js-unlock-toggle" data-target=".js-i-cannot">I cannot use my device</button>
				</div>
			</div>
			<div class="card__footer">
				<div class="row js-unlock-tab js-i-can">
					<div class="col-sm-10 col-sm-offset-1">
						<h4 class="h5 loud">Follow the steps below to disable the Find My iPhone feature:</h4>
						<hr>
						<ol class="ol-list rounded-list">
							<li>From the home screen, tap <span class="bold">Settings > iCloud</span></li>
							<li>To disable <span class="bold">Find My iPhone</span>, tap and drag the toggles to the left</li>
							<li>Enter your <span class="bold">Apple ID password</span> and tap <span class="bold">Turn Off</span></li>
							<li>Click <span class="bold">Check Again</span> below to recheck the status of your iPhone. <hr>
								<button class="refresh-btn btn btn-sm btn-inline btn-primary js-check-again">
									<span class="refresh-btn-icon btn-icon-left">
										<span class="refresh-btn-icon__refresh icon--bold icon-alerticons-06"></span>
										<span class="refresh-btn-icon__success icon--bold icon-alerticons-03"></span>
									</span>
									<span class="refresh-btn-text">
										<span class="refresh-btn-text__check">Check again</span>
										<span class="refresh-btn-text__checking">Checking...</span>
										<span class="refresh-btn-text__success">Success!</span>
									</span>
								</button>
								<p class="js-success-message">You've successfully disabled the <span class="bold">Find My iPhone</span> feature and can continue with your claim. Click <span class="bold">Continue</span> below.</p>
								
							</li>
							
						</ol>
					</div>
				</div>
				<div class="row js-unlock-tab js-i-cannot">
					<div class="col-sm-10 col-sm-offset-1">
						<h4 class="h5 loud">Follow the steps below to disable the Find My iPhone feature</h4>
						<hr>
						<ol class="ol-list rounded-list">
							<li>Login to your <span class="bold">iCloud</span> account (<a href="http://www.icloud.com" target="_blank">www.icloud.com</a>)</li>
							<li>Click <span class="bold">Find My iPhone > All Devices</span></li>
							<li>Identify the device</li>
							<li>Click on the name of the device</li>
							<li>Click <span class="bold">Remove from Account</span></li>
							<li>Click <span class="bold">Check Again</span> below to recheck the status of your iPhone. <hr>
								<button class="refresh-btn btn btn-sm btn-inline btn-primary js-check-again">
									<span class="refresh-btn-icon btn-icon-left">
										<span class="refresh-btn-icon__refresh icon--bold icon-alerticons-06"></span>
										<span class="refresh-btn-icon__success icon--bold icon-alerticons-03"></span>
									</span>
									<span class="refresh-btn-text">
										<span class="refresh-btn-text__check">Check again</span>
										<span class="refresh-btn-text__checking">Checking...</span>
										<span class="refresh-btn-text__success">Success!</span>
									</span>
								</button>
								<p class="js-success-message">You've successfully disabled the <span class="bold">Find My iPhone</span> feature and can continue with your claim. Click <span class="bold">Continue</span> below.</p>
							</li>
						</ol>
					</div>
				</div>
			</div>
		</div>	
		
	</div>
	<div class="path-control submission-outcome">
		<select name="" id="path-conrol__select">
			<option value="unlock_success">Unlock success</option>
			<option value="unlock_failure">Unlock 1st failure</option>
			<option value="unlock_failureX3">Unlock failure x3</option>
		</select>	
<!-- 		<button class="path-control__button">Skip</button>
 -->	</div>
{% endblock %}

{% block stepFooter %}
<div class="step__footer">
    <div class="container">
        <div class="btn-well">
            <a href="{[nextStep]}" class="btn btn-primary btn-disabled" id="js-next-button"disabled>{[btnText]}</a>
            <!-- <span class="btn-caption"><span class="btn-caption__next">Next: </span>Tell us what happened.</span> -->
        </div>
    </div>
</div>

{% endblock %}

{% block pageFoot %}
<button class="hidden" data-modal="#js-chat">fjadf</button>
<div class="modal" id="js-chat">
	<div class="modal__close-btn icon-uniE601" data-modal-close=""></div>
	<header class="modal__header">
		<h3 class="modal__title">Your device is in a locked status</h3>
	</header>
	<div class="modal__content">
		<div class="row">
		    <div class="col-sm-10 col-sm-offset-1 typography">
		    	<!-- <h5 class="loud">Your Device Is In A Locked Status</h5> -->
		    	<p>May one of our chat agents help you?</p>
		    </div>
		</div>
	</div>
	<footer class="modal__footer">
		<div class="row">
			<div class="col-sm-6 col-sm-offset-3">
				<div class="btn-stack">
					<a href="" class="btn btn-primary">Yes, please.</a>
					<button data-modal-close class="btn btn-blank btn-primary">No, thanks.</button>	
				</div>
				
			</div>
		</div>
	</footer>
</div>
<script>
	$(document).ready(function() {
		var toggles = $('.js-unlock-toggle')
			tabs = $('.js-unlock-tab')
			tabs.hide()
		$('.js-unlock-toggle').click(function(event) {
			var target = $(this).attr('data-target')
				

			if( $(this).hasClass('js-unlock-toggle--on')){
				// toggles.removeClass('js-unlock-toggle--on').addClass('btn-ghost')
				// $(this).addClass('btn-ghost').removeClass('js-unlock-toggle--on')
				// tabs.hide();

				
			}
			else{
				toggles.removeClass('js-unlock-toggle--on').addClass('btn-ghost')
				$(this).removeClass('btn-ghost').addClass('js-unlock-toggle--on')
				tabs.hide();
				$(target).show();
			}
		});
		// $('.js-check-again').click(function(event) {
			
		// 	var $this = $(this),
		// 		refreshIcon = $this.find('.refresh-btn-icon')
		// 		text = $this.find('.refresh-btn-text')
		// 	$this.addClass('refresh-icon--active')
		// 	text.html('Checking...')

		// 	setTimeout(function() {
		//     	icon.removeClass('refresh-btn-icon--active')
		//     	text.html('Check again')
		// 	}, 3000);
		// });

		$('.refresh-btn-text__checking, .refresh-btn-text__success, .refresh-btn-icon__success, .js-success-message').hide();
		$('.js-check-again').click(function(event) {
			$this = $(this);
			$this.addClass('refresh-button--active')
			
			$('.refresh-btn-text__check').hide();
			$('.refresh-btn-text__checking').show();

			if( $('#path-conrol__select').val() == "unlock_success" ){
				setTimeout(function() {
					$('.js-check-again, .js-unlock-toggle').attr('disabled', true).addClass('btn-disabled');
			    	$('.refresh-btn-icon__success,.refresh-btn-text__success').show();
			    	$('.refresh-btn-icon__refresh,.refresh-btn-text__checking').hide();
			    	$('#js-next-button').attr('disabled', false).removeClass('btn-disabled');
			    	$('.js-success-message').fadeIn(200);
				}, 3000);
			}
			else if( $('#path-conrol__select').val() == "unlock_failure" ){
					setTimeout(function() {
						$('.refresh-btn-icon__refresh, .refresh-btn-text__check').show();
						$('.refresh-btn-text__checking').hide();
						$('[data-modal]').trigger('click')
					}, 3000);
					
			}
			else if( $('#path-conrol__select').val() == "unlock_failureX3" ){
					setTimeout(function() {
						document.location.href = "9.1.2.apple-unlock--page-level-error.html"
					}, 3000);
				
			}
		});
	});
    
</script>

{%endblock%}

