{% extends "_step-layout.html" %}

{% set stepTitle = 'We\'ve got you covered!' %} 
{% set stepSubTitle = 'To avoid delays, here\'s what you\'ll need.' %}
{% set btnText = 'Get started' %}
{% set nextStep = '003.1001.start.html' %}



{% block stepHeader %}
<div class="step__header">
    <div class="container">
        <h1 class="h2 step__header__title">{[stepTitle | safe]}</h1>
        <h2 class="h4 step__header__subtitle">{[stepSubTitle | safe]}</h1>
    </div>
</div>
{% endblock %}
{% block stepContent %}
<div class="container--md">
    <ol class="adg-instruction-cards">
      <li class="adg-instruction-card">
        <h3 class="h4 loud">What happened</h3>
        <p>Tell us the exact date of the incident or last time you used your device, whether it was dropped, exposed to liquid, went missing or something else happened. </p>
      </li>
      <li class="adg-instruction-card">
        <h3 class="h4 loud">Your device information</h3>
        <p>Let us know the exact make and model of your device, which you can find on your purchase receipt, original box or device manual.</p>
      </li>
      <li class="adg-instruction-card">
        <h3 class="h4 loud">Documentation</h3>
        <p>You may need to fill out and upload some forms to protect your identity. Completing this documentation protects you and keeps your premium as low as possible.</p>
      </li>
      <li class="adg-instruction-card">
        <h3 class="h4 loud">Deductible</h3>
        <p>Your deductible is only a fraction of the full retail price. You can easily pay your deductible online with a credit, debit or prepaid card.</p><p><a href="">How much is my deductible.</p>
      </li>
    </ol>
</div>
{% endblock %}

