{% extends "_step-layout.html" %}

{% set stepTitle = 'Good news! We have a replacement for you.' %} 
{% set stepSubTitle = 'Please review your options.' %}
{% set btnText = 'Continue' %}
{% set nextStep = '010.4002.lfl-shipping.html' %}

{% block stepContent %} 
    <div class="container--sm">
        <div class="card">
            <div class="peril-card__header ">
                <h3 class="h4 loud text-center">Replacement device</h3>
            </div>
            <div class="card__content padding-left-right-2x padding-left-right-sm-4x ">
                <div class="text-center">
                  <img src="../../assets/img/iphone_img2.png" alt="">
                </div>
                <div class="text-center margin-top-1x">
                    <h2 class="h3 loud">Black Apple iPhone 6 <span class="micro">(64 GB)</span> </h2>
                </div>
                <hr>
                <h3 class="h4 loud">SIM card</h3>
                <p>Is your SIM card damaged or missing?</p>
                <div class="form-group">
                   <div class="inline-radio-group">
                    <div class="radio-inline clear">
                        <input type="radio" name="simCard" id="SIMyes" value="yes">
                        <label for="SIMyes">Yes</label>
                    </div>
                    <div class="radio-inline">
                        <input type="radio" name="simCard" id="SIMNo" value="no" >
                        <label for="SIMNo">No</label>
                    </div>
                   </div>
                </div>
                <hr>
                <h3 class="h4 loud">Accessories</h3>
                <p>Were any accessories affected?</p>
                <div class="form-group">
                   <div class="inline-radio-group">
                    <div class="radio-inline clear">
                        <input type="radio" name="accessoryAffected" id="yes" value="yes">
                        <label for="yes">Yes</label>
                    </div>
                    <div class="radio-inline">
                        <input type="radio" name="accessoryAffected" id="No" value="no">
                        <label for="No">No</label>
                    </div>
                   </div>
                </div>
                <div class="card js-accessories padding-left-right-sm-1x bg-gray-10">
                    <div class="card__content">
                        <h3 class="h5 loud">Choose one replacement accessory:
                        </h3>
                        <hr>
                        <div class=" form-group">
                            <div class="radio">
                                <input type="radio" name="accessories" id="CarryingCase" value="CarryingCase">
                                <label for="CarryingCase">Carrying Case</label>
                            </div>
                            <div class="radio">
                                <input type="radio" name="accessories" id="Car_Charger" value="Car_Charger">
                                <label for="Car_Charger">Car Charger</label>
                            </div>
                            <div class="radio">
                                <input type="radio" name="accessories" id="earBud" value="earBud">
                                <label for="earBud">Ear Bud</label>
                            </div>
                        </div>
                    </div>
                </div>  
                
            </div>
        </div>
    </div>
    <div class="container margin-top-2x">
    <div class="callout">
        <div class="container--md">
            <h2 class="h4 loud">Receive ProTech support</h2>
            <div class="checkbox margin-0x text-left">
                <input type="checkbox" name="formData.optIn.firstReview" id="formData.optIn.firstReview" value="">
                <label for="formData.optIn.firstReview" class="margin-reset">
                    <p class="fine-print margin-0x">Send me a text message reminder to call ProTech and receive expert support setting up my replacement device when it arrives! This support is included in your ProTech subscription at no additional cost. You'll receive a text message in 48 hours as a reminder to call.</p>
                </label>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block stepFooter %}
<div class="step__footer">
    <div class="container--sm text-center margin-bottom-1x">
        <h3 class="h3">Your deductible: <span class="bold">$120.00</span></h3>
    </div>
    <div class="container">
        <div class="btn-well">
            <a href="{[nextStep]}" class="btn btn-primary">{[btnText]}</a>
            <span class="btn-caption btn-caption--active"><span class="btn-caption__next">Next: </span>Shipping information</span>
        </div>
    </div>
</div>
<!-- <div class="pills step__pills">
    <a class="pill" href="1.1.device.html" title=""></a>
    <a class="pill active" href="1.2.problem.html" title=""></a>
    <a class="pill" href="1.3.account.html" title=""></a>
    <a class="pill" href="1.4.review.html" title=""></a>
</div> -->
{% endblock %}

{% block pageFoot %}

<script>
    jQuery(document).ready(function($) {
        $('.js-accessories').hide()
    });
    $('input[name="accessoryAffected"]').change(function(event) {
        if ($(this).val() == "yes") {
            $('.js-accessories').show();
        } else {
            $('.js-accessories').hide()
        }
    });
</script>
{%endblock%}