{% extends "_step-layout.html" %}

{% set stepTitle = 'Submit your claim.' %} 
{% set stepSubTitle = 'If your information is correct, please submit your claim.' %}
{% set btnText = 'Submit Your Claim' %} 
{% set nextStep = '012.5002.end.html' %}

{% block stepContent %}
<div class="container--lg">
    <div class="row">
        <div class="col-sm-7">
            <div class="card">
                <div class="card__content padding-left-right-2x padding-left-right-sm-4x">
                   <h3 class="h4 loud inline-block">Shipping Information</span> <a href="" class="margin-half--left micro link">Edit</a></h3>
                   
                   <dl class="d-stacked-list margin-bottom-1x">
                       <dt>Address:</dt>
                       <p>123 Main Street<br>Washington, CD 20002</dd>
                       
                   </dl>
                   <dl class="d-list">
                       <dt>Ships in:</dt>
                       <dd>1-2 business days</dd>
                   </dl>
                   
                   <br>
                   <div class="alert-box alert-box--outlined alert-box--info">
                      <div class="alert-box__header">
                        <div class="alert-box__icon"><img class="margin-half--right" width="35" src="../../../assets/img/savings-tag.png" alt=""></div>
                        <div class="alert-box__title">You've earned a discount!</div>
                        <div class="js-alert-box__details-toggle alert-box__details-toggle link margin-left-1x">View details</div>
                      </div>
                      <div class="alert-box__content js-alert-box__details-content">
                        <p class="loud">You've earned a declining deductible discount because you've been claim-free for at least 12 consecutive months! You're reduced deductible is $120, saving you 50%.</p>
                      </div>
                     
                   </div>
                   <hr class="hr">
                    <h3 class="h4 loud margin-top-2x"><span>Billing Summary</span></h3>
                    <table class="table">
                        <tbody>
                            <tr class="text-muted">
                                <td>Standard Deductible</td>
                                <td><span class="text-strikethrough">$240.00</span></td>
                            </tr>
                            <tr class="bg-info">
                                <td class="bold">Reduced Deductible</td>
                                <td class="bold">$120.00</td>
                            </tr>
                            <tr class="bg-gray-15">
                                <td class="bold">Total Fee</td>
                                <td class="bold">$110.00</td>
                            </tr>
                        </tbody>
                    </table>
                    <hr>
                    <h3 class="h4 loud margin-top-2x">Payment Details</span></h3>
                    <p>The deductible will be billed to your AT&amp;T wireless account when you complete this claim.
                    </p>
                    <hr>
                    <h3 class="h4 loud margin-top-2x">For lost/stolen claims</span></h3>
                    <p>Upon completion of your lost/stolen claim, AT&amp;T will deactivate this device.
                    </p>
                    <hr>
                    <h3 class="h4 loud margin-top-2x">Contact</span></h3>
                    <dl class="d-stacked-list">
                        <dt>Alternate phone number: </dt>
                        <dd class="js-phone-current">(555) 555-5555 <a href="" class="edit-link js-phone-change-trigger">(Edit)</a></dd>
                          <div class="form-group form-group--inline js-phone-change hidden">
                              <input type="text" class="form-control" value="(555) 555-5555" width="100px">
                              <button class="btn btn-primary js-phone-change-trigger">Update</button>
                          </div>
                         
                        <dt>Email address: </dt>
                        <dd class="js-email-current">johnsmith@gmail.com <a href="" class="edit-link js-email-change-trigger">(Edit)</a></dd>
                        <div class="form-group form-group--inline js-email-change hidden">
                            <input type="text" class="form-control" value="johnsmith@gmail.com">
                            <button class="btn btn-primary js-email-change-trigger">Update</button>
                        </div>
                    </dl>
                    
                </div>
            </div>
        </div>
        <div class="col-sm-5 ">
            <div class="card">
                <div class="peril-card__header">
                    <h3 class="h4 loud text-center">Your replacement device</h3>
                </div>
                <div class="card__content">
                    <div class="text-center margin-bottom-1x">
                      <img src="../../assets/img/iphone_img2.png" alt="">
                    </div>
                    <div class="text-center margin-1x--top">
                        <h2 class="h4 loud">Black Apple iPhone 6 (64GB)</h4>
                    </div>
                </div>
               <div class="card__footer padding-left-right-2x padding-left-right-sm-4x">
                  <p class="loud">SIM Card <br>Carrying case</p>
               </div>
            </div>
        </div>
    </div>
   <!--  
    <div class="callout margin-top-2x padding-left-right-2x padding-left-right-sm-4x">
        
        <h4 class="h4 loud">
            <span class="warning icon-Icon-page-alert-circle icon--bold icon--mega margin-half--right"></span> 
            <span>Please verify your claim!</span>
        </h4>
        <p>I understand that insurance fraud is unlawful in all states and may subject an individual who files a fraudulent insurance claim to civil/ and/or criminal prosecution under applicable law.</p>
        <div class="checkbox margin-top-2x">
            <input type="checkbox" name="checkbox" id="checkbox" value="">
            <label for="checkbox" class="margin-reset">
                <p class="loud margin-reset">I verify that this claim is true.</p>
            </label>
        </div>
            
    </div> -->
</div>
{% endblock %}
{% block pageFoot %}

<script>
    jQuery(document).ready(function($) {
        $('.js-email-change-trigger').click(function(event) {
            event.preventDefault();
            if( $('.js-email-change').hasClass('hidden') ){
                $('.js-email-change').removeClass('hidden');
                $('.js-email-current').addClass('hidden');
            } 
            else{
                $('.js-email-change').addClass('hidden');
                $('.js-email-current').removeClass('hidden');  
            }
        });
        $('.js-phone-change-trigger').click(function(event) {
            event.preventDefault();
            if( $('.js-phone-change').hasClass('hidden') ){
                $('.js-phone-change').removeClass('hidden');
                $('.js-phone-current').addClass('hidden');
            } 
            else{
                $('.js-phone-change').addClass('hidden');
                $('.js-phone-current').removeClass('hidden');  
            }
        });

    });
    $('.js-alert-box__details-content').hide();
    $(document).on('click', '.js-alert-box__details-toggle', function(event) {
      var content = $(this).closest('.alert-box').find('.js-alert-box__details-content'),
          openClass = 'js-alert-box__details-content--open'
      if( content.hasClass(openClass)){
        $(this).html('Show details')
        content.slideUp().removeClass(openClass)
      } 
      else{
        $(this).html('Hide details')
        content.slideDown().addClass(openClass)
        
      }
    });
    
</script>
{%endblock%}
