/*===============================================
=            VERIZON THEME OVERRIDE VARS            =
===============================================*/

$primary-color: #ee1c25;
$secondary-color: #000000;

$client-header-background: white;
$client-header-logo-path: '../verizon/img/client-logo--verizon.jpeg';
$client-header-logo-width:10em;
$client-header-text-color:#666;

$step-color--current: $primary-color;

$client-header-background:$primary-color;

$form-highlight-color: $primary-color;
$text-highlight-color: $primary-color;

$btn-secondary: $secondary-color;
$primary-text-color:black;

$link-font-family: 'sourcesans', sans-serif!default;


$link-color: $secondary-color!default;
$link-hover-color: saturate($link-color, 20%)!default;
$link-active-color: saturate($link-color, 20%)!default;
$link-visited-color: saturate($link-color, 20%)!default;