{% extends "_step-layout.html" %}

{% set stepTitle = 'How can we help you?' %} 
{% set stepSubTitle = 'Based on the mobile device number you\'ve provided, these are the options available to you.'%}
{% set btnText = 'Get Started' %}
{% set nextStep = '0202.pin.html' %}



{% block messaging %}

{% endblock %}

{% block stepContent %}
	<div class="container--lg">
		<ul class="tabs tabs-style-C js-tabs margin-bottom-2x">
			<li class="tab tab--active js-tab" data-tab="js-tab5"><div class="tab__content"><span class="tab__title">Open Claims</span></div></li>
			<li class="tab js-tab" data-tab="js-tab6"><div class="tab__content"><span class="tab__title">Closed Claims</span></div></li>
			<li class="tab js-tab" data-tab="js-tab7"><div class="tab__content"><span class="tab__title">Manage Your Devices</span></div></li>
			<li class="tab js-tab" data-tab="js-tab7"><div class="tab__content"><span class="tab__title">Your Account</span></div></li>
			<li class="tab"><div class="tab__content">
				<div class="btn btn-sm btn-primary margin-bottom-0x">Start New Claim</div>
			</div></li>
		</ul>
	</div>
	<div class="container--md">
		<div class="tab-anchor-box">
			<div data-tab="js-tab5" class="js-tab-anchor tab-anchor tab-anchor--active">
				<div class="card">
					<div class="card__content">
						<div class="row">
							<div class="col-sm-3">
								<div class="text-center">
								  <img src="../../assets/img/iphone_img2.png" alt="">
								  <p class="loud margin-bottom-0x">Mobile Number:</p>
								  <p>(123) 456-7890</p>
								</div>
							</div>
							<div class="col-sm-9">
								<h3 class="uppercase micro text-gray-75 bold">Claim Status</h3>
								<h4 class="h3 margin-bottom-2x">Claim on hold. <br>We're still missing documents from you.</h3>
								<dl class="d-list">
									<dt>Claim Number:</dt>
									<dd>123456789038763984</dd>
								</dl>
								<dl class="d-list">
									<dt>Claimed Device:</dt>
									<dd>Apple iPhone 5S 64GB Black</dd>
								</dl>
								<dl class="d-list">
									<dt>Claimed Opened:</dt>
									<dd>February 20, 2017</dd>
				                </dl>
				                <div class="btn btn-secondary btn-ghost btn-md margin-top-2x">Upload Documents</div>
							</div>
						</div>
					</div>
				</div>
				<div class="card">
					<div class="card__content">
						<div class="row">
							<div class="col-sm-3">
								<div class="text-center">
								  <img src="../../assets/img/iphone_img2.png" alt="">
								  <p class="loud margin-bottom-0x">Mobile Number:</p>
								  <p>(123) 456-7890</p>
								</div>
							</div>
							<div class="col-sm-9">
								<h3 class="uppercase micro text-gray-75 bold">Claim Status</h3>
								<h4 class="h3 margin-bottom-2x">Claim Initiated. <br>Take steps to complete your claim.</h3>
								<dl class="d-list">
									<dt>Claim Number:</dt>
									<dd>123456789038763984</dd>
								</dl>
								<dl class="d-list">
									<dt>Claimed Device:</dt>
									<dd>Apple iPhone 5S 64GB Black</dd>
								</dl>
								<dl class="d-list">
									<dt>Claimed Opened:</dt>
									<dd>January 30, 2017</dd>
				                </dl>
				                <div class="btn btn-secondary btn-ghost btn-md margin-top-2x">Resume Claim</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div data-tab="js-tab6" class="js-tab-anchor tab-anchor"></div>
			<div data-tab="js-tab7" class="js-tab-anchor tab-anchor"></div>
			<div data-tab="js-tab8" class="js-tab-anchor tab-anchor"></div>
		</div>
		
	</div>
	
{% endblock %}
{% block stepFooter %}
<div class="step__footer">
    <div class="container">
        <div class="btn-well">

            
        </div>
        
    </div>
</div>

{% endblock %}

{% block pageFoot %}

<script>
	jQuery(document).ready(function($) {
		
	});

</script>

{%endblock%}