/*===============================================
=            THREE UK THEME OVERRIDE VARS            =
===============================================*/



$primary-color: #679940;
$secondary-color: #b29747;

$client-header-logo-path: '../three_uk/img/client-logo--three_uk.png';
$client-header-logo-width:12em;
$client-header-background:$primary-color;

$form-highlight-color: $primary-color;
$text-highlight-color: #681c3f;

// $btn-primary:$asurion-green;