/*===============================================
=            ATT THEME OVERRIDE VARS            =
===============================================*/



$primary-color: #0574ac;
$secondary-color: #ef6f00;

$client-header-logo-path: '../../img/asurion-logo-black.svg';
$client-header-logo-width:10em;

$font-regular: sourcesanspro-regular;
$font-light: sourcesanspro-light;