body {
  margin: 0;
  background: #f9f9f9; }

.container {
  padding: 0; }

.claimstep.claimstep--ob {
  padding: 0; }

.ob-tabs {
  width: 100%;
  background: #efefef;
  padding: 30px 0 0 0;
  border-bottom: 1px solid #ccc; }

.ob-container {
  padding: 0 4em;
  position: relative; }

.ob-top--padding {
  position: relative;
  padding-top: 2.5em;
  margin-bottom: 2em;
  min-height: 225px; }


.ob-welcome--content {
  max-width: 70%; }

.ob-tabs--container {
  display: flex;
  padding-left: 50px; }
  .ob-tabs--container .ob-tab {
    background: #fff;
    border-radius: 6px 6px 0 0;
    padding: 10px 35px 8px 35px;
    border: 1px solid #fff;
    color: #969696;
    transition: color .2s ease-in, border-color .3s ease-in, box-shadow .25s ease-in; }
    .ob-tabs--container .ob-tab:focus {
      text-decoration: none; }
    .ob-tabs--container .ob-tab--selected {
      border: 1px solid #ccc;
      border-bottom-color: #fff;
      box-shadow: 0px 1px 0px 0px white;
      color: #666;
      transition: color .2s ease-in, border-color .3s ease-in, box-shadow .25s ease-in; }

.ob-image {
  position: absolute;
  right: 0;
  top: 0; }

.ob-text--title {
  font-family: 'proxima_nova_light';
  font-size: 36px; }

.ob-tracking-delivery p {
  font-size: .8em; }
.ob-tracking-delivery span:first-of-type {
  margin-right: 1em; }
.ob-tracking-delivery span:last-of-type {
  margin-left: 1em; }
.ob-tracking-delivery a {
  color: #4a90e2;
  text-decoration: underline; }

.ob-article-headline {
  text-align: center;
  font-size: 20px;
  line-height: 28px;
  color: #333;
  margin: 3em auto 2em auto;
  max-width: 60%; }

.ob-articles--container {
  display: flex;
  flex-direction: column;
  margin-bottom: 5em; }

.ob-articles--card {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  top: 0px;
  transition: all .2s ease-in;
  position: relative; }
  .ob-articles--card:hover {
    top: 2px;
    transition: all .2s ease-in; }
    .ob-articles--card:hover .ob-articles--card__img {
      box-shadow: 0px 0px 21px 0px rgba(0, 0, 0, 0.05);
      transition: all .2s ease-in; }

.ob-articles--card h5 {
  font-size: 16px;
  max-width: 70%;
  color: #333;
  font-family: 'proxima_nova_regular';
  margin-bottom: 1em;
  margin-top: 1em;
  margin-left: auto;
  margin-right: auto; }

.ob-articles--card__content {
  margin-bottom: 2em; }

.ob-articles--card__img {
  display: flex;
  height: 105px;
  width: 80%;
  border-radius: 5px;
  margin-left: auto;
  margin-right: auto;
  background-size: cover;
  transition: all .2s ease-in; }

@media (max-width: 660px) {
  .ob-image {
    display: none; }

  .ob-welcome--content {
    max-width: 100%; }

  .ob-container {
    padding: 0 2em; } }
@media (max-width: 540px) {
  .ob-article-headline {
    max-width: 90%; }

  .ob-articles--container {
    display: block; }

  .ob-articles--card {
    width: 100%;
    margin-bottom: 2em;
    display: block; }

  .ob-tabs--container {
    padding: 0 5%; }
    .ob-tabs--container .ob-tab {
      width: 50%;
      text-align: center; }

  .ob-panel__content__footer {
    display: block; } }
@media (max-width: 330px) {
  .ob-tabs--container .ob-tab {
    padding: 10px 15px 8px 15px; } }
.ob-expert-help {
  text-align: center;
  margin-bottom: 3em;
  color: #666; }
  .ob-expert-help h4 {
    text-align: center;
    color: #666; }
  .ob-expert-help p {
    font-size: 16px; }

.ob-panel {
  font-family: 'proxima_nova_regular';
  position: relative; }

.ob-panel__header:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(39, 174, 96, 0.1);
  z-index: 0;
  transform: scaleX(0);
  -webkit-transform: scaleX(0);
  -ms-transform: scaleX(0);
  transition: transform .5s;
  -webkit-transition: -webkit-transform 0.5s; }

.ob-panel__break {
  border-bottom: 0;
  border-color: #d7d7d7;
  border-width: 1px;
  margin-bottom: 0;
  margin-top: 0; }

.ob-panel__header {
  justify-content: space-between;
  padding-bottom: 2em;
  padding-top: 2em;
  position: relative;
  transition: background-color .2s ease-in-out; }

.ob-panel__header--positive:before {
  -webkit-transform: scaleX(1);
  -ms-transform: scaleX(1);
  transform: scaleX(1); }

.ob-panel__header__heading {
  align-items: center;
  display: flex;
  position: relative;
  z-index: 1; }

.ob-panel__header__heading__number {
  align-items: center;
  border: 2px solid #192d71;
  border-radius: 50%;
  color: #192d71;
  display: inline-flex;
  font-size: 1.2em;
  justify-content: center;
  margin-right: 1em;
  max-height: 2em;
  max-width: 2em;
  min-width: 2em;
  min-height: 2em; }

.ob-panel__header__heading__number--checked {
  animation-name: ripple;
  animation-duration: .5s;
  animation-iteration-count: 1;
  background-color: #27AE60;
  border-color: #27AE60;
  color: #fff; }

.ob-panel__header__heading__number__inner {
  position: relative;
  top: 1px; }

.ob-panel__header__heading__title {
  color: #192d71;
  display: inline-block;
  font-size: 1.2em;
  position: relative;
  top: 1px; }

.ob-panel__header__actions {
  display: inline-flex;
  margin-left: 3.5em;
  position: relative;
  z-index: 1; }

.ob-panel__header__actions__action {
  background-color: #fff;
  border: 1px solid #192d71;
  border-radius: 4px;
  color: #192d71;
  display: inline-block;
  font-family: 'proxima_nova_regular';
  font-weight: bold;
  padding: .65em 1.5em;
  transition: background-color .1s ease-in-out, border-color .1s ease-in-out, color .1s ease-in-out;
  -webkit-appearance: none;
  -mox-appearance: none; }

.ob-panel__header__actions__action--positive:hover,
.ob-panel__header__actions__action--positive:active,
.ob-panel__header__actions__action--positive.ob-panel__header__actions__action--selected {
  background-color: #27ae60;
  border-color: #27ae60;
  box-shadow: inset 0 -2px 0 0 rgba(0, 0, 0, 0.2);
  color: #fff; }

.ob-panel__header__actions__action--negative:hover,
.ob-panel__header__actions__action--negative:active,
.ob-panel__header__actions__action--negative.ob-panel__header__actions__action--selected {
  background-color: #ae2727;
  border-color: #ae2727;
  box-shadow: inset 0 -2px 0 0 rgba(0, 0, 0, 0.2);
  color: #fff; }

.ob-panel__header__actions__action:first-child {
  margin-right: 1em; }

.ob-panel__content {
  background-color: #f6f6f6;
  padding-bottom: 1em;
  padding-top: 1em; }
  .ob-panel__content .btn {
    height: auto;
    line-height: inherit;
    padding: .75em;
    margin: 1em 0; }

.ob-panel__content__footer {
  margin-top: 2em;
  display: flex; }
  .ob-panel__content__footer .btn {
    max-height: 50px !important; }

.ob-panel__content__footer__help {
  margin-top: 2.5em;
  font-size: .75em;
  margin: auto;
  margin-right: 0; }

@media (max-width: 540px) {
  .ob-panel__content__footer {
    display: block; } }
.ob-confetti {
  left: 50%;
  position: fixed;
  top: 50%; }

.ob-trophy {
  left: 50%;
  margin-left: -180px;
  margin-top: -180px;
  position: fixed;
  top: 50%; }

.ob-trophy--animate {
  animation-name: scale;
  animation-duration: 1s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards; }

@media (max-width: 767px) {
  .ob-panel__header__heading {
    margin-bottom: 1em; }

  .ob-trophy {
    height: 200px;
    margin-left: -100px;
    margin-top: -100px;
    width: 200px; }

  .ob-panel__content__inner {
    padding: 1em 1.5em; } }
@media (min-width: 768px) {
  .ob-panel__header {
    align-items: center;
    display: flex; }

  .ob-panel__content__inner {
    padding: 2em 3.5em; }

  .ob-articles--container {
    flex-direction: row;
    margin-bottom: 2em; }

  .ob-articles--card h5 {
    font-size: 16px;
    max-width: 60%;
    color: #333;
    font-family: 'proxima_nova_regular';
    margin-left: auto;
    margin-right: auto; }

  .ob-articles--card-container {
    width: 33%; }

  .ob-panel__header__actions__action {
    padding-left: 3em;
    padding-right: 3em; } }
@keyframes ripple {
  0% {
    box-shadow: 0 0 0 0 #27ae60;
    border: 2px solid #192D71;
    background-color: #fff; }
  50% {
    box-shadow: 0 0 0 5px rgba(39, 174, 96, 0.3);
    border: 2px solid white; }
  100% {
    box-shadow: 0 0 20px 5px rgba(39, 174, 96, 0);
    background-color: #27AE60; } }
@keyframes scale {
  0% {
    transform: scale(0); }
  100% {
    transform: scale(1); } }
.ob-textbox__label {
  font-size: 16px; }

.ob-textbox__textarea {
  margin-bottom: 1em;
  min-height: 100px;
  width: 100%; }

.ob-textbox__submit {
  text-align: center;
  width: 100%; }

.ob-textbox__submit__btn,
.ob-textbox__submit__btn:hover,
.ob-textbox__submit__btn:active,
.ob-textbox__submit__btn:focus {
  margin-top: 0; }

.ob-grayscale {
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%); }

/*# sourceMappingURL=onboarding.css.map */
