<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
  <head>
      <meta name="robots" content="noindex,nofollow">
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <title>Asurion</title>
      <link rel="stylesheet" href="../../assets/theme/att/att.css">

      <link rel="stylesheet" href="../../assets/theme/att/att.css">
      <link rel="apple-touch-icon" sizes="180x180" href="../../assets/img/apple-touch-icon.png">
      <link rel="icon" type="image/png" sizes="32x32" href="../../assets/img/favicon-32x32.png">
      <link rel="icon" type="image/png" sizes="16x16" href="../../assets/img/favicon-16x16.png">
      <meta name="description" content="">
      <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
      <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
      <script src="https://code.jquery.com/jquery-1.12.1.min.js"></script>
  </head>
  <body>
    <div class="page">
      <div class="pre-footer ng-scope">
        <header class="ng-scope">
            <div class="span12">
              <h1 class="logo"></h1>
              <div class="links">
                  <a id="setlanguage" href="" class="es-link" data-ng-click="changeLanguage(languageToBeSet)" data-vzw-language="" style="display: none;">
                      <span data-ng-bind-html="selectedLanguage.Locales[selectedLanguage.Code] | unsafe" class="ng-scope ng-binding">Ver esta página en español</span>
                  </a>
                  <a id="liveChat" href="" class="chat-link" data-ng-click="clicked();launchChat()" style="display: none;">
                      <div id="LP_DIV_Verizon_Reactive_Chat"><div id="LPMcontainer-1539199012914-0" class="LPMcontainer LPMoverlay" role="button" tabindex="0" style="margin: 1px; padding: 0px; border-style: solid; border-width: 0px; font-style: normal; font-weight: normal; font-variant: normal; list-style: none outside none; letter-spacing: normal; line-height: normal; text-decoration: none; vertical-align: baseline; white-space: normal; word-spacing: normal; background-repeat: repeat-x; background-position: left bottom; cursor: auto; display: block; position: relative; top: 0px; left: 0px;"><a id="liveChat" href="" class="chat-link" data-lp-event="click" style="display: block;">
                      <i class="icon-chat"></i>
                      <span>Live Chat</span>
                      </a></div></div>
                  </a>
              </div>
            </div>
        </header>
        <section class="container main">
          <div class="steps-include">
            <div class="step ng-scope" style="">
              <div class="row">
                <div id="step1" class="span12">
                  <div class="stepbar clearfix">
                    <i class="icon-user"></i>
                    <div class="stepbar-text-top">STEP ONE</div>
                    <div class="stepbar-text-bottom">Your Information</div>
                    <div class="stepbar-text-ClaimCreation" id="claimId_1"></div>
                    <div class="stepbar-text-ClaimCreation" id="MDN_1"></div>
                  </div>
                </div>
              </div>
              <div class="claimstep ng-scope claimstep--ob" stepnum="1" iconclass="icon-user" style="display: block;">
                  

<div class="vert-center-container">
    <div class="vert-center padding-1x">
    	<div class="generic-loader generic-loader--relative generic-loader--active">
    	    
    	</div>
    	<h1 class="h2 step__header__title margin-top-4x">Please don't leave or refresh this page.</h1>
        <h2 class="h5 step__header__subtitle">A live agent is reviewing your claim right now. It should take less than three minutes.</h1>
        <div class="waiting-text">
            <h3>Here's some fun trivia to read while you wait.</h3>
        </div>
        <!-- <h4 >Processing&hellip;</h4> -->
        <div class="trivia">
            <div class="trivia__item">
                <div class="trivia__item__q">In what year was the first mobile phone call made?</div>
                <ol class="trivia__item__a">
                    <li class="true">A. 1973</li>
                    <li>B. 1982</li>
                    <li>C. 1990</li>
                </ol>
            </div>
            <div class="trivia__item">
                <div class="trivia__item__q">What was the cost of the first mobile phone sold in 1983?</div>
                <ol class="trivia__item__a">
                    <li>A. $1,800</li>
                    <li class="true">B. $4,000</li>
                    <li>C. $7,500</li>
                </ol>
            </div>
            <div class="trivia__item">
                <div class="trivia__item__q">What percentage of mobile phones sold in Japan are waterproof?</div>
                <ol class="trivia__item__a">
                    <li>A. 25%</li>
                    <li>B. 60%</li>
                    <li class="true">C. 90%</li>
                </ol>
            </div>
            <div class="trivia__item">
                <div class="trivia__item__q">What year was the first smart phone introduced?</div>
                <ol class="trivia__item__a">
                    <li class="true">A. 1993</li>
                    <li>B. 2000</li>
                    <li>C. 2003</li>
                </ol>
            </div>
            <div class="trivia__item">
                <div class="trivia__item__q">What percentage of adults in the U.S. own a mobile phone?</div>
                <ol class="trivia__item__a">
                    <li>A. 45%</li>
                    <li>B. 60%</li>
                    <li class="true">C. 80%</li>
                </ol>
            </div>
        </div>
    </div>
</div>
<div class="path-control submission-outcome">
    <select name="" id="path-conrol__select">
        <option value="2.1.1.approved_exact_replacement.html">Select Submission Outcome</option>
        <option value="2.1.1.approved_exact_replacement.html">Approved (Exact replacement)</option>
        <option value="2.1.2.approved_select_replacement.html">Approved (Select replacement)</option>
        <option value="2.3.2.doc-hold.html">Documentation Needed</option>
    </select>   
    <button class="path-control__button">Skip</button>
</div>

              </div>
            </div>
            <div class="ob-expert-help">
              <h4>If you have any questions, our experts will be happy to help.</h4>
              <p>1-866-853-2601</p>
            </div>
          </div>
        </section>
      </div>
    </div>
    
<script>

jQuery(document).ready(function($) {

    $('.footer').hide();
    $('.path-control__button').click(function(event) {
        var path = $('#path-conrol__select').val()
        document.location.href = path
    });

    setTimeout(function() {
        $('.waiting-text').addClass('active')
    }, 8000);
    setTimeout(function() {
        $('.trivia__item:nth-child(1)').addClass('active');

    }, 10000);
    setTimeout(function() {
        $('.trivia').addClass('reveal');
    }, 15000);
    setTimeout(function() {
        $('.trivia').removeClass('reveal');
        $('.trivia__item:nth-child(1)').removeClass('active');
        $('.trivia__item:nth-child(2)').addClass('active');
    }, 20000);
    setTimeout(function() {
        $('.trivia').addClass('reveal');
    }, 25000);
    setTimeout(function() {
        $('.trivia').removeClass('reveal');
        $('.trivia__item:nth-child(2)').removeClass('active');
        $('.trivia__item:nth-child(3)').addClass('active');
    }, 30000);
    setTimeout(function() {
        $('.trivia').addClass('reveal');
    }, 35000);
    setTimeout(function() {
        $('.trivia').removeClass('reveal');
        $('.trivia__item:nth-child(3)').removeClass('active');
        $('.trivia__item:nth-child(4)').addClass('active');
    }, 40000);
    setTimeout(function() {
        $('.trivia').addClass('reveal');
    }, 45000);
    setTimeout(function() {
        $('.trivia').removeClass('reveal');
        $('.trivia__item:nth-child(4)').removeClass('active');
        $('.trivia__item:nth-child(5)').addClass('active');
        document.location.href = path
    }, 50000);
});
</script>

    <span class="ob-confetti">&nbsp;</span>
    <img src="/assets/img/trophy.svg" alt="trophy" class="ob-trophy" style="display:none;" />
  </body>
</html>
