<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
  <head>
      <meta name="robots" content="noindex,nofollow">
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <title>Asurion</title>
      <link rel="stylesheet" href="../../assets/theme/att/att.css">

      <link rel="stylesheet" href="../../assets/theme/att/att.css">
      <link rel="apple-touch-icon" sizes="180x180" href="../../assets/img/apple-touch-icon.png">
      <link rel="icon" type="image/png" sizes="32x32" href="../../assets/img/favicon-32x32.png">
      <link rel="icon" type="image/png" sizes="16x16" href="../../assets/img/favicon-16x16.png">
      <meta name="description" content="">
      <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
      <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
      <script src="https://code.jquery.com/jquery-1.12.1.min.js"></script>
  </head>
  <body>
    <div class="page">
      <div class="pre-footer ng-scope">
        <header class="ng-scope">
            <div class="span12">
              <h1 class="logo"></h1>
              <div class="links">
                  <a id="setlanguage" href="" class="es-link" data-ng-click="changeLanguage(languageToBeSet)" data-vzw-language="" style="display: none;">
                      <span data-ng-bind-html="selectedLanguage.Locales[selectedLanguage.Code] | unsafe" class="ng-scope ng-binding">Ver esta página en español</span>
                  </a>
                  <a id="liveChat" href="" class="chat-link" data-ng-click="clicked();launchChat()" style="display: none;">
                      <div id="LP_DIV_Verizon_Reactive_Chat"><div id="LPMcontainer-1539199012914-0" class="LPMcontainer LPMoverlay" role="button" tabindex="0" style="margin: 1px; padding: 0px; border-style: solid; border-width: 0px; font-style: normal; font-weight: normal; font-variant: normal; list-style: none outside none; letter-spacing: normal; line-height: normal; text-decoration: none; vertical-align: baseline; white-space: normal; word-spacing: normal; background-repeat: repeat-x; background-position: left bottom; cursor: auto; display: block; position: relative; top: 0px; left: 0px;"><a id="liveChat" href="" class="chat-link" data-lp-event="click" style="display: block;">
                      <i class="icon-chat"></i>
                      <span>Live Chat</span>
                      </a></div></div>
                  </a>
              </div>
            </div>
        </header>
        <section class="container main">
          <div class="steps-include">
            <div class="step ng-scope" style="">
              <div class="row">
                <div id="step1" class="span12">
                  <div class="stepbar clearfix">
                    <i class="icon-user"></i>
                    <div class="stepbar-text-top">STEP ONE</div>
                    <div class="stepbar-text-bottom">Your Information</div>
                    <div class="stepbar-text-ClaimCreation" id="claimId_1"></div>
                    <div class="stepbar-text-ClaimCreation" id="MDN_1"></div>
                  </div>
                </div>
              </div>
              <div class="claimstep ng-scope claimstep--ob" stepnum="1" iconclass="icon-user" style="display: block;">
                  
<div class="adg-comparison-tool">
    <header id="js-comparison-tool-header" class="adg-comparison-tool__header ">
        <div class="container--lg">
            <div class="adg-comparison-tool__table">
                <div class="adg-comparison-tool__col adg-comparison-tool__col--borderless js-select-device" data-device="device1">
                    <h3 class="adg-comparison-tool__availability">
                        <span class="js-availability warning">On Backorder</span>
                        <span class="js-selected-message adg-comparison-tool__selected-message">Selected!</span>
                    </h3>
                    <p class="milli text-center">(Ships in 3-5 business days)</p>
                </div>
                <div class="adg-comparison-tool__col adg-comparison-tool__col--borderless js-select-device" data-device="device2">
                    <h3 class="adg-comparison-tool__availability">
                        <span class="js-availability">Available</span>
                        <span class="js-selected-message adg-comparison-tool__selected-message">Selected!</span>
                    </h3>
                    <p class="milli text-center">(Ships in 1-2 business days)</p>
                </div>
                <div class="adg-comparison-tool__col adg-comparison-tool__col--borderless js-select-device" data-device="device3">
                    <h3 class="adg-comparison-tool__availability">
                        <span class="js-availability">Available</span>
                        <span class="js-selected-message adg-comparison-tool__selected-message">Selected!</span>
                    </h3>
                    <p class="milli text-center">(Ships in 1-2 business days)</p>
                </div>
                <div class="adg-comparison-tool__col adg-comparison-tool__col--borderless js-select-device" data-device="device4">
                    <h3 class="adg-comparison-tool__availability">
                        <span class="js-availability">Available</span>
                        <span class="js-selected-message adg-comparison-tool__selected-message">Selected!</span>
                    </h3>
                    <p class="milli text-center">(Ships in 1-2 business days)</p>
                </div>
            </div>
            <section class="adg-comparison-tool__section">
                <div class="adg-comparison-tool__section__content adg-comparison-tool__section__content--open">
                    <div class="adg-comparison-tool__table">
                        <div class="adg-comparison-tool__col">
                            <div class="adg-comparison-tool__item adg-comparison-tool__device js-select-device" data-device="device1">
                                <div class="adg-comparison-tool__item__content">
                                    <img class="adg-comparison-tool__header__img card-phone-image" src="../../assets/img/iphone_img2.png" alt="" height="130">
                                    <h4 class="adg-comparison-tool__header__title">Black Apple iPhone 6 <br>(64gGB)</h4>
                                    <button class="adg-comparison-tool__btn">Select</button>
                                </div>
                            </div>
                        </div>
                        <div class="adg-comparison-tool__col">
                            <div class="adg-comparison-tool__item adg-comparison-tool__device js-select-device" data-device="device2">
                                <div class="adg-comparison-tool__item__content">
                                    <img class="adg-comparison-tool__header__img card-phone-image" src="../../assets/img/iphone-5s.png" alt="" height="130">
                                    <h4 class="adg-comparison-tool__header__title">White Apple iPhone 5 <br>(32GB)</h4>
                                    <button class="adg-comparison-tool__btn">Select</button>
                                </div>
                            </div>
                        </div>
                        <div class="adg-comparison-tool__col">
                            <div class="adg-comparison-tool__item adg-comparison-tool__device js-select-device" data-device="device3">
                                <div class="adg-comparison-tool__item__content">
                                    <img class="adg-comparison-tool__header__img card-phone-image" src="../../assets/img/iphone-5s.png" alt="" height="130">
                                    <h4 class="adg-comparison-tool__header__title">White Apple iPhone 6 <br>(64GB)</h4>
                                    <button class="adg-comparison-tool__btn">Select</button>
                                </div>
                            </div>
                        </div>
                        <div class="adg-comparison-tool__col">
                            <div class="adg-comparison-tool__item adg-comparison-tool__device js-select-device" data-device="device4">
                                <div class="adg-comparison-tool__item__content">
                                    <img class="adg-comparison-tool__header__img card-phone-image" src="../../assets/img/iphone-5s.png" alt="" height="130">
                                    <h4 class="adg-comparison-tool__header__title">White Apple iPhone 6 <br>(64GB)</h4>
                                    <button class="adg-comparison-tool__btn">Select</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </header>
    <!-- <div class="hr-toggler">
            <button class="hr-toggler__btn" data-hr-toggle="#js-comparison-tool"><span class="js-hr-toggler__text-toggle">Show</span> Transaction Details</button>
        </div> -->
    <div id="js-comparison-tool" class="adg-comparison-tool__content">
        <div class="container--lg">
            <section class="adg-comparison-tool__section adg-comparison-tool__section--naked">
                <div class="adg-comparison-tool__section__content adg-comparison-tool__section__content--open ">
                    <div class="adg-comparison-tool__table">
                        <div class="adg-comparison-tool__col">
                            <div class="adg-comparison-tool__item" data-device="device1">
                                <h4 class="h6 margin-0x">Your deductible:</h4>
                                <p class="margin-bottom-0x"><span class="bold mega">$110.00</span>
                                </p>
                            </div>
                        </div>
                        <div class="adg-comparison-tool__col">
                            <div class="adg-comparison-tool__item" data-device="device2">
                                <h4 class="h6 margin-0x">Your deductible:</h4>
                                <p class="margin-bottom-0x"><span class="bold mega">$110.00</span>
                                </p>
                                <p class="hidden loud micro margin-0x">Selecting this device will raise your premium.</p>
                            </div>
                        </div>
                        <div class="adg-comparison-tool__col">
                            <div class="adg-comparison-tool__item" data-device="device3">
                                <h4 class="h6 margin-0x">Your deductible:</h4>
                                <p class="margin-bottom-0x"><span class="bold mega">$110.00</span>
                                </p>
                                <p class="hidden loud micro margin-0x">Selecting this device will raise your premium.</p>
                            </div>
                        </div>
                        <div class="adg-comparison-tool__col">
                            <div class="adg-comparison-tool__item" data-device="device4">
                                <h4 class="h6 margin-0x">Your deductible:</h4>
                                <p class="margin-bottom-0x"><span class="bold mega">$110.00</span>
                                </p>
                                <p class="hidden loud micro margin-0x">Selecting this device will raise your premium.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section class="adg-comparison-tool__section">
                <header class="adg-comparison-tool__section__header js-comparison-tool-toggle">
                    <div class="adg-comparison-tool__section__header__col">
                        <h2 class="adg-comparison-tool__section__title">Details A</h2>
                    </div>
                    <div class="adg-comparison-tool__section__header__col">
                        <button class="adg-comparison-tool__section__btn adg-comparison-tool__section__toggle-btn "></button>
                    </div>
                </header>
                <div class="adg-comparison-tool__section__content js-comparison-tool-target">
                    <div class="adg-comparison-tool__table">
                        <div class="adg-comparison-tool__col">
                            <div class="adg-comparison-tool__item" data-device="device1">
                                <div class="adg-comparison-tool__item__content">
                                    4.7in (diagonal)
                                    <br>750x334 resolution
                                </div>
                            </div>
                        </div>
                        <div class="adg-comparison-tool__col">
                            <div class="adg-comparison-tool__item" data-device="device2">
                                <div class="adg-comparison-tool__item__content">
                                    4.7in (diagonal)
                                    <br>750x334 resolution
                                </div>
                            </div>
                        </div>
                        <div class="adg-comparison-tool__col">
                            <div class="adg-comparison-tool__item" data-device="device3">
                                <div class="adg-comparison-tool__item__content">
                                    4.7in (diagonal)
                                    <br>750x334 resolution
                                </div>
                            </div>
                        </div>
                        <div class="adg-comparison-tool__col">
                            <div class="adg-comparison-tool__item" data-device="device4">
                                <div class="adg-comparison-tool__item__content">
                                    4.7in (diagonal)
                                    <br>750x334 resolution
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section class="adg-comparison-tool__section">
                <header class="adg-comparison-tool__section__header js-comparison-tool-toggle">
                    <div class="adg-comparison-tool__section__header__col">
                        <h2 class="adg-comparison-tool__section__title">Details B</h2>
                    </div>
                    <div class="adg-comparison-tool__section__header__col">
                        <button class="adg-comparison-tool__section__btn adg-comparison-tool__section__toggle-btn "></button>
                    </div>
                </header>
                <div class="adg-comparison-tool__section__content js-comparison-tool-target">
                    <div class="adg-comparison-tool__table">
                        <div class="adg-comparison-tool__col">
                            <div class="adg-comparison-tool__item" data-device="device1">
                                <div class="adg-comparison-tool__item__content">
                                    4.7in (diagonal)
                                    <br>750x334 resolution
                                </div>
                            </div>
                        </div>
                        <div class="adg-comparison-tool__col">
                            <div class="adg-comparison-tool__item" data-device="device2">
                                <div class="adg-comparison-tool__item__content">
                                    4.7in (diagonal)
                                    <br>750x334 resolution
                                </div>
                            </div>
                        </div>
                        <div class="adg-comparison-tool__col">
                            <div class="adg-comparison-tool__item" data-device="device3">
                                <div class="adg-comparison-tool__item__content">
                                    4.7in (diagonal)
                                    <br>750x334 resolution
                                </div>
                            </div>
                        </div>
                        <div class="adg-comparison-tool__col">
                            <div class="adg-comparison-tool__item" data-device="device4">
                                <div class="adg-comparison-tool__item__content">
                                    4.7in (diagonal)
                                    <br>750x334 resolution
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section class="adg-comparison-tool__section">
                <header class="adg-comparison-tool__section__header js-comparison-tool-toggle">
                    <div class="adg-comparison-tool__section__header__col">
                        <h2 class="adg-comparison-tool__section__title">Details C</h2>
                    </div>
                    <div class="adg-comparison-tool__section__header__col">
                        <button class="adg-comparison-tool__section__btn adg-comparison-tool__section__toggle-btn "></button>
                    </div>
                </header>
                <div class="adg-comparison-tool__section__content js-comparison-tool-target">
                    <div class="adg-comparison-tool__table">
                        <div class="adg-comparison-tool__col">
                            <div class="adg-comparison-tool__item" data-device="device1">
                                <div class="adg-comparison-tool__item__content">
                                    4.7in (diagonal)
                                    <br>750x334 resolution
                                </div>
                            </div>
                        </div>
                        <div class="adg-comparison-tool__col">
                            <div class="adg-comparison-tool__item" data-device="device2">
                                <div class="adg-comparison-tool__item__content">
                                    4.7in (diagonal)
                                    <br>750x334 resolution
                                </div>
                            </div>
                        </div>
                        <div class="adg-comparison-tool__col">
                            <div class="adg-comparison-tool__item" data-device="device3">
                                <div class="adg-comparison-tool__item__content">
                                    4.7in (diagonal)
                                    <br>750x334 resolution
                                </div>
                            </div>
                        </div>
                        <div class="adg-comparison-tool__col">
                            <div class="adg-comparison-tool__item" data-device="device4">
                                <div class="adg-comparison-tool__item__content">
                                    4.7in (diagonal)
                                    <br>750x334 resolution
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section class="adg-comparison-tool__section">
                <header class="adg-comparison-tool__section__header js-comparison-tool-toggle">
                    <div class="adg-comparison-tool__section__header__col">
                        <h2 class="adg-comparison-tool__section__title">Details D</h2>
                    </div>
                    <div class="adg-comparison-tool__section__header__col">
                        <button class="adg-comparison-tool__section__btn adg-comparison-tool__section__toggle-btn "></button>
                    </div>
                </header>
                <div class="adg-comparison-tool__section__content js-comparison-tool-target">
                    <div class="adg-comparison-tool__table">
                        <div class="adg-comparison-tool__col">
                            <div class="adg-comparison-tool__item" data-device="device1">
                                <div class="adg-comparison-tool__item__content">
                                    4.7in (diagonal)
                                    <br>750x334 resolution
                                </div>
                            </div>
                        </div>
                        <div class="adg-comparison-tool__col">
                            <div class="adg-comparison-tool__item" data-device="device2">
                                <div class="adg-comparison-tool__item__content">
                                    4.7in (diagonal)
                                    <br>750x334 resolution
                                </div>
                            </div>
                        </div>
                        <div class="adg-comparison-tool__col">
                            <div class="adg-comparison-tool__item" data-device="device3">
                                <div class="adg-comparison-tool__item__content">
                                    4.7in (diagonal)
                                    <br>750x334 resolution
                                </div>
                            </div>
                        </div>
                        <div class="adg-comparison-tool__col">
                            <div class="adg-comparison-tool__item" data-device="device4">
                                <div class="adg-comparison-tool__item__content">
                                    4.7in (diagonal)
                                    <br>750x334 resolution
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            
        </div>
    </div>
</div>
<!-- END CONTAINER -->

              </div>
            </div>
            <div class="ob-expert-help">
              <h4>If you have any questions, our experts will be happy to help.</h4>
              <p>1-866-853-2601</p>
            </div>
          </div>
        </section>
      </div>
    </div>
    
<div class="modal" id="js-modal">
    <header class="modal__header">
        <h3 class="modal__title">Lorem ipsum dolor sit amet.</h3>
    </header>
    <div class="modal__content">
        <div class="row">
            <div class="col-sm-10 col-sm-offset-1 typography">
                <h5 class="loud">Lorem ipsum dolor sit amet, consectetur adipisicing elit. </h5>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Hic dolorem voluptas quam laboriosam suscipit molestias neque, ipsam id explicabo accusamus sunt aliquam, rem illo, aperiam unde voluptatum nemo obcaecati cumque.</p>
            </div>
        </div>
    </div>
    <footer class="modal__footer">
        <div class="row">
            <div class="col-sm-6 col-sm-offset-3">
                <div class="btn-stack">
                    <button class="btn btn-primary" data-modal-close>Accept</button>
                    <button class="btn btn-primary btn-blank" data-modal-close>Change selection</button>
                </div>
            </div>
        </div>
    </footer>
</div>
<script>
$('.js-select-device').click(function(event) {
    var deviceID = $(this).data('device'),
        target = $('*[data-device="'+deviceID+'"]');
    if ( target.hasClass('selected')) {

    } else {
        $('*[data-device]').removeClass('selected');
        $('*[data-device]').find('.js-availability').show();
        $('*[data-device]').find('.js-selected-message').hide();
        target.addClass('selected')
            target.find('.js-availability').hide();
            target.find('.js-selected-message').show();
        // $('.card').removeClass('card--selected')
        // $('.js-card-group').addClass('card--muted')
        // $this.closest('.js-card-group').addClass('card--selected').removeClass('card--muted')
        $("#js-next-button").removeClass('btn-disabled').attr({
            disabled: false
        });
    }

});
var sticky = new Waypoint.Sticky({
    element: $('#js-comparison-tool-header')[0],
    stuckClass: 'adg-comparison-tool__header--stuck',
    offset: 0
});
</script>

    <span class="ob-confetti">&nbsp;</span>
    <img src="/assets/img/trophy.svg" alt="trophy" class="ob-trophy" style="display:none;" />
  </body>
</html>
