<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
  <head>
      <meta name="robots" content="noindex,nofollow">
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <title>Asurion</title>
      <link rel="stylesheet" href="../../assets/theme/att/att.css">

      <link rel="stylesheet" href="../../assets/theme/att/att.css">
      <link rel="apple-touch-icon" sizes="180x180" href="../../assets/img/apple-touch-icon.png">
      <link rel="icon" type="image/png" sizes="32x32" href="../../assets/img/favicon-32x32.png">
      <link rel="icon" type="image/png" sizes="16x16" href="../../assets/img/favicon-16x16.png">
      <meta name="description" content="">
      <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
      <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
      <script src="https://code.jquery.com/jquery-1.12.1.min.js"></script>
  </head>
  <body>
    <div class="page">
      <div class="pre-footer ng-scope">
        <header class="ng-scope">
            <div class="span12">
              <h1 class="logo"></h1>
              <div class="links">
                  <a id="setlanguage" href="" class="es-link" data-ng-click="changeLanguage(languageToBeSet)" data-vzw-language="" style="display: none;">
                      <span data-ng-bind-html="selectedLanguage.Locales[selectedLanguage.Code] | unsafe" class="ng-scope ng-binding">Ver esta página en español</span>
                  </a>
                  <a id="liveChat" href="" class="chat-link" data-ng-click="clicked();launchChat()" style="display: none;">
                      <div id="LP_DIV_Verizon_Reactive_Chat"><div id="LPMcontainer-1539199012914-0" class="LPMcontainer LPMoverlay" role="button" tabindex="0" style="margin: 1px; padding: 0px; border-style: solid; border-width: 0px; font-style: normal; font-weight: normal; font-variant: normal; list-style: none outside none; letter-spacing: normal; line-height: normal; text-decoration: none; vertical-align: baseline; white-space: normal; word-spacing: normal; background-repeat: repeat-x; background-position: left bottom; cursor: auto; display: block; position: relative; top: 0px; left: 0px;"><a id="liveChat" href="" class="chat-link" data-lp-event="click" style="display: block;">
                      <i class="icon-chat"></i>
                      <span>Live Chat</span>
                      </a></div></div>
                  </a>
              </div>
            </div>
        </header>
        <section class="container main">
          <div class="steps-include">
            <div class="step ng-scope" style="">
              <div class="row">
                <div id="step1" class="span12">
                  <div class="stepbar clearfix">
                    <i class="icon-user"></i>
                    <div class="stepbar-text-top">STEP ONE</div>
                    <div class="stepbar-text-bottom">Your Information</div>
                    <div class="stepbar-text-ClaimCreation" id="claimId_1"></div>
                    <div class="stepbar-text-ClaimCreation" id="MDN_1"></div>
                  </div>
                </div>
              </div>
              <div class="claimstep ng-scope claimstep--ob" stepnum="1" iconclass="icon-user" style="display: block;">
                  
<div class="container--md">
    <div class="row">
        <div class="col-sm-4">
            <h3 class="h4 loud text-center margin-bottom-0x">On Backorder</h3>
            <p class="milli text-center">(Ships in 3-5 business days)</p>
            <div class="card card-button js-select-card" data-mh="js-select-card">
                <div class="card__content">
                    <div class="text-center">
                        <img class="card-phone-image" src="../../assets/img/iphone_img2.png" alt="" height="130">
                    </div>
                    <div class="text-center margin-top-1x">
                        <h4 class="h6 margin-0x">Black Apple iPhone 6 <br>(64gGB)</h4>
                    </div>
                </div>
                <div class="card__footer" data-mh="js-peril-card-footer">
                    <div class="row">
                        <div class="col-xs-10 col-xs-offset-1">
                            <h4 class="h6 margin-0x">Your deductible:</h4>
                             <p class=""><span class="bold mega">$140.00</span>
                                <!-- <span class="micro"> + applicable taxes</span> -->
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <ul class="table-list js-features table-list--first">
                <li class="table-list__item">
                    <div class="table-list__dt">Weight</div>
                    <div class="table-list__dd">4.9oz</div>
                </li>
                <li class="table-list__item">
                    <div class="table-list__dt">Camera</div>
                    <div class="table-list__dd">14 megapixels</div>
                </li>
                <li class="table-list__item">
                    <div class="table-list__dt">Capacity</div>
                    <div class="table-list__dd">64 GB</div>
                </li>
                <li class="table-list__item">
                    <div class="table-list__dt">Battery Life</div>
                    <div class="table-list__dd">10 hours</div>
                </li>
                <li class="table-list__item">
                	<div class="table-list__dt">Wifi</div>
                	<div class="table-list__dd">Yes</div>
                </li>
            </ul>
        </div>
        <div class="col-sm-4">
            <h3 class="h4 loud text-center margin-bottom-0x">Available</h3>
            <p class="milli text-center">(Ships in 1-2 business days)</p>
            <div class="card card-button js-select-card" data-mh="js-select-card">
                <div class="card__content">
                    <div class="text-center">
                        <img class="card-phone-image" src="../../assets/img/iphone-5s.png" alt="" height="130">
                    </div>
                    <div class="text-center margin-top-1x">
                        <h4 class="h6 margin-0x">White Apple iPhone 5 <br>(32GB)</h4>
                    </div>
                </div>
                <div class="card__footer" data-mh="js-peril-card-footer">
                    <div class="row">
                        <div class="col-xs-10 col-xs-offset-1">
                            <h4 class="h6 margin-0x">Your deductible:</h4>
                            <p class=""><span class="bold mega">$160.00</span>
                                <!-- <span class="micro"> + applicable taxes</span> -->
                            </p>
                            <p class="loud micro margin-0x">Selecting this device will raise your premium.</p>
                        </div>
                    </div>
                </div>
            </div>
            <ul class="table-list js-features">
                <li class="table-list__item">
                    <div class="table-list__dt">Weight</div>
                    <div class="table-list__dd">4.8oz</div>
                </li>
                <li class="table-list__item">
                    <div class="table-list__dt">Camera</div>
                    <div class="table-list__dd">12 megapixels</div>
                </li>
                <li class="table-list__item">
                    <div class="table-list__dt">Capacity</div>
                    <div class="table-list__dd">32 GB</div>
                </li>
                <li class="table-list__item">
                    <div class="table-list__dt">Battery Life</div>
                    <div class="table-list__dd">8 hours</div>
                </li>
                <li class="table-list__item">
                	<div class="table-list__dt">Wifi</div>
                	<div class="table-list__dd">No</div>
                </li>
            </ul>
        </div>
        <div class="col-sm-4">
            <h3 class="h4 loud text-center margin-bottom-0x">Available</h3>
            <p class="milli text-center">(Ships in 1-2 business days)</p>
            <div class="card card-button js-select-card" data-mh="js-select-card">
                <div class="card__content">
                    <div class="text-center">
                        <img class="card-phone-image" src="../../assets/img/iphone-5s.png" alt="" height="130">
                    </div>
                    <div class="text-center margin-top-1x">
                        <h4 class="h6 margin-0x">White Apple iPhone 6 <br>(64GB)</h4>
                    </div>
                </div>
                <div class="card__footer" data-mh="js-peril-card-footer">
                    <div class="row">
                        <div class="col-xs-10 col-xs-offset-1">
                            <h4 class="h6 margin-0x">Your deductible:</h4>
                            <p class=""><span class="bold mega">$160.00</span>
                                <!-- <span class="micro"> + applicable taxes</span> -->
                            </p>
                            <p class="loud micro margin-0x">Selecting this device will raise your premium.</p>
                        </div>
                    </div>
                </div>
            </div>
            <ul class="table-list js-features">
                <li class="table-list__item">
                    <div class="table-list__dt">Weight</div>
                    <div class="table-list__dd">4.8oz</div>
                </li>
                <li class="table-list__item">
                    <div class="table-list__dt">Camera</div>
                    <div class="table-list__dd">12 megapixels</div>
                </li>
                <li class="table-list__item">
                    <div class="table-list__dt">Capacity</div>
                    <div class="table-list__dd">32 GB</div>
                </li>
                <li class="table-list__item">
                    <div class="table-list__dt">Battery Life</div>
                    <div class="table-list__dd">8 hours</div>
                </li>
                <li class="table-list__item">
                	<div class="table-list__dt">Wifi</div>
                	<div class="table-list__dd">No</div>
                </li>
            </ul>
        </div>
      </div>

    <div class="hr-toggler margin-top-2x margin-bottom-2x">
        <button class="hr-toggler__btn" data-hr-toggle=".js-features"><span class="js-hr-toggler__text-toggle">Compare</span> Features</button>
    </div>
</div>



              </div>
            </div>
            <div class="ob-expert-help">
              <h4>If you have any questions, our experts will be happy to help.</h4>
              <p>1-866-853-2601</p>
            </div>
          </div>
        </section>
      </div>
    </div>
    
<div class="modal" id="js-modal">
    <header class="modal__header">
        <h3 class="modal__title">Lorem ipsum dolor sit amet.</h3>
    </header>
    <div class="modal__content">
        <div class="row">
            <div class="col-sm-10 col-sm-offset-1 typography">
                <h5 class="loud">Lorem ipsum dolor sit amet, consectetur adipisicing elit. </h5>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Hic dolorem voluptas quam laboriosam suscipit molestias neque, ipsam id explicabo accusamus sunt aliquam, rem illo, aperiam unde voluptatum nemo obcaecati cumque.</p>
            </div>
        </div>
    </div>
    <footer class="modal__footer">
        <div class="row">
            <div class="col-sm-6 col-sm-offset-3">
                <div class="btn-stack">
                    <button class="btn btn-primary" data-modal-close >Accept</button>
                    <button class="btn btn-primary btn-blank" data-modal-close >Change selection</button>
                </div>
            </div>
        </div>
        
    </footer>
</div>
<script>
    $('.js-select-device').click(function(event) {
        $this = $(this);
        if( $this.hasClass('card-button--selected')){

        }
        else{
            $('.js-select-device').removeClass('card-button--selected');
            $this.addClass('card-button--selected')
            $('.card').removeClass('card--selected')
            $('.js-card-group').addClass('card--muted')
            $this.closest('.js-card-group').addClass('card--selected').removeClass('card--muted')
            $("#js-next-button").removeClass('btn-disabled').attr({
                disabled: false
            });
        }
        
    });
</script>

    <span class="ob-confetti">&nbsp;</span>
    <img src="/assets/img/trophy.svg" alt="trophy" class="ob-trophy" style="display:none;" />
  </body>
</html>
