<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
  <head>
      <meta name="robots" content="noindex,nofollow">
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <title>Asurion</title>
      <link rel="stylesheet" href="../../assets/theme/att/att.css">

      <link rel="stylesheet" href="../../assets/theme/att/att.css">
      <link rel="apple-touch-icon" sizes="180x180" href="../../assets/img/apple-touch-icon.png">
      <link rel="icon" type="image/png" sizes="32x32" href="../../assets/img/favicon-32x32.png">
      <link rel="icon" type="image/png" sizes="16x16" href="../../assets/img/favicon-16x16.png">
      <meta name="description" content="">
      <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
      <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
      <script src="https://code.jquery.com/jquery-1.12.1.min.js"></script>
  </head>
  <body>
    <div class="page">
      <div class="pre-footer ng-scope">
        <header class="ng-scope">
            <div class="span12">
              <h1 class="logo"></h1>
              <div class="links">
                  <a id="setlanguage" href="" class="es-link" data-ng-click="changeLanguage(languageToBeSet)" data-vzw-language="" style="display: none;">
                      <span data-ng-bind-html="selectedLanguage.Locales[selectedLanguage.Code] | unsafe" class="ng-scope ng-binding">Ver esta página en español</span>
                  </a>
                  <a id="liveChat" href="" class="chat-link" data-ng-click="clicked();launchChat()" style="display: none;">
                      <div id="LP_DIV_Verizon_Reactive_Chat"><div id="LPMcontainer-1539199012914-0" class="LPMcontainer LPMoverlay" role="button" tabindex="0" style="margin: 1px; padding: 0px; border-style: solid; border-width: 0px; font-style: normal; font-weight: normal; font-variant: normal; list-style: none outside none; letter-spacing: normal; line-height: normal; text-decoration: none; vertical-align: baseline; white-space: normal; word-spacing: normal; background-repeat: repeat-x; background-position: left bottom; cursor: auto; display: block; position: relative; top: 0px; left: 0px;"><a id="liveChat" href="" class="chat-link" data-lp-event="click" style="display: block;">
                      <i class="icon-chat"></i>
                      <span>Live Chat</span>
                      </a></div></div>
                  </a>
              </div>
            </div>
        </header>
        <section class="container main">
          <div class="steps-include">
            <div class="step ng-scope" style="">
              <div class="row">
                <div id="step1" class="span12">
                  <div class="stepbar clearfix">
                    <i class="icon-user"></i>
                    <div class="stepbar-text-top">STEP ONE</div>
                    <div class="stepbar-text-bottom">Your Information</div>
                    <div class="stepbar-text-ClaimCreation" id="claimId_1"></div>
                    <div class="stepbar-text-ClaimCreation" id="MDN_1"></div>
                  </div>
                </div>
              </div>
              <div class="claimstep ng-scope claimstep--ob" stepnum="1" iconclass="icon-user" style="display: block;">
                  
<div class="container">
    <div class="card">
        <div class="card__content padding-sm-3x">
            <p class="uploader__header">
                Accepted file formats include <span class="bold">GIF</span>, <span class="bold">JPG</span>, <span class="bold">PNG</span>, <span class="bold">TIF</span> or <span class="bold">PDF</span> file(s). <span class="no-wrap--desktop">Maximum size limit per file is <span class="bold">10MB</span>.</span>
            </p>
            <hr>
                <div class="upload-card">
                    <div class="upload-card__header" data-mh="js-upload-header">
                        <h3 class="upload-card__title">Photo ID</h3>
                    </div>
                    <div class="upload-card__content">
                        <div class="upload-dropzone" data-mh="js-upload-card">
                            <div class="upload-dropzone__content">
                                <div class="icon--muted icon--mega text-center icon-uniE60B margin-bottom-1x"></div>
                                <p class="upload-dropzone__text">Drag your <br>photo ID here</p>
                            </div>
                        </div>
                    </div>
                    <div class="upload-card__footer" data-mh="js-upload-footer">
                        <div class="btn-block">
                            <button class="upload-card__button upload-card__button--upload">Upload file</button>
                            <button class="upload-card__button upload-card__button--photo">Take Photo</button>
                        </div>
                        <p class="upload-card__eg">e.g. Drivers License, <br class="br-desktop">Passport, Military ID</p>
                    </div>
                </div>
            
                <div class="upload-card">
                    <div class="upload-card__header" data-mh="js-upload-header">
                        <h3 class="upload-card__title">Affidavit</h3>
                    </div>
                    <div class="upload-card__content">
                        <div class="upload-dropzone" data-mh="js-upload-card">
                            <div class="upload-dropzone__content">
                                <div class="icon--muted icon--mega text-center icon-uniE60B margin-bottom-1x"></div>
                                <p class="upload-dropzone__text">Drag your <br>affidavit here</p>
                            </div>
                        </div>
                    </div>
                    <div class="upload-card__footer" data-mh="js-upload-footer">
                        <div class="btn-block">
                            <button class="upload-card__button upload-card__button--upload">Upload file</button>
                            <button class="upload-card__button upload-card__button--photo">Take Photo</button>
                        </div>
                        <a href="" class="upload-card__eg clean-link"><span class="icon--inline icon-uniE60B"></span>Download Affidavit
                            </a>
                    </div>
                </div>
            
                <div class="upload-card">
                    <div class="upload-card__header" data-mh="js-upload-header">
                        <h3 class="upload-card__title">Proof of ownership</h3>
                    </div>
                    <div class="upload-card__content">
                        <div class="upload-dropzone" data-mh="js-upload-card">
                            <div class="upload-dropzone__content">
                                <div class="icon--muted icon--mega text-center icon-uniE60B margin-bottom-1x"></div>
                                <p class="upload-dropzone__text">Drag your <br>proof or ownership here</p>
                            </div>
                        </div>
                    </div>
                    <div class="upload-card__footer" data-mh="js-upload-footer">
                        <div class="btn-block">
                            <button class="upload-card__button upload-card__button--upload">Upload file</button>
                            <button class="upload-card__button upload-card__button--photo">Take Photo</button>
                        </div>
                        <p class="upload-card__eg">e.g. receipt, UPC code from box, service agreement</p>
                    </div>
                </div>
            
                <div class="upload-card">
                    <div class="upload-card__header" data-mh="js-upload-header">
                        <h3 class="upload-card__title">Other / misc.</h3>
                    </div>
                    <div class="upload-card__content">
                        <div class="upload-dropzone" data-mh="js-upload-card">
                            <div class="upload-dropzone__content">
                                <div class="icon--muted icon--mega text-center icon-uniE60B margin-bottom-1x"></div>
                                <p class="upload-dropzone__text">Drag your <br>additional files here.</p>
                            </div>
                        </div>
                    </div>
                    <div class="upload-card__footer" data-mh="js-upload-footer">
                        <div class="btn-block">
                            <button class="upload-card__button upload-card__button--upload">Upload file</button>
                            <button class="upload-card__button upload-card__button--photo">Take Photo</button>
                        </div>
                        <p class="upload-card__eg">e.g. police report, insurance document, etc.</p>
                    </div>
            </div>
        </div>
    </div>
</div>


              </div>
            </div>
            <div class="ob-expert-help">
              <h4>If you have any questions, our experts will be happy to help.</h4>
              <p>1-866-853-2601</p>
            </div>
          </div>
        </section>
      </div>
    </div>
    
    
    <span class="ob-confetti">&nbsp;</span>
    <img src="/assets/img/trophy.svg" alt="trophy" class="ob-trophy" style="display:none;" />
  </body>
</html>
