<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
  <head>
      <meta name="robots" content="noindex,nofollow">
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <title>Asurion</title>
      <link rel="stylesheet" href="../../assets/theme/att/att.css">

      <link rel="stylesheet" href="../../assets/theme/att/att.css">
      <link rel="apple-touch-icon" sizes="180x180" href="../../assets/img/apple-touch-icon.png">
      <link rel="icon" type="image/png" sizes="32x32" href="../../assets/img/favicon-32x32.png">
      <link rel="icon" type="image/png" sizes="16x16" href="../../assets/img/favicon-16x16.png">
      <meta name="description" content="">
      <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
      <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
      <script src="https://code.jquery.com/jquery-1.12.1.min.js"></script>
  </head>
  <body>
    <div class="page">
      <div class="pre-footer ng-scope">
        <header class="ng-scope">
            <div class="span12">
              <h1 class="logo"></h1>
              <div class="links">
                  <a id="setlanguage" href="" class="es-link" data-ng-click="changeLanguage(languageToBeSet)" data-vzw-language="" style="display: none;">
                      <span data-ng-bind-html="selectedLanguage.Locales[selectedLanguage.Code] | unsafe" class="ng-scope ng-binding">Ver esta página en español</span>
                  </a>
                  <a id="liveChat" href="" class="chat-link" data-ng-click="clicked();launchChat()" style="display: none;">
                      <div id="LP_DIV_Verizon_Reactive_Chat"><div id="LPMcontainer-1539199012914-0" class="LPMcontainer LPMoverlay" role="button" tabindex="0" style="margin: 1px; padding: 0px; border-style: solid; border-width: 0px; font-style: normal; font-weight: normal; font-variant: normal; list-style: none outside none; letter-spacing: normal; line-height: normal; text-decoration: none; vertical-align: baseline; white-space: normal; word-spacing: normal; background-repeat: repeat-x; background-position: left bottom; cursor: auto; display: block; position: relative; top: 0px; left: 0px;"><a id="liveChat" href="" class="chat-link" data-lp-event="click" style="display: block;">
                      <i class="icon-chat"></i>
                      <span>Live Chat</span>
                      </a></div></div>
                  </a>
              </div>
            </div>
        </header>
        <section class="container main">
          <div class="steps-include">
            <div class="step ng-scope" style="">
              <div class="row">
                <div id="step1" class="span12">
                  <div class="stepbar clearfix">
                    <i class="icon-user"></i>
                    <div class="stepbar-text-top">STEP ONE</div>
                    <div class="stepbar-text-bottom">Your Information</div>
                    <div class="stepbar-text-ClaimCreation" id="claimId_1"></div>
                    <div class="stepbar-text-ClaimCreation" id="MDN_1"></div>
                  </div>
                </div>
              </div>
              <div class="claimstep ng-scope claimstep--ob" stepnum="1" iconclass="icon-user" style="display: block;">
                  
<div class="container--sm">
    <div class="card">
        <div class="card__content">
            <div class="row">
                <div class="col-sm-10 col-sm-offset-1">
                    <h3 class="h4 loud">Shipping Address</span></h3>
                    <p class="margin-reset--bottom">Kim Jones</p>
                    <p>123 Park Street, Apt. 1 <br> Springfield, TN 01234
                        </p>
                    <a href="3.2.shippingAddressEdit.html" class="edit-link">Edit</a>
                    <hr class="hr">
                    <h3 class="h4 loud">Shipping Method</span></h3>
                    <div class="row margin-2x--bottom">
                        <div class="col-sm-8">
                            <div class="form-group">
                                <select class="form-control" id="deviceManufacturer" ng-model="formData.shipping.method" ng-change="setDeliveryDate()">
                                    <option value="Next Day">Next Day</option>
                                    <option value="Second Day">Second Day</option>
                                    <option value="Saturday Delivery">Saturday Delivery</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <h3 class="h4 loud">Require Signature?</span></h3>
                            <div class="form-group">
                                <div class="radio">
                                    <input type="radio" name="shippingSignatureRequired" id="shippingSignatureRequiredYes" value="yes" ng-model="formData.shipping.signatureReguired">
                                    <label for="shippingSignatureRequiredYes">Yes, require a signature.</label>
                                </div>
                                <div class="radio">
                                    <input type="radio" name="shippingSignatureRequired" id="shippingSignatureRequiredNo" value="no" ng-model="formData.shipping.signatureReguired">
                                    <label for="shippingSignatureRequiredNo">No, it's okay to leave it at the front door.</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card__footer">
            <div class="row">
                <div class="col-sm-10 col-sm-offset-1">
                    <dl class="d-list">
                        <dt>Expected Delivery:</dt>
                        <dd>April 2, 2016</dd>
                    </dl>
                    <dl class="d-list">
                        <dt>Shipping:</dt>
                        <dd class="text-highlight-color loud">Free shipping!</dd>
                    </dl>
                </div>
            </div>
        </div>
    </div>
</div>

              </div>
            </div>
            <div class="ob-expert-help">
              <h4>If you have any questions, our experts will be happy to help.</h4>
              <p>1-866-853-2601</p>
            </div>
          </div>
        </section>
      </div>
    </div>
    
    
    <span class="ob-confetti">&nbsp;</span>
    <img src="/assets/img/trophy.svg" alt="trophy" class="ob-trophy" style="display:none;" />
  </body>
</html>
