<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
  <head>
      <meta name="robots" content="noindex,nofollow">
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <title>Asurion</title>
      <link rel="stylesheet" href="../../assets/theme/att/att.css">

      <link rel="stylesheet" href="../../assets/theme/att/att.css">
      <link rel="apple-touch-icon" sizes="180x180" href="../../assets/img/apple-touch-icon.png">
      <link rel="icon" type="image/png" sizes="32x32" href="../../assets/img/favicon-32x32.png">
      <link rel="icon" type="image/png" sizes="16x16" href="../../assets/img/favicon-16x16.png">
      <meta name="description" content="">
      <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
      <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
      <script src="https://code.jquery.com/jquery-1.12.1.min.js"></script>
  </head>
  <body>
    <div class="page">
      <div class="pre-footer ng-scope">
        <header class="ng-scope">
            <div class="span12">
              <h1 class="logo"></h1>
              <div class="links">
                  <a id="setlanguage" href="" class="es-link" data-ng-click="changeLanguage(languageToBeSet)" data-vzw-language="" style="display: none;">
                      <span data-ng-bind-html="selectedLanguage.Locales[selectedLanguage.Code] | unsafe" class="ng-scope ng-binding">Ver esta página en español</span>
                  </a>
                  <a id="liveChat" href="" class="chat-link" data-ng-click="clicked();launchChat()" style="display: none;">
                      <div id="LP_DIV_Verizon_Reactive_Chat"><div id="LPMcontainer-1539199012914-0" class="LPMcontainer LPMoverlay" role="button" tabindex="0" style="margin: 1px; padding: 0px; border-style: solid; border-width: 0px; font-style: normal; font-weight: normal; font-variant: normal; list-style: none outside none; letter-spacing: normal; line-height: normal; text-decoration: none; vertical-align: baseline; white-space: normal; word-spacing: normal; background-repeat: repeat-x; background-position: left bottom; cursor: auto; display: block; position: relative; top: 0px; left: 0px;"><a id="liveChat" href="" class="chat-link" data-lp-event="click" style="display: block;">
                      <i class="icon-chat"></i>
                      <span>Live Chat</span>
                      </a></div></div>
                  </a>
              </div>
            </div>
        </header>
        <section class="container main">
          <div class="steps-include">
            <div class="step ng-scope" style="">
              <div class="row">
                <div id="step1" class="span12">
                  <div class="stepbar clearfix">
                    <i class="icon-user"></i>
                    <div class="stepbar-text-top">STEP ONE</div>
                    <div class="stepbar-text-bottom">Your Information</div>
                    <div class="stepbar-text-ClaimCreation" id="claimId_1"></div>
                    <div class="stepbar-text-ClaimCreation" id="MDN_1"></div>
                  </div>
                </div>
              </div>
              <div class="claimstep ng-scope claimstep--ob" stepnum="1" iconclass="icon-user" style="display: block;">
                  
	<div class="container--sm">
		<div class="card padding-left-right-sm-2x">
			<div class="card__content">
<!-- 				<h3 class="h4 loud">Identity Verification
				</h3>
				<hr>
 -->				<div class="row gutter--sm">
					<div class="col-xs-6">
						<div class="form-group">
						    <label for="dob">Date of Birth</label>
						    <div class="custom-dropdown">
						        <select name="DOBmonth" id="DOBmonth" placeholder="Month" class="form-control">
						            <option>Month</option>
					            	<option value="January">January</option>
					            	<option value="Febuary">Febuary</option>
					            	<option value="March">March</option>
					            	<option value="April">April</option>
					            	<option value="May">May</option>
					            	<option value="June">June</option>
					            	<option value="July">July</option>
					            	<option value="August">August</option>
					            	<option value="September">September</option>
					            	<option value="October">October</option>
					            	<option value="November">November</option>
					            	<option value="December">December</option>
						        </select>
						    </div>
						</div>
					</div>
					<div class="col-xs-3">
						<div class="form-group">
						    <label for=""></label>
						    <div class="custom-dropdown">
						        <select name="DOBday" id="DOBday" placeholder="Day" class="form-control">
						            <option>Day</option>
						            	<option value="1">1</option>
						            	<option value="2">2</option>
						            	<option value="3">3</option>
						            	<option value="4">4</option>
						            	<option value="5">5</option>
						            	<option value="6">6</option>
						            	<option value="7">7</option>
						            	<option value="8">8</option>
						            	<option value="9">9</option>
						            	<option value="10">10</option>
						            	<option value="11">11</option>
						            	<option value="12">12</option>
						            	<option value="13">13</option>
						            	<option value="14">14</option>
						            	<option value="15">15</option>
						            	<option value="16">16</option>
						            	<option value="17">17</option>
						            	<option value="18">18</option>
						            	<option value="19">19</option>
						            	<option value="20">20</option>
						            	<option value="21">21</option>
						            	<option value="22">22</option>
						            	<option value="23">23</option>
						            	<option value="24">24</option>
						            	<option value="25">25</option>
						            	<option value="26">26</option>
						            	<option value="27">27</option>
						            	<option value="28">28</option>
						            	<option value="29">29</option>
						            	<option value="30">30</option>
						            	<option value="31">31</option>
						        </select>
						    </div>
						</div>
					</div>
					<div class="col-xs-3">
						<div class="form-group">
						    <label for=""></label>
						    <div class="custom-dropdown">
						        <select name="DOByear" id="DOByear" placeholder="Year" class="form-control">
						            <option>Year</option>
						            	<option value="1993">1993</option>
						            	<option value="1992">1992</option>
						            	<option value="1991">1991</option>
						            	<option value="1990">1990</option>
						            	<option value="1989">1989</option>
						            	<option value="1988">1988</option>
						            	<option value="1987">1987</option>
						            	<option value="1986">1986</option>
						            	<option value="1985">1985</option>
						            	<option value="1984">1984</option>
						            	<option value="1983">1983</option>
						            	<option value="1982">1982</option>
						            	<option value="1981">1981</option>
						            	<option value="1980">1980</option>
						            	<option value="1979">1979</option>
						            	<option value="1978">1978</option>
						            	<option value="1977">1977</option>
						            	<option value="1976">1976</option>
						            	<option value="1975">1975</option>
						            	<option value="1974">1974</option>
						            	<option value="1973">1973</option>
						            	<option value="1972">1972</option>
						            	<option value="1971">1971</option>
						            	<option value="1970">1970</option>
						            	<option value="1969">1969</option>
						            	<option value="1968">1968</option>
						            	<option value="1967">1967</option>
						            	<option value="1966">1966</option>
						            	<option value="1965">1965</option>
						            	<option value="1964">1964</option>
						            	<option value="1963">1963</option>
						            	<option value="1962">1962</option>
						            	<option value="1961">1961</option>
						            	<option value="1960">1960</option>
						            	<option value="1959">1959</option>
						            	<option value="1958">1958</option>
						            	<option value="1957">1957</option>
						            	<option value="1956">1956</option>
						            	<option value="1955">1955</option>
						            	<option value="1954">1954</option>
						            	<option value="1953">1953</option>
						            	<option value="1952">1952</option>
						            	<option value="1951">1951</option>
						            	<option value="1950">1950</option>
						            	<option value="1949">1949</option>
						            	<option value="1948">1948</option>
						            	<option value="1947">1947</option>
						        </select>
						    </div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-sm-5">
						<div class="form-group">
							<div class="form-group">
								<label for="ssn">SSN Last 4 digits</label>
							    <input type="text" class="form-control" id="ssn" placeholder="SSN Last 4 digits" >
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>


              </div>
            </div>
            <div class="ob-expert-help">
              <h4>If you have any questions, our experts will be happy to help.</h4>
              <p>1-866-853-2601</p>
            </div>
          </div>
        </section>
      </div>
    </div>
    



    <span class="ob-confetti">&nbsp;</span>
    <img src="/assets/img/trophy.svg" alt="trophy" class="ob-trophy" style="display:none;" />
  </body>
</html>
