<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
  <head>
      <meta name="robots" content="noindex,nofollow">
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <title>Asurion</title>
      <link rel="stylesheet" href="../../assets/theme/att/att.css">

      <link rel="stylesheet" href="../../assets/theme/att/att.css">
      <link rel="apple-touch-icon" sizes="180x180" href="../../assets/img/apple-touch-icon.png">
      <link rel="icon" type="image/png" sizes="32x32" href="../../assets/img/favicon-32x32.png">
      <link rel="icon" type="image/png" sizes="16x16" href="../../assets/img/favicon-16x16.png">
      <meta name="description" content="">
      <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
      <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
      <script src="https://code.jquery.com/jquery-1.12.1.min.js"></script>
  </head>
  <body>
    <div class="page">
      <div class="pre-footer ng-scope">
        <header class="ng-scope">
            <div class="span12">
              <h1 class="logo"></h1>
              <div class="links">
                  <a id="setlanguage" href="" class="es-link" data-ng-click="changeLanguage(languageToBeSet)" data-vzw-language="" style="display: none;">
                      <span data-ng-bind-html="selectedLanguage.Locales[selectedLanguage.Code] | unsafe" class="ng-scope ng-binding">Ver esta página en español</span>
                  </a>
                  <a id="liveChat" href="" class="chat-link" data-ng-click="clicked();launchChat()" style="display: none;">
                      <div id="LP_DIV_Verizon_Reactive_Chat"><div id="LPMcontainer-1539199012914-0" class="LPMcontainer LPMoverlay" role="button" tabindex="0" style="margin: 1px; padding: 0px; border-style: solid; border-width: 0px; font-style: normal; font-weight: normal; font-variant: normal; list-style: none outside none; letter-spacing: normal; line-height: normal; text-decoration: none; vertical-align: baseline; white-space: normal; word-spacing: normal; background-repeat: repeat-x; background-position: left bottom; cursor: auto; display: block; position: relative; top: 0px; left: 0px;"><a id="liveChat" href="" class="chat-link" data-lp-event="click" style="display: block;">
                      <i class="icon-chat"></i>
                      <span>Live Chat</span>
                      </a></div></div>
                  </a>
              </div>
            </div>
        </header>
        <section class="container main">
          <div class="steps-include">
            <div class="step ng-scope" style="">
              <div class="row">
                <div id="step1" class="span12">
                  <div class="stepbar clearfix">
                    <i class="icon-user"></i>
                    <div class="stepbar-text-top">STEP ONE</div>
                    <div class="stepbar-text-bottom">Your Information</div>
                    <div class="stepbar-text-ClaimCreation" id="claimId_1"></div>
                    <div class="stepbar-text-ClaimCreation" id="MDN_1"></div>
                  </div>
                </div>
              </div>
              <div class="claimstep ng-scope claimstep--ob" stepnum="1" iconclass="icon-user" style="display: block;">
                  
	<div class="container--md">
		<div class="card js-sur-triage">
			<div class="card__content">
				<div class="row">
					<div class="col-sm-10 col-sm-offset-1">
						<h3 class="h4 loud">iPhone Unlock Instructions</h3>
						<h4 class="h6">For the correct instructions, select whether or not you are currently able to use your device:</h4>
					</div>
				</div>
				<hr>
				<div class="btn-well">
					<button class="btn btn-primary btn-ghost js-unlock-toggle" data-target=".js-i-can">I can use my device</button>
					<button class="btn btn-primary btn-ghost js-unlock-toggle" data-target=".js-i-cannot">I cannot use my device</button>
				</div>
			</div>
			<div class="card__footer">
				<div class="row js-unlock-tab js-i-can">
					<div class="col-sm-10 col-sm-offset-1">
						<h4 class="h5 loud">Follow the steps below to disable the Find My iPhone feature:</h4>
						<hr>
						<ol class="ol-list rounded-list">
							<li>From the home screen, tap <span class="bold">Settings > iCloud</span></li>
							<li>To disable <span class="bold">Find My iPhone</span>, tap and drag the toggles to the left</li>
							<li>Enter your <span class="bold">Apple ID password</span> and tap <span class="bold">Turn Off</span></li>
							<li>Click <span class="bold">Check Again</span> below to recheck the status of your iPhone. <hr>
								<button class="refresh-btn btn btn-sm btn-inline btn-primary js-check-again">
									<span class="refresh-btn-icon btn-icon-left">
										<span class="refresh-btn-icon__refresh icon--bold icon-alerticons-06"></span>
										<span class="refresh-btn-icon__success icon--bold icon-alerticons-03"></span>
									</span>
									<span class="refresh-btn-text">
										<span class="refresh-btn-text__check">Check again</span>
										<span class="refresh-btn-text__checking">Checking...</span>
										<span class="refresh-btn-text__success">Success!</span>
									</span>
								</button>
								<p class="js-success-message">You've successfully disabled the <span class="bold">Find My iPhone</span> feature and can continue with your claim. Click <span class="bold">Continue</span> below.</p>
								
							</li>
							
						</ol>
					</div>
				</div>
				<div class="row js-unlock-tab js-i-cannot">
					<div class="col-sm-10 col-sm-offset-1">
						<h4 class="h5 loud">Follow the steps below to disable the Find My iPhone feature</h4>
						<hr>
						<ol class="ol-list rounded-list">
							<li>Login to your <span class="bold">iCloud</span> account (<a href="http://www.icloud.com" target="_blank">www.icloud.com</a>)</li>
							<li>Click <span class="bold">Find My iPhone > All Devices</span></li>
							<li>Identify the device</li>
							<li>Click on the name of the device</li>
							<li>Click <span class="bold">Remove from Account</span></li>
							<li>Click <span class="bold">Check Again</span> below to recheck the status of your iPhone. <hr>
								<button class="refresh-btn btn btn-sm btn-inline btn-primary js-check-again">
									<span class="refresh-btn-icon btn-icon-left">
										<span class="refresh-btn-icon__refresh icon--bold icon-alerticons-06"></span>
										<span class="refresh-btn-icon__success icon--bold icon-alerticons-03"></span>
									</span>
									<span class="refresh-btn-text">
										<span class="refresh-btn-text__check">Check again</span>
										<span class="refresh-btn-text__checking">Checking...</span>
										<span class="refresh-btn-text__success">Success!</span>
									</span>
								</button>
								<p class="js-success-message">You've successfully disabled the <span class="bold">Find My iPhone</span> feature and can continue with your claim. Click <span class="bold">Continue</span> below.</p>
							</li>
						</ol>
					</div>
				</div>
			</div>
		</div>	
		
	</div>
	<div class="path-control submission-outcome">
		<select name="" id="path-conrol__select">
			<option value="unlock_success">Unlock success</option>
			<option value="unlock_failure">Unlock 1st failure</option>
			<option value="unlock_failureX3">Unlock failure x3</option>
		</select>	
<!-- 		<button class="path-control__button">Skip</button>
 -->	</div>

              </div>
            </div>
            <div class="ob-expert-help">
              <h4>If you have any questions, our experts will be happy to help.</h4>
              <p>1-866-853-2601</p>
            </div>
          </div>
        </section>
      </div>
    </div>
    
<button class="hidden" data-modal="#js-chat">fjadf</button>
<div class="modal" id="js-chat">
	<div class="modal__close-btn icon-uniE601" data-modal-close=""></div>
	<header class="modal__header">
		<h3 class="modal__title">Your device is in a locked status</h3>
	</header>
	<div class="modal__content">
		<div class="row">
		    <div class="col-sm-10 col-sm-offset-1 typography">
		    	<!-- <h5 class="loud">Your Device Is In A Locked Status</h5> -->
		    	<p>May one of our chat agents help you?</p>
		    </div>
		</div>
	</div>
	<footer class="modal__footer">
		<div class="row">
			<div class="col-sm-6 col-sm-offset-3">
				<div class="btn-stack">
					<a href="" class="btn btn-primary">Yes, please.</a>
					<button data-modal-close class="btn btn-blank btn-primary">No, thanks.</button>	
				</div>
				
			</div>
		</div>
	</footer>
</div>
<script>
	$(document).ready(function() {
		var toggles = $('.js-unlock-toggle')
			tabs = $('.js-unlock-tab')
			tabs.hide()
		$('.js-unlock-toggle').click(function(event) {
			var target = $(this).attr('data-target')
				

			if( $(this).hasClass('js-unlock-toggle--on')){
				// toggles.removeClass('js-unlock-toggle--on').addClass('btn-ghost')
				// $(this).addClass('btn-ghost').removeClass('js-unlock-toggle--on')
				// tabs.hide();

				
			}
			else{
				toggles.removeClass('js-unlock-toggle--on').addClass('btn-ghost')
				$(this).removeClass('btn-ghost').addClass('js-unlock-toggle--on')
				tabs.hide();
				$(target).show();
			}
		});
		// $('.js-check-again').click(function(event) {
			
		// 	var $this = $(this),
		// 		refreshIcon = $this.find('.refresh-btn-icon')
		// 		text = $this.find('.refresh-btn-text')
		// 	$this.addClass('refresh-icon--active')
		// 	text.html('Checking...')

		// 	setTimeout(function() {
		//     	icon.removeClass('refresh-btn-icon--active')
		//     	text.html('Check again')
		// 	}, 3000);
		// });

		$('.refresh-btn-text__checking, .refresh-btn-text__success, .refresh-btn-icon__success, .js-success-message').hide();
		$('.js-check-again').click(function(event) {
			$this = $(this);
			$this.addClass('refresh-button--active')
			
			$('.refresh-btn-text__check').hide();
			$('.refresh-btn-text__checking').show();

			if( $('#path-conrol__select').val() == "unlock_success" ){
				setTimeout(function() {
					$('.js-check-again, .js-unlock-toggle').attr('disabled', true).addClass('btn-disabled');
			    	$('.refresh-btn-icon__success,.refresh-btn-text__success').show();
			    	$('.refresh-btn-icon__refresh,.refresh-btn-text__checking').hide();
			    	$('#js-next-button').attr('disabled', false).removeClass('btn-disabled');
			    	$('.js-success-message').fadeIn(200);
				}, 3000);
			}
			else if( $('#path-conrol__select').val() == "unlock_failure" ){
					setTimeout(function() {
						$('.refresh-btn-icon__refresh, .refresh-btn-text__check').show();
						$('.refresh-btn-text__checking').hide();
						$('[data-modal]').trigger('click')
					}, 3000);
					
			}
			else if( $('#path-conrol__select').val() == "unlock_failureX3" ){
					setTimeout(function() {
						document.location.href = "9.1.2.apple-unlock--page-level-error.html"
					}, 3000);
				
			}
		});
	});
    
</script>


    <span class="ob-confetti">&nbsp;</span>
    <img src="/assets/img/trophy.svg" alt="trophy" class="ob-trophy" style="display:none;" />
  </body>
</html>
