<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
  <head>
      <meta name="robots" content="noindex,nofollow">
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <title>Asurion</title>
      <link rel="stylesheet" href="../../assets/theme/att/att.css">

      <link rel="stylesheet" href="../../assets/theme/att/att.css">
      <link rel="apple-touch-icon" sizes="180x180" href="../../assets/img/apple-touch-icon.png">
      <link rel="icon" type="image/png" sizes="32x32" href="../../assets/img/favicon-32x32.png">
      <link rel="icon" type="image/png" sizes="16x16" href="../../assets/img/favicon-16x16.png">
      <meta name="description" content="">
      <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
      <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
      <script src="https://code.jquery.com/jquery-1.12.1.min.js"></script>
  </head>
  <body>
    <div class="page">
      <div class="pre-footer ng-scope">
        <header class="ng-scope">
            <div class="span12">
              <h1 class="logo"></h1>
              <div class="links">
                  <a id="setlanguage" href="" class="es-link" data-ng-click="changeLanguage(languageToBeSet)" data-vzw-language="" style="display: none;">
                      <span data-ng-bind-html="selectedLanguage.Locales[selectedLanguage.Code] | unsafe" class="ng-scope ng-binding">Ver esta página en español</span>
                  </a>
                  <a id="liveChat" href="" class="chat-link" data-ng-click="clicked();launchChat()" style="display: none;">
                      <div id="LP_DIV_Verizon_Reactive_Chat"><div id="LPMcontainer-1539199012914-0" class="LPMcontainer LPMoverlay" role="button" tabindex="0" style="margin: 1px; padding: 0px; border-style: solid; border-width: 0px; font-style: normal; font-weight: normal; font-variant: normal; list-style: none outside none; letter-spacing: normal; line-height: normal; text-decoration: none; vertical-align: baseline; white-space: normal; word-spacing: normal; background-repeat: repeat-x; background-position: left bottom; cursor: auto; display: block; position: relative; top: 0px; left: 0px;"><a id="liveChat" href="" class="chat-link" data-lp-event="click" style="display: block;">
                      <i class="icon-chat"></i>
                      <span>Live Chat</span>
                      </a></div></div>
                  </a>
              </div>
            </div>
        </header>
        <section class="container main">
          <div class="steps-include">
            <div class="step ng-scope" style="">
              <div class="row">
                <div id="step1" class="span12">
                  <div class="stepbar clearfix">
                    <i class="icon-user"></i>
                    <div class="stepbar-text-top">STEP ONE</div>
                    <div class="stepbar-text-bottom">Your Information</div>
                    <div class="stepbar-text-ClaimCreation" id="claimId_1"></div>
                    <div class="stepbar-text-ClaimCreation" id="MDN_1"></div>
                  </div>
                </div>
              </div>
              <div class="claimstep ng-scope claimstep--ob" stepnum="1" iconclass="icon-user" style="display: block;">
                  
<div class="container--sm">
  <div class="card">
    <form class="adg-scheduler">
        <div class="adg-scheduler__dates">
            <div class="adg-scheduler__dates__month">September 2017</div>
            <div class="adg-scheduler__dates__week">
                <label for="september_01" class="adg-scheduler__dates__day">
                    <input class="adg-scheduler__dates__day__input" type="radio" name="date" id="september_01" value="Friday, September 1, 2017" >
                    <div class="adg-scheduler__dates__day__name">F</div>
                    <div class="adg-scheduler__dates__day__number">1</div>
                </label>
                <label for="september_02" class="adg-scheduler__dates__day">
                    <input class="adg-scheduler__dates__day__input" type="radio" name="date" id="september_02" value="Saturday, September 2, 2017">
                    <div class="adg-scheduler__dates__day__name">S</div>
                    <div class="adg-scheduler__dates__day__number">2</div>
                </label>
                <label for="september_03" class="adg-scheduler__dates__day" >
                    <input class="adg-scheduler__dates__day__input" type="radio" name="date" id="september_03" value="Sunday, September 3, 2017" disabled>
                    <div class="adg-scheduler__dates__day__name">S</div>
                    <div class="adg-scheduler__dates__day__number">3</div>
                </label>
                <label for="september_04" class="adg-scheduler__dates__day">
                    <input class="adg-scheduler__dates__day__input" type="radio" name="date" id="september_04" value="Monday, September 4, 2017">
                    <div class="adg-scheduler__dates__day__name">M</div>
                    <div class="adg-scheduler__dates__day__number">4</div>
                </label>
                <label for="september_05" class="adg-scheduler__dates__day">
                    <input class="adg-scheduler__dates__day__input" type="radio" name="date" id="september_05" value="Tuesday, September 5, 2017">
                    <div class="adg-scheduler__dates__day__name">T</div>
                    <div class="adg-scheduler__dates__day__number">5</div>
                </label>
                <label for="september_06" class="adg-scheduler__dates__day">
                    <input class="adg-scheduler__dates__day__input" type="radio" name="date" id="september_06" value="Wednesday, September 6, 2017">
                    <div class="adg-scheduler__dates__day__name">W</div>
                    <div class="adg-scheduler__dates__day__number">6</div>
                </label>
                <label for="september_07" class="adg-scheduler__dates__day">
                    <input class="adg-scheduler__dates__day__input" type="radio" name="date" id="september_07" value="Thursday, September 7, 2017">
                    <div class="adg-scheduler__dates__day__name">Th</div>
                    <div class="adg-scheduler__dates__day__number">7</div>
                </label>
            </div>
        </div>
        <div class="adg-scheduler__times">
            <label for="9am" class="adg-scheduler__time">
                <input class="adg-scheduler__time__input" type="radio" name="time" id="9am" value="9:00 AM-11:00 AM">
                <span class="adg-scheduler__time__btn">9:00 AM-11:00 AM</span>
            </label>
            <label for="11am" class="adg-scheduler__time adg-scheduler__time--selected">
                <input class="adg-scheduler__time__input" type="radio" name="time" id="11am" value="11:00 AM-1:00 PM">
                <span class="adg-scheduler__time__btn">11:00 AM-1:00 PM</span>
            </label>
            <label for="1pm" class="adg-scheduler__time">
                <input class="adg-scheduler__time__input" type="radio" name="time" id="1pm" value="1:00 PM-3:00 PM">
                <span class="adg-scheduler__time__btn">1:00 PM-3:00 PM</span>
            </label>
            <label for="3pm" class="adg-scheduler__time">
                <input class="adg-scheduler__time__input" type="radio" name="time" id="3pm" value="3:00 PM-5:00 PM" disabled>
                <span class="adg-scheduler__time__btn">3:00 PM-5:00 PM</span>
            </label>
            <label for="5pm" class="adg-scheduler__time">
                <input class="adg-scheduler__time__input" type="radio" name="time" id="5pm" value="5:00 PM-7:00 PM" >
                <span class="adg-scheduler__time__btn">5:00 PM-7:00 PM</span>
            </label>
        </div>
        <div class="adg-scheduler__review js-adg-scheduler__review" >
            <dl>
                <dt class="adg-scheduler__review__title">You have selected:</dt>
                <dd class="adg-scheduler__review__val">
                    <span class="js-dateVal"></span>  
                    <span class="js-timeVal"></span>
                </dd>
            </dl>
        </div>
    </form>
  </div>
</div>
<div class="container margin-top-2x">
    <div class="callout highlight highlight--alert">
        <div class="checkbox margin-0x">
            <input type="checkbox" name="formData.optIn.firstReview" id="formData.optIn.firstReview" value="">
            <label for="formData.optIn.firstReview" class="margin-reset">
               <p class="fine-print margin-0x">I acknowledge that after my screen has been repaired my device may no longer be water resistant.</p>
            </label>
        </div>
    </div>
</div>


              </div>
            </div>
            <div class="ob-expert-help">
              <h4>If you have any questions, our experts will be happy to help.</h4>
              <p>1-866-853-2601</p>
            </div>
          </div>
        </section>
      </div>
    </div>
    

<script>
    $(document).ready(function() {
        $(document).on('change', '[name=date]', function(event) {
            var val = $('input[name=date]:checked').val()
            console.log(val)
            if( $(this).has('val') ){
                $('.js-dateVal').html(val);
                $('.js-adg-scheduler__review').slideDown();

            }
            else{
                $('.js-dateVal').html('');
                $('.js-adg-scheduler__review').hide();
            }
        });
        $(document).on('change', '[name=time]', function(event) {
            var val = $('input[name=time]:checked').val()
            console.log(val)
            if( $(this).has('val') ){
                $('.js-timeVal').html('at '+val);
                $('.js-adg-scheduler__review').show();

            }
            else{
                $('.js-timeVal').html('');
                $('.js-adg-scheduler__review').hide();
            }
        });
        
    });
</script>


    <span class="ob-confetti">&nbsp;</span>
    <img src="/assets/img/trophy.svg" alt="trophy" class="ob-trophy" style="display:none;" />
  </body>
</html>
