<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
  <head>
      <meta name="robots" content="noindex,nofollow">
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <title>Asurion</title>
      <link rel="stylesheet" href="../../assets/theme/att/att.css">

      <link rel="stylesheet" href="../../assets/theme/att/att.css">
      <link rel="apple-touch-icon" sizes="180x180" href="../../assets/img/apple-touch-icon.png">
      <link rel="icon" type="image/png" sizes="32x32" href="../../assets/img/favicon-32x32.png">
      <link rel="icon" type="image/png" sizes="16x16" href="../../assets/img/favicon-16x16.png">
      <meta name="description" content="">
      <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
      <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
      <script src="https://code.jquery.com/jquery-1.12.1.min.js"></script>
  </head>
  <body>
    <div class="page">
      <div class="pre-footer ng-scope">
        <header class="ng-scope">
            <div class="span12">
              <h1 class="logo"></h1>
              <div class="links">
                  <a id="setlanguage" href="" class="es-link" data-ng-click="changeLanguage(languageToBeSet)" data-vzw-language="" style="display: none;">
                      <span data-ng-bind-html="selectedLanguage.Locales[selectedLanguage.Code] | unsafe" class="ng-scope ng-binding">Ver esta página en español</span>
                  </a>
                  <a id="liveChat" href="" class="chat-link" data-ng-click="clicked();launchChat()" style="display: none;">
                      <div id="LP_DIV_Verizon_Reactive_Chat"><div id="LPMcontainer-1539199012914-0" class="LPMcontainer LPMoverlay" role="button" tabindex="0" style="margin: 1px; padding: 0px; border-style: solid; border-width: 0px; font-style: normal; font-weight: normal; font-variant: normal; list-style: none outside none; letter-spacing: normal; line-height: normal; text-decoration: none; vertical-align: baseline; white-space: normal; word-spacing: normal; background-repeat: repeat-x; background-position: left bottom; cursor: auto; display: block; position: relative; top: 0px; left: 0px;"><a id="liveChat" href="" class="chat-link" data-lp-event="click" style="display: block;">
                      <i class="icon-chat"></i>
                      <span>Live Chat</span>
                      </a></div></div>
                  </a>
              </div>
            </div>
        </header>
        <section class="container main">
          <div class="steps-include">
            <div class="step ng-scope" style="">
              <div class="row">
                <div id="step1" class="span12">
                  <div class="stepbar clearfix">
                    <i class="icon-user"></i>
                    <div class="stepbar-text-top">STEP ONE</div>
                    <div class="stepbar-text-bottom">Your Information</div>
                    <div class="stepbar-text-ClaimCreation" id="claimId_1"></div>
                    <div class="stepbar-text-ClaimCreation" id="MDN_1"></div>
                  </div>
                </div>
              </div>
              <div class="claimstep ng-scope claimstep--ob" stepnum="1" iconclass="icon-user" style="display: block;">
                   
    <div class="container--lg">
        <div class="card padding-left-right-sm-4x padding-top-3x">
           <div class="text-center">
               <img width="400" src="../../assets/img/zip-code.png" alt="">
           </div>
           <hr class="margin-bottom-4x">
           <div class="row margin-bottom-2x">
               <div class="col-sm-6">
                   <div class="card bg-gray-10 padding-1x text-center" >
                        <div class="card-header-icon margin-bottom-1x">
                            <span class="card-header-icon__in icon-Icon-page-shipping"></span>
                        </div>
                       <h2 class="bold h2 margin-bottom-0x">$89</h2>
                       <p class="margin-bottom-2x">Deductible</p>
                       <p class="h3 bold margin-bottom-2x">We'll come to you.</p>
                       <ul class="list list--spaced margin-bottom-2x text-left" data-mh="js-same-height">
                         <li>Schedule a 2 hour appointment window</li>
                         <li>We'll come to your home or work</li>
                         <li>An Asurion certified tech will repair your device</li>
                         <li>Reschedule if something comes up</li>
                         <li>12 month warranty</li>
                       </ul>
                       <a href="H" class="h4 link bold inline-block margin-bottom-2x">How does it work?</a>
                       <a href="009.4005.repair-confirm.html" class="btn btn-primary">Schedule repair</a>
                   </div>
               </div>
               <div class="col-sm-6">
                   <div class="card bg-gray-10 padding-1x text-center" >
                        <div class="card-header-icon margin-bottom-1x">
                            <span class="card-header-icon__in icon-store-front"></span>
                        </div>
                       <h2 class="bold h2 margin-bottom-0x">$89</h2>
                       <p class="margin-bottom-2x">Deductible</p>
                       <p class="h3 bold margin-bottom-2x">Bring it in.</p>
                       <ul class="list list--spaced margin-bottom-2x text-left" data-mh="js-same-height">
                         <li>No appointment needed</li>
                         <li>Choose a convenient location</li>
                         <li>An Asurion certified tech will repair your device</li>
                         <li>Repairs are usually completed within two hours</li>
                         <li>12 month warranty</li>
                       </ul>
                       <a href="#" class="h4 link bold inline-block margin-bottom-2x">How does it work?</a>
                       <a href="009.4007.repair-location.html" class="btn btn-primary">Choose location</a>
                   </div>
               </div>
           </div>
           <div class="btn-well">
               <a href="#" class="btn btn-primary btn-ghost margin-bottom-2x">Replace by mail</a>
           </div>
        </div>
    </div>
</div>

              </div>
            </div>
            <div class="ob-expert-help">
              <h4>If you have any questions, our experts will be happy to help.</h4>
              <p>1-866-853-2601</p>
            </div>
          </div>
        </section>
      </div>
    </div>
    

<script>
    
</script>

    <span class="ob-confetti">&nbsp;</span>
    <img src="/assets/img/trophy.svg" alt="trophy" class="ob-trophy" style="display:none;" />
  </body>
</html>
