<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
  <head>
      <meta name="robots" content="noindex,nofollow">
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <title>Asurion</title>
      <link rel="stylesheet" href="../../assets/theme/att/att.css">

      <link rel="stylesheet" href="../../assets/theme/att/att.css">
      <link rel="apple-touch-icon" sizes="180x180" href="../../assets/img/apple-touch-icon.png">
      <link rel="icon" type="image/png" sizes="32x32" href="../../assets/img/favicon-32x32.png">
      <link rel="icon" type="image/png" sizes="16x16" href="../../assets/img/favicon-16x16.png">
      <meta name="description" content="">
      <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
      <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
      <script src="https://code.jquery.com/jquery-1.12.1.min.js"></script>
  </head>
  <body>
    <div class="page">
      <div class="pre-footer ng-scope">
        <header class="ng-scope">
            <div class="span12">
              <h1 class="logo"></h1>
              <div class="links">
                  <a id="setlanguage" href="" class="es-link" data-ng-click="changeLanguage(languageToBeSet)" data-vzw-language="" style="display: none;">
                      <span data-ng-bind-html="selectedLanguage.Locales[selectedLanguage.Code] | unsafe" class="ng-scope ng-binding">Ver esta página en español</span>
                  </a>
                  <a id="liveChat" href="" class="chat-link" data-ng-click="clicked();launchChat()" style="display: none;">
                      <div id="LP_DIV_Verizon_Reactive_Chat"><div id="LPMcontainer-1539199012914-0" class="LPMcontainer LPMoverlay" role="button" tabindex="0" style="margin: 1px; padding: 0px; border-style: solid; border-width: 0px; font-style: normal; font-weight: normal; font-variant: normal; list-style: none outside none; letter-spacing: normal; line-height: normal; text-decoration: none; vertical-align: baseline; white-space: normal; word-spacing: normal; background-repeat: repeat-x; background-position: left bottom; cursor: auto; display: block; position: relative; top: 0px; left: 0px;"><a id="liveChat" href="" class="chat-link" data-lp-event="click" style="display: block;">
                      <i class="icon-chat"></i>
                      <span>Live Chat</span>
                      </a></div></div>
                  </a>
              </div>
            </div>
        </header>
        <section class="container main">
          <div class="steps-include">
            <div class="step ng-scope" style="">
              <div class="row">
                <div id="step1" class="span12">
                  <div class="stepbar clearfix">
                    <i class="icon-user"></i>
                    <div class="stepbar-text-top">STEP ONE</div>
                    <div class="stepbar-text-bottom">Your Information</div>
                    <div class="stepbar-text-ClaimCreation" id="claimId_1"></div>
                    <div class="stepbar-text-ClaimCreation" id="MDN_1"></div>
                  </div>
                </div>
              </div>
              <div class="claimstep ng-scope claimstep--ob" stepnum="1" iconclass="icon-user" style="display: block;">
                  
<div class="container--md">
    <div class="card">
        <div class="card__content padding-sm-2x">
            <div class="text-center">
                <img width="400" src="../../assets/img/zip-code.png" alt="">
            </div>
            <hr class="margin-bottom-4x">
            <div class="store-listing">
                <div class="store-listing__item">
                    <div class="store-listing__col store-listing__col1">
                        <div class="radio">
                            <input class="card-radio" type="radio" name="store" id="store1" value="store1">
                            <label class="store-listing__store-info" for="store1">
                                <h6 class="store-listing__store-name">UBREAKIFIX</h6>
                                <span class="store-listing__store-address">10600 Tamiami Trl<br>
                            Washington, CD 20002 <br>
                            239-597-7337
                        </label>
                    </div>
                </div>
                <div class="store-listing__col store-listing__col2">
                    <span class="store-listing__distance">3 miles from you<span class="icon-Icon-marker store-listing__distance__icon"></span></span>
                                <div class="store-listing__hours">
                                    <a href="" class="store-listing__hours__intro js-hours-expander-trigger">Store Hours<span class="icon-Icon-carrot-down store-listing__hours__icon"></span></a>
                                    <ul class="store-listing__hours__expanded js-hours-expander-target hours-expander-target">
                                        <li class="store-listing__hours__expanded__item">
                                            <span class="store-listing__hours__expanded__day">Sunday</span>
                                            <span class="store-listing__hours__expanded__hours">10AM - 7PM</span>
                                        </li>
                                        <li class="store-listing__hours__expanded__item">
                                            <span class="store-listing__hours__expanded__day">Monday</span>
                                            <span class="store-listing__hours__expanded__hours">CLOSED</span>
                                        </li>
                                        <li class="store-listing__hours__expanded__item">
                                            <span class="store-listing__hours__expanded__day">Tuesday</span>
                                            <span class="store-listing__hours__expanded__hours">10AM - 7PM</span>
                                        </li>
                                        <li class="store-listing__hours__expanded__item">
                                            <span class="store-listing__hours__expanded__day">Wednesday</span>
                                            <span class="store-listing__hours__expanded__hours">10AM - 7PM</span>
                                        </li>
                                        <li class="store-listing__hours__expanded__item">
                                            <span class="store-listing__hours__expanded__day">Thursday</span>
                                            <span class="store-listing__hours__expanded__hours">10AM - 7PM</span>
                                        </li>
                                        <li class="store-listing__hours__expanded__item">
                                            <span class="store-listing__hours__expanded__day">Friday</span>
                                            <span class="store-listing__hours__expanded__hours">10AM - 7PM</span>
                                        </li>
                                        <li class="store-listing__hours__expanded__item">
                                            <span class="store-listing__hours__expanded__day">Saturday</span>
                                            <span class="store-listing__hours__expanded__hours">10AM - 7PM</span>
                                        </li>
                                    </ul>
                                </div>
                        </div>
                    </div>
                    <div class="store-listing__item">
                        <div class="store-listing__col store-listing__col1">
                            <div class="radio">
                                <input class="card-radio" type="radio" name="store" id="store2" value="store2">
                                <label class="store-listing__store-info" for="store2">
                                    <h6 class="store-listing__store-name">UBREAKIFIX</h6>
                                    <span class="store-listing__store-address">10600 Tamiami Trl<br>
                            Washington, CD 20002 <br>
                            239-597-7337
                        </label>
                    </div>
                </div>
                <div class="store-listing__col store-listing__col2">
                    <span class="store-listing__distance">3 miles from you<span class="icon-Icon-marker store-listing__distance__icon"></span></span>
                                    <div class="store-listing__hours">
                                        <a href="" class="store-listing__hours__intro js-hours-expander-trigger">Store Hours<span class="icon-Icon-carrot-down store-listing__hours__icon"></span></a>
                                        <ul class="store-listing__hours__expanded js-hours-expander-target hours-expander-target">
                                            <li class="store-listing__hours__expanded__item">
                                                <span class="store-listing__hours__expanded__day">Sunday</span>
                                                <span class="store-listing__hours__expanded__hours">10AM - 7PM</span>
                                            </li>
                                            <li class="store-listing__hours__expanded__item">
                                                <span class="store-listing__hours__expanded__day">Monday</span>
                                                <span class="store-listing__hours__expanded__hours">CLOSED</span>
                                            </li>
                                            <li class="store-listing__hours__expanded__item">
                                                <span class="store-listing__hours__expanded__day">Tuesday</span>
                                                <span class="store-listing__hours__expanded__hours">10AM - 7PM</span>
                                            </li>
                                            <li class="store-listing__hours__expanded__item">
                                                <span class="store-listing__hours__expanded__day">Wednesday</span>
                                                <span class="store-listing__hours__expanded__hours">10AM - 7PM</span>
                                            </li>
                                            <li class="store-listing__hours__expanded__item">
                                                <span class="store-listing__hours__expanded__day">Thursday</span>
                                                <span class="store-listing__hours__expanded__hours">10AM - 7PM</span>
                                            </li>
                                            <li class="store-listing__hours__expanded__item">
                                                <span class="store-listing__hours__expanded__day">Friday</span>
                                                <span class="store-listing__hours__expanded__hours">10AM - 7PM</span>
                                            </li>
                                            <li class="store-listing__hours__expanded__item">
                                                <span class="store-listing__hours__expanded__day">Saturday</span>
                                                <span class="store-listing__hours__expanded__hours">10AM - 7PM</span>
                                            </li>
                                        </ul>
                                    </div>
                            </div>
                        </div>
                        <div class="store-listing__item">
                            <div class="store-listing__col store-listing__col1">
                                <div class="radio">
                                    <input class="card-radio" type="radio" name="store" id="store3" value="store3">
                                    <label class="store-listing__store-info" for="store3">
                                        <h6 class="store-listing__store-name">UBREAKIFIX</h6>
                                        <span class="store-listing__store-address">10600 Tamiami Trl<br>
                            Washington, CD 20002 <br>
                            239-597-7337
                        </label>
                    </div>
                </div>
                <div class="store-listing__col store-listing__col2">
                    <span class="store-listing__distance">3 miles from you<span class="icon-Icon-marker store-listing__distance__icon"></span></span>
                                        <div class="store-listing__hours">
                                            <a href="" class="store-listing__hours__intro js-hours-expander-trigger">Store Hours <span class="icon-Icon-carrot-down store-listing__hours__icon"></span></a>
                                            <ul class="store-listing__hours__expanded js-hours-expander-target hours-expander-target">
                                                <li class="store-listing__hours__expanded__item">
                                                    <span class="store-listing__hours__expanded__day">Sunday</span>
                                                    <span class="store-listing__hours__expanded__hours">10AM - 7PM</span>
                                                </li>
                                                <li class="store-listing__hours__expanded__item">
                                                    <span class="store-listing__hours__expanded__day">Monday</span>
                                                    <span class="store-listing__hours__expanded__hours">CLOSED</span>
                                                </li>
                                                <li class="store-listing__hours__expanded__item">
                                                    <span class="store-listing__hours__expanded__day">Tuesday</span>
                                                    <span class="store-listing__hours__expanded__hours">10AM - 7PM</span>
                                                </li>
                                                <li class="store-listing__hours__expanded__item">
                                                    <span class="store-listing__hours__expanded__day">Wednesday</span>
                                                    <span class="store-listing__hours__expanded__hours">10AM - 7PM</span>
                                                </li>
                                                <li class="store-listing__hours__expanded__item">
                                                    <span class="store-listing__hours__expanded__day">Thursday</span>
                                                    <span class="store-listing__hours__expanded__hours">10AM - 7PM</span>
                                                </li>
                                                <li class="store-listing__hours__expanded__item">
                                                    <span class="store-listing__hours__expanded__day">Friday</span>
                                                    <span class="store-listing__hours__expanded__hours">10AM - 7PM</span>
                                                </li>
                                                <li class="store-listing__hours__expanded__item">
                                                    <span class="store-listing__hours__expanded__day">Saturday</span>
                                                    <span class="store-listing__hours__expanded__hours">10AM - 7PM</span>
                                                </li>
                                            </ul>
                                        </div>
                                </div>
                            </div>
                            <div class="js-more-stores-target-A1">
                                <div class="store-listing__item">
                                    <div class="store-listing__col store-listing__col1">
                                        <div class="radio">
                                            <input class="card-radio" type="radio" name="store" id="store4" value="store4">
                                            <label class="store-listing__store-info" for="store4">
                                                <h6 class="store-listing__store-name">UBREAKIFIX</h6>
                                                <span class="store-listing__store-address">10600 Tamiami Trl<br>
                            Washington, CD 20002 <br>
                            239-597-7337
                            </label>
                        </div>
                    </div>
                    <div class="store-listing__col store-listing__col2">
                        <span class="store-listing__distance">3 miles from you<span class="icon-Icon-marker store-listing__distance__icon"></span></span>
                                                <div class="store-listing__hours">
                                                    <a href="" class="store-listing__hours__intro js-hours-expander-trigger">Store Hours<span class="icon-Icon-carrot-down store-listing__hours__icon"></span></a>
                                                    <ul class="store-listing__hours__expanded js-hours-expander-target hours-expander-target">
                                                        <li class="store-listing__hours__expanded__item">
                                                            <span class="store-listing__hours__expanded__day">Sunday</span>
                                                            <span class="store-listing__hours__expanded__hours">10AM - 7PM</span>
                                                        </li>
                                                        <li class="store-listing__hours__expanded__item">
                                                            <span class="store-listing__hours__expanded__day">Monday</span>
                                                            <span class="store-listing__hours__expanded__hours">CLOSED</span>
                                                        </li>
                                                        <li class="store-listing__hours__expanded__item">
                                                            <span class="store-listing__hours__expanded__day">Tuesday</span>
                                                            <span class="store-listing__hours__expanded__hours">10AM - 7PM</span>
                                                        </li>
                                                        <li class="store-listing__hours__expanded__item">
                                                            <span class="store-listing__hours__expanded__day">Wednesday</span>
                                                            <span class="store-listing__hours__expanded__hours">10AM - 7PM</span>
                                                        </li>
                                                        <li class="store-listing__hours__expanded__item">
                                                            <span class="store-listing__hours__expanded__day">Thursday</span>
                                                            <span class="store-listing__hours__expanded__hours">10AM - 7PM</span>
                                                        </li>
                                                        <li class="store-listing__hours__expanded__item">
                                                            <span class="store-listing__hours__expanded__day">Friday</span>
                                                            <span class="store-listing__hours__expanded__hours">10AM - 7PM</span>
                                                        </li>
                                                        <li class="store-listing__hours__expanded__item">
                                                            <span class="store-listing__hours__expanded__day">Saturday</span>
                                                            <span class="store-listing__hours__expanded__hours">10AM - 7PM</span>
                                                        </li>
                                                    </ul>
                                                </div>
                                        </div>
                                    </div>
                                    <div class="store-listing__item">
                                        <div class="store-listing__col store-listing__col1">
                                            <div class="radio">
                                                <input class="card-radio" type="radio" name="store" id="store5" value="store5">
                                                <label class="store-listing__store-info" for="store5">
                                                    <h6 class="store-listing__store-name">UBREAKIFIX</h6>
                                                    <span class="store-listing__store-address">10600 Tamiami Trl<br>
                            Washington, CD 20002 <br>
                            239-597-7337
                            </label>
                        </div>
                    </div>
                    <div class="store-listing__col store-listing__col2">
                        <span class="store-listing__distance">3 miles from you<span class="icon-Icon-marker store-listing__distance__icon"></span></span>
                                                    <div class="store-listing__hours">
                                                        <a href="" class="store-listing__hours__intro js-hours-expander-trigger">Store Hours<span class="icon-Icon-carrot-down store-listing__hours__icon"></span></a>
                                                        <ul class="store-listing__hours__expanded js-hours-expander-target hours-expander-target">
                                                            <li class="store-listing__hours__expanded__item">
                                                                <span class="store-listing__hours__expanded__day">Sunday</span>
                                                                <span class="store-listing__hours__expanded__hours">10AM - 7PM</span>
                                                            </li>
                                                            <li class="store-listing__hours__expanded__item">
                                                                <span class="store-listing__hours__expanded__day">Monday</span>
                                                                <span class="store-listing__hours__expanded__hours">CLOSED</span>
                                                            </li>
                                                            <li class="store-listing__hours__expanded__item">
                                                                <span class="store-listing__hours__expanded__day">Tuesday</span>
                                                                <span class="store-listing__hours__expanded__hours">10AM - 7PM</span>
                                                            </li>
                                                            <li class="store-listing__hours__expanded__item">
                                                                <span class="store-listing__hours__expanded__day">Wednesday</span>
                                                                <span class="store-listing__hours__expanded__hours">10AM - 7PM</span>
                                                            </li>
                                                            <li class="store-listing__hours__expanded__item">
                                                                <span class="store-listing__hours__expanded__day">Thursday</span>
                                                                <span class="store-listing__hours__expanded__hours">10AM - 7PM</span>
                                                            </li>
                                                            <li class="store-listing__hours__expanded__item">
                                                                <span class="store-listing__hours__expanded__day">Friday</span>
                                                                <span class="store-listing__hours__expanded__hours">10AM - 7PM</span>
                                                            </li>
                                                            <li class="store-listing__hours__expanded__item">
                                                                <span class="store-listing__hours__expanded__day">Saturday</span>
                                                                <span class="store-listing__hours__expanded__hours">10AM - 7PM</span>
                                                            </li>
                                                        </ul>
                                                    </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- end more stores -->
                                </div>
                            </div>
                            <div class="card__footer padding-left-right-sm-0x">
                                <div class="js-show-more padding-left-right-sm-3x loud">
                                    <a href="">Show more locations</a>
                                </div>
                                <div class="js-pagination-A">
                                    <div class="adg-pagination padding-left-right-sm-2x">
                                        <div class="adg-pagination__fewer js-show-fewer"><a href="">Show fewer locations</a></div>
                                        <ul class="adg-pagination__nav">
                                        </ul>
                                        <div class="adg-pagination__more js-next-five"><a href="">Next 5 Locations</a><span class="icon-Icon-carrot-right adg-pagination__icon adg-pagination__next__icon"></span></div>
                                    </div>
                                </div>
                                <div class="js-pagination">
                                    <div class="adg-pagination padding-left-right-sm-2x">
                                        <div class="adg-pagination__prev js-pagination__prev"><span class="icon-Icon-carrot-left adg-pagination__prev__icon adg-pagination__icon"></span><a href="">Prev 5 Locations</a></div>
                                        <ul class="adg-pagination__nav js-adg-pagination__nav">
                                            <li class="adg-pagination__nav__item">1</li>
                                            <li class="adg-pagination__nav__item adg-pagination__nav__item--current">2</li>
                                        </ul>
                                        <div class="adg-pagination__next js-pagination__next"><a href="">Next 5 Locations</a><span class="icon-Icon-carrot-right adg-pagination__icon adg-pagination__next__icon"></span></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    
              </div>
            </div>
            <div class="ob-expert-help">
              <h4>If you have any questions, our experts will be happy to help.</h4>
              <p>1-866-853-2601</p>
            </div>
          </div>
        </section>
      </div>
    </div>
    
                    <script>
                    $(document).ready(function() {
                        $('.js-hours-expander-trigger').click(function(event) {
                            event.preventDefault();
                            var trigger = $(this),
                                target = trigger.next('.js-hours-expander-target');
                            if (trigger.hasClass('hours-expander-trigger--active')) {
                                trigger.removeClass('hours-expander-trigger--active');
                                target.removeClass('hours-expander-target--active')
                            } else {
                                trigger.addClass('hours-expander-trigger--active');
                                target.addClass('hours-expander-target--active')
                            }
                        });
                        $('[name=store]').change(function(event) {
                            $('#js-next-button').attr({
                                disabled: 'false'
                            }).removeClass('btn-disabled');

                        });
                        $('.js-more-stores-target-A1, .js-show-fewer, .js-pagination, .js-next-five').hide();

                        $('.js-show-more').click(function(event) {
                            event.preventDefault();
                            if ($(window).width() > 768) {
                                $('.js-more-stores-target-A1, .js-show-fewer, .js-next-five, .js-pagination-A').show();
                                $(this).hide();
                            } else {
                                $('.js-show-more').click(function(event) {
                                    event.preventDefault();
                                    $('.js-more-stores-target-A1').show();
                                });
                            }
                        });

                        $('.js-show-fewer').click(function(event) {
                            event.preventDefault()
                            $('.js-show-more').show();
                            $('.js-more-stores-target-A1, .js-pagination-A').hide();

                        });

                        $('.js-next-five').click(function(event) {
                            event.preventDefault()
                            $('.js-pagination').show();
                            $('.js-show-fewer, .js-show-more, .js-next-five').hide();
                        });


                        $('.js-pagination__next').click(function(event) {
                            event.preventDefault();
                            var oldVal = parseInt( $('.adg-pagination__nav__item--current').text() ),
                                newVal = oldVal+1;
                                currentStep = $('.adg-pagination__nav__item--current');

                            currentStep.removeClass('adg-pagination__nav__item--current');

                            if ( currentStep.next('li').length !== 0){
                                currentStep.next('li').addClass('adg-pagination__nav__item--current')
                            }
                            else{
                                if (newVal <= 5){
                                    $('.js-adg-pagination__nav').append('<li class="adg-pagination__nav__item adg-pagination__nav__item--current">'+newVal+'</li>')
                                }
                                else{
                                    currentStep.addClass('adg-pagination__nav__item--current')
                                }
                            }

                        });

                        $('.js-pagination__prev').click(function(event) {
                            event.preventDefault();
                            currentStep = $('.adg-pagination__nav__item--current');
                            
                            if ( currentStep.prev('li').length !== 0){
                                currentStep.removeClass('adg-pagination__nav__item--current');
                                currentStep.prev('li').addClass('adg-pagination__nav__item--current')
                            }
                            
                        });
                        $(document).on('click', '.adg-pagination__nav__item', function(event) {
                            event.preventDefault();
                            $('.adg-pagination__nav__item--current').removeClass('adg-pagination__nav__item--current');
                            $(this).addClass('adg-pagination__nav__item--current')
                        }); 
                    });
                    </script>
                    
    <span class="ob-confetti">&nbsp;</span>
    <img src="/assets/img/trophy.svg" alt="trophy" class="ob-trophy" style="display:none;" />
  </body>
</html>
