<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
  <head>
      <meta name="robots" content="noindex,nofollow">
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <title>Asurion</title>
      <link rel="stylesheet" href="../../assets/theme/att/att.css">

      <link rel="stylesheet" href="../../assets/theme/att/att.css">
      <link rel="apple-touch-icon" sizes="180x180" href="../../assets/img/apple-touch-icon.png">
      <link rel="icon" type="image/png" sizes="32x32" href="../../assets/img/favicon-32x32.png">
      <link rel="icon" type="image/png" sizes="16x16" href="../../assets/img/favicon-16x16.png">
      <meta name="description" content="">
      <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
      <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
      <script src="https://code.jquery.com/jquery-1.12.1.min.js"></script>
  </head>
  <body>
    <div class="page">
      <div class="pre-footer ng-scope">
        <header class="ng-scope">
            <div class="span12">
              <h1 class="logo"></h1>
              <div class="links">
                  <a id="setlanguage" href="" class="es-link" data-ng-click="changeLanguage(languageToBeSet)" data-vzw-language="" style="display: none;">
                      <span data-ng-bind-html="selectedLanguage.Locales[selectedLanguage.Code] | unsafe" class="ng-scope ng-binding">Ver esta página en español</span>
                  </a>
                  <a id="liveChat" href="" class="chat-link" data-ng-click="clicked();launchChat()" style="display: none;">
                      <div id="LP_DIV_Verizon_Reactive_Chat"><div id="LPMcontainer-1539199012914-0" class="LPMcontainer LPMoverlay" role="button" tabindex="0" style="margin: 1px; padding: 0px; border-style: solid; border-width: 0px; font-style: normal; font-weight: normal; font-variant: normal; list-style: none outside none; letter-spacing: normal; line-height: normal; text-decoration: none; vertical-align: baseline; white-space: normal; word-spacing: normal; background-repeat: repeat-x; background-position: left bottom; cursor: auto; display: block; position: relative; top: 0px; left: 0px;"><a id="liveChat" href="" class="chat-link" data-lp-event="click" style="display: block;">
                      <i class="icon-chat"></i>
                      <span>Live Chat</span>
                      </a></div></div>
                  </a>
              </div>
            </div>
        </header>
        <section class="container main">
          <div class="steps-include">
            <div class="step ng-scope" style="">
              <div class="row">
                <div id="step1" class="span12">
                  <div class="stepbar clearfix">
                    <i class="icon-user"></i>
                    <div class="stepbar-text-top">STEP ONE</div>
                    <div class="stepbar-text-bottom">Your Information</div>
                    <div class="stepbar-text-ClaimCreation" id="claimId_1"></div>
                    <div class="stepbar-text-ClaimCreation" id="MDN_1"></div>
                  </div>
                </div>
              </div>
              <div class="claimstep ng-scope claimstep--ob" stepnum="1" iconclass="icon-user" style="display: block;">
                  
<div class="container--lg">
    <div class="row">
        <div class="col-sm-7">
            <div class="card">
                <div class="card__content padding-left-right-2x padding-left-right-sm-4x">
                   <h3 class="h4 loud inline-block">Repair Location</span> <a href="" class="margin-half--left micro link">Edit</a></h3>
                   
                   <dl class="d-stacked-list margin-bottom-1x">
                       <p>John Smith <br>123 Main Street<br>Washington, CD 20002</dd>
                       
                   </dl>
                   
                   <hr class="hr">
                   <h3 class="h4 loud inline-block">Repair Date &amp; Time</span> <a href="" class="margin-half--left micro link">Edit</a></h3>
                   
                   <dl class="d-stacked-list margin-bottom-1x">
                       Tuesday, September 5, 2017 at<br> 9:00 AM-11:00 AM
                       
                   </dl>
                    <hr>
                    <h3 class="h4 loud margin-top-2x">Payment Details</span></h3>
                    <p class="loud">Your non-refundable deductible of $89.00 will be applied to your AT&amp;T wireless bill within 1 to 2 billing cycles after the repair is complete.
                    </p>
                    <hr>
                    
                    <h3 class="h4 loud margin-top-2x">Contact</span></h3>
                    <dl class="d-stacked-list">
                      <dt>Email address: </dt>
                      <dd class="js-email-current">johnsmith@gmail.com <a href="" class="edit-link js-email-change-trigger">(Edit)</a></dd>
                      <div class="form-group form-group--inline js-email-change hidden">
                          <input type="text" class="form-control" value="johnsmith@gmail.com">
                          <button class="btn btn-primary js-email-change-trigger">Update</button>
                      </div>
                        <dt>Contact number: </dt>
                        <dd class="js-phone-current">(555) 555-5555 <a href="" class="edit-link js-phone-change-trigger">(Edit)</a></dd>
                          <div class="form-group form-group--inline js-phone-change hidden">
                              <input type="text" class="form-control" value="(555) 555-5555" width="100px">
                              <button class="btn btn-primary js-phone-change-trigger">Update</button>
                          </div>
                         
                        
                    </dl>
                    
                </div>
            </div>
        </div>
        <div class="col-sm-5 ">
            <div class="card">
                <div class="peril-card__header">
                    <h3 class="h4 loud text-center">Device to be repaired</h3>
                </div>
                <div class="card__content">
                    <div class="text-center margin-bottom-1x">
                      <img src="../../assets/img/iphone_img2.png" alt="">
                    </div>
                    <div class="text-center margin-1x--top">
                        <h2 class="h4 loud">Black Apple iPhone 6 (64GB)</h4>
                    </div>
                </div>
               <div class="card__footer padding-left-right-2x padding-left-right-sm-2x">
                  <p class="bold">IMEI#: *********1111</p>
                  <p><span class="loud">Note:</span> The IMEI of the device being repaired must match the IMEI shown here for the repair to be covered.</p>
               </div>
            </div>
        </div>
    </div>
   <!--  
    <div class="callout margin-top-2x padding-left-right-2x padding-left-right-sm-4x">
        
        <h4 class="h4 loud">
            <span class="warning icon-Icon-page-alert-circle icon--bold icon--mega margin-half--right"></span> 
            <span>Please verify your claim!</span>
        </h4>
        <p>I understand that insurance fraud is unlawful in all states and may subject an individual who files a fraudulent insurance claim to civil/ and/or criminal prosecution under applicable law.</p>
        <div class="checkbox margin-top-2x">
            <input type="checkbox" name="checkbox" id="checkbox" value="">
            <label for="checkbox" class="margin-reset">
                <p class="loud margin-reset">I verify that this claim is true.</p>
            </label>
        </div>
            
    </div> -->
</div>

              </div>
            </div>
            <div class="ob-expert-help">
              <h4>If you have any questions, our experts will be happy to help.</h4>
              <p>1-866-853-2601</p>
            </div>
          </div>
        </section>
      </div>
    </div>
    

<script>
    jQuery(document).ready(function($) {
        $('.js-email-change-trigger').click(function(event) {
            event.preventDefault();
            if( $('.js-email-change').hasClass('hidden') ){
                $('.js-email-change').removeClass('hidden');
                $('.js-email-current').addClass('hidden');
            } 
            else{
                $('.js-email-change').addClass('hidden');
                $('.js-email-current').removeClass('hidden');  
            }
        });
        $('.js-phone-change-trigger').click(function(event) {
            event.preventDefault();
            if( $('.js-phone-change').hasClass('hidden') ){
                $('.js-phone-change').removeClass('hidden');
                $('.js-phone-current').addClass('hidden');
            } 
            else{
                $('.js-phone-change').addClass('hidden');
                $('.js-phone-current').removeClass('hidden');  
            }
        });

    });
    $('.js-alert-box__details-content').hide();
    $(document).on('click', '.js-alert-box__details-toggle', function(event) {
      var content = $(this).closest('.alert-box').find('.js-alert-box__details-content'),
          openClass = 'js-alert-box__details-content--open'
      if( content.hasClass(openClass)){
        $(this).html('Show details')
        content.slideUp().removeClass(openClass)
      } 
      else{
        $(this).html('Hide details')
        content.slideDown().addClass(openClass)
        
      }
    });
    
</script>

    <span class="ob-confetti">&nbsp;</span>
    <img src="/assets/img/trophy.svg" alt="trophy" class="ob-trophy" style="display:none;" />
  </body>
</html>
