{% extends "_step-layout.html" %}

{% set stepTitle = 'Verify your account.' %} 
{% set stepSubTitle = 'Provide one of the following forms of verification.' %}
{% set btnText = 'Continue' %}
{% set nextStep = '0103.claim-status.html' %}


{% block messaging %}

{% endblock %}
{% block stepContent %}
	
	<div class="container--xs">
		<div class="form-group">
			<label for="pinNumber">PIN number 
				<span class="tooltip icon-Icon-page-help-circle" data-tooltip-content="#tooltip_content"></span>
				<div class="tooltip_templates">
				    <span id="tooltip_content">
				        Lorem Ipsum dolor de, Lorem Ipsum dolor de Lorem Ipsum dolor deLorem Ipsum dolor deLorem Ipsum dolor de
				    </span>
				</div>
			</label>
		    <input type="text" class="form-control" id="pinNumber" placeholder="****">
		</div>
		<div class="text-center">
			<span class="giga loud">OR</span>
		</div>
		<div class="form-group">
			<label for="securityQuestion">Model of your first car</label>
		    <input type="text" class="form-control" id="securityQuestion" placeholder="Answer">
		</div>
	</div>

{% endblock %}
{% block stepFooter %}
<div class="step__footer">
    <div class="container">
        <div class="btn-well">

            <a href="{[nextStep]}" id="nextButton" class="btn btn-primary btn-disabled" disabled>{[btnText]}</a>
            <!-- <span class="btn-caption"><span class="btn-caption__next">Next : </span>Tell us what happened.</span> -->
        </div>
        
    </div>
</div>

{% endblock %}

{% block pageFoot %}
<div class="modal" id="js-pin-modal">
	<div class="modal__close-btn icon-uniE601" data-modal-close=""></div>
	<header class="modal__header">
		<h3 class="modal__title">What is my PIN?</h3>
	</header>
	<div class="modal__content">
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias error eius, cum possimus nobis rem laborum eum. Accusantium aliquid ut nulla amet impedit, similique incidunt, reiciendis necessitatibus odio laudantium cum?</p>
	</div>
	<footer class="modal__footer">
		<div class="btn-well">
			<button class="btn btn-primary" data-modal-close >Close</button>
		</div>
	</footer>
</div>
<script>
	jQuery(document).ready(function($) {
		$('#pinNumber').keyup(function(){
			if( $(this).val()){
				$('#securityQuestion').attr({
					disabled: 'disabled'
				});	
			}
			else{
				$('#securityQuestion').removeAttr('disabled')
			}
		});
		$('#securityQuestion').keyup(function(){
			if( $(this).val()){
				$('#pinNumber').attr({
					disabled: 'disabled'
				});	
			}
			else{
				$('#pinNumber').removeAttr('disabled')
			}
		});

		$('#pinNumber,#securityQuestion').keyup(function(event) {
			if( $(this).val() ){
				$('#nextButton').removeAttr('disabled').removeClass('btn-disabled')
				$('.btn-caption').addClass('btn-caption--active')
			}
			else{
				$('#nextButton').attr({disabled:'disabled'}).addClass('btn-disabled')	
				$('.btn-caption').removeClass('btn-caption--active')
			}
		});
		
	});
	
	
</script>
{%endblock%}