{% extends "_step-layout.html" %}

{% set stepTitle = 'Kim, how can we help you?' %} 
{% set stepSubTitle = 'Select the option that describes what you would like to do.' %}
{% set btnText = 'Continue' %}
{% set nextStep = '0104.peril.html' %}

{% block stepContent %}
	<div class="container--lg">
		<div class="row margin-bottom-1x">
			<div class="col-sm-12 text-center js-my-card-is my-device-is my-device-is--active">
				<p class="giga loud">"I would like to..."</p>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-4 peril-card-wrapper peril-card-wrapper--active">
				<div class="card card-button peril-card js-select-card " data-mh="js-peril-card">
					<div class="peril-card__header">
						<h3 class="peril-card__header__title">Start new claim</h3>
					</div>
					<div class="peril-card__content">
						<p class="for-example">"I have a problem with my device, and I need to file a new claim."</p>
						
					</div>
					<!-- <div class="btn-well">
						<button class="btn btn-ghost btn-form-highlight btn-md">Select Missing</button>
					</div> -->
				</div>
			</div>
			<div class="col-sm-4 peril-card-wrapper peril-card-wrapper--active">
				<div class="card card-button peril-card js-select-card" data-mh="js-peril-card">
					<div class="peril-card__header">
						<h3 class="peril-card__header__title">Resume claim</h3>
					</div>
					<div class="peril-card__content">
						<p class="for-example">"I want to resume a claim I've already started."</p>
						
					</div>
					<!-- <div class="btn-well">
						<button class="btn btn-ghost btn-form-highlight btn-md">Select Missing</button>
					</div> -->
				</div>
			</div>
			<div class="col-sm-4 peril-card-wrapper peril-card-wrapper--active">
				<div class="card card-button peril-card js-select-card" data-mh="js-peril-card">
					<div class="peril-card__header">
						<h3 class="peril-card__header__title">Report an issue</h3>
					</div>
					<div class="peril-card__content">
						<p class="for-example">"I've already filed a claim, but there's a problem."</p>
						
					</div>
					<!-- <div class="btn-well">
						<button class="btn btn-ghost btn-form-highlight btn-md">Select Missing</button>
					</div> -->
				</div>
			</div>
		</div>
		
	</div>
{% endblock %}

{% block stepFooter %}
<div class="step__footer">
    <div class="container">
        <div class="btn-well">
            <a href="{[nextStep]}" class="btn btn-primary btn-disabled" id="js-next-button"disabled>{[btnText]}</a>
            <!-- <span class="btn-caption"><span class="btn-caption__next">Next: </span>Tell us what happened.</span> -->
        </div>
    </div>
</div>
{% endblock %}

{% block pageFoot %}
<script>
    $('.js-select-card').click(function(event) {
        $this = $(this);
        if( $this.hasClass('card-button--selected')){

        }
        else{
            $('.js-select-card').removeClass('card-button--selected');
            $this.addClass('card-button--selected')
            $('.card').removeClass('card--selected')
            $('.js-card-group').addClass('card--muted')
            $this.closest('.js-card-group').addClass('card--selected').removeClass('card--muted')
            $('#js-next-button').removeClass('btn-disabled').removeAttr('disabled')
            $('.btn-caption').addClass('btn-caption--active')
        }
        
    });
</script>

{%endblock%}

