{% extends "_step-layout.html" %}

{% set stepTitle = 'Tell us what happened.' %} 
{% set stepSubTitle = 'Please select the option that best describes your problem.' %}
{% set btnText = 'Continue' %}
{% set nextStep = '0105.review.html' %}

{% block stepContent %}
	<div class="container">
		<!-- <div class="row">
			<div class="col-sm-12">
				<div class="form-group text-center">
					<label >Is this related to a replacement device?</label>
					<div class="radio-inline clear">
						<input type="radio" name="problemIsReplacementDevice" id="problemIsReplacementDevice_yes" value="yes" >
						<label for="problemIsReplacementDevice_yes">Yes</label>
					</div>
					<div class="radio-inline">
						<input type="radio" name="problemIsReplacementDevice" id="problemIsReplacementDevice_no" value="no" checked>
						<label for="problemIsReplacementDevice_no" >No</label>
					</div>
				</div>
			</div>
		</div> -->
		<div class="row">
			<div class="col-sm-12 text-center js-my-device-is my-device-is my-device-is--active margin-bottom-1x">
				<p class="giga loud">"I would say my device is..."</p>
			</div>
		</div>
		<div class="row" style="position:relative;" id="js-peril-cards">
			<div class="col-sm-4 peril-card-wrapper peril-card-wrapper--active" data-target="js-device-missing">
				<div class="card card-button peril-card padding-bottom-sm-4x" data-mh="js-peril-card">
					<!-- <span class="card__action card__check icon icon-checkmark"></span> -->
					<div class="peril-card__header">
						<h3 class="peril-card__header__title">Missing</h3>
					</div>
					<div class="peril-card__content">
						<p class="for-example">For Example</p>
						<ul class="list">
							<li>Lost</li>
							<li>Stolen</li>
							<li>Etc.</li>
						</ul>
					</div>
					<div class="btn-well">
						<button class="btn btn-ghost btn-form-highlight btn-md">Select Missing</button>
					</div>
				</div>
				<div class="text-center link milli js-change-selection change-selection">Change Selection</div>
			</div>
			
			<div class="col-sm-4 peril-card-wrapper peril-card-wrapper--active" data-target="js-device-damaged">
				<div class="card card-button peril-card padding-bottom-sm-4x" data-mh="js-peril-card">
					<!-- <span class="card__action card__check icon icon-checkmark"></span> -->
					<div class="peril-card__header">
						<h3 class="peril-card__header__title">Damaged</h3>
					</div>
					<div class="peril-card__content">
						<p class="for-example">For Example</p>
						<ul class="list">
							<li>Screen is cracked</li>
							<li>Buttons are broken</li>
							<li>Etc.</li>
						</ul>
					</div>
					<div class="btn-well">
						<button class="btn btn-ghost btn-form-highlight btn-md" >Select Damaged</button>
					</div>
				</div>
				<div class="text-center link milli js-change-selection change-selection">Change Selection</div>
			</div>

			<div class="col-sm-4 peril-card-wrapper peril-card-wrapper--active" data-target="js-device-not-working">
				<div class="card card-button peril-card padding-bottom-sm-4x" data-mh="js-peril-card">
					<!-- <span class="card__action card__check icon icon-checkmark"></span> -->
					<div class="peril-card__header">
						<h3 class="peril-card__header__title">Malfunctioning</h3>
					</div>
					<div class="peril-card__content">
						<p class="for-example">For Example</p>
						<ul class="list">
							<li>Drops calls</li>
							<li>Won't turn on</li>
							<li>Won't charge</li>
						</ul>
					</div>
					<div class="btn-well">
							<button class="btn btn-ghost btn-form-highlight btn-md" >Select Malfunctioning</button>
						</div>
				</div>
				<div class="text-center link milli js-change-selection change-selection">Change Selection</div>
			</div>
			<div class="peril-details-wrapper" data-target="js-peril-details">
				<div id="js-device-missing" class="col-sm-8 peril-details">
					<div class="row">
						<div class="col-sm-8">
							<div class="form-group">
								<label for="problemIncidentDate">When did this happen</label>
						    	<div class="custom-datepicker">
						    	    <input type="text" class="form-control js-datepicker js-problemIncidentDate" id="problemIncidentDate" placeholder="Select the date of the incident">
						        </div>
							</div>
						</div>
					</div>
					<div class="row js-select-device">
						<div class="col-sm-8">
							<div class="form-group">
								<label for="problemDeviceSelect">Which device?</label>
							     <div class="custom-dropdown">
							    	 <select class="form-control js-problemDeviceSelect" id="problemDeviceSelect" placeholder="Select device" disabled>
							    	  <option value="" checked>Select device</option>
							    	  <option value="Apple iPhone">White Apple iPhone 6S 16GB</option>
							    	  <option value="Stolen">Black Apple iPhone 5</option>
							    	  <option value="Not Listed">Not listed</option>
							    	</select>
							    </div> 
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-sm-8">
							<div class="form-group">
								<label for="problemDeviceLocation">What best described where your device is now?</label>

								 <div class="custom-dropdown">
									 <select class="form-control js-problemDeviceLocation" id="problemDeviceLocation" placeholder="Select device location" disabled="">
									  <option value="">Select device location</option>
									  <option value="Lost">Lost </option>
									  <option value="Stolen">Stolen </option>
									  <option value="cannot-retrieve">I know the location, but can&rsquo;t retrieve it </option>
									</select>
								</div>  
							</div>
						</div>
					</div>
					<div class="form-group">
						<label for="problemDeviceDescription">Tell us what happened</label>
					    <textarea name="problemDescription" id="problemDescription" class="js-problemDescription form-control js-problemDescription" cols="30" rows="5" disabled=""></textarea>
					</div>
				</div>
				<div id="js-device-damaged" class="col-sm-8 peril-details">
					<div class="row">
						<div class="col-sm-8">
							<div class="form-group">
								<label for="problemIncidentDate">When did this happen</label>
								<div class="custom-datepicker">
								    <input type="text" class="form-control js-datepicker js-problemIncidentDate" id="problemIncidentDate" placeholder="Select the date of the incident" >
							    </div>
							</div>
						</div>
					</div>
					<div class="row js-select-device">
						<div class="col-sm-8">
							<div class="form-group">
								<label for="problemDeviceSelect">Which device?</label>
							     <div class="custom-dropdown">
							    	 <select class="form-control js-problemDeviceSelect" id="problemDeviceSelect" placeholder="Select device" disabled>
							    	  <option value="" checked>Select device</option>
							    	  <option value="Apple iPhone">White Apple iPhone 6S 16GB</option>
							    	  <option value="Stolen">Black Apple iPhone 5</option>
							    	  <option value="Not Listed">Not listed</option>
							    	</select>
							    </div> 
							</div>
							<div class="card padding-left-right-1x js-specify-device">
								<div class="card__content">
									<h3 class="h4 loud">Tell us about your device.
										<span class="tooltip icon-Icon-page-help-circle" data-tooltip-content="#tooltip_content"></span>
										<div class="tooltip_templates">
										    <span id="tooltip_content">
										        Because your device is not listed in the dropdown above, we need you to provide the manufacturer, model, and color of the device you are filing a claim on.
										    </span>
										</div>
									</h3>
									<h4 class="h6">Enter the manufacturer, model, and color of your device below:</h4>
									<hr>
									<div class="form-group">
									<label for="deviceManufacturer">Manufacturer</label>
									<div class="custom-dropdown">
									    <select type="text" class="form-control" id="deviceManufacturer">
									    	<option value="">Select manufacturer</option>
									    	<option value="Apple">Apple</option>
									    	<option value="HTC">HTC</option>
									    	<option value="LG">LG</option>
									    	<option value="Samsung">Samsung</option>
									    	<option value="Amazon">Amazon</option>
									    	<option value="Asus">Asus</option>
									    	<option value="">AT&T</option>
									    	<option value="BlackBerry®">BlackBerry®</option>
									    	<option value="Kyocera">Kyocera</option>
									    	<option value="Motorola">Motorola</option>
									    	<option value="NEC">NEC</option>
									    	<option value="Nokia">Nokia</option>
									    	<option value="Pantech">Pantech</option>
									    	<option value="Sonim">Sonim</option> 
									    	<option value="ZTE">ZTE</option>
									    </select>
								    </div>
								</div>
								<div class="form-group">
									<label for="deviceModel">Model</label>
								    <input type="text" class="form-control" id="deviceModel" placeholder="iPhone 5, Galaxy S4, Etc." disabled>
								</div>
								<div class="form-group">
									<label for="deviceColor">Color</label>
									<div class="custom-dropdown">
										<select type="text" class="form-control" id="deviceColor" disabled>
											<option value="">Select color</option>
											<option value="Black">Black</option>
											<option value="White">White</option>
											<option value="Gold">Gold</option>
										</select>
									</div>
								</div>
								</div>
							</div>	
						</div>
					</div>
					<div class="row">
						<div class="col-sm-8">
							<div class="form-group">
								<label for="problemDamageType">What best describes the damage?</label>
								 <div class="custom-dropdown">
									 <select class="form-control js-problemDamageType" id="problemDamageType" placeholder="Select damage type" disabled>
									  <option value="">Select a damage type</option>
									  <option value="screen damage">Damaged screen / display </option>
									  <option value="Minor">Minor imperfections (scratch/chip, etc.) </option>
									  <option value="cannot-retrieve">Contact with liquid </option>
									  <option value="cannot-retrieve">Other (keys, buttons, etc.) </option>     
									</select>
								</div>	
							</div>
							    <div class="card js-sur-triage padding-left-right-1x">
							    	<div class="card__content">
							    		<h3 class="h4 loud">Let's verify a few things.</h3>
							    		<hr>
							    		<div class="form-group">
							    			<p class="loud">Does your device have any other physical damage?</p>
							    			<div class="inline-radio-group">
												<div class="radio-inline">
													<input type="radio" name="physicalDamage" id="physicalDamageYes" value="yes">
													<label for="physicalDamageYes">Yes</label>
												</div>
												<div class="radio-inline">
													<input type="radio" name="physicalDamage" id="physicalDamageNo" value="no">
													<label for="physicalDamageNo">No</label>
												</div>    				
							    			</div>
							    		</div>
							    		<hr>
							    		<div class="form-group">
							    			<p class="loud">Does your device power on?</p>
							    			<div class="inline-radio-group">
												<div class="radio-inline">
													<input type="radio" name="powerOn" id="powerOnYes" value="yes">
													<label for="powerOnYes">Yes</label>
												</div>
												<div class="radio-inline">
													<input type="radio" name="powerOn" id="powerOnNo" value="no">
													<label for="powerOnNo">No</label>
												</div>    				
							    			</div>
							    		</div>
							    		<hr>
							    		<div class="form-group">
							    			<p class="loud">Has your device come in contact with liquids?</p>
							    			<div class="inline-radio-group">
												<div class="radio-inline">
													<input type="radio" name="liquids" id="liquidsYes" value="yes">
													<label for="liquidsYes">Yes</label>
												</div>
												<div class="radio-inline">
													<input type="radio" name="liquids" id="liquidsNo" value="no">
													<label for="liquidsNo">No</label>
												</div>    				
							    			</div>
							    		</div>
							    		
							    	</div>
							    </div>	
							<div class="form-group">
								<label for="problemDescription">Tell us what happened</label>
							    <textarea name="problemDescription" id="problemDescription" class="js-problemDescription form-control js-problemDescription" cols="30" rows="5" disabled></textarea>
							</div>
						</div>
					</div>
				</div>
				<div id="js-device-not-working" class="col-sm-8 peril-details" >
					<div class="row">
						<div class="col-sm-8">
							<div class="form-group">
								<label for="problemIncidentDate">When did this happen</label>
								<div class="custom-datepicker">
								    <input type="text" class="form-control js-datepicker js-problemIncidentDate" id="problemIncidentDate" placeholder="Select the date of the incident" >
							    </div>
							</div>
						</div>
					</div>
					<div class="row js-select-device">
						<div class="col-sm-8">
							<div class="form-group">
								<label for="problemDeviceSelect">Which device?</label>
							     <div class="custom-dropdown">
							    	 <select class="form-control js-problemDeviceSelect" id="problemDeviceSelect" placeholder="Select device" disabled>
							    	  <option value="" checked>Select device</option>
							    	  <option value="Apple iPhone">White Apple iPhone 6S 16GB</option>
							    	  <option value="Stolen">Black Apple iPhone 5</option>
							    	  <option value="Not Listed">Not listed</option>
							    	</select>
							    </div> 
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-sm-8">
							<div class="form-group">
								<label >Did you purchase your device in the last year</label>
								<div class="form-group">
									<div class="radio-inline clear">
										<input type="radio" name="problemWarranty" id="problemWarranty_yes" value="yes" >
										<label for="problemWarranty_yes">Yes</label>
									</div>
									<div class="radio-inline">
										<input type="radio" name="problemWarranty" id="problemWarranty_no" value="no" >
										<label for="problemWarranty_no">No</label>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-sm-8">
							<div class="form-group">
								<label for="problemMalfunctionType">What best describes the problem?</label>
							     <div class="custom-dropdown">
								     <select class="form-control js-problemMalfunctionType" id="problemMalfunctionType" placeholder="Select problem" disabled="">
								      <option value="">Select problem</option>
								      <option value="Lost">Will not turn on </option>
								      <option value="Stolen">Will not charge / Stay charged </option>
								      <option value="Liquid">Contact with liquid </option>
								      <option value="cannot-retrieve">Other (Dropping calls, apps not running, etc.) </option>
								    </select>  
								</div>    
							</div>
							<div class="form-group">
								<label for="problemDescription">Tell us what happened</label>
							    <textarea name="problemDescription" id="problemDescription" class="js-problemDescription form-control js-problemDescription" cols="30" rows="5" disabled></textarea>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="row" style="display:none;" id="js-replacement-device">
			<div class="col-sm-6 col-sm-offset-3">
				<div class="card card--selected">
					<div class="peril-card__header">
						<h3 class="peril-card__header__title">Select the option that best describes your issue:</h3>
					</div>
					<div class="peril-card__content">
						<div class="row">
							<div class="col-sm-10 col-sm-offset-2 text-left">
								<div class="radio">
									<input type="radio" name="problemReplacementIssue" id="problemReplacementIssue1" value="damaged" >
									<label for="problemReplacementIssue1">Device was damaged when I received it</label>
								</div>
								<div class="radio">
									<input type="radio" name="problemReplacementIssue" id="problemReplacementIssue2" value="empty_box" >
									<label for="problemReplacementIssue2">I never received the device or I received an empty box</label>
								</div>
								<div class="radio">
									<input type="radio" name="problemReplacementIssue" id="problemReplacementIssue3" value="not_satisfied" >
									<label for="problemReplacementIssue3">I'm not satisfied with the device</label>
								</div>
								<div class="radio">
									<input type="radio" name="problemReplacementIssue" id="problemReplacementIssue4" value="other_color_preference">
									<label for="problemReplacementIssue4">I prefer a different color</label>
								</div>
								<div class="radio">
									<input type="radio" name="problemReplacementIssue" id="problemReplacementIssue5" value="wrong_device">
									<label for="problemReplacementIssue5">I received the wrong device</label>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- <div class="container margin-top-2x">
	    <div class="callout">
	        <div class="checkbox margin-0x">
	            <input type="checkbox" name="formData.optIn.firstReview" class="js-opt-in" id="formData.optIn.firstReview" value="">
	            <label for="formData.optIn.firstReview" class="margin-reset">
	                <p class="fine-print margin-0x">I understand that filing a fraudulent claim may subject me to liability under appicable law.</p>
	            </label>
	        </div>
	    </div>
	</div> -->
{% endblock %}

{% block stepFooter %}

<div class="step__footer">
    <div class="container">
        <div class="btn-well">
            <a href="{[nextStep]}" class="btn btn-primary btn-disabled" id="js-next-button" disabled>{[btnText]}</a>
            <span class="btn-caption btn-caption--active"><span class="btn-caption__next">Next:</span> Review and submit your claim.</span>
        </div>
    </div>
</div>
<!-- <div class="pills step__pills">
	<a class="pill" href="1.1.device.html" title=""></a>
	<a class="pill active" href="1.2.problem.html" title=""></a>
	<a class="pill" href="1.3.account.html" title=""></a>
	<a class="pill" href="1.4.review.html" title=""></a>
</div> -->
{% endblock %}

{% block pageFoot %}

<script>
	// CONTROL PROGRESSIVE FIELD ENABLING

	$('.js-problemIncidentDate').on('change', function(event) {
		$('.js-problemDeviceSelect').prop('disabled', false).focus();
		// $('.js-select-device').show();
	});
	$(".js-problemDeviceSelect").on('change', function(event) {
		$('.js-problemDeviceLocation').prop('disabled', false).focus();
		$('.js-problemMalfunctionType').prop('disabled', false).focus();
		$('.js-problemDamageType').prop('disabled', false).focus();
	});
	$(".js-problemDeviceLocation,.js-problemMalfunctionType,.js-problemDamageType").on('change', function(event) {
		$('.js-problemDescription').prop('disabled', false).focus()
	});
	$('.js-problemMalfunctionType').on('change', '.selector', function(event) {
		$('.js-problemDescription').prop('disabled', false).focus()
	});
	$('.js-problemDescription').on('change', function(event) {
		$('#nextButton').prop('disabled', false).removeClass('btn-disabled')	
		$('.btn-caption').addClass('btn-caption--active')
	});

       $('.js-problemDamageType').change(function(event) {
   		if( $(this).val() == "screen damage"){
   			$('.js-sur-triage').show()
   		}
   		else{
   			$('.js-sur-triage').hide()
   		}
   });

    $('.js-specify-device, .js-sur-triage').hide();
    
    $(".peril-card-wrapper").click(function(event) {
        $this = $(this);
        target = $this.attr('data-target');
        if ($this.hasClass('peril-card-wrapper--selected')) {
            $this.removeClass('peril-card-wrapper--selected')
            $(".peril-card-wrapper").addClass('peril-card-wrapper--active')
            $(".peril-details").removeClass('peril-details--selected')
            $("button").blur();
            $this.find(".js-change-selection").hide();
            $('.js-my-device-is').addClass('my-device-is--active');
            $('#js-next-button').prop('disabled', true).addClass('btn-disabled');
            $('.btn-caption').removeClass('btn-caption--active')
        } else {
            $(".peril-card-wrapper").removeClass('peril-card-wrapper--selected').removeClass('peril-card-wrapper--active')
            $(".peril-details").removeClass('peril-details--selected')
            $this.addClass('peril-card-wrapper--active').addClass('peril-card-wrapper--selected')
            $('#' + target).addClass('peril-details--selected')
            $this.find(".js-change-selection").fadeIn();
            $('.js-my-device-is').removeClass('my-device-is--active');
            
        }
    });
    $('input[name="problemIsReplacementDevice"]').change(function(event) {
        if ($(this).val() == "yes") {
            $('#js-replacement-device').show();
            $('#js-peril-cards').hide();
        } else {
            $('#js-replacement-device').hide()
            $('#js-peril-cards').show();
        }
    });
	$('.js-problemDescription').keyup(function(event) {
		if( $(this).val().length >= 5 ){
			$('#js-next-button').prop('disabled', false).removeClass('btn-disabled');
			$('.btn-caption').addClass('btn-caption--active')
		}
		else{
			$('#js-next-button').prop('disabled', true).addClass('btn-disabled');
			$('.btn-caption').removeClass('btn-caption--active')
		}
	});
	$('.js-problemDeviceSelect').change(function(event) {
		if ( $(this).val() == "Not Listed"){
			$('.js-specify-device').show();
			$('.js-problemDamageType').prop('disabled', true);
		}
		else{
			$('.js-specify-device').hide();	
		}
	});
	$('#deviceManufacturer').on('change', function(event) {
		$('#deviceModel').prop('disabled', false).focus();
	});
	$("#deviceModel").on('typeahead:select', function(event) {
		$('#deviceColor').prop('disabled', false).focus()
	});
	$('#deviceColor').on('change', function(event) {
		$('#nextButton').prop('disabled', false).removeClass('btn-disabled')	
		$('.btn-caption').addClass('btn-caption--active')
		$('.js-problemDamageType').prop('disabled', false).focus();
	});
	$('.js-opt-in').on('change', function(event) {
		event.preventDefault();
		if( $(this).is(':checked') ){
			$('#js-next-button').removeAttr('disabled').removeClass('btn-disabled')
		}
		else{
			$('#js-next-button').attr({disabled: true}).addClass('btn-disabled')
		}
	});
	
	// TYPEAHEAD

	var substringMatcher = function(strs) {
	    return function findMatches(q, cb) {
	        var matches, substrRegex;

	        // an array that will be populated with substring matches
	        matches = [];

	        // regex used to determine if a string contains the substring `q`
	        substrRegex = new RegExp(q, 'i');

	        // iterate through the pool of strings and for any string that
	        // contains the substring `q`, add it to the `matches` array
	        $.each(strs, function(i, str) {
	            if (substrRegex.test(str)) {
	                // the typeahead jQuery plugin expects suggestions to a
	                // JavaScript object, refer to typeahead docs for more info
	                matches.push({
	                    value: str
	                });
	            }
	        });

	        cb(matches);
	    };
	};

	
	var models = ['iPhone 3G 8GB', 'iPhone 4 8GB', 'iPhone 4 16GB', 'iPhone6', 'Galaxy S5', 'G2', 'G Flex', 'G3 Vigor', 'iPhone 5s 16GB'];

	$('#deviceModel').typeahead({
	    hint: true,
	    highlight: true,
	    minLength: 1
	}, {
	    name: 'models',
	    displayKey: 'value',
	    source: substringMatcher(models)
	});

</script>
{%endblock%}

