{% extends "_step-layout.html" %}

{% set stepTitle = 'What would you like to do?' %} 
{% set stepSubTitle = 'Choose an option for your open claim.' %}
{% set btnText = 'Continue' %}
{% set nextStep = '03_claim-flow/3003.peril.html' %}

{% block stepContent %}
	<div class="container">
		
		<div class="row" style="position:relative;" id="js-peril-cards">
			<div class="col-sm-4 col-sm-offset-4 peril-card-wrapper peril-card-wrapper--active">
				<div href="../03_claim-flow/3003.peril.html" class="card card-button peril-card padding-bottom-sm-4x">
					<!-- <span class="card__action card__check icon icon-checkmark"></span> -->
					<div class="peril-card__header">
						<h3 class="peril-card__header__title">Start New Claim</h3>
					</div>
					<div class="peril-card__content margin-bottom-2x">
						<p class="for-example">I would like to file a new claim on my device.</p>
					</div>
					<div class="btn-well">
						<a href="../03_claim-flow/3003.peril.html" class="btn btn-ghost btn-form-highlight btn-md">Start new claim</a>
					</div>
				</div>
				<div class="text-center link milli js-change-selection change-selection">Change Selection</div>
			</div>
		</div>	
			
	
{% endblock %}

{% block stepFooter %}

<!-- <div class="step__footer">
    <div class="container">
        <div class="btn-well">
            <a href="{[nextStep]}" class="btn btn-primary btn-disabled" id="js-next-button" disabled>{[btnText]}</a>
            <!-- <span class="btn-caption"><span class="btn-caption__next">Next:</span> Review and submit your claim.</span> -->
        </div>
    </div>
</div> -->
<!-- <div class="pills step__pills">
	<a class="pill" href="1.1.device.html" title=""></a>
	<a class="pill active" href="1.2.problem.html" title=""></a>
	<a class="pill" href="1.3.account.html" title=""></a>
	<a class="pill" href="1.4.review.html" title=""></a>
</div> -->
{% endblock %}

{% block pageFoot %}


{%endblock%}

