{% extends "_step-layout.html" %}

{% set stepTitle = 'How can we help you?' %} 
{% set stepSubTitle = 'Based on the mobile device number you\'ve provided, these are the options available to you.'%}
{% set btnText = 'Get Started' %}
{% set nextStep = '0202.pin.html' %}



{% block messaging %}

{% endblock %}

{% block stepContent %}
	<div class="container--lg">
		<ul class="tabs tabs-style-C js-tabs margin-bottom-2x">
			<li class="tab tab--active js-tab" data-tab="js-tab1"><div class="tab__content"><span class="tab__title">Open Claims</span></div></li>
			<li class="tab js-tab" data-tab="js-tab2"><div class="tab__content"><span class="tab__title">Closed Claims</span></div></li>
			<li class="tab js-tab" data-tab="js-tab3"><div class="tab__content"><span class="tab__title">Manage Your Devices</span></div></li>
			<li class="tab"><div class="tab__content">
				<a href="../03_claim-flow/3001.html" class="btn btn-sm btn-primary margin-bottom-0x">Start New Claim</a>
			</div></li>
		</ul>
		<div class="js-tabs-mobile tabs-mobile margin-bottom-2x">
			<a href="" class="btn btn-block btn-md btn-primary margin-bottom-0x">Start New Claim</a>
			<hr class="or or--gray-5">
			<p class="text-center">Select an option in the menu below</p>
			<div class="custom-dropdown">
				<select class="js-select-menu form-control input-block-level">
					<option value="js-tab1">Open Claims</option>
					<option value="js-tab2">Closed Claims</option>
					<option value="js-tab3">Manage Your Devices</option>
				</select>
			</div>
		</div>
	</div>
	<div class="container--md">
		<div class="tab-anchor-box">
			<div data-tab="js-tab1" class="js-tab-anchor tab-anchor tab-anchor--active">
				<div class="card">
					<div class="card__content">
						<div class="row">
							<div class="col-xs-3">
								<div class="text-center">
								  <img src="../../assets/img/iphone_img2.png" alt="">
								  <!-- <dl class="d-stacked-list">
								  	<dt>Mobile Number:</dt>
								  	<dd>(123) 456-7890</dd>
								  </dl> -->
								</div>
							</div>
							<div class="col-xs-9">
								<h3 class="uppercase micro text-gray-75 bold">Claim Status</h3>
								<h4 class="h3 margin-bottom-0x margin-bottom-sm-2x">Claim on hold. <br>We're still missing documents from you.</h3>
							</div>

							<div class="col-xs-12 col-sm-9 col-sm-offset-3 float-inherit--desktop">
								<hr class="hr">
								<dl class="d-list">
									<dt>Claim Number:</dt>
									<dd>123456789038763984</dd>
								</dl>
								<dl class="d-list">
									<dt>Mobile Number:</dt>
									<dd>(123) 456-7890</dd>
								</dl>
								<dl class="d-list">
									<dt>Claimed Device:</dt>
									<dd>Apple iPhone 5S 64GB Black</dd>
								</dl>
								<dl class="d-list">
									<dt>Claimed Opened:</dt>
									<dd>February 20, 2017</dd>
				                </dl>
				                <div class="btn btn-secondary btn-ghost btn-md btn-block--xs margin-top-2x">Upload Documents</div>
							</div>
						</div>
					</div>
				</div>
				<div class="card">
					<div class="card__content">
						<div class="row">
							<div class="col-xs-3">
								<div class="text-center">
								  <img src="../../assets/img/iphone_img2.png" alt="">
								  <!-- <dl class="d-stacked-list">
								  	<dt>Mobile Number:</dt>
								  	<dd>(123) 456-7890</dd>
								  </dl> -->
								</div>
							</div>
							<div class="col-xs-9">
								<h3 class="uppercase micro text-gray-75 bold">Claim Status</h3>
								<h4 class="h3 margin-bottom-0x margin-bottom-sm-2x">Claim on hold. <br>We're still missing documents from you.</h3>
							</div>

							<div class="col-xs-12 col-sm-9 col-sm-offset-3 float-inherit--desktop">
								<hr class="hr">
								<dl class="d-list">
									<dt>Claim Number:</dt>
									<dd>123456789038763984</dd>
								</dl>
								<dl class="d-list">
									<dt>Mobile Number:</dt>
									<dd>(123) 456-7890</dd>
								</dl>
								<dl class="d-list">
									<dt>Claimed Device:</dt>
									<dd>Apple iPhone 5S 64GB Black</dd>
								</dl>
								<dl class="d-list">
									<dt>Claimed Opened:</dt>
									<dd>February 20, 2017</dd>
				                </dl>
				                <div class="btn btn-secondary btn-ghost btn-md btn-block--xs margin-top-2x">Upload Documents</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div data-tab="js-tab2" class="js-tab-anchor tab-anchor">
				<div class="card">
					<div class="card__header">
						<h3 class="h3">Closed Claims</h3>
					</div>
					<div class="card__content">
						
					</div>
				</div>
			</div>
			<div data-tab="js-tab3" class="js-tab-anchor tab-anchor">
				<div class="card">
					<div class="card__header">
						<h3 class="h3">Manage Devices</h3>
					</div>
					<div class="card__content">
						
					</div>
				</div>
			</div>
		</div>
		
	</div>
	
{% endblock %}
{% block stepFooter %}
<div class="step__footer">
    <div class="container">
        <div class="btn-well">

            
        </div>
        
    </div>
</div>

{% endblock %}

{% block pageFoot %}

<script>
	

</script>

{%endblock%}