/*=======================================
=            COMPARISON TOOL            =
=======================================*/

.adg-comparison-tool {
    @include respond-to(small) {
        font-size: .8rem;
    }
    @include respond-to(medium) {
        font-size: .9rem;
    }
    @include respond-to(large) {
        font-size: 1rem;
    }
}


/*----------  COMPARISON TOOL > STRUCTURE  ----------*/

.adg-comparison-tool__table {
    width: 100%;
    display: table;
    border-collapse: collapse;
    table-layout: fixed;
}

.adg-comparison-tool__col {
    display: table-cell;
    text-align: center;
    position: relative;
}

.adg-comparison-tool__col--borderless:after,
.adg-comparison-tool__col--borderless:before {
    display: none!important;
}

.adg-comparison-tool__col:first-child {}

.adg-comparison-tool__col:last-child {
    border-right: none;
}

.adg-comparison-tool__col:nth-child(3), .adg-comparison-tool__col:nth-child(4){
	@include respond-to(small-max){
		display: none;
	}
	
}
.adg-comparison-tool__col:after {
    content: '';
    height: calc(100% - 2rem);
    border: solid 1px #e0e0e0;
    right: 0;
    position: absolute;
    top: 1rem;
}

.adg-comparison-tool__col:last-child:after {
    display: none;
}

.adg-comparison-tool__section__header__col:last-child:not(:first-child) {
    text-align: right;
}


/*----------  COMPARISON TOOL > HEADER  ----------*/

.adg-comparison-tool__header__img {
    text-align: center;
    margin-bottom: .5rem;
    height: 130px;
    width: auto;
}

.adg-comparison-tool__header__title {
    @extend .h6;
}

.adg-comparison-tool__header--collapsed .adg-comparison-tool__header__img {
    display: none;
    transition: 300ms;
}


/*----------  COMPARISON TOOL > STUCK HEADER  ----------*/

.adg-comparison-tool__header__img,
.adg-comparison-tool__header__title {
    transition: all 300ms;
}

.adg-comparison-tool__header--stuck {
    position: fixed;
    padding-bottom: 1rem;
    border-bottom: solid 2px #e0e0e0;
    top: 0;
    width: 100%;
    z-index: 100;
    background: white;
    box-shadow: 0px 10px 47px 3px rgba(0, 0, 0, 0.04);
    .adg-comparison-tool__section {
        border: none;
    }
    .adg-comparison-tool__section__content {
        padding: 0;
    }
    .adg-comparison-tool__section__footer {
        display: none;
    }
    .adg-comparison-tool__header__img {
        -webkit-transform: rotate(90deg);
        -moz-transform: rotate(90deg);
        -o-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
        transform: rotate(90deg);
        height: 80px;
        margin-top: -1.5rem;
        // display: none;
        
    }
    .adg-comparison-tool__header__title {
        margin-top: -1.5rem;
    }
    .adg-comparison-tool__btn {
        font-size: .8rem;
    }
    .adg-comparison-tool__col:last-child:after {
        display: block;
        content: '';
    }
    .adg-comparison-tool__col:first-child:before {
        content: '';
        height: calc(100% - 2rem);
        border: solid 1px #e0e0e0;
        left: 0;
        position: absolute;
        top: 1rem;
    }
}


/*----------  COMPARISON TOOL > SECTION  ----------*/

.adg-comparison-tool__section {
    background: white;
    border-radius: .5rem;
    border: solid 2px $gray-35;
    margin-bottom: .5em;
    position: relative;
}

.adg-comparison-tool__section:last-child {
    margin-bottom: 0;
}

.adg-comparison-tool__section__header {
    display: table;
    width: 100%;
    padding: 1em 2em;
}

.adg-comparison-tool__section__header__col {
    display: table-cell;
    vertical-align: middle;
    position: relative;
}

.adg-comparison-tool__section__content {
    position: relative;
    display: none;
}

.adg-comparison-tool__section__content:not(:last-child) {
    padding-bottom: 0;
}

.adg-comparison-tool__section__content--open {
    display: block;
}

.adg-comparison-tool__section__footer {
    background: $gray-10;
    padding-bottom: 1em;
    border-bottom-left-radius: .5rem;
    border-bottom-right-radius: .5rem;
}

.adg-comparison-tool__section__toggle-btn {
    @extend .btn-ghost;
    color: $accessible-blue;
    background: transparent;
    line-height: 1em!important;
    &:before {
        content: "\e913";
        font-family: 'icomoon';
        position: relative;
        display: block;
    }
}

.adg-comparison-tool__section__toggle-btn--open:before {
    -moz-transform: scaleY(-1);
    -o-transform: scaleY(-1);
    -webkit-transform: scaleY(-1);
    transform: scaleY(-1);
    filter: FlipV;
    -ms-filter: "FlipV";
}

.adg-comparison-tool__section__title {
    @extend .h4;
    @extend .loud;
    margin: 0;
    padding: 0;
    margin-right: 1em;
}

.adg-comparison-tool__section__btn {
    @extend .btn;
    @extend .btn-secondary;
    @extend .btn-sm;
    vertical-align: middle;
    line-height: 1;
    display: inline-block;
    border-radius: 100%;
    margin: 0;
    min-width: initial;
    padding: 0!important;
    font-size: .75rem;
    width: 2rem;
    height: 2rem;
    line-height: 2em;
}

.adg-comparison-tool__section--naked {
    border: none;
    background: transparent;
}


/*----------  COMPARISON TOOL > ITEMS  ----------*/

.adg-comparison-tool__item {
    padding: 1rem;
}

.adg-comparison-tool__item__content {
    position: relative;
    @extend .loud;
}

.adg-comparison-tool__item__footer {
    background: $gray-10;
}

.adg-comparison-tool__item.selected {
    color: $accessible-blue;
}


/*----------  MISC  ----------*/

.adg-comparison-tool__availability {
    @extend .h4;
    @extend .loud;
    margin-bottom: 0;
    padding-top: 1rem;
}

.adg-comparison-tool__btn {
    @extend .btn;
    @extend .btn-sm;
    @extend .btn-secondary;
    @extend .btn-ghost;
    min-width: 7em;
    background: transparent!important;
    margin-bottom: 0;
}

.adg-comparison-tool__device:hover .adg-comparison-tool__btn,
.selected .adg-comparison-tool__btn {
    background: $accessible-blue!important;
    color: white!important;
}

.selected.adg-comparison-tool__device:before {
    position: absolute;
    content: '';
    width: calc(100% - 2px);
    height: calc(100% - 0px);
    border: solid 2px #3171bf;
    border-right: solid 2px #3171bf;
    left: -2px;
    top: -2px;
    z-index: 9;
    border-radius: .5rem;
}

.adg-comparison-tool__device:after {
    -webkit-transform: scale(0);
    transform: scale(0);
    position: absolute;
    opacity: 0;
    height: 1.25em;
    width: 1.25em;
    background: #3171bf;
    border-radius: 50%;
    z-index: 10;
    font-family: 'icomoon' !important;
    font-size: 1.5rem;
    content: "\e918";
    color: white;
    top: -1rem;
    right: -1rem;
    padding: 8px;
    text-align: center;
    line-height: 1.25;
    transition: 300ms;
}

.selected.adg-comparison-tool__device:after {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
}

.selected .adg-comparison-tool__selected-message {
    color: $accessible-blue;
}

.adg-comparison-tool__hr-toggler {
    margin: 2rem 0;
}


/*----------  JS  ----------*/

.js-toggle-selection {
    display: none;
}

.js-selected-message {
    display: none;
}

.js-select-device {
    cursor: pointer;
}

.js-comparison-tool-toggle {
    cursor: pointer;
}


/*=====  End of COMPARISON TOOL  ======*/
