<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
  <head>
      <meta name="robots" content="noindex,nofollow">
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <title>Asurion</title>
      <link rel="stylesheet" href="../../assets/theme/att/att.css">

      <link rel="stylesheet" href="../../assets/theme/att/att.css">
      <link rel="apple-touch-icon" sizes="180x180" href="../../assets/img/apple-touch-icon.png">
      <link rel="icon" type="image/png" sizes="32x32" href="../../assets/img/favicon-32x32.png">
      <link rel="icon" type="image/png" sizes="16x16" href="../../assets/img/favicon-16x16.png">
      <meta name="description" content="">
      <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
      <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
      <script src="https://code.jquery.com/jquery-1.12.1.min.js"></script>
  </head>
  <body>
    <div class="page">
      <div class="pre-footer ng-scope">
        <header class="ng-scope">
            <div class="span12">
              <h1 class="logo"></h1>
              <div class="links">
                  <a id="setlanguage" href="" class="es-link" data-ng-click="changeLanguage(languageToBeSet)" data-vzw-language="" style="display: none;">
                      <span data-ng-bind-html="selectedLanguage.Locales[selectedLanguage.Code] | unsafe" class="ng-scope ng-binding">Ver esta página en español</span>
                  </a>
                  <a id="liveChat" href="" class="chat-link" data-ng-click="clicked();launchChat()" style="display: none;">
                      <div id="LP_DIV_Verizon_Reactive_Chat"><div id="LPMcontainer-1539199012914-0" class="LPMcontainer LPMoverlay" role="button" tabindex="0" style="margin: 1px; padding: 0px; border-style: solid; border-width: 0px; font-style: normal; font-weight: normal; font-variant: normal; list-style: none outside none; letter-spacing: normal; line-height: normal; text-decoration: none; vertical-align: baseline; white-space: normal; word-spacing: normal; background-repeat: repeat-x; background-position: left bottom; cursor: auto; display: block; position: relative; top: 0px; left: 0px;"><a id="liveChat" href="" class="chat-link" data-lp-event="click" style="display: block;">
                      <i class="icon-chat"></i>
                      <span>Live Chat</span>
                      </a></div></div>
                  </a>
              </div>
            </div>
        </header>
        <section class="container main">
          <div class="steps-include">
            <div class="step ng-scope" style="">
              <div class="row">
                <div id="step1" class="span12">
                  <div class="stepbar clearfix">
                    <i class="icon-user"></i>
                    <div class="stepbar-text-top">STEP ONE</div>
                    <div class="stepbar-text-bottom">Your Information</div>
                    <div class="stepbar-text-ClaimCreation" id="claimId_1"></div>
                    <div class="stepbar-text-ClaimCreation" id="MDN_1"></div>
                  </div>
                </div>
              </div>
              <div class="claimstep ng-scope claimstep--ob" stepnum="1" iconclass="icon-user" style="display: block;">
                  
	
		<div class="vert-center-container" >
			<div class="vert-center">
				<div class="container">		
					<div class="processing-message" >
					  <h1 class="h2 step__header__title">One moment please. We are processing your claim.</h1>
					  <h1 class="h2 step__header__title">We're checking to make sure we've got the right device.</h1>
					  <h1 class="h2 step__header__title">Your security is important to us, so we're verifying your identity.</h1>
					  <h1 class="h2 step__header__title">To protect against fraud, we're checking just a few additional things.</h1>
					</div>
					<div class="progressBar" ><div></div></div>
				</div>
			</div>
		</div>
		<div class="path-control submission-outcome">
			<select name="" id="path-conrol__select" class="hidden">
				<option value="../04_replacement/4001.lfl.html">Select Submission Outcome</option>
			</select>	
			<button class="path-control__button">Skip</button>
		</div>
		

              </div>
            </div>
            <div class="ob-expert-help">
              <h4>If you have any questions, our experts will be happy to help.</h4>
              <p>1-866-853-2601</p>
            </div>
          </div>
        </section>
      </div>
    </div>
    
	<script>

	

	
	jQuery(document).ready(function($) {
		$('.footer').hide();
		$('.path-control__button').click(function(event) {
			var path = $('#path-conrol__select').val()
			document.location.href = path
		});

		// BIG SUBMIT
		$('#claimInitiation').removeClass('active');
		$('#claimProcessing').addClass('active');
		setTimeout(function() {
		    $('.processing-message h1:nth-child(1)').addClass('active');
		}, 0);
		setTimeout(function() {
		    $('.processing-message h1:nth-child(1)').removeClass('active');
		    $('.processing-message h1:nth-child(2)').addClass('active');

		}, 5000);
		setTimeout(function() {
		    $('.processing-message h1:nth-child(2)').removeClass('active');
		    $('.processing-message h1:nth-child(3)').addClass('active');
		}, 10000);
		setTimeout(function() {
		    $('.processing-message h1:nth-child(3)').removeClass('active');
		    $('.processing-message h1:nth-child(4)').addClass('active');
		    var path = $('#path-conrol__select').val()
		    document.location.href = path
		}, 15000);	
	});

	</script>

    <span class="ob-confetti">&nbsp;</span>
    <img src="/assets/img/trophy.svg" alt="trophy" class="ob-trophy" style="display:none;" />
  </body>
</html>
