/*===============================================
=            TRICITY THEME OVERRIDE VARS            =
===============================================*/

$primary-color: #29D9C2;
$secondary-color: #FA8819;
$client-header-logo-path: '../tricity/img/tricity-logo.png';
$client-header-logo-width:7em;

/*=====================================
=            BUTTON VARS            =
=====================================*/

$btn-primary: $primary-color;
$btn-secondary: $primary-color;

$form-highlight-color: $primary-color;
$text-highlight-color: $primary-color;

$client-header-background:$primary-color;
