/*===========================================
=            BRAND COLORS            =
===========================================*/

$primary-color: $asurion-lt-blue!default;
$secondary-color: $asurion-green!default;
$tertiary-color: $asurion-magenta!default;



/*===================================
=            GLOBAL COLORS            =
===================================*/

.bg-primary{background-color:$primary-color!important;}

.bg-secondary{background-color:$secondary-color!important;}

.bg-tertiary{background-color:$tertiary-color!important;}

.bg-primary--light{background-color:$primary-color--light!important;}
.bg-primary--dark{background-color:$primary-color--dark!important;}

.bg-secondary--light{background-color:$secondary-color--light!important;}
.bg-secondary--dark{background-color:$secondary-color--dark!important;}

.bg-tertiary--light{background-color:$tertiary-color--light!important;}
.bg-tertiary--dark{background-color:$tertiary-color--dark!important;}


.bg-black{background-color:$black!important;}
.bg-gray{background-color:$gray!important;}
.bg-gray-75{background-color:$gray-75!important;}
.bg-gray-50{background-color:$gray-50!important;}
.bg-gray-35{background-color:$gray-35!important;}
.bg-gray-25{background-color:$gray-25!important;}
.bg-gray-15{background-color:$gray-15!important;}
.bg-gray-10{background-color:$gray-10!important;}
.bg-white{background-color:$white!important};
.bg-info{background-color:$info-muted;}


.text-primary{color:$primary-color!important;}

.text-secondary{color:$secondary-color!important;}

.text-tertiary{color:$tertiary-color!important;}

.text-highlight-color{color:$text-highlight-color!important;}

.text-black{color:$black!important;}
.text-gray{color:$gray!important;}
.text-gray-75{color:$gray-75!important;}
.text-gray-50{color:$gray-50!important;}
.text-gray-35{color:$gray-35!important;}
.text-gray-25{color:$gray-25!important;}
.text-gray-15{color:$gray-15!important;}
.text-gray-10{color:$gray-10!important;}
.text-white{color:$white!important;}
.text-asurion-green{color:$asurion-green;}
.text-asurion-lt-blue{color:$asurion-lt-blue;}
.text-asurion-blue{color:$asurion-blue;}