<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
  <head>
      <meta name="robots" content="noindex,nofollow">
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <title>Asurion</title>
      <link rel="stylesheet" href="../../assets/theme/att/att.css">

      <link rel="stylesheet" href="../../assets/theme/att/att.css">
      <link rel="apple-touch-icon" sizes="180x180" href="../../assets/img/apple-touch-icon.png">
      <link rel="icon" type="image/png" sizes="32x32" href="../../assets/img/favicon-32x32.png">
      <link rel="icon" type="image/png" sizes="16x16" href="../../assets/img/favicon-16x16.png">
      <meta name="description" content="">
      <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
      <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
      <script src="https://code.jquery.com/jquery-1.12.1.min.js"></script>
  </head>
  <body>
    <div class="page">
      <div class="pre-footer ng-scope">
        <header class="ng-scope">
            <div class="span12">
              <h1 class="logo"></h1>
              <div class="links">
                  <a id="setlanguage" href="" class="es-link" data-ng-click="changeLanguage(languageToBeSet)" data-vzw-language="" style="display: none;">
                      <span data-ng-bind-html="selectedLanguage.Locales[selectedLanguage.Code] | unsafe" class="ng-scope ng-binding">Ver esta página en español</span>
                  </a>
                  <a id="liveChat" href="" class="chat-link" data-ng-click="clicked();launchChat()" style="display: none;">
                      <div id="LP_DIV_Verizon_Reactive_Chat"><div id="LPMcontainer-1539199012914-0" class="LPMcontainer LPMoverlay" role="button" tabindex="0" style="margin: 1px; padding: 0px; border-style: solid; border-width: 0px; font-style: normal; font-weight: normal; font-variant: normal; list-style: none outside none; letter-spacing: normal; line-height: normal; text-decoration: none; vertical-align: baseline; white-space: normal; word-spacing: normal; background-repeat: repeat-x; background-position: left bottom; cursor: auto; display: block; position: relative; top: 0px; left: 0px;"><a id="liveChat" href="" class="chat-link" data-lp-event="click" style="display: block;">
                      <i class="icon-chat"></i>
                      <span>Live Chat</span>
                      </a></div></div>
                  </a>
              </div>
            </div>
        </header>
        <section class="container main">
          <div class="steps-include">
            <div class="step ng-scope" style="">
              <div class="row">
                <div id="step1" class="span12">
                  <div class="stepbar clearfix">
                    <i class="icon-user"></i>
                    <div class="stepbar-text-top">STEP ONE</div>
                    <div class="stepbar-text-bottom">Your Information</div>
                    <div class="stepbar-text-ClaimCreation" id="claimId_1"></div>
                    <div class="stepbar-text-ClaimCreation" id="MDN_1"></div>
                  </div>
                </div>
              </div>
              <div class="claimstep ng-scope claimstep--ob" stepnum="1" iconclass="icon-user" style="display: block;">
                  
    <div class="container--md">
        <div class="kb-article">
            <div class="kb-article--content text-center">
                <p>We are working on updates to our live chat right now, but don't worry! Our Experts are available to you by phone if you would like to call and speak to someone now</p>
                <a href="tel:18668532601" id="LiveChatCall">1 (866) 853 - 2601</a>
            </div>
        </div>
    </div>
    

              </div>
            </div>
            <div class="ob-expert-help">
              <h4>If you have any questions, our experts will be happy to help.</h4>
              <p>1-866-853-2601</p>
            </div>
          </div>
        </section>
      </div>
    </div>
    

<script type="text/javascript">
  $(document).ready(function() {

    console.log(window.location.hash);
    if (window.location.hash == '#android') {
        $('.toggleAndroid').addClass('active');
        $('#androidContent').fadeIn();
        $('.genericTopChatContainer').hide();
        $('.androidTopChatContainer').show();
    }
    else if (window.location.hash == '#ios') {
        $('.toggleApple').addClass('active');
        $('#iosContent').fadeIn();
        $('.genericTopChatContainer').hide();
        $('.iosTopChatContainer').show();
    }
    $('.onboardToggle .toggle-btn').on('click', function(event) {
        if ($('.toggle-btn').hasClass('active')) {
          $('.toggle-btn').removeClass('active');
        }
        $(this).addClass('active');
    });
    $('.toggleApple').on('click', function() {
      if ($('#androidContent').is(':visible')) {
        $('#androidContent').hide();
        $('.androidTopChatContainer').hide();
      }
      $('#iosContent').fadeIn();
      $('.genericTopChatContainer').hide();
      $('.iosTopChatContainer').show();

    });
    $('.toggleAndroid').on('click', function() {
      if ($('#iosContent').is(':visible')) {
        $('#iosContent').hide();
        $('.iosTopChatContainer').hide();
      }
      $('#androidContent').fadeIn();
      $('.genericTopChatContainer').hide();
      $('.androidTopChatContainer').show();
    });

  });
</script>



    <span class="ob-confetti">&nbsp;</span>
    <img src="/assets/img/trophy.svg" alt="trophy" class="ob-trophy" style="display:none;" />
  </body>
</html>
