<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
  <head>
      <meta name="robots" content="noindex,nofollow">
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <title>Asurion</title>
      <link rel="stylesheet" href="../../assets/theme/att/att.css">

      <link rel="stylesheet" href="../../assets/theme/att/att.css">
      <link rel="apple-touch-icon" sizes="180x180" href="../../assets/img/apple-touch-icon.png">
      <link rel="icon" type="image/png" sizes="32x32" href="../../assets/img/favicon-32x32.png">
      <link rel="icon" type="image/png" sizes="16x16" href="../../assets/img/favicon-16x16.png">
      <meta name="description" content="">
      <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
      <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
      <script src="https://code.jquery.com/jquery-1.12.1.min.js"></script>
  </head>
  <body>
    <div class="page">
      <div class="pre-footer ng-scope">
        <header class="ng-scope">
            <div class="span12">
              <h1 class="logo"></h1>
              <div class="links">
                  <a id="setlanguage" href="" class="es-link" data-ng-click="changeLanguage(languageToBeSet)" data-vzw-language="" style="display: none;">
                      <span data-ng-bind-html="selectedLanguage.Locales[selectedLanguage.Code] | unsafe" class="ng-scope ng-binding">Ver esta página en español</span>
                  </a>
                  <a id="liveChat" href="" class="chat-link" data-ng-click="clicked();launchChat()" style="display: none;">
                      <div id="LP_DIV_Verizon_Reactive_Chat"><div id="LPMcontainer-1539199012914-0" class="LPMcontainer LPMoverlay" role="button" tabindex="0" style="margin: 1px; padding: 0px; border-style: solid; border-width: 0px; font-style: normal; font-weight: normal; font-variant: normal; list-style: none outside none; letter-spacing: normal; line-height: normal; text-decoration: none; vertical-align: baseline; white-space: normal; word-spacing: normal; background-repeat: repeat-x; background-position: left bottom; cursor: auto; display: block; position: relative; top: 0px; left: 0px;"><a id="liveChat" href="" class="chat-link" data-lp-event="click" style="display: block;">
                      <i class="icon-chat"></i>
                      <span>Live Chat</span>
                      </a></div></div>
                  </a>
              </div>
            </div>
        </header>
        <section class="container main">
          <div class="steps-include">
            <div class="step ng-scope" style="">
              <div class="row">
                <div id="step1" class="span12">
                  <div class="stepbar clearfix">
                    <i class="icon-user"></i>
                    <div class="stepbar-text-top">STEP ONE</div>
                    <div class="stepbar-text-bottom">Your Information</div>
                    <div class="stepbar-text-ClaimCreation" id="claimId_1"></div>
                    <div class="stepbar-text-ClaimCreation" id="MDN_1"></div>
                  </div>
                </div>
              </div>
              <div class="claimstep ng-scope claimstep--ob" stepnum="1" iconclass="icon-user" style="display: block;">
                  
    <div class="container--md">
        <div class="kb-article">

            <div class="kb-article--content">
                <p class="info text-center">Effective Date: July 7, 2013.</p>
                <p><span class="bold">SCOPE OF USE: </span>Asurion, LLC ("Asurion") provides this Web site (www.PhoneClaim.com) (the "Site") to You, for Your informational, noncommercial use, and subject to the following Terms of Use (the "Terms"). For the purpose of the following Terms, references to "We", "Us" and "Our" include Asurion and its affiliates, agents, representatives, successors and assigns. Using this Site to evaluate whether to enter into a business relationship with Asurion shall not constitute a commercial use for the purposes hereof. It is a violation of these Terms for you to use the Site in violation of any applicable laws and regulations or in violation of the rules of any Asurion service providers. Certain other programs or services provided by Asurion through linked websites or other channels may have additional terms and conditions regarding Your use of those services, and nothing in these Terms is intended to modify such terms and conditions. YOU MAY NOT USE THIS SITE IF YOU DO NOT AGREE TO THESE WEBSITE TERMS.</p>
                <p><span class="bold">RESTRICTIONS ON USE: </span>You shall use the Site strictly in accordance with these Terms and in a manner consistent with all applicable laws and regulations. You will not take any of the following actions with respect to the Site or the server nor will you use our Site to upload, post, email, distribute, transmit, link, solicit or otherwise make available any content or use the Site in any manner that: (i) decompiles, uses reverse engineering, disassembles, derives the source code of or decrypts the Site or server hosting the Site; (ii) violates any applicable laws, rules or regulations in connection with Your access to or use of the Site; (iii) removes, obscures, or alters any proprietary notices (including any notice of copyright or trademark) of Asurion or its affiliates, partners, suppliers or the licensors; (iv) modifies, adapts, improves, enhances or makes any derivative work from the Site; (v) interferes with or interrupts the Site or any hardware, software, system or network connected with the Site; (vii) infringes the copyright, trademark or any intellectual property rights or discloses a trade secret or confidential information in violation of a confidentiality or non-disclosure agreement; (viii) compiles, uses, downloads or otherwise copies any user information or any portion thereof, or transmits, provides or otherwise distributes (whether or not for a fee) such information to any third party; (ix) is fraudulent or unlawful or contains defamatory or illegal information, images, materials or descriptions; (x) promotes or provides instructions for illegal activities; (xi) encourages any conduct that would constitute a criminal offense or that gives rise to civil liability; or (xii) disseminates viruses or other computer code, files or programs that interrupt, destroy or limit the functionality of any computer software or hardware.</p>
                <p><span class="bold">PRIVACY POLICY: </span>You may view a copy of our privacy policy which explains Asurion's practices relating to the collection and use of Your information through or in connection with our Site. The privacy policy is incorporated into these Terms, and governs Asurion's use of Your information and/or any information You submit or otherwise make available to us in connection with the Site.</p>
                <p><span class="bold">REGISTRATION, ACCESS &amp; SECURITY: </span>If You use any Asurion service and provide us any information through the Site, such as Your name, phone number, contact details, email address, wireless carrier information, Your password and/or personal identification number (PIN) (collectively, Your "Account Data") for any accounts associated with Your device ("Your Account(s)"), You agree to provide true, accurate, current, complete and up-to-date information. If You provide any information that is untrue, inaccurate, non-current or incomplete, or We have reasonable grounds to suspect that such information is untrue, inaccurate, non-current or incomplete, then We have the right to terminate or refuse any and all current or future access or use of the Site (or any portion thereof). We reserve the right to take any action that We deem necessary to ensure the security of the Sites and Your Account, including without limitation changing your password, terminating Your Account, or requesting additional information to authorize transactions on Your Account. You are solely responsible for keeping Your Account Data and any security questions and responses associated with Your Account confidential. Anyone with knowledge of or access to Your Account Data or the security questions and responses associated with Your Account can use that information to gain access to Your Account. You are solely liable for any claims, damages, losses, costs or other liabilities resulting from or caused by any failure to keep Your Account Data and the security questions and responses confidential, whether such failure occurs with or without Your knowledge or consent. You will immediately notify Us of any suspected or actual unauthorized access to or use of Your Account Data or any other breach of Your Account security. You hereby authorize and consent to the collection, storage, sharing, use, transfer and sale by Asurion and its service providers, of any information and data related to or derived from Your use of the Site.</p>
                <p><span class="bold">NO WARRANTIES: </span>ALL CONTENT ON THIS SITE IS PROVIDED TO YOU ON AN "AS-IS," "AS-AVAILABLE" BASIS WITHOUT WARRANTY OF ANY KIND EITHER EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE IMPLIED WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NON-INFRINGEMENT. ASURION MAKES NO WARRANTY AS TO THE ACCURACY, COMPLETENESS, CURRENCY OR RELIABILITY OF ANY CONTENT AVAILABLE THROUGH THIS SITE. YOU ARE RESPONSIBLE FOR VERIFYING ANY INFORMATION BEFORE RELYING ON IT. USE OF THE SITE IS AT YOUR SOLE RISK.</p>
                <p>ASURION MAKES NO REPRESENTATIONS OR WARRANTIES THAT USE OF THE SITE WILL BE UNINTERRUPTED, COMPLETELY SECURE OR ERROR-FREE. You are responsible for taking all precautions necessary to ensure that any content you may obtain from the Site is free of viruses.</p>
                <p><span class="bold">TRADEMARKS: </span>All trademarks, service marks and logos that are used or displayed on the Sites are owned by Asurion or by third parties and are the property of their respective owners. Asurion owns various trademarks, service marks and logos that may be used on the Site, including without limitation, Asurion<sup>®</sup> (&amp; Design), Our Passion is Your Peace of Mind<sup>®</sup>, Mobile Recovery<sup>®</sup>, Mobile Guard<sup>®</sup>, MobileProtect<sup>®</sup>, Rescue Link<sup>®</sup>, App Assist<sup>™</sup> and Wireless Phone Protection<sup>®</sup>. You must obtain Asurion's written permission prior to using any trademark or service mark of Asurion. Unauthorized use of any trademarks, service marks or logos used on the Site may be a violation of state, national and international trademark laws. Additionally, Asurion's custom icons, graphics, logos and scripting on the Site are covered by trademark, trade dress, copyright or other proprietary right law, and may not be copied, modified or used, in whole or in part, without the prior written permission of Asurion.</p>
                <p><span class="bold">WEBSITE CONTENT &amp; COPYRIGHT: </span>This Site and the content contained on this Site is protected by U.S. and international copyright laws. You may not modify, reproduce or distribute the content, design or layout of the Site or individual sections of the content, design or layout of the Site or Asurion trademarks or logos without our written permission. The layout, compilation, organization and display of the content as well as all software and inventions used on and in connection with this Site are the exclusive property of Asurion. Asurion reserves all of its rights in the Site and its content.</p>
                <p><span class="bold">COPYRIGHT INFRINGEMENT NOTIFICATION: </span>Asurion has a policy of removing data or content that violates applicable copyright law. Pursuant to Section 512 of Title 17 of the United States Code, Asurion has implemented procedures for receiving written notification of claimed copyright infringement and for processing such claims in accordance with the law. To file a copyright infringement notification with us, You will need to send a written communication to Asurion's Designated Agent, listed below, containing substantially the following information or such other information as may be required by Section 512(c)(3) of the Copyright Act: (i) a physical or electronic signature of a person authorized to act on behalf of the owner of an exclusive right that is allegedly infringed; (ii) identification of the copyrighted work claimed to have been infringed, or, if multiple copyrighted works at a single online site are covered by a single notification, a representative list of such works at that site; (iii) identification of the material that is claimed to be infringing or to be the subject of infringing activity and that is to be removed or access to which is to be disabled, and information reasonably sufficient to permit the service provider to locate the material; (iv) information reasonably sufficient to permit the service provider to contact the complaining party, such as an address, telephone number, and, if available, an electronic mail address at which the complaining party may be contacted; (v) a statement that the complaining party has a good faith belief that use of the material in the manner complained of is not authorized by the copyright owner, its agent, or the law; and (vi) a statement that the information in the notification is accurate, and under penalty of perjury, that the complaining party is authorized to act on behalf of the owner of an exclusive right that is allegedly infringed. Please direct any such notice to Asurion Legal Department, 648 Grassmere Park, Nashville, TN 37211 or contact by email at <a href="mailto:DMCAnotification@asurion.com">DMCAnotification@asurion.com</a>. The foregoing contact information is for use solely with notice of copyright infringement and You may not receive a response to any other communications, feedback, comments or requests for technical support delivered to the foregoing address or e-mail.</p>
                <p><span class="bold">REVIEWS, COMMENTS AND OTHER CONTENT: </span>If You post or submit any reviews, comments, photos, statements, ideas, questions or other content (collectively, the "Content") to the Site or to Asurion, You acknowledge and agree that all such Content shall comply with the terms of these Terms (including the "RESTRICTIONS ON USE" section above) and You may not use any fake e-mail address or impersonate any other person or entity or otherwise mislead as to the origin of the Content. Unless we indicate otherwise, You grant Asurion a royalty-free, perpetual, irrevocable, transferable, sublicensable, worldwide right to use, publish, reproduce, modify, copy, distribute, adapt, translate, create derivative works of and display such Content on any media and in any form. If You provide any names or user names in connection with such Content, You grant Asurion the right to use that name or user name in accordance with the foregoing license.</p>
                <p>You represent and warrant that all Content that You submit or post complies with any guidelines or rules of the United States Federal Trade Commission, including but not limited to FTC 16 CFR Part 255, regarding truth-in advertising and disclosure requirements. You represent and warrant that all Content You submit to the Site or Asurion is accurate, truthful and non-deceptive; that all Content has evidence to back up the claims made; and You shall, if applicable, clearly disclose whether the Content is a sponsored post for which payment or any kind of benefit at all was received by You, whether You are a shareholder or employee of Asurion, whether Your received any Asurion products, samples, cash or benefit of any kind in exchange for posting the Content, and all Content shall be clearly and conspicuously distinguishable from other editorial content. You further represent and warrant that You own or otherwise control all of the proprietary rights to the Content that You submit or post to the Site and that You will indemnify Asurion for all claims resulting from any Content You or any third parties submit to Asurion or post to the Site. Asurion has the right but not the obligation to remove, edit or monitor any Content, but Asurion takes no responsibility and assumes no liability for the Content posted or submitted by You or any third parties.</p>
                <p><span class="bold">MODIFICATIONS: </span>Asurion reserves the right to modify this Site and the rules and regulations governing its use, at any time. Modifications will be posted on the Site and the "last updated" date at the top of this web page will be revised. You understand and agree that if you use this Site after the date on which the Terms have changed, Asurion will treat Your use as acceptance of the updated Terms. Asurion may make changes in the products and/or services described in this Site at any time.</p>
                <p><span class="bold">VIOLATION OF RULES AND REGULATIONS: </span>Asurion reserves the right to seek all remedies available at law and in equity for violations of the rules and regulations set forth in this Site, including the right to block access from a particular Internet address to the Site.</p>
                <p><span class="bold">INDEMNITY: </span>You agree to indemnify and hold Asurion and its subsidiaries, affiliates, officers, agents, employees, partners and licensors harmless from and against any and all losses, claims, demands, expenses, damages and costs, including reasonable attorneys' fees, made by any third party due to or arising out of Your use of the Site, Your violation of these Terms, or Your violation of any law or any rights of another. Asurion reserves the right, at Your expense, to assume the exclusive defense and control of any matter which You are required to indemnify against, and You agree to cooperate in Asurion's defense of such matter. This indemnification shall survive any termination of these Terms.</p>
                <p><span class="bold">LIMITATION OF LIABILITY: </span>ASURION SPECIFICALLY DISCLAIMS ANY LIABILITY, WHETHER BASED IN CONTRACT, TORT, STRICT LIABILITY OR OTHERWISE, FOR ANY DIRECT, INDIRECT, INCIDENTAL, CONSEQUENTIAL OR SPECIAL DAMAGES ARISING OUT OF OR IN ANY WAY CONNECTED WITH ACCESS TO OR USE OF THE SITE, EVEN IF ASURION HAS BEEN ADVISED OF THE POSSIBILITY OF SUCH DAMAGES, INCLUDING BUT NOT LIMITED TO RELIANCE BY ANY PARTY ON ANY CONTENT OBTAINED THROUGH USE OF THIS SITE, OR THAT ARISES IN CONNECTION WITH MISTAKES OR OMISSIONS IN, OR DELAYS IN TRANSMISSION OF, INFORMATION TO OR FROM THE USER, INTERRUPTIONS IN TELECOMMUNICATIONS CONNECTIONS TO THE SITE OR VIRUSES, WHETHER CAUSED IN WHOLE OR IN PART BY NEGLIGENCE, ACTS OF GOD, TELECOMMUNICATIONS FAILURE, THEFT OR DESTRUCTION OF, OR UNAUTHORIZED ACCESS TO THE SITE, OR RELATED INFORMATION OR PROGRAMS.</p>
                <p>Some jurisdictions do not allow exclusions of liability for certain types of damages. Accordingly, some of the above limitations may not apply to you to the extent prohibited by law. In such cases, Asurion's liability will be limited to the fullest extent permitted by applicable law.</p>
                <p><span class="bold">THIRD PARTY SITES: </span>Some links in this Site may navigate you away from Asurion's Site or redirect you to other websites, including websites operated by third parties. Please be aware that those websites may collect PII from or about You and Non-PII about Your visit. The linked sites are not under the control of Asurion, and the content available on the Internet sites linked to this Site does not necessarily reflect the opinion of Asurion. Asurion is providing these links to other Internet sites as a convenience to you, and access to any other Internet sites linked to this Site is at Your own risk. The inclusion of any link does not imply a recommendation or endorsement by Asurion of the linked site. You should review the terms of use and privacy policies that are posted on any website that You visit, before using any linked websites.</p>
                <p><span class="bold">GOVERNING LAW AND GENERAL PRINCIPLES: </span>This Site is operated by Asurion from its offices within the United States of America. Asurion makes no representation that the information in the Site is appropriate or available for use in other locations, and access to the Site from territories where the contents of the Site may be illegal is prohibited. Those who choose to access this Site from other locations do so, on their own initiative and are responsible for compliance with applicable local laws. By using the Site, regardless of where You live or are located in the world, You consent to these Terms and any claims relating to the information, services or products made available through this Site will be governed by the laws of the State of Tennessee, U.S.A., excluding the application of its conflicts of law rules. If any provision of these Terms shall be deemed unlawful, void, or for any reason unenforceable, then that provision will be deemed severable from these Terms and will not affect the validity and enforceability of any remaining provisions. Asurion's failure to enforce the strict performance of any provision of these Terms will not constitute a waiver of Asurion's right to subsequently enforce such provision or any other provisions of these Terms.</p>
            </div>
        </div>
    </div>
    

              </div>
            </div>
            <div class="ob-expert-help">
              <h4>If you have any questions, our experts will be happy to help.</h4>
              <p>1-866-853-2601</p>
            </div>
          </div>
        </section>
      </div>
    </div>
    

<script type="text/javascript">
  $(document).ready(function() {

    console.log(window.location.hash);
    if (window.location.hash == '#android') {
        $('.toggleAndroid').addClass('active');
        $('#androidContent').fadeIn();
        $('.genericTopChatContainer').hide();
        $('.androidTopChatContainer').show();
    }
    else if (window.location.hash == '#ios') {
        $('.toggleApple').addClass('active');
        $('#iosContent').fadeIn();
        $('.genericTopChatContainer').hide();
        $('.iosTopChatContainer').show();
    }
    $('.onboardToggle .toggle-btn').on('click', function(event) {
        if ($('.toggle-btn').hasClass('active')) {
          $('.toggle-btn').removeClass('active');
        }
        $(this).addClass('active');
    });
    $('.toggleApple').on('click', function() {
      if ($('#androidContent').is(':visible')) {
        $('#androidContent').hide();
        $('.androidTopChatContainer').hide();
      }
      $('#iosContent').fadeIn();
      $('.genericTopChatContainer').hide();
      $('.iosTopChatContainer').show();

    });
    $('.toggleAndroid').on('click', function() {
      if ($('#iosContent').is(':visible')) {
        $('#iosContent').hide();
        $('.iosTopChatContainer').hide();
      }
      $('#androidContent').fadeIn();
      $('.genericTopChatContainer').hide();
      $('.androidTopChatContainer').show();
    });

  });
</script>



    <span class="ob-confetti">&nbsp;</span>
    <img src="/assets/img/trophy.svg" alt="trophy" class="ob-trophy" style="display:none;" />
  </body>
</html>
