<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
  <head>
      <meta name="robots" content="noindex,nofollow">
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <title>Asurion</title>
      <link rel="stylesheet" href="../../assets/theme/att/att.css">

      <link rel="stylesheet" href="../../assets/theme/att/att.css">
      <link rel="apple-touch-icon" sizes="180x180" href="../../assets/img/apple-touch-icon.png">
      <link rel="icon" type="image/png" sizes="32x32" href="../../assets/img/favicon-32x32.png">
      <link rel="icon" type="image/png" sizes="16x16" href="../../assets/img/favicon-16x16.png">
      <meta name="description" content="">
      <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
      <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
      <script src="https://code.jquery.com/jquery-1.12.1.min.js"></script>
  </head>
  <body>
    <div class="page">
      <div class="pre-footer ng-scope">
        <header class="ng-scope">
            <div class="span12">
              <h1 class="logo"></h1>
              <div class="links">
                  <a id="setlanguage" href="" class="es-link" data-ng-click="changeLanguage(languageToBeSet)" data-vzw-language="" style="display: none;">
                      <span data-ng-bind-html="selectedLanguage.Locales[selectedLanguage.Code] | unsafe" class="ng-scope ng-binding">Ver esta página en español</span>
                  </a>
                  <a id="liveChat" href="" class="chat-link" data-ng-click="clicked();launchChat()" style="display: none;">
                      <div id="LP_DIV_Verizon_Reactive_Chat"><div id="LPMcontainer-1539199012914-0" class="LPMcontainer LPMoverlay" role="button" tabindex="0" style="margin: 1px; padding: 0px; border-style: solid; border-width: 0px; font-style: normal; font-weight: normal; font-variant: normal; list-style: none outside none; letter-spacing: normal; line-height: normal; text-decoration: none; vertical-align: baseline; white-space: normal; word-spacing: normal; background-repeat: repeat-x; background-position: left bottom; cursor: auto; display: block; position: relative; top: 0px; left: 0px;"><a id="liveChat" href="" class="chat-link" data-lp-event="click" style="display: block;">
                      <i class="icon-chat"></i>
                      <span>Live Chat</span>
                      </a></div></div>
                  </a>
              </div>
            </div>
        </header>
        <section class="container main">
          <div class="steps-include">
            <div class="step ng-scope" style="">
              <div class="row">
                <div id="step1" class="span12">
                  <div class="stepbar clearfix">
                    <i class="icon-user"></i>
                    <div class="stepbar-text-top">STEP ONE</div>
                    <div class="stepbar-text-bottom">Your Information</div>
                    <div class="stepbar-text-ClaimCreation" id="claimId_1"></div>
                    <div class="stepbar-text-ClaimCreation" id="MDN_1"></div>
                  </div>
                </div>
              </div>
              <div class="claimstep ng-scope claimstep--ob" stepnum="1" iconclass="icon-user" style="display: block;">
                  
<div class="container--sm">
    <div class="card">
        <div class="card__content">
            <div class="row">
                <div class="col-xs-10 col-xs-offset-1">
                    <h3 class="h4 loud">Shipping Address</span></h3>
            <div class="js-address-on-file">
                <p>John Smith <br>123 Main Street <br> Washington, DC 20002
                    </p>
                <a href="3.2.shippingAddressEdit.html" class="edit-link js-change-address-btn">(Change address)</a>
            </div>
            <div class="js-change-address">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="form-group">
                            <label for="billingStreet">Address 
                                <span class="milli">(No PO Boxes or military post offices.)
                                    <!-- <span class="tooltip icon-Icon-page-help-circle" data-tooltip-content="#tooltip_content"></span> -->
                                    <div class="tooltip_templates">
                                        <span id="tooltip_content">
                                            Sorry, we're not able to ship to P.O. boxes or military addresses.
                                        </span>
                                    </div>
                                </span>
                            </label>
                            <input type="text" class="form-control" id="billingStreet" placeholder="123 Elm Street" >
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <div class="form-group">
                            <label for="billingStreet2">Apartment, suite, attn.</label>
                            <input type="text" class="form-control" id="billingStreet2" placeholder="Apartment number, Suite number, etc." >
                        </div>
                    </div>
                </div>
                <div class="row gutter--sm">
                    <div class="col-sm-5">
                        <div class="form-group">
                            <label for="billingPostalCode">ZIP code</label>
                            <input type="text" class="form-control" id="billingPostalCode" placeholder="Zip code">
                        </div>
                    </div>
                </div>
                <div class="row gutter--sm">
                    <div class="col-sm-9">
                        <div class="form-group">
                            <label for="billingCity">City</label>
                            <input type="text" class="form-control" id="billingCity" placeholder="City" >
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group">
                            <label for="billingStateProvince">State</label>
                            <div class="custom-dropdown">
                                <select class="form-control" id="billingStateProvince" placeholder="Province" ng-model="formData.billing.stateProvince">
                                        <option value=""></option>
                                        <option value="AL">AL</option>
                                        <option value="AK">AK</option>
                                        <option value="AZ">AZ</option>
                                        <option value="AR">AR</option>
                                        <option value="CA">CA</option>
                                        <option value="CO">CO</option>
                                        <option value="CT">CT</option>
                                        <option value="DE">DE</option>
                                        <option value="DC">DC</option>
                                        <option value="FL">FL</option>
                                        <option value="GA">GA</option>
                                        <option value="HI">HI</option>
                                        <option value="ID">ID</option>
                                        <option value="IL">IL</option>
                                        <option value="IN">IN</option>
                                        <option value="IA">IA</option>
                                        <option value="KS">KS</option>
                                        <option value="KY">KY</option>
                                        <option value="LA">LA</option>
                                        <option value="ME">ME</option>
                                        <option value="MD">MD</option>
                                        <option value="MA">MA</option>
                                        <option value="MI">MI</option>
                                        <option value="MN">MN</option>
                                        <option value="MS">MS</option>
                                        <option value="MO">MO</option>
                                        <option value="MT">MT</option>
                                        <option value="NE">NE</option>
                                        <option value="NV">NV</option>
                                        <option value="NH">NH</option>
                                        <option value="NJ">NJ</option>
                                        <option value="NM">NM</option>
                                        <option value="NY">NY</option>
                                        <option value="NC">NC</option>
                                        <option value="ND">ND</option>
                                        <option value="OH">OH</option>
                                        <option value="OK">OK</option>
                                        <option value="OR">OR</option>
                                        <option value="PA">PA</option>
                                        <option value="RI">RI</option>
                                        <option value="SC">SC</option>
                                        <option value="SD">SD</option>
                                        <option value="TN">TN</option>
                                        <option value="TX">TX</option>
                                        <option value="UT">UT</option>
                                        <option value="VT">VT</option>
                                        <option value="VA">VA</option>
                                        <option value="WA">WA</option>
                                        <option value="WV">WV</option>
                                        <option value="WI">WI</option>
                                        <option value="WY">WY</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <!-- <div class="col-sm-4">
                        <div class="form-group">
                            <label for="billingCountry">Country</label>
                            <div class="custom-dropdown">
                                <select class="form-control" id="billingStateProvince" placeholder="Province" ng-model="formData.billing.stateProvince">
                                    <option value="">Select country</option>
                                    <option value="US" selected>United States</option>
                                    <option value="Canada">Canada</option>
                                </select>
                            </div>
                        </div>
                    </div> -->
                </div>
                <button class="margin-top-1x btn btn-primary btn-sm js-change-address-save">Save</button>
            </div>

                    <div class="row margin-2x--bottom">
                         <div class="col-sm-12">
                            <hr class="hr">
                            <h3 class="h4 loud">Ships in</span></h3>
                           <p>1-2 business days</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
         <div class="card__footer padding-2x padding-left-right-sm-4x">
            <!-- <div class="card__footer__icon-top">
                <span class="icon-Icon-cart"></span>
            </div> -->
            <div class="row">
                <div class="col-xs-3 text-center">
                    <img src="../../assets/img/iphone_img2.png" alt="" width="60">
                </div>
                <div class="col-xs-9">
                    <h5 class="h5 loud">Black Apple iPhone 6 (64GB)</h5>
                    <dl class="d-stacked-list">
                      
                        <dt>Your deductible:</dt>
                        <dd>$120.00 + applicable taxes</dd>
                    </dl>
                </div>
            </div>
        </div>
    </div>
</div>

              </div>
            </div>
            <div class="ob-expert-help">
              <h4>If you have any questions, our experts will be happy to help.</h4>
              <p>1-866-853-2601</p>
            </div>
          </div>
        </section>
      </div>
    </div>
    
<!-- <div class="modal" id="js-activation-modal">
    <div class="modal__close-btn icon-uniE601" data-modal-close=""></div>
    <header class="modal__header">
        <h3 class="modal__title">Activation</h3>
    </header>
    <div class="modal__content">
        <div class="row">
            <div class="col-sm-10 col-sm-offset-1 typography">
                <p>You can select to have us activate your phone before we ship it to you so that it's ready for you to use when you receive it.  By selecting this option, your current device or any temporary device on this account will be deactivated and you will not be able to use it once you replacement device has shipped.</p>
            </div>
        </div>
    </div>
    <footer class="modal__footer">
        <div class="btn-well">
            <button class="btn btn-primary" data-modal-close >Close</button>
        </div>
    </footer>
</div> -->
<script>
    $(document).ready(function() {
        $('.js-change-address').hide()
        $('.js-change-address-btn').click(function(event) {
            event.preventDefault();
            $('.js-address-on-file').hide();
            $('.js-change-address').show();
        });
        $('.js-change-address-save').click(function(event) {
            $('.js-address-on-file').show();
            $('.js-change-address').hide();
        });
    });
</script>


    <span class="ob-confetti">&nbsp;</span>
    <img src="/assets/img/trophy.svg" alt="trophy" class="ob-trophy" style="display:none;" />
  </body>
</html>
