/*===============================================
=            KPN THEME OVERRIDE VARS            =
===============================================*/



$primary-color: #0099ff;
$secondary-color: #090;

$client-header-logo-path: '../kpn/img/client-logo--kpn.png';
$client-header-logo-width:12em;
$client-header-background:$primary-color;

$form-highlight-color: $primary-color;
$text-highlight-color: $secondary-color;

$btn-primary:#0099ff;

// $btn-primary:$asurion-green;