/*=====================================
=            STEP TRACKER VARS            =
=====================================*/

$step-color--done: $gray-75!default;
$step-color--todo: $gray-25!default;
$step-color--current: $primary-color--dark!default;

/*=============================================
=            STEP TRACKER A            =
=============================================*/



.step-tracker-A{
	background:$gray-25;
}
.step-tracker-A__steps{
	list-style:none;
	display:table;
	table-layout: fixed;
	width: 100%;
    margin: 0;
    padding: 0;
    counter-reset: step-counter;
    padding-top: 5px;
}
.step-tracker-A__step{
	display: table-cell;
    padding: 1em 0;
    position: relative;
    vertical-align: middle;
    color: $gray-50;
    letter-spacing: -.01em;
    text-align: center;
    text-transform: uppercase;
    font-weight: 600;
    margin-top: 0;
    vertical-align: top;
    line-height: 1;
}

.step-tracker-A__step--current {
	color: $primary-color;
	position:relative;
	background-color: #fcfcfc;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}

.step-tracker-A__step--done .step-tracker-A__step__icon{
	opacity: 0.4;
	&:before{
		content: "\e00f" !important;
		color: #27ae60;
	}
}

.step-tracker-A__step--current:after{
	width:100%;
	height: 110%;
	background-color:white;
	position:absolute;
	left:0;
	top: 0;
	border-radius: 6px;
	z-index: 0;
}
.step-tracker-A__step__icon{
	display: block;
	width: 34px;
	height: 34px;
	margin: 0 auto;
	text-align: center;
	font-size: 24px;
	line-height: 34px;
	border-radius: 100%;
	background-color: #FFFFFF;
	color: #E6E6E8;
	margin-bottom: 4px;
	border: 1px solid #E6E6E8;
	z-index: 1;
	position: relative;
	&:after {
	    display: block;
	    border-top: solid 5px #FFFFFF;
	    width: 140px;
	    height: 1px;
	    position: absolute;
	    top: 15px;
	    left: 0;
	    z-index: 0;
	}
}

.step-tracker-A__step--current .step-tracker-A__step__icon{
	border:1px solid $primary-color;
	color:$primary-color;
}
.step-tracker-A__step__title{
	margin-top: 10px;
	display: block;
	font-size: .75em;
	line-height:1;
	font-family:$loud-font-family;
	font-weight:600;
}



/*======================================
=            STEP TRACKER B            =
======================================*/


.step-tracker-B{
	overflow:hidden;
	background:$gray-35;
	

}
.step-tracker-B__steps{
	list-style:none;
	display:table;
	table-layout: fixed;
	width: 100%;
    margin: 0;
    padding: 0;
    counter-reset: step-counter;
    min-height:42px;
}
.step-tracker-B__step{
	display: table-cell;
    float: none;
    border-right: solid 2px $gray-10;
    height: auto;
    vertical-align: middle;
    padding: 0 .5em;
	position: relative;
	color:$gray-75;
}
.step-tracker-B__step:last-child{
	border-right: solid 2px transparent;
}
.step-tracker-B__step:first-child:after{
	position: absolute;
	height: 100%;
	width: 5000px;
	content: '';
	right: 100%;
	top: 0;
	z-index: 999999;
}
.step-tracker-B__step:last-child:after{
	position: absolute;
	height: 100%;
	width: 5000px;
	content: '';
	left: 100%;
	top: 0;
	z-index: 999999;
}

.step-tracker-B__step--current {
	position:relative;
	background:$step-color--current;
	color:$white;
	border-right: solid 2px transparent;
	
}

.step-tracker-B__step--current .step-tracker-B__step__title:before{
	color:$step-color--current;
}

.step-tracker-B__step--current:first-child:after{
	background: $step-color--current;
}
.step-tracker-B__step--current:last-child:after{
	background: $step-color--current;
}
.step-tracker-B__step--done:first-child:after{
	background: $step-color--done;
}

.step-tracker-B__step--done{
	background:$step-color--done;
	color:$white;
}
.step-tracker-B__step--done .step-tracker-B__step__title:before{
	color:$step-color--done;
	content: "\e00f" !important;
	font-family: 'icomoon';
}
.step-tracker-B__step__title{
	font-size:.8em;
	font-family:$loud-font-family;
	font-weight:$loud-font-weight;
    display: inline-block;
    vertical-align: middle;
    padding-left:2rem;
    line-height: 1;
      &:before{
      	font-size: .9em;
      	counter-increment: step-counter;
		content: counter(step-counter);
		background: #ffffff;
		border-radius: 100%;
		margin-right: .5rem;
		text-align: center;
		display: inline-block;
      	vertical-align: middle;
      	position: absolute;
      	left:1rem;
      	height: 1.5em;
      	width: 1.5em;
      	line-height: 1.5em;
      }
}