/*===================================
=            ALERT BOXES            =
===================================*/

.alert-box{
	padding:2.5rem 0;
	border-radius:0;
	background-color:$gray;
	color: $gray;
	display:table;
	position: relative;
	width:100%;
	@include respond-to(small){
		display: block;
		
	}
	&.stuck {
	  position:fixed;
	  top:0;
	  z-index: 999;
	}
}
.alert-box--outlined{
	border:solid 2px;
	border-radius:.35em;
}
.alert-box__icon, .alert-box__title{
	display: table-cell;
	vertical-align:middle;
	@include respond-to(small){
		display: inline-block;

	}
	
}
.alert-box__details-toggle{
	@extend .micro;
	display:inline-block;
	vertical-align:middle;
}
.alert-box__header{}
.alert-box__content{}
.alert-box__title{
	@extend .h4;
	@extend .loud;
	margin-bottom:0;
}
.alert-box__message{
	font-weight:bold;
	margin-bottom:0;
	padding-left:1rem;
	text-align:left;
	line-height:1.2;
}
.alert-box__icon{
	
}
.alert-box__close{
	position: absolute;
	right:1rem;
	top:1rem;
	cursor: pointer;
}
.alert-box--success{
	@extend .alert-box;
	background-color:$success-muted;
	.alert-box__icon, .alert-box__close{
		color:$success;
	}
	a{
		color:$success;
	}
	&.alert-box--outlined{
		border-color:lighten($success, 50%);
	}
}
.alert-box--info{
	@extend .alert-box;
	background-color:$info-muted;
	.alert-box__icon, .alert-box__close{
		color:$info;
	}
	a{
		color:$info;
	}
	&.alert-box--outlined{
		border-color:lighten($info, 50%);
	}
}
.alert-box--warning{
	@extend .alert-box;
	background-color:$warning-muted;
	.alert-box__icon, .alert-box__close{
		color:$warning;
	}
	a{
		color:$warning;
	}
	&.alert-box--outlined{
		border-color:lighten($warning, 50%);
	}
}
.alert-box--alert{
	@extend .alert-box;
	background-color:$alert-muted;
	.alert-box__icon, .alert-box__close{
		color:$alert;
	}
	a{
		color:$alert;
	}
	&.alert-box--outlined{
		border-color:lighten($alert, 50%);
	}
}

.alert-box--fixed{
	position: fixed;
	top:4rem;
	left:0;
	width: 100%;
	z-index: 99999;
}

/*=========================================
=            Contextual Styles            =
=========================================*/

.fine-print{
  font-size: .90rem;
  line-height: 1.4;
}
.intro{
  font-size: 1.2em;
}
.success{
	color:$success!important;
	&:hover{
		color:$success!important;
		text-decoration:none!important;
	}
}
.info{
	&:hover{
		color:$info!important;
		text-decoration:none!important;
	}
	color:$info!important;
}
.warning{
	color:$warning!important;
	&:hover{
		color:$warning!important;
		text-decoration:none!important;
	}
}

.validation-summary-errors, .errorMessages{
  @extend .warning;
}


/*===========================================
=            COMPONENT HIGHLIGHT            =
===========================================*/
@keyframes highlightAnimation {
  0%   { opacity:1; }
  80%   { opacity:1; }
  100% { opacity:0; }
}
@-o-keyframes highlightAnimation{
  0%   { opacity:1; }
  80%   { opacity:1; }
  100% { opacity:0; }
}
@-moz-keyframes highlightAnimation{
  0%   { opacity:1; }
  80%   { opacity:1; }
  100% { opacity:0; }
}
@-webkit-keyframes highlightAnimation{
  0%   { opacity:1; }
  80%   { opacity:1; }
  100% { opacity:0; }
}


.highlight{
	z-index: 0;
	 position: relative;
}
.highlight:after{
	content: '';
	width: 100%;
	height: 100%;
	position: absolute;
	z-index: -1;
	top: 0em;
	left: 0em;
	opacity: 0;
	-webkit-animation: highlightAnimation 3s ease-in-out;
	animation: highlightAnimation 3s ease-in-out;
	// -webkit-animation-delay: .5s;
	// animation-delay: .5s;
	border-radius: .35em;
}


.highlight--warning:after{
	-webkit-box-shadow: inset 0px 0px 0px 0px $warning;
	-moz-box-shadow: inset 0px 0px 0px 0px $warning;
	box-shadow: inset 0px 0px 0px 0px $warning;
	background-color:$warning-muted;
}
.highlight--alert:after{
	-webkit-box-shadow: inset 0px 0px 0px 0px $alert;
	-moz-box-shadow: inset 0px 0px 0px 0px $alert;
	box-shadow: inset 0px 0px 0px 0px $alert;
	background-color:$alert-muted;
}
.highlight--info:after{
	-webkit-box-shadow: inset 0px 0px 0px 0px $info;
	-moz-box-shadow: inset 0px 0px 0px 0px $info;
	box-shadow: inset 0px 0px 0px 0px $info;
	background-color:$info-muted;
}
.highlight--success:after{
	-webkit-box-shadow: inset 0px 0px 0px 0px $success;
	-moz-box-shadow: inset 0px 0px 0px 0px $success;
	box-shadow: inset 0px 0px 0px 0px $success;;
	background-color:$success-muted;
}

/*=====  End of COMPONENT HIGHLIGHT  ======*/

 