/*======================================
=            ADG-PAGINATION            =
======================================*/

.adg-pagination{
	text-align:middle;
	display:block;
	@extend .clearfix;
}
.adg-pagination__prev{
	@extend .loud;
	display:block;
	float:left;
	width:35%;
}
.adg-pagination__next{
	@extend .loud;
	display:block;
	float:right;
	width:35%;
	text-align:right;
}
.adg-pagination__icon{
	vertical-align:middle;
	font-size:.5em;

}
.adg-pagination__prev__icon{
	margin-right:.5em;
}
.adg-pagination__next__icon{
	margin-left:.5em;
}
.adg-pagination__more{
	width:50%;
	float:right;
	@extend .loud;
	text-align:right;
}
.adg-pagination__fewer{
	width:50%;
	float:left;
	@extend .loud;
}
.adg-pagination__nav{
	list-style:none;
	display:block;
	float:left;
	width:30%;
	text-align:center;
	margin:0;
	padding:0;
	@extend .loud;
}
.adg-pagination__nav__item{
	display:inline-block;
	vertical-align:middle;
	

}
.adg-pagination__nav__item:not(.adg-pagination__nav__item--current){
	@extend .link;
}
.adg-pagination__nav__item--current{

}
.adg-pagination__nav__item:after{
	display:inline-block;
	vertical-align:middle;
	content:'|';
	margin: 0 .3rem ;
	color:gray;
}
.adg-pagination__nav__item:last-child:after{
	content:'';
}
/*=====  End of ADG-PAGINATION  ======*/
