/*===============================================
=            WALMART THEME OVERRIDE VARS            =
===============================================*/

$client-header-logo-path: '../walmart/img/client-logo--walmart.png';
$client-header-logo-width:10em;

$primary-color: #1a75cf;
$secondary-color: #fdba31;

$primary-color--light:#3396e3;


/*=====================================
=            STEP TRACKER VARS            =
=====================================*/

$step-color--done: $primary-color--light;
$step-color--current: $secondary-color;