{% extends "_step-layout.html" %}

{% set stepTitle = 'Your claim is complete!' %} 
{% set stepSubTitle = 'We\'ll send a confirmation email to <span class="loud">kjones@gmail.com</span> shortly.' %}
{% set btnText = '' %}
{% set nextStep = 'step1.problem' %}



{% block stepHeader %}
<div class="step__header">
    <div class="container">
        <div class="text-primary icon--tera text-center icon-Icon-page-check-circle margin-bottom-2x"></div>
        <h1 class="h2 step__header__title">{[stepTitle | safe]}</h1>
        <h2 class="h4 step__header__subtitle">{[stepSubTitle | safe]}</h1>
    </div>
</div>
{% endblock %}

{% block stepContent %}
<div class="container--lg">
    <div class="card">
        <div class="card__content">
            <div class="row">
                <div class="col-sm-10 col-sm-offset-1">
                    <h3 class="h3 loud margin-top-1x">What happens next?</h3>
                    <p class="mega">Once your claim has been processed, you will receive an email from AT&amp;T with your tracking information.  You can expect your device to arrive on February 4, 2017. For your reference, the phone number associated with this claim is <span class="loud">555-555-5555</span> and your claim ID is<span class="loud"> 47483949495</span></p>
                    <hr>
                    <h3 class="h3 loud margin-top-1x">Multi-Device Protection Pack Customers</h3>
                    <p class="mega">As an AT&amp;T Multi-Device Protection Pack customer, you have unlimited technical support. Please make us your first call when you receive your replacement device, and our AT&amp;T ProTech team of experts will provide assitance with transferring content and customizing your replacement. You can contact us at 1-888-562-8662.</p>
                </div>
            </div>
        </div>
    </div>
    
    <div id="js-transaction-details">
       <div class="row">
           <div class="col-sm-7">
                   <div class="card">
                <div class="card__content padding-left-right-2x padding-left-right-sm-4x">
                   <h3 class="h4 loud inline-block">Shipping Information</span></h3>
                   
                   <dl class="d-stacked-list margin-bottom-1x">
                       <dt>Address:</dt>
                       <p>123 Main Street<br>Washington, CD 20002</dd>
                       
                   </dl>
                   <dl class="d-list">
                       <dt>Ships in:</dt>
                       <dd>1-2 business days</dd>
                   </dl>
                   
                   
                   
                   
                    <h3 class="h4 loud margin-top-2x"><span>Billing Summary</span></h3>
                    <table class="table">
                        <tbody>
                            <tr class="text-muted">
                                <td>Standard Deductible</td>
                                <td><span class="text-strikethrough">$240.00</span></td>
                            </tr>
                            <tr class="bg-info">
                                <td class="bold">Reduced Deductible</td>
                                <td class="bold">$120.00</td>
                            </tr>
                            <tr class="bg-gray-15">
                                <td class="bold">Total Fee</td>
                                <td class="bold">$110.00</td>
                            </tr>
                        </tbody>
                    </table>
                    <hr>
                    <h3 class="h4 loud margin-top-2x">Payment Details</span></h3>
                    <p>The deductible will be billed to your AT&amp;T wireless account when you complete this claim.
                    </p>
                    <hr>
                    <h3 class="h4 loud margin-top-2x">For lost/stolen claims</span></h3>
                    <p>Upon completion of your lost/stolen claim, AT&amp;T will deactivate this device.
                    </p>
                    <hr>
                    <h3 class="h4 loud margin-top-2x">Contact</span></h3>
                    <dl class="d-stacked-list">
                        <dt>Alternate phone number: </dt>
                        <dd class="js-phone-current">(555) 555-5555 <a href="" class="edit-link js-phone-change-trigger">(Edit)</a></dd>
                          <div class="form-group form-group--inline js-phone-change hidden">
                              <input type="text" class="form-control" value="(555) 555-5555" width="100px">
                              <button class="btn btn-primary js-phone-change-trigger">Update</button>
                          </div>
                         
                        <dt>Email address: </dt>
                        <dd class="js-email-current">kjones@gmail.com <a href="" class="edit-link js-email-change-trigger">(Edit)</a></dd>
                        <div class="form-group form-group--inline js-email-change hidden">
                            <input type="text" class="form-control" value="kjones@gmail.com">
                            <button class="btn btn-primary js-email-change-trigger">Update</button>
                        </div>
                    </dl>
                    
                </div>
            </div>
               </div>
               <div class="col-sm-5 ">
                   <div class="card">
                <div class="peril-card__header">
                    <h3 class="h4 loud text-center">Your replacement device</h3>
                </div>
                <div class="card__content">
                    <div class="text-center margin-bottom-1x">
                      <img src="../../assets/img/iphone_img2.png" alt="">
                    </div>
                    <div class="text-center margin-1x--top">
                        <h2 class="h4 loud">Black Apple iPhone 6 (64GB)</h4>
                        <p class="loud">Including charger</p>
                    </div>
                </div>
               <div class="card__footer padding-left-right-2x padding-left-right-sm-4x">
<!--                    <div class="card__footer__icon-top">
                       <span class="icon-Icon-cart"></span>
                   </div>
 -->                   <dl class="d-list">
                       <dt>Accessories:</dt>
                       <dd>Earbuds</dd>
                       <dt>Activation:</dt>
                       <dd>Yes</dd>
                   </dl>
               </div>
            </div>
           </div>
           </div>
        <div class="btn-well">
            <a class="btn btn-primary btn-ghost btn-md margin-top-1x" href="">Print this page</a>
        </div>
    </div>
    <div class="hr-toggler">
        <button class="hr-toggler__btn" data-hr-toggle="#js-transaction-details"><span class="js-hr-toggler__text-toggle">Show</span> Transaction Details</button>
    </div>
        <div class="row">
            <div class="col-sm-8 ">
                    <h4 class="h4 loud">
                        <span class="text-primary icon-Icon-page-help-circle icon--bold icon--mega margin-half--right"></span>
                        <span>How'd we do?</span>
                    </h4>
                    <p>Did our website exceed your expectations? Please <a href="#" class="underline">click here</a> to tell us about it. We hope that you will recommend us to your friends and family.</p>
                    <!-- <a class="btn btn-secondary btn-sm btn-ghost margin-top-1x" href="">Feedback</a>     -->
                
                
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block stepFooter %}

{% endblock %}
