/*==================================
=            ADG-SEARCH            =
==================================*/

.adg-search{
	
}
.adg-search__label{
	display: none;
}

.adg-search__input{
	padding-left: 3.5rem;
	display: inline-block;
	vertical-align: middle;
	width:70%;
	
}
.adg-search--typeahead .adg-search__btn{
	display: inline-block;
	width: 30%;
	width:auto;
	vertical-align: middle;
	margin: 0;
	min-width: auto;
	margin-left: 1rem;
	margin-top: 0;
	padding:1rem;
	
    
}
.adg-search--typeahead .adg-search__input{
	width:100%;
	position: relative;
}
.adg-search__typeahead:before{
	content: "\e9a7";
	font-family:'icomoon';
	position: absolute;
	display:block;
	left:.8rem;
	top:.8rem;
	font-size:2em;
	z-index: 2;
	color:$gray-50;
}

.adg-search__typeahead{
	width:70%;
	vertical-align:top;
}
.adg-search__typeahead__header{

}
.adg-search__typeahead__hint{
	width: 100%;
	height: 100%;
	color: #ccc;

}
.adg-search__typeahead__hint[disabled]{
  background:transparent!important;
}
.adg-search__typeahead__selectable{}
.adg-search__typeahead__menu,{
	width: 100%;
	margin-top:1rem;
	padding: .4rem 0;
	background-color: #fff;
	border: 2px solid $gray-35;
	border-radius: 8px;
	text-align: left;
	// display:block!important;
}
.adg-search__typeahead__menu:before{
	content: '';
	display: block;
	position: absolute;
	top: -24px;
	left: 3rem;
	width: 0;
	height: 0;
	border-color: transparent transparent $gray-35 transparent;
	border-style: solid;
	border-width: 12px;
	z-index: 1;
}
.adg-search__typeahead__menu:after{
	content: '';
	display: block;
	position: absolute;
	top: -21px;
	left: 3rem;
	width: 0;
	height: 0;
	border-color: transparent transparent white transparent;
	border-style: solid;
	border-width: 12px;
	z-index: 2;
}
.adg-search__typeahead__dataset__header{
	padding:.5rem 0 .8rem 0;
	text-align:center;
	display:block;
	border-bottom:solid 1px $gray-35;
	
}
.adg-search__typeahead__dataset__content{
	padding:0 1rem ;
	margin-top:1rem;
	font-size:.9rem;
}
.adg-search__typeahead__dataset__header__title{
	@extend .h4;
	@extend .loud;
	margin:0;
}
.adg-search__typeahead__suggestion__wrapper--fixed-height{
	max-height: 200px;
	overflow-y: auto;
}


.adg-search__typeahead__suggestion{
	padding:.5rem 1rem;
	font-size: .9rem;
	line-height: 1rem;
	border-bottom: solid 1px $gray-35;
	&:hover{
		background-color: lighten(desaturate($primary-color, 30), 35);
		cursor: pointer;
	}
	&:last-of-type{
		border-bottom:0;
	}
}
.adg-search__typeahead__empty{}
.adg-search__typeahead__open{}
.adg-search__typeahead__cursor{
	color: black;
	background-color: lighten(desaturate($primary-color, 30), 35);
}
.adg-search__typeahead__highlight{}

.js-adg-search--instructions {
	display:none;
	position: absolute;
    top: 100%;
    left: 0px;
    z-index: 100;
}

/*=====  End of ADG-SEARCH  ======*/

/*==========================================
=            ADG SEARCH RESULTS            =
==========================================*/

.adg-search-results{
	text-align:center;
	&__header{}
	&__content{}
	&__footer{}
}

.adg-search-results__card{
	width:47%;
	@include respond-to(small){
		width:22%;
	}
	@extend .card;
	text-align:center;
	
	margin:1%;
	padding:2em;
	display:inline-block;
	&__img{
		height: 8em;
	}
	&__title{
		@extend .loud;
		margin-bottom:0;

	}
}
.adg-search-results__controls{
	@extend .clearfix;
	padding:1%;
}
.adg-search-results__showing{
	float: left;
}
.adg-search-results__showMore{
	float:right;
}
/*=====  End of ADG SEARCH RESULTS  ======*/

