<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
  <head>
      <meta name="robots" content="noindex,nofollow">
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <title>Asurion</title>
      <link rel="stylesheet" href="../../assets/theme/att/att.css">

      <link rel="stylesheet" href="../../assets/theme/att/att.css">
      <link rel="apple-touch-icon" sizes="180x180" href="../../assets/img/apple-touch-icon.png">
      <link rel="icon" type="image/png" sizes="32x32" href="../../assets/img/favicon-32x32.png">
      <link rel="icon" type="image/png" sizes="16x16" href="../../assets/img/favicon-16x16.png">
      <meta name="description" content="">
      <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
      <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
      <script src="https://code.jquery.com/jquery-1.12.1.min.js"></script>
  </head>
  <body>
    <div class="page">
      <div class="pre-footer ng-scope">
        <header class="ng-scope">
            <div class="span12">
              <h1 class="logo"></h1>
              <div class="links">
                  <a id="setlanguage" href="" class="es-link" data-ng-click="changeLanguage(languageToBeSet)" data-vzw-language="" style="display: none;">
                      <span data-ng-bind-html="selectedLanguage.Locales[selectedLanguage.Code] | unsafe" class="ng-scope ng-binding">Ver esta página en español</span>
                  </a>
                  <a id="liveChat" href="" class="chat-link" data-ng-click="clicked();launchChat()" style="display: none;">
                      <div id="LP_DIV_Verizon_Reactive_Chat"><div id="LPMcontainer-1539199012914-0" class="LPMcontainer LPMoverlay" role="button" tabindex="0" style="margin: 1px; padding: 0px; border-style: solid; border-width: 0px; font-style: normal; font-weight: normal; font-variant: normal; list-style: none outside none; letter-spacing: normal; line-height: normal; text-decoration: none; vertical-align: baseline; white-space: normal; word-spacing: normal; background-repeat: repeat-x; background-position: left bottom; cursor: auto; display: block; position: relative; top: 0px; left: 0px;"><a id="liveChat" href="" class="chat-link" data-lp-event="click" style="display: block;">
                      <i class="icon-chat"></i>
                      <span>Live Chat</span>
                      </a></div></div>
                  </a>
              </div>
            </div>
        </header>
        <section class="container main">
          <div class="steps-include">
            <div class="step ng-scope" style="">
              <div class="row">
                <div id="step1" class="span12">
                  <div class="stepbar clearfix">
                    <i class="icon-user"></i>
                    <div class="stepbar-text-top">STEP ONE</div>
                    <div class="stepbar-text-bottom">Your Information</div>
                    <div class="stepbar-text-ClaimCreation" id="claimId_1"></div>
                    <div class="stepbar-text-ClaimCreation" id="MDN_1"></div>
                  </div>
                </div>
              </div>
              <div class="claimstep ng-scope claimstep--ob" stepnum="1" iconclass="icon-user" style="display: block;">
                  
	<div class="container--lg">
		<div class="personal-account margin-bottom-sm-4x">
			<div class="row">
				<div class="col-sm-6">
					<div class="form-group">
						<label for="accountFirstName">First name</label>
					    <input type="text" class="form-control" id="accountFirstName" placeholder="First name">
					</div>
				</div>
				<div class="col-sm-6">
					<div class="form-group">
						<label for="accountLastName">Last name</label>
					    <input type="text" class="form-control" id="accountLastName" placeholder="Last name" >
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-6">
					<div class="form-group">
						<label for="accountAltPhone">Alternate number where we can reach you</label>
					    <input type="text" class="form-control js-phone_us" id="accountAltPhone" placeholder="(123) 456-7890" >
					</div>
				</div>
				<div class="col-sm-6">
					<div class="form-group">
						<label for="accountEmail">Email</label>
					    <input type="text" class="form-control" id="accountEmail" placeholder="email@address.com" >
					</div>
				</div>
			</div>
		</div>
		<div class="billing-address">
			<div class="row">
			    <div class="col-sm-6">
			        <div class="form-group">
			            <label for="billingStreet">Address 
			                <span class="milli">(No PO Boxes or military post offices.)
			                    <!-- <span class="tooltip icon-Icon-page-help-circle" data-tooltip-content="#tooltip_content"></span> -->
			                    <div class="tooltip_templates">
			                        <span id="tooltip_content">
			                            Sorry, we're not able to ship to P.O. boxes or military addresses.
			                        </span>
			                    </div>
			                </span>
			            </label>
			            <input type="text" class="form-control" id="billingStreet" placeholder="123 Elm Street" >
			        </div>
			    </div>
			    <div class="col-sm-6">
			        <div class="form-group">
			            <label for="billingStreet2">Apartment, suite, attn.</label>
			            <input type="text" class="form-control" id="billingStreet2" placeholder="Apartment number, Suite number, etc." >
			        </div>
			    </div>
			</div>
			<div class="row">
			    <div class="col-sm-2">
			        <div class="form-group">
			            <label for="billingPostalCode">ZIP code</label>
			            <input type="text" class="form-control" id="billingPostalCode" placeholder="Zip code">
			        </div>
			    </div>
			    <div class="col-sm-4">
			        <div class="form-group">
			            <label for="billingCity">City</label>
			            <input type="text" class="form-control" id="billingCity" placeholder="City" >
			        </div>
			    </div>
			    <div class="col-sm-2">
			        <div class="form-group">
			            <label for="billingStateProvince">State</label>
			            <div class="custom-dropdown">
			                <select class="form-control" id="billingStateProvince" placeholder="Province" ng-model="formData.billing.stateProvince">
			                        <option value=""></option>
			                        <option value="AL">Alabama</option>
			                        <option value="AK">Alaska</option>
			                        <option value="AZ">Arizona</option>
			                        <option value="AR">Arkansas</option>
			                        <option value="CA">California</option>
			                        <option value="CO">Colorado</option>
			                        <option value="CT">Connecticut</option>
			                        <option value="DE">Delaware</option>
			                        <option value="DC">District Of Columbia</option>
			                        <option value="FL">Florida</option>
			                        <option value="GA">Georgia</option>
			                        <option value="HI">Hawaii</option>
			                        <option value="ID">Idaho</option>
			                        <option value="IL">Illinois</option>
			                        <option value="IN">Indiana</option>
			                        <option value="IA">Iowa</option>
			                        <option value="KS">Kansas</option>
			                        <option value="KY">Kentucky</option>
			                        <option value="LA">Louisiana</option>
			                        <option value="ME">Maine</option>
			                        <option value="MD">Maryland</option>
			                        <option value="MA">Massachusetts</option>
			                        <option value="MI">Michigan</option>
			                        <option value="MN">Minnesota</option>
			                        <option value="MS">Mississippi</option>
			                        <option value="MO">Missouri</option>
			                        <option value="MT">Montana</option>
			                        <option value="NE">Nebraska</option>
			                        <option value="NV">Nevada</option>
			                        <option value="NH">New Hampshire</option>
			                        <option value="NJ">New Jersey</option>
			                        <option value="NM">New Mexico</option>
			                        <option value="NY">New York</option>
			                        <option value="NC">North Carolina</option>
			                        <option value="ND">North Dakota</option>
			                        <option value="OH">Ohio</option>
			                        <option value="OK">Oklahoma</option>
			                        <option value="OR">Oregon</option>
			                        <option value="PA">Pennsylvania</option>
			                        <option value="RI">Rhode Island</option>
			                        <option value="SC">South Carolina</option>
			                        <option value="SD">South Dakota</option>
			                        <option value="TN">Tennessee</option>
			                        <option value="TX">Texas</option>
			                        <option value="UT">Utah</option>
			                        <option value="VT">Vermont</option>
			                        <option value="VA">Virginia</option>
			                        <option value="WA">Washington</option>
			                        <option value="WV">West Virginia</option>
			                        <option value="WI">Wisconsin</option>
			                        <option value="WY">Wyoming</option>
			                </select>
			            </div>
			        </div>
			    </div>
			    <div class="col-sm-4">
			        <div class="form-group">
			            <label for="billingCountry">Country</label>
			            <div class="custom-dropdown">
			                <select class="form-control" id="billingStateProvince" placeholder="Province" ng-model="formData.billing.stateProvince">
			                    <option value="">Select country</option>
			                    <option value="US" selected>United States</option>
			                    <option value="Canada">Canada</option>
			                </select>
			            </div>
			        </div>
			    </div>
			</div>
		</div>
	</div>
	
	

              </div>
            </div>
            <div class="ob-expert-help">
              <h4>If you have any questions, our experts will be happy to help.</h4>
              <p>1-866-853-2601</p>
            </div>
          </div>
        </section>
      </div>
    </div>
    

<script>
	jQuery(document).ready(function($) {
		$('#deviceWirelessNumber').focus();

		$(document).on('keyup', '#deviceWirelessNumber', function(event) {
			if( $(this).val().length == 14 ){
				$('#firstName').prop('disabled', false);
				$('#lastName').prop('disabled', false);
			}
		})
		$('#lastName').on('keyup', function(event) {
			if( $(this).val().length >= 2 ){
				$('#ZIP').prop('disabled', false);
			}
			
		});
		$('#ZIP').on('keyup', function(event) {
			if( $(this).val().length >= 5 ){
				$('#email').prop('disabled', false);
			}
		});	
		$('#email').on('keyup', function(event) {
			if( $(this).val().length >= 3 ){
				$('#altNumber').prop('disabled', false);
			}
		});	
		$('#altNumber').on('keyup', function(event) {
			if( $(this).val().length == 14 ){
				$('#nextButton').prop('disabled', false).removeClass('btn-disabled');
			}
		});	

		
	});

</script>


    <span class="ob-confetti">&nbsp;</span>
    <img src="/assets/img/trophy.svg" alt="trophy" class="ob-trophy" style="display:none;" />
  </body>
</html>
