<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
  <head>
      <meta name="robots" content="noindex,nofollow">
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <title>Asurion</title>
      <link rel="stylesheet" href="../../assets/theme/att/att.css">

      <link rel="stylesheet" href="../../assets/theme/att/att.css">
      <link rel="apple-touch-icon" sizes="180x180" href="../../assets/img/apple-touch-icon.png">
      <link rel="icon" type="image/png" sizes="32x32" href="../../assets/img/favicon-32x32.png">
      <link rel="icon" type="image/png" sizes="16x16" href="../../assets/img/favicon-16x16.png">
      <meta name="description" content="">
      <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
      <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
      <script src="https://code.jquery.com/jquery-1.12.1.min.js"></script>
  </head>
  <body>
    <div class="page">
      <div class="pre-footer ng-scope">
        <header class="ng-scope">
            <div class="span12">
              <h1 class="logo"></h1>
              <div class="links">
                  <a id="setlanguage" href="" class="es-link" data-ng-click="changeLanguage(languageToBeSet)" data-vzw-language="" style="display: none;">
                      <span data-ng-bind-html="selectedLanguage.Locales[selectedLanguage.Code] | unsafe" class="ng-scope ng-binding">Ver esta página en español</span>
                  </a>
                  <a id="liveChat" href="" class="chat-link" data-ng-click="clicked();launchChat()" style="display: none;">
                      <div id="LP_DIV_Verizon_Reactive_Chat"><div id="LPMcontainer-1539199012914-0" class="LPMcontainer LPMoverlay" role="button" tabindex="0" style="margin: 1px; padding: 0px; border-style: solid; border-width: 0px; font-style: normal; font-weight: normal; font-variant: normal; list-style: none outside none; letter-spacing: normal; line-height: normal; text-decoration: none; vertical-align: baseline; white-space: normal; word-spacing: normal; background-repeat: repeat-x; background-position: left bottom; cursor: auto; display: block; position: relative; top: 0px; left: 0px;"><a id="liveChat" href="" class="chat-link" data-lp-event="click" style="display: block;">
                      <i class="icon-chat"></i>
                      <span>Live Chat</span>
                      </a></div></div>
                  </a>
              </div>
            </div>
        </header>
        <section class="container main">
          <div class="steps-include">
            <div class="step ng-scope" style="">
              <div class="row">
                <div id="step1" class="span12">
                  <div class="stepbar clearfix">
                    <i class="icon-user"></i>
                    <div class="stepbar-text-top">STEP ONE</div>
                    <div class="stepbar-text-bottom">Your Information</div>
                    <div class="stepbar-text-ClaimCreation" id="claimId_1"></div>
                    <div class="stepbar-text-ClaimCreation" id="MDN_1"></div>
                  </div>
                </div>
              </div>
              <div class="claimstep ng-scope claimstep--ob" stepnum="1" iconclass="icon-user" style="display: block;">
                  
	<div class="container--xs">
		<form action="" id="step1-1">
			<div class="row">
				<div class="col-sm-6">
					<div class="form-group">
						<label for="firstName">First name</label>
					    <input type="text" class="form-control" id="firstName" placeholder="First name">
					</div>
				</div>
				<div class="col-sm-6">
					<div class="form-group">
						<label for="lastName">Last name</label>
					    <input type="text" class="form-control" id="lastName" placeholder="Last name">
					</div>
				</div>
			</div>
			<div class="form-group">
				<label for="zip">Alternate contact number</label>
			    <input type="text" class="form-control js-phone_us" id="altNumber" placeholder="(123) 456-7890">
			</div>
			<div class="form-group">
				<label for="zip">Email address</label>
			    <input type="text" class="form-control" id="email" placeholder="Email address">
			</div>
			<div class="row">
			    <div class="col-sm-12">
			        <div class="form-group">
			            <label for="billingStreet">Address 
			                <span class="milli">(No PO Boxes or military post offices.)
			                    <!-- <span class="tooltip icon-Icon-page-help-circle" data-tooltip-content="#tooltip_content"></span> -->
			                    <div class="tooltip_templates">
			                        <span id="tooltip_content">
			                            Sorry, we're not able to ship to P.O. boxes or military addresses.
			                        </span>
			                    </div>
			                </span>
			            </label>
			            <input type="text" class="form-control" id="billingStreet" placeholder="123 Elm Street" value="">
			        </div>
			    </div>
			    <div class="col-sm-12">
			        <div class="form-group">
			            <label for="billingStreet2">Apartment, suite, attn.</label>
			            <input type="text" class="form-control" id="billingStreet2" placeholder="Apartment number, Suite number, etc." >
			        </div>
			    </div>
			</div>
			<div class="row gutter--sm">
			    <div class="col-sm-12">
			        <div class="form-group">
			            <label for="billingPostalCode">ZIP code</label>
			            <input type="text" class="form-control" id="billingPostalCode" placeholder="Zip code" value="">
			        </div>
			    </div>
			</div>
			<div class="row gutter--sm">
			    <div class="col-sm-9">
			        <div class="form-group">
			            <label for="billingCity">City</label>
			            <input type="text" class="form-control" id="billingCity" placeholder="City" value="">
			        </div>
			    </div>
			    <div class="col-sm-3">
			        <div class="form-group">
			            <label for="billingStateProvince">State</label>
			            <div class="custom-dropdown">
			                <select class="form-control" id="billingStateProvince" placeholder="Province" ng-model="formData.billing.stateProvince">
			                        <option value=""></option>
			                        <option value="AL">AL</option>
			                        <option value="AK">AK</option>
			                        <option value="AZ">AZ</option>
			                        <option value="AR">AR</option>
			                        <option value="CA">CA</option>
			                        <option value="CO">CO</option>
			                        <option value="CT">CT</option>
			                        <option value="DE">DE</option>
			                        <option value="DC">DC</option>
			                        <option value="FL">FL</option>
			                        <option value="GA">GA</option>
			                        <option value="HI">HI</option>
			                        <option value="ID">ID</option>
			                        <option value="IL">IL</option>
			                        <option value="IN">IN</option>
			                        <option value="IA">IA</option>
			                        <option value="KS">KS</option>
			                        <option value="KY">KY</option>
			                        <option value="LA">LA</option>
			                        <option value="ME">ME</option>
			                        <option value="MD">MD</option>
			                        <option value="MA">MA</option>
			                        <option value="MI">MI</option>
			                        <option value="MN">MN</option>
			                        <option value="MS">MS</option>
			                        <option value="MO">MO</option>
			                        <option value="MT">MT</option>
			                        <option value="NE">NE</option>
			                        <option value="NV">NV</option>
			                        <option value="NH">NH</option>
			                        <option value="NJ">NJ</option>
			                        <option value="NM">NM</option>
			                        <option value="NY">NY</option>
			                        <option value="NC">NC</option>
			                        <option value="ND">ND</option>
			                        <option value="OH">OH</option>
			                        <option value="OK">OK</option>
			                        <option value="OR">OR</option>
			                        <option value="PA">PA</option>
			                        <option value="RI">RI</option>
			                        <option value="SC">SC</option>
			                        <option value="SD">SD</option>
			                        <option value="TN">TN</option>
			                        <option value="TX">TX</option>
			                        <option value="UT" >UT</option>
			                        <option value="VT">VT</option>
			                        <option value="VA">VA</option>
			                        <option value="WA">WA</option>
			                        <option value="WV">WV</option>
			                        <option value="WI">WI</option>
			                        <option value="WY">WY</option>
			                </select>
			            </div>
			        </div>
			    </div>

			    <!-- <div class="col-sm-4">
			        <div class="form-group">
			            <label for="billingCountry">Country</label>
			            <div class="custom-dropdown">
			                <select class="form-control" id="billingStateProvince" placeholder="Province" ng-model="formData.billing.stateProvince">
			                    <option value="">Select country</option>
			                    <option value="US" selected>United States</option>
			                    <option value="Canada">Canada</option>
			                </select>
			            </div>
			        </div>
			    </div> -->
			</div>
			<div class="form-group">
			    <label for="billingCountry">Country</label>
			    <div class="custom-dropdown">
			        <select class="form-control" id="billingStateProvince" placeholder="Province" ng-model="formData.billing.stateProvince">
			            <option value="">Select country</option>
			            <option value="US" selected>United States</option>
			            <option value="Canada">Canada</option>
			        </select>
			    </div>
			</div>
		</form>
	</div>
	

              </div>
            </div>
            <div class="ob-expert-help">
              <h4>If you have any questions, our experts will be happy to help.</h4>
              <p>1-866-853-2601</p>
            </div>
          </div>
        </section>
      </div>
    </div>
    

<script>
	jQuery(document).ready(function($) {
		$('#deviceWirelessNumber').focus();

		$(document).on('keyup', '#deviceWirelessNumber', function(event) {
			if( $(this).val().length == 14 ){
				$('#firstName').prop('disabled', false);
				$('#lastName').prop('disabled', false);
			}
		})
		$('#lastName').on('keyup', function(event) {
			if( $(this).val().length >= 2 ){
				$('#ZIP').prop('disabled', false);
			}
			
		});
		$('#ZIP').on('keyup', function(event) {
			if( $(this).val().length >= 5 ){
				$('#email').prop('disabled', false);
			}
		});	
		$('#email').on('keyup', function(event) {
			if( $(this).val().length >= 3 ){
				$('#altNumber').prop('disabled', false);
			}
		});	
		$('#altNumber').on('keyup', function(event) {
			if( $(this).val().length == 14 ){
				$('#nextButton').prop('disabled', false).removeClass('btn-disabled');
			}
		});	

		
	});

</script>


    <span class="ob-confetti">&nbsp;</span>
    <img src="/assets/img/trophy.svg" alt="trophy" class="ob-trophy" style="display:none;" />
  </body>
</html>
