/*=============================
=            ICONS            =
=============================*/
@import url("https://i.icomoon.io/public/414c3692d4/ADGMasterCollection/style.css");

.icon--bold{
	font-weight:bold !important;
	font-family:'icomoon'!important;
}
.loud [class*=" icon-"]{
	font-family:'icomoon'!important;	
	font-weight:bold !important;
}
[class*=" icon-"]{
	font-family:'icomoon'!important;	
	vertical-align:middle;
	line-height:1;
	// bottom: .07em;
	
}

.icon--muted{
	opacity:0.35;
}
.icon-link{
	color: $link-color;
	cursor: pointer;
	&:visited {
	  color: $link-color;
	}
	
	&:hover, &:visited:hover {
	  color: $link-hover-color;
	  // text-decoration: underline;
	}
}
.icon--inline{
	display:inline-block;
	margin-right:.25rem;
}
.icon--nano{font-size: 0.7em;}
.icon--micro{font-size: 0.8em;}
.icon--milli{font-size: 0.9em;}
.icon--mega{font-size: 2rem;}
.icon--giga{font-size: 4rem;}
.icon--tera{font-size: 6rem;}