/*==================================
=            ADG-SCHEDULER            =
==================================*/

.adg-scheduler{}
.adg-scheduler__dates{
	background:$gray-10;
}
.adg-scheduler__dates__month{
	padding:2rem;
	padding-bottom:0;
	text-align:center;
	text-transform:uppercase;
	@extend .bold;
	@extend .h4;
}
.adg-scheduler__dates__week{
	text-align:center;
	padding-top:1rem;
	padding-bottom:2rem;
}
.adg-scheduler__dates__day{
	display:inline-block;
	background:transparent;
	border:none;
	width:auto;
	padding-left:.5rem;
	padding-right:.5rem;
	cursor:pointer;
	@extend .mega;
}
.adg-scheduler__dates__day__input, .adg-scheduler__time__input{
	position: absolute;
	left:-10000px;
}
.adg-scheduler__dates__day__input:disabled ~ *{
	cursor: initial;
	opacity:0.3;
}
.adg-scheduler__dates__day__name{
	@extend .bold;
	
}
.adg-scheduler__dates__day__number{
	@extend .loud;
	border-radius: 100%;
	width: 2.5rem;
	height: 2.5rem;
	line-height: 2.5rem;
}
// .adg-scheduler__dates__day__input:checked ~ .adg-scheduler__dates__number:hover{
// 	background:$gray-35;
// 	transition:background 300ms;
// }

.adg-scheduler__dates__day__input:not(:checked) ~ .adg-scheduler__dates__day__number:hover{
	background:$gray-35;
	transition:background 300ms;
}
.adg-scheduler__dates__day__input:focus ~ .adg-scheduler__dates__day__number,
{
	box-shadow: 0 0 8px rgb(49, 113, 202);
}
.adg-scheduler__time__input:focus ~ .adg-scheduler__time__btn{
	box-shadow: 0 0 30px rgba(49, 113, 202, 0.2196078431372549);
	border-color:$accessible-blue;	
}
.adg-scheduler__dates__day__input:checked ~ .adg-scheduler__dates__day__number{
	background:$accessible-blue;
	color:white;
}
.adg-scheduler__times{
	padding:2rem;
}
.adg-scheduler__time{
	width:100%;
	display:block;
}

.adg-scheduler__time__btn{
	@extend .btn;
	@extend .btn-block;
	@extend .btn-ghost;
	font-weight: 200;
	margin-left:0!important;
	border-color: $gray-35;
	cursor: pointer;
	position: relative;
	&:after{
		font-family: 'icomoon';
		position: absolute;
		opacity: 0;
		right:.5rem;
		top:.5rem;
		content: "\e9a3";
		border-radius:100%;
		border:solid 2px $accessible-blue;
		height: 2rem;
		width: 2rem;
		line-height: 2rem;
		color:$accessible-blue;
		font-size: .9rem;

	}
}

.adg-scheduler__time__input:checked ~ .adg-scheduler__time__btn{
	border-color: $accessible-blue;
	&:after{
		opacity: 1;
	}
}
.adg-scheduler__time__input:disabled ~ .adg-scheduler__time__btn{
	background:$gray-10!important;
	border-color:$gray-10!important;
	cursor: initial;
	
}
.adg-scheduler__time__btn:hover{
	border-color: $gray-50;
	transition:border-color 300ms;
}
.adg-scheduler__review{
	background:$gray-10;
	padding:2rem;
	display:none;
}
.adg-scheduler__review__title{
	@extend .h4;
	@extend .loud;
	margin:0;
	margin-bottom:.5rem;
	padding:0;
}
.adg-scheduler__review__val{
	@extend .loud;
	margin:0;
	padding:0;
}