/*==============================
=            ASURION HEADER            =
==============================*/

.asurion-header{
	padding:1em 0 1em 0;
	position: relative;
	font-size:.75em;
	&:after{
		content:'';
		width:100%;
		height:1em;
		background-image: url(../../img/header-shadow.png);
		background-position:top center;
		background-repeat:no-repeat;
		position: absolute;
		bottom: 1em;
	}
	
}
.asurion-header__branding{
	float:left;
    a{}
}
.asurion-header__branding__logo{
	width:12em;
	height:2.5em;
	display:block;
	background-image:url(../../img/asurion-logo.svg);
	background-repeat:no-repeat;
	background-size:contain;
}

.asurion-header__nav{
	float: right;
    ul{
        list-style-type: none;
        margin: 0;
        padding: 0;
        position: static;
    }
}
.asurion-header__nav__item{
	@extend .giga;
    display: inline-block;
    padding: 0 .5rem;
    color: $gray-75;
    padding: 0 1em; 
}
.asurion-header__nav__item__link{
	color:inherit;
	text-decoration:none;
}

/*======================================
=            ASURION HEADER INVERTED            =
======================================*/

.asurion-header--inverted{
	background:black;
	.asurion-header__branding__logo{background-image:url(../../img/asurion-logo-white.svg);}
	.asurion-header__nav__item{color:$white}
}

/*======================================
=            ASURION HEADER LANDING            =
======================================*/

.asurion-header--landing{
	background-image: url( img/main-hero.jpg);
	background-color: #444;
    background-position: center 0;
    background-repeat: no-repeat;
    background-size: cover;
}



