/*================================
=            BRANDING            =
================================*/

$client-header-logo-path: '../asurion/img/asurion-logo-white.svg'!default;
$client-header-logo-width:10em!default;
$client-header-background: $primary-color!default;
$client-header-text-color: $primary-color!default;

/*=====================================
=            CLIENT HEADER            =
=====================================*/


.client-header{
	padding:1.5em 0 1.5em 0;
	position: relative;
	background: white;
	border-top:solid 5px $client-header-background;
	border-bottom: solid 2px $gray-15;
	
}
.client-header--sm{
	padding:0.75em 0 0.75em 0;
	font-size:.85rem;
	.client-header__branding__logo{
		height: 2.85em;
	}
}

.client-header__branding{
	float:left;
    a{}
}
.client-header__branding__logo{
	width:$client-header-logo-width;
	height:4em;
	display:block;
	background-image:url( $client-header-logo-path );
	background-repeat:no-repeat;
	background-size:contain;
	background-position:center;
}

.client-header__nav{
	float: right;
    ul{
        list-style-type: none;
        margin: 0;
        padding: 0;
        position: relative;
    }
    
}
.client-header__nav__item{
	@extend .giga;
	@extend .loud;
    display: inline-block;
    
    padding: .5em 1em; 

}
.client-header__nav__divider{
	display: inline-block;
	padding: .5em 1em;
	&:after{
		content: '';
		width: 1px;
		height: 100%;
		background:$client-header-text-color;
		position: absolute;
		top:0;
		opacity: .4;
	}
}
.client-header__nav__chat-icon{
	font-size: .9em;
	margin-left: .35em;
	// color:$step-color--current;
}
.client-header__nav__item__link{
	color:inherit;
	text-decoration:none;
	&:hover{
		opacity: .8;
	}
}
