{% extends "_android-post.html" %}

{% set blogTitle = 'Sync your data to your Google account' %} 
{% set introOne = 'Syncing your apps, music, and contacts to your Google account is an easy way to back up your data. If you get a new phone and need to restore it, all you need to do is sign back in to your Google account.' %} 
{% set introTwo = 'Before we get started, make sure you have your Google login ready.' %} 

{% block messaging %}

{% endblock %}

{% block stepContent %}
    <div class="container--md">
        <div class="kb-article">
            <div class="kb-article--img">
                <img src="../../assets/img/ios-article-3-header.jpg" />
            </div>
            <div class="kb-article--content">
                <ol>
                    <li>Open <strong>Settings</strong> and tap <strong>Accounts</strong>. You may see <strong>Users & accounts</strong> or <strong>Clouds and accounts.</strong></li>
                    <li>Tap <strong>Google</strong> and turn on the types of content you want to back up. You might have to tap <strong>Account sync</strong> (or <strong>Sync account</strong>) first.</li>
                    <li>Tap <strong>More</strong> or Menu <img src="../../assets/img/android-article-3-dots.svg" width="7px" style="margin-left: 5px; margin-right: 5px;" /> in the top-right corner and then tap <strong>Sync now</strong>. This ensures you have the most current backup available.</li>
                </ol>
                <p>You did it! Now all your content is safe and tucked away for when you need it.</p>
            </div>
        </div>
    </div>
    
{% endblock %}



{% block pageFoot %}

<script type="text/javascript">
  $(document).ready(function() {
    $('.js-change-address').hide()
    $('.onboardToggle .toggle-btn').on('click', function(event) {
        if ($('.toggle-btn').hasClass('active')) {
          $('.toggle-btn').removeClass('active');
        }
        $(this).addClass('active');
    });
  });
</script>


{%endblock%}