{% extends "_android-post.html" %}

{% set blogTitle = 'Activate a replacement phone' %} 
{% set introOne = 'If you filed a claim and received your replacement phone, you’re almost done! Now you just need to activate it. Let’s get started.' %} 

{% block messaging %}

{% endblock %}

{% block stepContent %}
    <div class="container--md">
        <div class="kb-article">
            <div class="kb-article--img">
                <img src="../../assets/img/article-4-header.svg" />
            </div>
            <div class="kb-article--content">
                <h3>First, turn off your old phone</h3>
                <p>Press and hold the Power button and tap Power off twice.</p>
                <p>Note: If your old phone was lost or stolen, you may want to skip this one.</p>

                <h3>Next, insert the SIM card</h3>
                <p>If a new SIM card was sent, insert that SIM card into the replacement phone.</p>
                <div class="text-center margin-top-1x margin-bottom-1x">
                    <img src="../../assets/img/article-4-simcard.svg" width="250px" />                        
                </div>
                <p>If not, remove the SIM card from your old phone and put it into your new phone.</p>

                <h3>Then, turn on your replacement phone</h3>
                <ol>
                    <li>Select your language.</li>
                    <li>If your SIM card was not previously activated, it will activate with your device. If it was active in your old phone, you’ll see an activation message with your phone number.</li>
                    <li>Follow the instructions to finish setting up your phone.</li>
                </ol>
                <p>Now that your replacement is activated, you can get back to the modern world!</p>
            </div>
        </div>
    </div>
    
{% endblock %}



{% block pageFoot %}

<script type="text/javascript">
  $(document).ready(function() {
    $('.js-change-address').hide()
    $('.onboardToggle .toggle-btn').on('click', function(event) {
        if ($('.toggle-btn').hasClass('active')) {
          $('.toggle-btn').removeClass('active');
        }
        $(this).addClass('active');
    });
  });
</script>


{%endblock%}