{% extends "_android-post.html" %}

{% set blogTitle = 'Reset your Google account password' %} 
{% set introOne = 'Whether you’re locked out of your account or just trying to boost security, resetting your Google password only takes a few, simple steps.' %} 


{% block messaging %}

{% endblock %}

{% block stepContent %}
    <div class="container--md">
        <div class="kb-article">
            <div class="kb-article--img">
                <img src="../../assets/img/ios-article-2-header.svg" />
            </div>
            <div class="kb-article--content">
                <a href="#?" class="expand-collapse--trigger" id="js-trigger-authentication">
                    Is 2-Step Verification turned on?
                    <span class="expand-arrow">
                         <svg width="24px" height="21px" viewBox="0 0 24 21" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                            <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                <g id="iconmonstr-triangle-3" transform="translate(12.500000, 10.500000) scale(1, -1) translate(-12.500000, -10.500000) " fill="#56C0E5" fill-rule="nonzero">
                                    <path d="M23.677,17.52 C24.591,19.043 23.494,20.992 21.71,20.992 L2.296,20.992 C0.512,20.992 -0.585,19.043 0.329,17.52 L10.038,1.34 C10.929,-0.143 13.079,-0.14 13.968,1.34 L23.677,17.52 Z" id="Shape"></path>
                                </g>
                            </g>
                        </svg>
                    </span>
                </a>

                <div class="expand-collapse--content js-content-auth" style="display: none;">
                    <p>2-Step Verification adds an extra layer of protection to your account. When it’s on, you’ll have to verify your account two different ways before you can change the password.</p>
                    <p>For example, you may have to answer security questions and enter a code sent to your phone.</p>
                </div>


                <h3>Reset known password</h3>
                <ol>
                    <li><img src="../../assets/img/android-article-2-google.png" width="30px" style="display: inline-block; margin-right: 15px;" />From a web browser, go to <a href="myaccount.google.com/?openInExternalBrowser=true">myaccount.google.com.</a></li>  
                    <li>Tap <strong>Sign in</strong> and enter your username and password.</li>        
                    <li>Under “Sign in & security,” choose <strong>Signing in to Google.</strong></li> 
                    <li>Select <strong>Password</strong>. You may be asked to sign in again to verify your identity.</li>      
                    <li>Enter your new password and tap <strong>Change Password.</strong></li>  
                </ol>

                <h3>Forgot your password?</h3>
                <ol>
                    <li><img src="../../assets/img/android-article-2-google.png" width="30px" style="display: inline-block; margin-right: 15px;" />From a web browser, go to the <a href="https://accounts.google.com/signin/recovery?openInExternalBrowser=true">Account support page</a>.</li>
                    <li>Enter your Gmail address or phone number and tap <strong>Next</strong>.</li>
                    <li>There are multiple ways to reset your Google password. If you’re not sure how to answer one of the security questions, tap <strong>Try a different question to move on</strong>.</li>
                    <li>Create a new password that you haven’t already used with your account. A strong password should have a mix of letters, numbers, and special characters.</li>
                </ol>
                <div class="text-center">
                    <img src="../../assets/img/android-article-2-password.jpg" width="250px"/>                    
                </div>
                <h3>You’re all set!</h3>
                <p>Keep in mind, changing your Google password also changes the password for your YouTube account, Android device login, Gmail, and other services connected to your account.</p>
            </div>
        </div>
    </div>
    
{% endblock %}



{% block pageFoot %}

<script type="text/javascript">
  $(document).ready(function() {
    $('#js-trigger-authentication').on('click', function() {
        $(this).toggleClass('open');
        if ($('.js-content-auth').is(':visible')) {
            $('.js-content-auth').slideUp();
        }
        else {
            $('.js-content-auth').slideDown();
        }
    });
  });
</script>


{%endblock%}