{% extends "_android-post.html" %}

{% set blogTitle = 'Back up and restore' %} 
{% set introOne = 'Transfer content using Samsung Smart Switch' %} 

{% block messaging %}

{% endblock %}

{% block stepContent %}
    <div class="container--md">
        <div class="kb-article">
            <div class="kb-article--img">
                <img src="../../assets/img/ios-article-1-header.jpg" />
            </div>
            <div class="kb-article--content">
                <p>Got a new Samsung Galaxy phone? Whether you’re upgrading from an old Galaxy model or switching from another manufacturer, you can transfer content to your new device using Samsung Smart Switch.</p>
                <p>Samsung Smart Switch offers wired and wireless ways to transfer content from an Android or iOS device to a new Galaxy phone.</p>
                <h3>Before you start</h3>
                <p>Make sure your old device is supported:</p>
                <ul>
                    <li>Apple: iOS 5.0 or higher</li>
                    <li>BlackBerry: Android 7.0 or higher</li>
                    <li>LG: Android 4.3 or higher</li>
                    <li>Samsung: Android 4.3 or higher</li>
                    <li>Windows: Windows Mobile OS 8.1 or 10</li>
                </ul>
                <p>Depending on the method of transfer, you will need one of the following:</p>
                <ul>
                    <li>USB connector or On-the-Go (OTG) cable</li>
                    <li>Lightning cable that came with your iOS device</li>
                    <li>Micro-USB cable that came with your old Android device</li>
                    <li>SD card</li>
                </ul>
                <p>You should have the latest version of the Samsung Smart Switch app installed on your Galaxy phone (preloaded on Galaxy S7, S7 Edge, S8, and S8+). You may also need to install the app on your old device, depending on the method chosen.</p>
                <p>We recommend charging both devices to at least 50%</p>


                <h3>Back Up from Old Device (for Galaxy devices only)</h3>
                <ol>
                    <li>On the computer, open the <strong>Samsung Smart Switch</strong> application. If an update is available, click <strong>Install</strong>.</li>
                    <li>Connect your old device to the computer via USB port. If successfully detected, the device name/model will display.</li>
                    <p>You may need to tap Allow on your old device. If an error appears, swipe down from the top of the screen on the previous device to open the Notification bar, and then tap USB Charging > File Transfer.</p>
                    <li>Click <strong>Backup</strong>. Smart Switch will scan your device and display a progress bar.</li>
                    <li>When the transfer is complete, click <strong>OK</strong> and disconnect your device from the computer.</li>
                </ol>
            </div>
        </div>
    </div>
    
{% endblock %}



{% block pageFoot %}

<script type="text/javascript">
  $(document).ready(function() {
    $('.js-change-address').hide()
    $('.onboardToggle .toggle-btn').on('click', function(event) {
        if ($('.toggle-btn').hasClass('active')) {
          $('.toggle-btn').removeClass('active');
        }
        $(this).addClass('active');
    });
  });
</script>


{%endblock%}