{% extends "_step-layout.html" %}

{% set stepTitle = 'Live Chat' %} 

{% block messaging %}

{% endblock %}

{% block stepContent %}
    <div class="container--md">
        <div class="kb-article">
            <div class="kb-article--content text-center">
                <p>We are working on updates to our live chat right now, but don't worry! Our Experts are available to you by phone if you would like to call and speak to someone now</p>
                <a href="tel:18668532601" id="LiveChatCall">1 (866) 853 - 2601</a>
            </div>
        </div>
    </div>
    
{% endblock %}


{% block pageFoot %}

<script type="text/javascript">
  $(document).ready(function() {

    console.log(window.location.hash);
    if (window.location.hash == '#android') {
        $('.toggleAndroid').addClass('active');
        $('#androidContent').fadeIn();
        $('.genericTopChatContainer').hide();
        $('.androidTopChatContainer').show();
    }
    else if (window.location.hash == '#ios') {
        $('.toggleApple').addClass('active');
        $('#iosContent').fadeIn();
        $('.genericTopChatContainer').hide();
        $('.iosTopChatContainer').show();
    }
    $('.onboardToggle .toggle-btn').on('click', function(event) {
        if ($('.toggle-btn').hasClass('active')) {
          $('.toggle-btn').removeClass('active');
        }
        $(this).addClass('active');
    });
    $('.toggleApple').on('click', function() {
      if ($('#androidContent').is(':visible')) {
        $('#androidContent').hide();
        $('.androidTopChatContainer').hide();
      }
      $('#iosContent').fadeIn();
      $('.genericTopChatContainer').hide();
      $('.iosTopChatContainer').show();

    });
    $('.toggleAndroid').on('click', function() {
      if ($('#iosContent').is(':visible')) {
        $('#iosContent').hide();
        $('.iosTopChatContainer').hide();
      }
      $('#androidContent').fadeIn();
      $('.genericTopChatContainer').hide();
      $('.androidTopChatContainer').show();
    });

  });
</script>


{%endblock%}