{% extends "_ios-post.html" %}

{% set blogTitle = 'Contact Us' %} 

{% block messaging %}

{% endblock %}

{% block stepContent %}
    <div class="container--md">
        <div class="kb-article">
            <div class="kb-article--content text-center">
                <p>Don't worry, our experts are still available by phone. Call to get set up now!</p>
                <a href="tel:18668532601" id="iosCall">1 (866) 853 - 2601</a>
            </div>
        </div>
    </div>
    
{% endblock %}



{% block pageFoot %}

<script type="text/javascript">
  $(document).ready(function() {
    $('.js-change-address').hide()
    $('.onboardToggle .toggle-btn').on('click', function(event) {
        if ($('.toggle-btn').hasClass('active')) {
          $('.toggle-btn').removeClass('active');
        }
        $(this).addClass('active');
    });
  });
</script>


{%endblock%}