{% extends "_ios-post.html" %}

{% set blogTitle = 'Need to reset your Apple ID password?' %} 
{% set introOne = 'Resetting your password through Apple’s website is easy. We recommend using a computer if possible. Here’s how:' %} 


{% block messaging %}

{% endblock %}

{% block stepContent %}
    <div class="container--md">
        <div class="kb-article">
            <div class="kb-article--img">
                <img src="../../assets/img/ios-article-2-header.svg" />
            </div>
            <div class="kb-article--content">
                <ol>
                    <li>Go to <a href="https://iforgot.apple.com/password/verify/appleid?openInExternalBrowser=true" target="_blank">iforgot.apple.com</a>.</li>
                    <li>Enter your Apple ID. If you don’t remember it, click Forgot <strong>Apple ID</strong>?</li>
                    <li>Click <strong>Continue</strong>, then select <strong>I need to reset my password</strong>. <span>If asked to enter your phone number, follow the steps below for two-factor authentication.</span></li>
                    <li>Choose Get an <strong>email</strong> or <strong>Answer security questions</strong>, and then click <strong>Continue</strong>.</li>
                </ol> 
                <div class="row text-center">
                    <img src="../../assets/img/ios-article-2-pass.png" />                    
                </div>

                <a href="#?" class="expand-collapse--trigger" id="js-trigger-authentication">
                    Is two-factor authentication enabled?
                    <span class="expand-arrow">
                         <svg width="24px" height="21px" viewBox="0 0 24 21" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                            <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                <g id="iconmonstr-triangle-3" transform="translate(12.500000, 10.500000) scale(1, -1) translate(-12.500000, -10.500000) " fill="#56C0E5" fill-rule="nonzero">
                                    <path d="M23.677,17.52 C24.591,19.043 23.494,20.992 21.71,20.992 L2.296,20.992 C0.512,20.992 -0.585,19.043 0.329,17.52 L10.038,1.34 C10.929,-0.143 13.079,-0.14 13.968,1.34 L23.677,17.52 Z" id="Shape"></path>
                                </g>
                            </g>
                        </svg>
                    </span>
                </a>
                <div class="expand-collapse--content js-content-auth" style="display: none;">
                    <ol>
                        <li>Go to iforgot.apple.com.</li>
                        <li>Enter your Apple ID. If you don’t remember it, click Forgot Apple ID?</li>
                        <li>Enter your phone number and tap Next.</li>
                        <li>Choose Use trusted phone number or Reset from another device.<span>If you choose Use trusted phone number, you’ll need to verify additional information, and the Account Recovery process can take several days.</span></li>
                        <li>Follow the on-screen prompts and wait for a notification or text message on your other device.</li>
                    </ol>
                </div>
                <a href="#?" class="expand-collapse--trigger" id="js-trigger-passcode">
                    Have a passcode enabled?
                    <span class="expand-arrow">
                         <svg width="24px" height="21px" viewBox="0 0 24 21" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                            <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                <g id="iconmonstr-triangle-3" transform="translate(12.500000, 10.500000) scale(1, -1) translate(-12.500000, -10.500000) " fill="#56C0E5" fill-rule="nonzero">
                                    <path d="M23.677,17.52 C24.591,19.043 23.494,20.992 21.71,20.992 L2.296,20.992 C0.512,20.992 -0.585,19.043 0.329,17.52 L10.038,1.34 C10.929,-0.143 13.079,-0.14 13.968,1.34 L23.677,17.52 Z" id="Shape"></path>
                                </g>
                            </g>
                        </svg>
                    </span>
                </a>
                <div class="expand-collapse--content js-content-passcode" style="display: none;">
                    <ol>
                        <li>Open Settings and tap [your name] > Password & Security > Change Password.</li>
                        <li>Enter your passcode.</li>
                        <li>Enter a new password and tap Next.</li>
                        <li>Tap Done to finish.<span>These steps also work with two-factor authentication enabled, as well.</span></li>
                    </ol>
                </div>
                <p>When your password has been successfully reset, you should receive an email confirming the change. Don’t forget to sign back in to your devices and Apple accounts with the new password. </p>
            </div>
        </div>
    </div>
    
{% endblock %}



{% block pageFoot %}

<script type="text/javascript">
  $(document).ready(function() {
    $('#js-trigger-passcode').on('click', function() {
        $(this).toggleClass('open');
        if ($('.js-content-passcode').is(':visible')) {
            $('.js-content-passcode').slideUp();
        }
        else {
            $('.js-content-passcode').slideDown();
        }
    });
    $('#js-trigger-authentication').on('click', function() {
        $(this).toggleClass('open');
        if ($('.js-content-auth').is(':visible')) {
            $('.js-content-auth').slideUp();
        }
        else {
            $('.js-content-auth').slideDown();
        }
    });
  });
</script>


{%endblock%}