{% extends "_ios-post.html" %}

{% set blogTitle = 'Back up your phone with iCloud' %} 
{% set introOne = 'Saving your photos and contacts is important in case you ever lose or damage your phone. The best way to save everything is to create a backup, which also makes it easy to transfer your stuff to a new phone.' %} 
{% set introTwo = 'We like using iCloud because it automatically backs up your phone every time it’s plugged in and connected to Wi-Fi.' %} 



{% block messaging %}

{% endblock %}

{% block stepContent %}
    <div class="container--md">
        <div class="kb-article">
            <div class="kb-article--img">
                <img src="../../assets/img/ios-article-1-header.jpg" />
            </div>
            <div class="kb-article--content">
                <h3>Before you get started:</h3>
                <div class="row">
                    <div class="col-sm-2">
                        <img src="../../assets/img/ios-article-1-wifi.svg" width="80px"/>
                    </div>
                    <div class="col-sm-10">
                        <p>To connect to Wi-Fi, tap <strong>Settings > Wi-Fi</strong>. Using Wi-Fi will make your experience faster and won’t drain your data.</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-2">
                        <img src="../../assets/img/ios-article-1-update.svg" width="80px" />
                    </div>
                    <div class="col-sm-10">
                        <p>For a smoother transfer, make sure your software is updated. Tap <strong>Settings > General > Software Update</strong>.</p>
                    </div>
                </div>

                <h3>Create an iCloud backup:</h3>
                <ol>
                    <li>Open the <strong>Settings</strong> app and tap [your name] at the top. If you don’t see your name, tap <strong>Sign in to your iPhone.</strong> If you don’t have an Apple ID, you’ll need to create one to access Apple services like iCloud, the App Store, iMessage, and more.</li>
                    <li>On the next screen, tap <strong>iCloud</strong> and then turn on everything you want to save.</li>
                    <li>To start backing up, tap <strong>iCloud Backup</strong>, then turn on <strong>iCloud Backup</strong>. If you receive a message about disabling iTunes backup, tap OK. </li>
                    <li>Tap Back Up Now. Make sure to stay connected to Wi-Fi. If you’re concerned about storage space, go back to <strong>iCloud > Manage Storage</strong>.</li>
                </ol> 
            </div>
        </div>
    </div>
    
{% endblock %}



{% block pageFoot %}

<script type="text/javascript">
  $(document).ready(function() {
    $('.js-change-address').hide()
    $('.onboardToggle .toggle-btn').on('click', function(event) {
        if ($('.toggle-btn').hasClass('active')) {
          $('.toggle-btn').removeClass('active');
        }
        $(this).addClass('active');
    });
  });
</script>


{%endblock%}