{% extends "_ios-post.html" %}

{% set blogTitle = 'Transfer your data using iCloud' %} 
{% set introOne = 'Looking to transfer your photos, contacts, and messages over to your new phone? Transferring using iCloud is your best bet.' %} 


{% block messaging %}

{% endblock %}

{% block stepContent %}
    <div class="container--md">
        <div class="kb-article">
            <div class="kb-article--img">
                <img src="../../assets/img/ios-article-3-header.jpg" />
            </div>
            <div class="kb-article--content">
                <p>First, you’ll need to back up everything from your old phone. Think of “backing up” as packing all your valuables into boxes before you move.</p>
                <div class="text-center margin-top-1x margin-bottom-1x">
                    <img src="../../assets/img/ios-article-3-box.svg" width="100px" />
                </div>

                <p>To back up to iCloud, you’ll need your Apple ID and a Wi-Fi connection. If you’d prefer to back up to your computer or don’t have access to Wi-Fi, use iTunes instead.</p>


                <a href="#?" class="expand-collapse--trigger" id="js-trigger-icloud">
                    Check for a recent iCloud backup
                    <span class="expand-arrow">
                         <svg width="24px" height="21px" viewBox="0 0 24 21" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                            <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                <g id="iconmonstr-triangle-3" transform="translate(12.500000, 10.500000) scale(1, -1) translate(-12.500000, -10.500000) " fill="#56C0E5" fill-rule="nonzero">
                                    <path d="M23.677,17.52 C24.591,19.043 23.494,20.992 21.71,20.992 L2.296,20.992 C0.512,20.992 -0.585,19.043 0.329,17.52 L10.038,1.34 C10.929,-0.143 13.079,-0.14 13.968,1.34 L23.677,17.52 Z" id="Shape"></path>
                                </g>
                            </g>
                        </svg>
                    </span>
                </a>
                <div class="expand-collapse--content js-content-icloud" style="display: none;">
                    <div class="text-center margin-top-1x margin-bottom-1x">
                        <img src="../../assets/img/ios-article-3-icloud.svg" width="200px" />                        
                    </div>
                    <ol>
                        <li>On your old phone, tap <strong>Settings</strong> > [your name] > [your device].</li>
                        <li>On the Device Info screen, tap <strong>iCloud Backup</strong>. If you see a recent backup, you’re ready to transfer to your new phone. If you don’t, you’ll need to create an iCloud backup.</li>
                    </ol>
                </div>
                <h3>Now, let’s transfer your stuff to your new phone</h3>
                <p>If you’ve already set up your iPhone, you can still restore your content from iCloud, but you’ll need to reset your new phone and go through the initial setup again. It’s kind of like cleaning a room before bringing in your favorite furniture.</p>
                <ol>
                    <li>To ensure a smooth transfer, make sure you have the latest software version by tapping <strong>Settings > General > Software Update</strong>. If an update is available, tap <strong>Download and Install</strong>.</li>
                    <li>Wipe your phone clean before you pull everything from iCloud: tap <strong>Settings > General > Reset > Erase All Content and Settings</strong>.</li>
                    <li>Your phone will turn off and bring you to the initial “Hello” screen. Once you get to the Apps & Data screen, tap <strong>Restore from iCloud Backup</strong>.</li>
                    <div class="text-center margin-top-1x margin-bottom-1x">
                        <img src="../../assets/img/ios-article-3-apps-data.jpg" width="50%" />                        
                    </div>

                    <li>Then sign in to iCloud with your Apple ID and password.</li>
                    <li>Select your latest backup to start transferring your data. It will take time for everything to finish restoring, so don’t worry if your apps are greyed out or your photos aren’t loading yet.</li>
                </ol>
                <p>We hope you love your new phone, along with all your old favorites!</p>
            </div>
        </div>
    </div>
    
{% endblock %}



{% block pageFoot %}

<script type="text/javascript">
  $(document).ready(function() {
    $('#js-trigger-icloud').on('click', function() {
        $(this).toggleClass('open');
        if ($('.js-content-icloud').is(':visible')) {
            $('.js-content-icloud').slideUp();
        }
        else {
            $('.js-content-icloud').slideDown();
        }
    });
  });
</script>


{%endblock%}