{% extends "_step-layout.html" %}

{% set stepTitle = 'Privacy Policy' %} 

{% block messaging %}

{% endblock %}

{% block stepContent %}
    <div class="container--md">
        <div class="kb-article">

            <div class="kb-article--content">
                <p>
                    Last updated: March 23, 2018
                    <br>
                    <br>
                    <strong>We value privacy, especially yours</strong>
                    <br>
                    <br> At Asurion, we take protecting your privacy seriously. In order for our sites, products, and
                 services (collectively “services”) to function properly, we need to collect and use some of your personal
                 information. We want you to understand what personal information we collect and how it is used.
                    <br>
                    <br> This policy is incorporated as part of the Terms of Service that apply to your use of the services
                . When you use our services, you acknowledge that you have accepted the Terms of Service and this policy
                 without exception. You also acknowledge that you consent to our privacy practices, including our use
                 and disclosure of your personal information.
                    <br>
                    <br> If you do not consent to the Terms of Service or this policy, please do not use our services
                 or provide any personal information.
                    <br>
                    <br>
                    <strong>What’s covered by this policy</strong>
                    <br>
                    <br> Any Asurion-affiliated site, product or service which links to this policy and any collection
                , storage, transfer, sharing, disclosure and handling of your personal information when you use our services
                 which we define below.
                    <br>
                    <br> This Policy does not cover and we are not responsible for third-party sites or applications
                 that may be linked from our sites; linking to them does not imply an endorsement. We are not responsible
                 for these sites or applications or any information they may collect. You should always review the privacy
                 policy of any third-party site or application.
                    <br>
                    <br>
                    <strong>Personal information we collect</strong>
                    <br>
                    <br> When you use our services, we may collect the below types of personal information:
                </p>
                <ul style="padding-left: 40px;">
                    <li>Name; </li>
                    <li>Mailing address;</li>
                    <li>Email address;</li>
                    <li>Cell phone number;</li>
                    <li>Information that identifies your mobile device, such as Electronic Serial Number ("ESN") or International
                 Mobile Equipment Identity ("IMEI") data;</li>
                    <li>Device serial number and media access control ("MAC") address; </li>
                    <li>Information collected after obtaining your permission during your use of the site, product or
                 service;</li>
                    <li>Any information that you provide as part of filing a claim;</li>
                    <li>Other information that personally identifies you or is linked or linkable to you.</li>
                </ul>
                <p>
                    As part of the claim process, Asurion or its affiliates may require you to provide a copy of your
                 driver’s license, passport, military ID, or other personal identification card. Additionally, in order
                 to process your claim, Asurion or its affiliates may request your shipping and billing information,
                 credit card information or other preferred payment means.
                    <br>
                    <br> Asurion and its partners use cookies or similar technologies to analyze trends, administer the
                 site, track users’ movements around the site, and to gather demographic information about our user base
                 as a whole.
                    <br>
                    <br> Asurion also gathers certain information about the use of Asurion’s services, including the
                 number of unique visitors, the frequency of visits, how users interact with the sites, user experience
                 preferences, IP address, and other information that may help Asurion improve the customer experience
                , mitigate fraudulent activity, and comply with legal requirements. Such information may include, but
                 is not limited to the following:
                    <br>
                    <br> Log information
                    <br>
                    <br> When you visit Asurion’s sites we automatically collect and store certain information in our
                 server logs. This type of information includes details of how you interacted with our services. It may
                 include personal information such as: IP address, Unique Device Identifier, or CallerID / ANI (Automatic
                 Number Identification) information, content of web pages, transaction with APIs (Application Program
                 Interface), transactions with IVR (Interactive Voice Response) systems, activity and content of visitor
                 interaction with call center representatives; application usage activity, hardware information, hardware
                 and system settings, browser type, browser language, the date and time of your request, referral URL
                , etc.
                    <br>
                    <br> Cookies
                    <br>
                    <br> A cookie is a small, data file that is managed by your web browser or other application and
                 stored on your local system. Asurion uses session and persistent cookies to, among other things, identify
                 your computer during a particular interaction and analyze your behavior during a particular visit. Most
                 web browsers provide you with the ability to accept or decline cookies, as well as to be warned each
                 time a cookie is being sent. If you choose to decline cookies, you may not be able to fully use Asurion
                ’s services.
                    <br>
                    <br> Pixel tags
                    <br>
                    <br> Pixel tags, also known as web beacons, help Asurion better manage user experience and content
                 tracking. Pixel tags are tiny graphics with a unique identifier, which provide a similar function to
                 cookies and are used to track user interaction with content provided by Asurion or an affiliate organization
                . In contrast to cookies, which are stored on a user’s computer hard drive, pixel tags are embedded invisibly
                 within content. The small size and transparency of pixel tags are not intended to deceive content recipients
                , but minimize distraction.
                    <br>
                    <br> Third-party data sources
                    <br>
                    <br> Asurion may leverage external data sources in order to provide context and background on the
                 users of its services in order to improve customer experience, mitigate fraud or malicious activity
                , or comply with internal company and external regulatory requirements.
                    <br>
                    <br> Do Not Track and Third-Party Advertising Cookies
                    <br>
                    <br> Do-Not-Track is a public-private initiative, http://www.w3.org/2011/tracking-protection/, that
                 has developed a technical “flag” or signal that an end-user may be able to activate within their browser
                 software to notify sites that they do not wish to be “tracked” by third parties as defined by the initiative
                . The initiative, however, has not reached a consensus as to exactly what technical or other actions
                 those parties receiving the signal should take. As a result, Do-Not-Track has not yet been standardized
                 and most sites, including Asurion Sites, do not alter their behavior or change their services when they
                 receive a “do-not-track” flag or signal. You can, however, make decisions about your privacy and the
                 advertisements you receive.
                    <br>
                    <br> Some of the ads you receive on sites are customized based on predictions about your interests
                 generated from your visits to different Sites. This type of ad customization is sometimes called “online
                 behavioral” or “interest-based” advertising. We partner with a third-party to manage our advertising
                 on other sites. Our third-party partner may use cookies or similar technologies in order to provide
                 you advertising based upon your browsing activities and interests. If you wish to opt out of interest-based
                 advertising <a href="http://preferences-mgr.truste.com/" target="_blank">click here</a> or if you are located in the European Union <a href="http://www.youronlinechoices.eu/" target="_blank">click here</a>. Please note you will continue to receive generic ads. As an alternative to the
                 opt-out, you can also elect to block all cookies from first parties (such as Asurion) and from third
                 parties (such as entities involved in advertising) by using the cookie blocking options built into your
                 browser software. Please note, however, that if you do decide to block cookies, some parts of Asurion
                ’s sites may not function correctly.
                    <br>
                    <br>
                    <strong>How we use your personal information</strong>
                    <br>
                    <br> Asurion may use your personal information to:
                </p>
                <ul style="padding-left: 40px;">
                    <li>Fulfill a service to you;</li>
                    <li>Complete your purchase;</li>
                    <li>Establish and verify your identity;</li>
                    <li>Activate and maintain and your account;</li>
                    <li>Handle and resolve billing disputes;</li>
                    <li>Monitor and maintain the performance and functionality of the device consistent with your choices
                ;</li>
                    <li>Provide technical support and click-to-chat functionality;</li>
                    <li>Protect and improve our services;</li>
                    <li>Offer updates, notices and other information about site, product or services and services available
                 from Asurion or its affiliates as permitted by law. (Note: at any time you may choose to withdraw your
                 consent to Asurion’s use or disclosure of your personal information for marketing and promotional purposes
                 by contacting Asurion as outlined in Where to turn with questions section of this policy);</li>
                    <li>Respond to your questions, inquiries, comments and instructions;</li>
                    <li>To enforce the applicable Terms of Service;</li>
                    <li>Comply with the law and defend our rights;</li>
                    <li>Track and analyze de-identified data and provide such data to third parties that provide services
                 to Asurion;</li>
                    <li>Protect against fraud and potential fraud;</li>
                    <li>Notify you of any known breach of your personal information; and</li>
                    <li>Maintain the security and integrity of Asurion’s systems and services.</li>
                </ul>
                <p>
                    <strong>How we share your personal information</strong>
                    <br>
                    <br> We will not use or disclose your personal information to non-affiliated third parties except
                 as disclosed in this policy.
                    <br>
                    <br> Asurion may transfer or license your personal information to:
                    <br>
                    <br>
                </p>
                <ul style="padding-left: 40px;">
                    <li>Non-affiliated companies to assist us in providing, maintaining and operating our services or
                 marketing. These companies are required to comply with the principles set out in this policy and only
                 use such personal information for the purposes for which it was provided to them;</li>

                    <li>A third-party, in the event of a proposed or actual purchase, sale (including a liquidation,
                 realization, foreclosure or repossession), lease, merger, amalgamation or any other type of acquisition
                , disposal, transfer, conveyance or financing of all or any portion of its business or of any assets
                 or shares of our business or a division thereof in order for you to continue to receive the same or
                 similar products and services from the third-party. In such an event, we will provide notice of any
                 material change to this policy, or our services, in the manner described in this policy. In these circumstances
                , personal information may be shared with the actual or prospective purchasers or assignees, or with
                 the newly acquired business.</li>
                </ul>
                <p>
                    Asurion may also disclose your personal information to:
                </p>
                <ul style="padding-left: 40px;">
                    <li>Comply with the law and/or legal process in which a formal request has been made (e.g. request
                 from an administrative oversight agency, civil suit, subpoena, court order or judicial or administrative
                 proceeding);</li>

                    <li>Defend our rights and/or property or the rights and property of others;</li>

                    <li>Enforce our Terms of Use and/or this policy; </li>

                    <li>Respond to claims that the content(s) of a communication violates the rights of another; </li>

                    <li>Detect, prevent or otherwise address fraud, security, or technical issues.</li>
                </ul>
                <p>
                    <strong>
                How we protect your personal information </strong>
                    <br>
                    <br> We use commercially reasonable technical, administrative, and physical controls best practices
                 to protect your personal information including data encryption where appropriate; however, since the
                 Internet is not a 100% secure environment, we cannot ensure the security of personal information during
                 its transmission between you and us. Accordingly, you acknowledge that when you transmit such personal
                 information, you do so at your own risk. We will notify you of any confirmed security breach of your
                 personal information to the extent required by and in accordance with state and federal law.
                    <br>
                    <br>
                    <strong>How long we keep your personal information</strong>
                    <br>
                    <br> Asurion will retain your personal information as long as necessary to fulfill the purposes outlined
                 in this policy, unless a longer retention period is required or not prohibited by applicable law.
                    <br>
                    <br>
                    <strong>How you are notified if the policy changes</strong>
                    <br>
                    <br> We may change this policy from time to time. If we do, we will post the updated policy with
                 the last revised date. Your continued use of the site, product or service means that you consent to
                 the updates. You should periodically read the policy to understand our privacy practices.
                    <br>
                    <br> If we make material changes to this policy, then we will notify you in the site, product or
                 service or by email and seek your affirmative consent.
                    <br>
                    <br>
                    <strong>Communicating with you electronically</strong>
                    <br>
                    <br> By using our services, you agree that we can communicate with you electronically. This includes
                 any required notifications (i.e. legal, technical, regulatory, security, privacy) relating to your use
                 of the services.
                    <br>
                    <br>
                    <strong>Commercial messages</strong>
                    <br>
                    <br> Where required, Asurion will seek your express consent to send such messages. This consent is
                 sought by Asurion, LLC, 648 Grassmere Park, Nashville, TN 37211. You may withdraw your consent by using
                 the "unsubscribe" link located at the bottom of our messages, contacting us at the address listed above
                , or by emailing <a href="mailto:privacy@asurion.com?subject=Privacy Inquiry from - Phoneclaim.com">privacy@asurion.com</a>.
                    <br>
                    <br>
                    <strong>Your rights related to your personal information</strong>
                    <br>
                    <br> While we take various steps to ensure the accuracy and completeness of your personal information
                , we rely upon you to provide accurate and complete personal information when interacting with us.
                    <br>
                    <br> Upon your request and as allowed or required by law and consistent with our applicable partner
                 agreements, you may request Asurion to take the following actions with your personal information: (i
                ) provide you with a copy, (ii) correct, (iii) update, (iv) delete, To make such a request, or if you
                 have a privacy-related complaint, please contact Asurion via postal mail or email as provided in the
                 Where to turn with questions section of this policy. We will respond to your request within a reasonable timeframe.
                    <br>
                    <br> If you have an unresolved privacy or data use concern that we have not addressed satisfactorily
                , please contact our U.S.-based third-party dispute resolution provider at <a href="https://feedback-form&#10;.truste.com/watchdog/request" target="_blank"> https://feedback-form.truste.com/watchdog/request</a>
                .
                    <br>
                    <br>
                    <strong>A few notes about social media</strong>
                    <br>
                    <br> Please be aware that any information that you submit to a social media site such as Facebook
                , Instagram or Twitter is done at your own risk and without any expectation of privacy. Asurion cannot
                 control the actions of social media site users and is not responsible for any content or submissions
                 contained on such sites. You should always review the privacy policy of any third-party site or site
                , product or service.
                    <br>
                    <br> By using any functionality that permits submissions to social media sites, you are indicating
                 that you have reviewed the applicable privacy policy and terms of use of that site. Additionally, in
                 the event that we offer functionality through the site, product or service that permits the posting
                 of content on social media, please be aware that these sites may allow you to publicly post, and share
                 this content. Asurion cannot guarantee the privacy and safety of these sites and is therefore not responsible
                 for any content you post. Use these features at your own risk.
                    <br>
                    <br>
                    <strong>Children under 13</strong>
                    <br>
                    <br> The site, product or service is not directed to children under 13. We do not knowingly collect
                 personal information from children under 13. If you become aware that your child is accessing the site
                , product or service and providing personal information without your consent, please contact us by using
                 the information provided below. We will take steps to remove personal information from our storage systems
                 and terminate the account if we determine that a child under 13 has accessed the services.
                    <br>
                    <br>
                    <strong>For non-U.S. residents</strong>
                    <br>
                    <br> We may transfer personal information that we collect about you outside of the country in which
                 it was collected. If you are visiting from the European Union or other regions with laws governing data
                 collection and use that may differ from U.S. law, please note that you are transferring personal information
                 about yourself to a country and jurisdiction that does not have the same data protection laws as the
                 European Union. By doing so, you are consenting to the transfer, use, and disclosure of personal information
                 about yourself to the U.S. as described in this policy.
                    <br>
                    <br>
                    <strong>APEC participation</strong>
                    <br>
                    <br> The Asurion privacy practices, described in this policy, comply with the APEC Cross Border Privacy
                 Rules System. The APEC CBPR system provides a framework for organizations to ensure protection of personal
                 information transferred among participating APEC economies. More information about the APEC framework
                 can be found <a href="http://www.apec.org/Groups/Committee-on-Trade-and-Investment/~/media/Files/Groups&#10;/ECSG/CBPR/CBPR-PoliciesRulesGuidelines.ashx" target="_blank"> here</a>.
                    <br>    
                    <br> To learn more about our APEC CBPR Certification click <a href="http://privacy.truste.com/privacy-seal/validation?rid=5b01517c-cf40-4cdd-806e-aaedc2e528b2" target="_blank">here</a>.
                    <br>
                    <br>
                    <strong>Your California privacy rights</strong>
                    <br>
                    <br> Under California law, California residents may opt-out of Asurion disclosing their personal
                 information to third parties for their marketing purposes. If you are a California resident and do not
                 want Asurion to disclose your personal information to third parties for their marketing purposes, please
                 contact Asurion by any of the ways described in the Where to turn with questions section below and Asurion
                 will respond within 30 days.
                    <br>
                    <br>
                    <strong>Accountability and governance</strong>
                    <br>
                    <br> Asurion has implemented various measures to monitor compliance with and enforce this policy
                .
                    <br>
                    <br>
                    <strong>Where to turn with questions</strong>
                    <br>
                    <br> If you have any questions about this policy, about our site, product or service, or want to
                 request access to, correction, or deletion of your personal information, or have a privacy-related complaint
                , you can contact Asurion by email at <a href="mailto:privacy@asurion.com?subject=Privacy Inquiry from - Phoneclaim.com">privacy@asurion.com</a>.

                    <br>
                    <br> You may also contact us at:
                    <br>
                    <br> Asurion
                    <br> Attn: Privacy Office
                    <br> c/o Office of the General Counsel
                    <br> 648 Grassmere Park
                    <br> Nashville, TN 37211
                    <br>
                </p>
            </div>
        </div>
    </div>
    
{% endblock %}



{% block pageFoot %}

<script type="text/javascript">
  $(document).ready(function() {

    console.log(window.location.hash);
    if (window.location.hash == '#android') {
        $('.toggleAndroid').addClass('active');
        $('#androidContent').fadeIn();
        $('.genericTopChatContainer').hide();
        $('.androidTopChatContainer').show();
    }
    else if (window.location.hash == '#ios') {
        $('.toggleApple').addClass('active');
        $('#iosContent').fadeIn();
        $('.genericTopChatContainer').hide();
        $('.iosTopChatContainer').show();
    }
    $('.onboardToggle .toggle-btn').on('click', function(event) {
        if ($('.toggle-btn').hasClass('active')) {
          $('.toggle-btn').removeClass('active');
        }
        $(this).addClass('active');
    });
    $('.toggleApple').on('click', function() {
      if ($('#androidContent').is(':visible')) {
        $('#androidContent').hide();
        $('.androidTopChatContainer').hide();
      }
      $('#iosContent').fadeIn();
      $('.genericTopChatContainer').hide();
      $('.iosTopChatContainer').show();

    });
    $('.toggleAndroid').on('click', function() {
      if ($('#iosContent').is(':visible')) {
        $('#iosContent').hide();
        $('.iosTopChatContainer').hide();
      }
      $('#androidContent').fadeIn();
      $('.genericTopChatContainer').hide();
      $('.androidTopChatContainer').show();
    });

  });
</script>


{%endblock%}