//
// Forms
// --------------------------------------------------


// Normalize non-controls
//
// Restyle and baseline non-control form elements.

fieldset {
  padding: 0;
  margin: 0;
  border: 0;
  // Chrome and Firefox set a `min-width: -webkit-min-content;` on fieldsets,
  // so we reset that to ensure it behaves more like a standard block element.
  // See https://github.com/twbs/bootstrap/issues/12359.
  min-width: 0;
}

legend {
  display: block;
  width: 100%;
  padding: 0;
  margin-bottom: $line-height-computed;
  font-size: ($font-size-base * 1.5);
  line-height: inherit;
  color: $legend-color;
  border: 0;
  border-bottom: 1px solid $legend-border-color;
}

label {
  display: inline-block;
  font-family: $loud-font-family;
  font-size: .9em;
  color:$gray;
  font-weight: $loud-font-weight;
  margin-bottom:.25rem
}
label:empty:before{
  content:"\0000a0"
}
.has-error label{
  color:$warning;
}
// .form-control +label {
//   position: absolute;
//   top: -1.4em;
//   left: .2em;}

// 
// Normalize form controls
//
// While most of our form styles require extra classes, some basic normalization
// is required to ensure optimum display with or without those classes to better
// address browser inconsistencies.

// Override content-box in Normalize (* isn't specific enough)
input[type="search"] {
  @include box-sizing(border-box);
}

// Position radios and checkboxes better
input[type="radio"],
input[type="checkbox"] {
  margin: 4px 0 0;
  margin-top: 1px \9; // IE8-9
  line-height: normal;
}

// Set the height of file controls to match text inputs
input[type="file"] {
  display: block;
}

// Make range inputs behave like textual form controls
input[type="range"] {
  display: block;
  width: 100%;
}

// Make multiple select elements height not fixed
select[multiple],
select[size] {
  height: auto;
}

// Focus for file, radio, and checkbox
input[type="file"]:focus,
input[type="radio"]:focus,
input[type="checkbox"]:focus {
  @include tab-focus();
}

// Adjust output element
output {
  display: block;
  padding-top: ($padding-base-vertical + 1);
  font-size: $font-size-base;
  line-height: $line-height-base;
  color: $input-color;
}


// Common form controls
//
// Shared size and type resets for form controls. Apply `.form-control` to any
// of the following form controls:
//
// select
// textarea
// input[type="text"]
// input[type="password"]
// input[type="datetime"]
// input[type="datetime-local"]
// input[type="date"]
// input[type="month"]
// input[type="time"]
// input[type="week"]
// input[type="number"]
// input[type="email"]
// input[type="url"]
// input[type="search"]
// input[type="tel"]
// input[type="color"]

.form-control {
  display: block;
  width: 100%;
  padding: .8em;
  color: $input-color;
  background-color: $input-bg;
  background-image: none; // Reset unusual Firefox-on-Android default style; see https://github.com/necolas/normalize.css/issues/214
  border: $standard-border-width solid $gray-35;
  border-radius: .35em;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;  
  // @include box-shadow(inset 0 1px 1px rgba(0,0,0,.075));
  @include transition(border-color ease-in-out .15s, box-shadow ease-in-out .15s);
  height:3.6em;
  // Customize the `:focus` state to imitate native WebKit styles.
  // @include form-control-focus();
  &:focus{
    border-color: $form-highlight-color;
    outline: 0;
    box-shadow: none;
  }
  // Placeholder
  @include placeholder();

  // Disabled and read-only inputs
  //
  // HTML5 says that controls under a fieldset > legend:first-child won't be
  // disabled if the fieldset is disabled. Due to implementation difficulty, we
  // don't honor that edge case; we style them as disabled anyway.
  &[disabled],
  &[readonly],
  fieldset[disabled] & {
    cursor: not-allowed;
    background-color: $gray-10;
    border:solid 2px $gray-25;
    opacity: 1; // iOS fix for unreadable disabled content
  }

  // [converter] extracted textarea& to textarea.form-control
}
.form-group--inline{
  // display: inline-block;
  vertical-align: middle;
  margin-bottom: 0!important;
  label{
    display: block;
    text-align: left;
  }
  .form-control{
    width:auto;
    display: inline-block;
    vertical-align: middle;
    margin-right: .5rem;
  }
  .btn{
    display: inline-block;
    height: auto;
    width:auto;
    vertical-align: middle;
    margin: 0;
    min-width: auto;
    
  }
}


// Reset height for `textarea`s
textarea.form-control {
  height: auto;
}


// Search inputs in iOS
//
// This overrides the extra rounded corners on search inputs in iOS so that our
// `.form-control` class can properly style them. Note that this cannot simply
// be added to `.form-control` as it's not specific enough. For details, see
// https://github.com/twbs/bootstrap/issues/11586.

input[type="search"] {
  -webkit-appearance: none;
}


// Special styles for iOS date input
//
// In Mobile Safari, date inputs require a pixel line-height that matches the
// given height of the input.

input[type="date"] {
  line-height: $input-height-base;
}


// Form groups
//
// Designed to help with the organization and spacing of vertical forms. For
// horizontal forms, use the predefined grid classes.

.form-group {
  position: relative;
  margin-bottom: 1.1em;
  &:last-of-type:first-of-type{
    margin-bottom: 1.1em;
  }
  &:last-of-type{
    // margin-bottom: 0;
  }
}
.form-group label{
  font-family: $loud-font-family;
}
.inline-radio-group label{
  display: block;
  margin-bottom: .5rem;
  font-size: 1rem;
  @include respond-to(small){
    display: inline-block;
    margin-bottom: 0;
  }
}

.inline-radio-group{
  white-space: nowrap;
  display: inline-block;

}
.inline-radio-group--center{
  width:100%;
  text-align: center;
}


/*========================================
=            CARD RADIO GROUP            =
========================================*/

.card-radio-group{
  position: relative;
}
.card-radio-group .radio label{
  padding: 0;
}
.card-radio-group .radio label:before{
  position: absolute;
  left: -2.2rem;
  top: 0;
}
.card-radio-group .radio label:after{
  position: absolute;
  left: -2.2rem;
  top: 0;
}
.card-radio-group--muted{
  .card-radio-group__content{
    display:none;
  }
}

/*=====  End of CARD RADIO GROUP  ======*/


// Checkboxes and radios
//
// Indent the labels to position radios/checkboxes as hanging controls.


.radio, .radio-inline,
.checkbox, checkbox-inline {
  display: block;
  min-height: $line-height-computed; // clear the floating input if there is no label text
  // margin-top: 10px;
  
  label {
    display: inline;
    font-weight: normal;
    cursor: pointer;
    font-size: 1em;
  }
}
label + .radio-inline{
  margin-left: $standard-margin;
}
.radio input[type="radio"],
.radio-inline input[type="radio"],
.checkbox input[type="checkbox"],
.checkbox-inline input[type="checkbox"] {
  float: left;
  margin-left: -20px;
}
.radio + .radio,
.checkbox + .checkbox {
  margin-top: -5px; // Move up sibling radios or checkboxes for tighter spacing

}

// Radios and checkboxes on same line
.radio-inline,
.checkbox-inline {
  display: inline-block;
/*   padding-left: 20px; */
  margin-bottom: 0;
  vertical-align: middle;
  font-weight: normal;
  cursor: pointer;
}
.radio-inline + .radio-inline,
.checkbox-inline + .checkbox-inline {
/*   margin-top: 0; */
  margin-left: 10px; // space out consecutive inline controls
}

// CUSTOM RADIO STYLING
.radio input, .radio-inline input{
  position:absolute;
  left:-999999px;
}
.lt-ie9 .radio input, .lt-ie9 .radio-inline input{
  display: inline-block;
}

.radio label, .radio-inline label  {
    position: relative;
    padding-left: 2em;
    cursor: pointer;
    line-height:1.1;    
  -webkit-transition: 0.2s ease;
  -moz-transition: 0.2s ease;
  -o-transition: 0.2s ease;
  transition: 0.2s ease;
    display: inline-block;
  // margin-bottom:1.5em;
  
}

.radio label::before, 
.radio label::after, 
.radio-inline label::before, 
.radio-inline label::after  {
    content: '';
    position: absolute;
    top: -.2rem;
    // margin-top: -5px;
    left: 0;
    width: 1.4rem;
    height: 1.4rem;
    border-radius: 50%;
}
.radio label::before, .radio-inline label::before  {
    -webkit-box-shadow: inset 0px 0px 0px 1px $gray-50;
    -moz-box-shadow: inset 0px 0px 0px 1px $gray-50;
    box-shadow: inset 0px 0px 0px 1px $gray-50;
    background:#fff;
}
.radio label::after, .radio-inline label::after  {
    background: $form-highlight-color;
    opacity: .2;
    -webkit-transform: scale(0);
    transform: scale(0);
  -webkit-transition: 0.2s ease;
  -moz-transition: 0.2s ease;
  -o-transition: 0.2s ease;
  transition: 0.2s ease;
}
.radio input:checked + label, .radio-inline input:checked + label{
  
  @extend .loud;
}
.radio input:checked + label::after, .radio-inline input:checked + label::after  {
    -webkit-transform: scale(0.45);
    transform: scale(0.45);
    opacity: 1;
    box-shadow: 0 0 3px -1px $form-highlight-color;
}
.radio input:focus + label::before, .radio-inline input:focus + label::before,
.checkbox input:focus + label::before, .checkbox-inline input:focus + label::before  {
    border:#66afe9;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
}


// CUSTOM CHECKBOX STYLING
.checkbox input, .checkbox-inline input{
  position:absolute;
  left:-999999px;
}
.lt-ie9 .checkbox input, .lt-ie9 .checkbox-inline input{
  display: inline-block;
}

.checkbox label, .checkbox-inline label  {
    position: relative;
    padding-left: 2em;
    cursor: pointer;
    line-height:1.1;    
  -webkit-transition: 0.2s ease;
  -moz-transition: 0.2s ease;
  -o-transition: 0.2s ease;
  transition: 0.2s ease;
    display: inline-block;
  // margin-bottom:1.5em;
  
}

.checkbox label::before, 
.checkbox label::after, 
.checkbox-inline label::before, 
.checkbox-inline label::after  {
    content: '';
    position: absolute;
    top: .15rem;
    margin-top: -5px;
    left: 0;
    width: 1.4em;
    height: 1.4em;
    border-radius: .25em;
    color:$form-highlight-color;
}
.checkbox label::before, .checkbox-inline label::before  {
    -webkit-box-shadow: inset 0px 0px 0px 1px $gray-50;
    -moz-box-shadow: inset 0px 0px 0px 1px $gray-50;
    box-shadow: inset 0px 0px 0px 1px $gray-50;
    background:#fff;
}
.checkbox label::after, .checkbox-inline label::after  {
    
    opacity: .2;
    -webkit-transform: scale(0);
    transform: scale(0);
  -webkit-transition: 0.2s ease;
  -moz-transition: 0.2s ease;
  -o-transition: 0.2s ease;
  transition: 0.2s ease;
}
.checkbox input:checked + label, .checkbox-inline input:checked + label{
  
  
}
.checkbox input:checked + label::after, .checkbox-inline input:checked + label::after  {
  content: "\e9a3";
  font-family: 'icomoon';  
  font-weight: bold;
  -webkit-transform: scale(1);
    transform: scale(1);
    opacity:1;
    left: 0em;
    top: .3em;
    text-align: center;
    line-height: 1;
}






// Apply same disabled cursor tweak as for inputs
//
// Note: Neither radios nor checkboxes can be readonly.
input[type="radio"],
input[type="checkbox"],
.radio,
.radio-inline,
.checkbox,
.checkbox-inline {
  &[disabled],
  fieldset[disabled] & {
    cursor: not-allowed;
  }
}


// Form control sizing
//
// Build on `.form-control` with modifier classes to decrease or increase the
// height and font-size of form controls.

@include input-size('.input-sm', $input-height-small, $padding-small-vertical, $padding-small-horizontal, $font-size-small, $line-height-small, $border-radius-small);

@include input-size('.input-lg', $input-height-large, $padding-large-vertical, $padding-large-horizontal, $font-size-large, $line-height-large, $border-radius-large);


// Form control feedback states
//
// Apply contextual and semantic states to individual form controls.

.has-feedback {
  // Enable absolute positioning
  position: relative;

  // Ensure icons don't overlap text
  .form-control {
    padding-right: ($input-height-base * 1.25);
  }

  // Feedback icon (requires .glyphicon classes)
  .form-control-feedback {
    position: absolute;
    top: ($line-height-computed + 5); // Height of the `label` and its margin
    right: 0;
    display: block;
    width: $input-height-base;
    height: $input-height-base;
    line-height: $input-height-base;
    text-align: center;
  }
}

// Feedback states
.has-success {
  @include form-control-validation($state-success-text, $state-success-text, $state-success-bg);
}
.has-warning {
  @include form-control-validation($state-warning-text, $state-warning-text, $state-warning-bg);
}
.has-error {
  @include form-control-validation($state-danger-text, $state-danger-text, $state-danger-bg);
}


// Static form control text
//
// Apply class to a `p` element to make any string of text align with labels in
// a horizontal form layout.

.form-control-static {
  margin-bottom: 0; // Remove default margin from `p`
}


// Help text
//
// Apply to any element you wish to create light text for placement immediately
// below a form control. Use for general help, formatting, or instructional text.

.help-block {
  display: block; // account for any element using help-block
  margin-top: 5px;
  margin-bottom: 10px;
  color: lighten($text-color, 25%); // lighten the text some for contrast
}



// Inline forms
//
// Make forms appear inline(-block) by adding the `.form-inline` class. Inline
// forms begin stacked on extra small (mobile) devices and then go inline when
// viewports reach <768px.
//
// Requires wrapping inputs and labels with `.form-group` for proper display of
// default HTML form controls and our custom form controls (e.g., input groups).
//
// Heads up! This is mixin-ed into `.navbar-form` in navbars.less.

.form-inline {

  // Kick in the inline
  @media (min-width: $screen-sm-min) {
    // Inline-block all the things for "inline"
    .form-group {
      display: inline-block;
      margin-bottom: 0;
      vertical-align: middle;
    }

    // In navbar-form, allow folks to *not* use `.form-group`
    .form-control {
      display: inline-block;
      width: auto; // Prevent labels from stacking above inputs in `.form-group`
      vertical-align: middle;
    }
    // Input groups need that 100% width though
    .input-group > .form-control {
      width: 100%;
    }

    .control-label {
      margin-bottom: 0;
      vertical-align: middle;
    }

    // Remove default margin on radios/checkboxes that were used for stacking, and
    // then undo the floating of radios and checkboxes to match (which also avoids
    // a bug in WebKit: https://github.com/twbs/bootstrap/issues/1969).
    .radio,
    .checkbox {
      display: inline-block;
      margin-top: 0;
      margin-bottom: 0;
      padding-left: 0;
      vertical-align: middle;
    }
    .radio input[type="radio"],
    .checkbox input[type="checkbox"] {
      float: none;
      margin-left: 0;
    }

    // Validation states
    //
    // Reposition the icon because it's now within a grid column and columns have
    // `position: relative;` on them. Also accounts for the grid gutter padding.
    .has-feedback .form-control-feedback {
      top: 0;
    }
  }
}
 .radio, .checkbox{
    margin-bottom:1em;
  }

// Horizontal forms
//
// Horizontal forms are built on grid classes and allow you to create forms with
// labels on the left and inputs on the right.

.form-horizontal {

  // Consistent vertical alignment of labels, radios, and checkboxes
  .control-label,
  .radio,
  .checkbox,
  .radio-inline,
  .checkbox-inline {
    margin-top: 0;
    margin-bottom: 0;
    padding-top: ($padding-base-vertical + 1); // Default padding plus a border
  }
 
  // Account for padding we're adding to ensure the alignment and of help text
  // and other content below items
  .radio,
  .checkbox {
    min-height: ($line-height-computed + ($padding-base-vertical + 1));
  }

  // Make form groups behave like rows
  .form-group {
    @include make-row();
  }

  .form-control-static {
    padding-top: ($padding-base-vertical + 1);
    padding-bottom: ($padding-base-vertical + 1);
  }

  // Only right align form labels here when the columns stop stacking
  @media (min-width: $screen-sm-min) {
    .control-label {
      text-align: right;
    }
  }

  // Validation states
  //
  // Reposition the icon because it's now within a grid column and columns have
  // `position: relative;` on them. Also accounts for the grid gutter padding.
  .has-feedback .form-control-feedback {
    top: 0;
    right: ($grid-gutter-width / 2);
  }
}
.asterisk{
  color:$form-highlight-color;
}
.alert-required{
  float: right;
}
.form-group{
  transition: border-color 500ms;
  &:before{
    opacity: 0;
    transition: opacity 500ms;
  }
}
.form-group--error{
  .form-control{
    border-color:$warning;  
    position: relative;
    transition: 500ms;
  } 
  &:before{
      content:url('../../img/error_icon.svg');
      position: absolute;
      right:-.5rem;
      top:1rem;
      z-index: 10;
      opacity: 1;
      transition: opacity 500ms;
  }
  label{
    
  }
  .form-group__error-message{
    
    display: block;
    
  }
}
.form-group__error-message{
    @extend .milli;
    @extend .loud;
    color:$warning;
    margin-top:.25rem;
display:none;
}
.form-control--error{
  border-color:$warning;
}
.ccbox {
    background-image: url("../../img/cards.svg");
    width: 122px;
    height: 16px;
    overflow: hidden;
    text-indent: -9999px;
    margin-top: -10px;
    clear: both;
    margin-bottom: 0px;
    float: right;
}
.ccbox-onfield{
    background-image: url("../../img/cards.svg");
    width: 122px;
    height: 16px;
    overflow: hidden;
    text-indent: -9999px;
    position: absolute;
    bottom:1.4em;
    right: 1em;
}


      .custom-dropdown {
        position: relative;
        display: inline-block;
        vertical-align: middle;
        width:100%;
      }

      .custom-dropdown .form-control {
        padding-right: 2em; /* accommodate with the pseudo elements for the dropdown arrow */
      }

      .custom-dropdown::before,
      .custom-dropdown::after {
        content: "";
        position: absolute;
        pointer-events: none;
      }

      .custom-dropdown::after { /*  Custom dropdown arrow */
        content: "\e913";
        font-weight: 400;
        font-family:'icomoon';
        height: 1em;
        color:$form-highlight-color;
        line-height: 1;
        right: .7em;
        top: 50%; 
        margin-top: -.5em;
      }
      
      .custom-dropdown::before { /*  Custom dropdown arrow cover */
        width: 2em;
        right: 0; top: 0; bottom: 0;
        border-radius: 0 3px 3px 0;
      }

      .custom-dropdown .form-control[disabled] {
        color: rgba(0,0,0,.3);
      }

      .custom-dropdown.custom-dropdown--disabled::after {
        color: rgba(0,0,0,.1);
      }

      
      /* FF only temp fix */
      @-moz-document url-prefix() {
        .custom-dropdown .form-control       { padding-right: .9em }
        .custom-dropdown--large .custom-dropdown .form-control { padding-right: 1.3em }
        .custom-dropdown--small .custom-dropdown .form-control { padding-right: .5em }
      }
  

  /*TYPE AHEAD STYLES*/
.twitter-typeahead { 
  display: block !important;
}
.tt-query, /* UPDATE: newer versions use tt-input instead of tt-query */
.tt-hint {
  width: 100%;
  height: 100%;
}

.tt-query { /* UPDATE: newer versions use tt-input instead of tt-query */
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

.tt-hint {
  color: #ccc;
}
.tt-hint[disabled]{
  background:transparent!important;
}

.tt-menu {
  width: 422px;
  margin-top: 12px;
  padding: 8px 0;
  background-color: #fff;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  box-shadow: 0 5px 10px rgba(0,0,0,.2);
}

.tt-suggestion {
  padding: 3px 20px;
  font-size: 14px;
  line-height: 20px;
}

.tt-suggestion.tt-cursor { /* UPDATE: newer versions use .tt-suggestion.tt-cursor */
  color: white;
  background-color: $form-highlight-color;
}

.tt-suggestion p {
  margin: 0;
}
.field__help-text{
  margin-top:.25rem;
}