/*===================================
=            ADG PATTERNS            =
===================================*/


//styles specifically for rendering styling in ADG pattern library 
body{
	
}
.adg-patterns{
	$adg-light-gray:#9c9c9c;
	$adg-gray:#3E3E3E;
	$adg-blue:#3fb6ff;
	&--in > *{
		@include fadeIn(); 
	}
	
	.blue-dot{
		color:$adg-blue;
		font-family:$loud-font-family;
		margin-left: 0;
		line-height: 0.2em;
		font-size: 1.2em;
		margin-right: .15em;
	}
	.lt-blue-dot{
		color:lighten($adg-blue,20%);
		font-family:$loud-font-family;
		margin-left: 0;
		line-height: 0.2em;
		font-size: 1.2em;
		margin-right: .15em;
	}
	.red-dot{
		color:$adg-red;
		font-family:$loud-font-family;
		margin-left: 0;
		line-height: 0.2em;
		font-size: 1.2em;
		margin-right: .15em;
	}
	.green-dot{
		color:$adg-green;
		font-family:$loud-font-family;
		margin-left: 0;
		line-height: 0.2em;
		font-size: 1.2em;
		margin-right: .15em;
	}
	
	.peak{
		position: absolute;
		top:-1rem;
		left:.25rem;
		line-height: 1;
		font-size:.75rem;
		color: $adg-light-gray;
		text-transform: none;
		font-weight: normal;
		font-family: $base-font-family;
		letter-spacing: normal;
		letter-spacing: 0;
		dl,dd,dt,span{
			padding:0;
			margin:0;
			margin-right:.5em;
		}
	}
	.style-peak,.class-peak{
		
		display:inline-block;
		dd{display:inline-block;}
		dt{display:inline-block;} 
	}

	[data-peak]{
		position: relative;
	}
	.adg-patterns{
		max-width: 100%;
	    margin: 0 auto;
	    padding: 15px 0 0;
	    background-color: #fff;
	}
	.adg-module{
		margin-bottom: 4rem;
		margin-top: 4rem;
		// opacity: 0;

	}
	
	.adg-module__section{
		margin-bottom: 4rem;
		&--constrained{
			padding-right:20%;
		}
	}
	.adg-module__header{
		@extend .container;
		margin-bottom: 3em;
	}

	.adg-module__toggle-code {
	  display: block;
	  text-indent: -9999999px;
	  background: url("../../img/icon_code.svg") right center no-repeat;
	  height: 1.5em;
	  opacity: .5;
	  margin-top: -2.5rem;
	  position: relative;
	  z-index: 9;
	  float: right;
	  min-width: 30px;
	  margin-right: 1rem;
	}

	pre[class*='language-'] > code[data-language] {
	  overflow: auto;
	}
	/*=====================================
	=            COLORS MODULE            =
	=====================================*/

	.adg-colors{
		@extend .clearfix; 
	}
	.adg-color{
		display:block;
		width: 10rem;
		height: 10rem;
		margin: .5rem;
		float:left; 
		
		position: relative;
		div{
			height: 100%;
			width: 100%;
			border-radius:2px;
		}
		
	}
	.adg-color .peak{top:0;bottom:initial;}

	.adg-color span.class-peak{
		background:white;
		color:$adg-gray;
		padding: .25em 1em;
		position: absolute;
		left:1em;
		bottom:1em;
		font-size: .7em;
	} 
	.adg-color .style-peak{
		color:white;
		padding: .25em 1em;
		top:0;
		bottom:initial;
	}
	.adg-color .bg-gray-25 .style-peak,
	.adg-color .bg-gray-10 .style-peak,
	.adg-color .bg-white .style-peak{
		color:$adg-gray;
	}
	.adg-color .style-peak dt{
		display: none;
	}


	/*=========================================
	=            TYPOGRAPHY MODULE            =
	=========================================*/

	#typography .peak{
		.style-peak dt{
			display: none;
		}
	}
	/*=============================
	=            ICONS            =
	=============================*/
	
	
	.glyph {
		transition: 300ms;
		font-size: 15px;
		width: 10rem;
		height: 10rem;
		padding: 1rem;
		margin: .5rem;
		float: left;
		overflow: hidden;
		background: transparent;
		text-align: center;
		border:solid $standard-border-width transparent;
		border-radius: $standard-border-radius;
		line-height: 1;
		cursor:pointer;
		.bshadow0, input {
		}
		input:hover {
			box-shadow: inset 0 -2px #ccc;
		}
		input, fieldset {
			font-size: 1em;
			margin: 0;
			padding: 0;
			border: 0;
			display: none;
		}
		input {
			color: inherit;
			line-height: 1.5;
			height: 1.5em;
			padding: .25em 0;
		}
		input:focus {
			outline: none;
			box-shadow: inset 0 -2px #449fdb;
		}
	}
	.glyph:hover{
		background:$white;
		border:solid $standard-border-width $gray-25;
	}
	[class^="icon-"]{
		font-size: 5em;
		display: block;
		margin-bottom: 1rem;
		color:$gray-75;
		transition: 300ms;
	}
	.glyph:hover [class^="icon-"]{
		color:$black;
	}
	.liga {
		width: 80%;
		width: calc(100% - 2.5em);
	}
	.talign-right {
		text-align: right;
	}
	.talign-center {
		text-align: center;
	}
	.bgc1 {
		background: #f1f1f1;
	}
	.fgc1 {
		color: #999;
	}
	.fgc0 {
		color: #000;
	}
	p {
		margin-top: 1em;
		margin-bottom: 1em;
	}
	.mvm {
		margin-top: .75em;
		margin-bottom: .75em;
	}
	.mtn {
		margin-top: 0;
	}
	.mtl, .mal {
		margin-top: 1.5em;
	}
	.mbl, .mal {
		margin-bottom: 1.5em;
	}
	.mal, .mhl {
		margin-left: 1.5em;
		margin-right: 1.5em;
	}
	.mhmm {
		margin-left: 1em;
		margin-right: 1em;
	}
	.mls {
		margin-left: .25em;
	}
	.ptl {
		padding-top: 1.5em;
	}
	.pbs, .pvs {
		padding-bottom: .25em;
		text-align: center;
	}
	.pvs, .pts {
		padding-top: .25em;
	}
	.unit {
		float: left;
	}
	.unitRight {
		float: right;
	}
	.size1of2 {
		width: 50%;
	}
	.size1of1 {
		width: 100%;
	}
	.clearfix:before, .clearfix:after {
		content: " ";
		display: table;
	}
	.clearfix:after {
		clear: both;
	}
	.hidden-true {
		display: none;
	}
	.textbox0 {
		width: 3em;
		background: #f1f1f1;
		padding: .25em .5em;
		line-height: 1.5;
		height: 1.5em;
	}
	#testDrive {
		display: block;
		padding-top: 24px;
		line-height: 1.5;
	}
	.fs0 {
		// font-size: 16px;
	}
	.fs1 {
		// font-size: 32px;
	}

}