/*========================================
=            CUSTOM CONTAINERS            =
========================================*/

// High level custom content wrappers

.container--xxs{
	@extend .container;
	@include respond-to(small){width:$container-sm*.45}
	@include respond-to(medium){width:$container-lg*.30}
	@include respond-to(large){width:$container-lg*.30}
}
.container--xs{
	@extend .container;
	@include respond-to(small){width:$container-sm*.55}
	@include respond-to(medium){width:$container-lg*.40}
	@include respond-to(large){width:$container-lg*.40}
}

.container--sm{
	@extend .container;
	@include respond-to(small){width:$container-sm*.60}
	@include respond-to(medium){width:$container-lg*.48}
	@include respond-to(large){width:$container-lg*.48}
}
.container--md{
	@extend .container;
	@include respond-to(small){width:$container-sm*.85}
	@include respond-to(medium){width:$container-lg*.70}
	@include respond-to(large){width:$container-lg*.70}
}
.container--lg{
	@extend .container;
	@include respond-to(small){width:$container-sm*1.0}
	@include respond-to(medium){width:$container-lg*.85}
	@include respond-to(large){width:$container-lg*.85}
}

/*=====================================
=            BOXES/BUCKETS            =
=====================================*/

// Modules intended to fill 100% of wrapper 

.box{
	@extend .margin-2x;
	@extend .clearfix;
	
}
.white-box{
	@extend .box;
	background:$white;
	border:solid $standard-border-width $gray-25;
	border-radius:$standard-border-radius;
	
	
}
.grey-box{
	@extend .box;
	background:$gray-10;
}

/*===================================
=            ALERT BOXES            =
===================================*/

.alert-box{
	@extend .padding-1x;
	border-radius:.5em;
	background-color:$gray-10;
	color: black;
	:last-child{
		margin-bottom: 0;
	}
}
.alert-box--success{
	@extend .alert-box;
	background-color:$success-muted;
	color:$success;
}
.alert-box--info{
	@extend .alert-box;
	background-color:$info-muted;
	color:$info;
}
.alert-box--warning{
	@extend .alert-box;
	background-color:$warning-muted;
	color:$warning;
}

/*===============================
=            GUTTERS            =
===============================*/

.gutter--sm{
	margin-left:-5px;
	margin-right:-5px;
	.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12{
		padding-left: 5px;
		padding-right: 5px;
	}
}

/*=====  End of GUTTERS  ======*/

/*======================================
=            CUSTOM COLUMNS            =
======================================*/
.row--relative{
	
}
.col-absolute-left{
	position: absolute;

}

/*=====  End of CUSTOM COLUMNS  ======*/
