/*================================
=            DEFAULTS            =
================================*/

// default styles for html tags—-no classes

* {
    box-sizing: border-box;
    font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

html {
    background: #fff;
    position: relative;
    min-height: 100%;
    
}

body {
    min-height: 100%;
    @include respond-to(small){
          margin: 0 0 100px; /* bottom = footer height */    
      }
}

body,
html {
    background-color: $bg-color;
}

a{
    color:$link-color;
}

::-moz-selection { /* Code for Firefox */
    color: $black ;
    background: lighten(desaturate($primary-color, 30), 35);
}

::selection {
    color: $black ;
    background: lighten(desaturate($primary-color, 30), 35);
}

&:focus{
   //  border-color:transparent;
   outline: 0;
   // -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px $primary-color;
   // box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px $primary-color;
}
span{
  // vertical-align: middle;
  line-height: 1;
}

