/*=============================
=            FONTS            =
=============================*/

@font-face{
	font-family:'sourcesans';
	src:url("fonts/sourcesanspro-regular-webfont.eot") format("embedded-opentype"),url("fonts/sourcesanspro-regular-webfont.woff") format("woff"),url("fonts/sourcesanspro-regular-webfont.ttf") format("truetype"),url("fonts/sourcesanspro-regular-webfont.svg") format("svg")
}
@font-face{
	font-family:'sourcesans-light';
	src:url("fonts/sourcesanspro-light-webfont.eot") format("embedded-opentype"),url("fonts/sourcesanspro-light-webfont.woff") format("woff"),url("fonts/sourcesanspro-light-webfont.ttf") format("truetype"),url("fonts/sourcesanspro-light-webfont.svg") format("svg")}
@font-face{
	font-family:'sourcesans-extra-light';
	src:url("fonts/sourcesanspro-extra-light-webfont.eot") format("embedded-opentype"),url("fonts/sourcesanspro-extra-light-webfont.woff") format("woff"),url("fonts/sourcesanspro-extra-light-webfont.ttf") format("truetype"),url("fonts/sourcesanspro-extra-light-webfont.svg") format("svg")}
@font-face{
	font-family:'sourcesans-bold';
	src:url("fonts/sourcesanspro-bold-webfont.eot") format("embedded-opentype"),url("fonts/sourcesanspro-bold-webfont.woff") format("woff"),url("fonts/sourcesanspro-bold-webfont.ttf") format("truetype"),url("fonts/sourcesanspro-bold-webfont.svg") format("svg")} 