
/*======================================
=            ASURION COLORS            =
======================================*/

$asurion-green: #7fba00!default;
$asurion-lt-blue: #51b5e0!default;
$asurion-blue: #0b2e72!default;
$asurion-orange: #ff9111!default;
$asurion-magenta: #ed0091!default;

/*======================================================
=            ACCESSIBILITY COLOR SELECTIONS            =
======================================================*/

$accessible-green: #1bac00;
$accessible-blue: #3171bf;

/*=====  End of ACCESSIBILITY COLOR SELECTIONS  ======*/

/*=============================================
=            GLOBAL NEUTRAL COLORS            =
=============================================*/


$black: #000000!default;
$gray: #3a3a3a!default;
$gray-75: lighten($gray, 24%)!default;
$gray-50: lighten($gray,49%)!default;
$gray-35: lighten($gray, 65%)!default;
$gray-25: lighten($gray, 67%)!default;
$gray-15: lighten($gray,71%)!default;
$gray-10: lighten($gray,73%)!default;
$gray-5: lighten($gray,75%)!default;
$white: #ffffff!default;

/*=========================================
=            BACKGROUND COLORS            =
=========================================*/

$bg-color: $gray-5!default;

/*=====  End of BACKGROUND COLORS  ======*/



/*===========================================
=            BRAND COLORS            =
===========================================*/

$primary-color: $asurion-lt-blue!default;
$secondary-color: $asurion-green!default;
$tertiary-color: $asurion-magenta !default;

/*=============================================
=            BRAND COLOR VARIATION            =
=============================================*/

$primary-color--light:lighten(desaturate($primary-color,18%),20%)!default;
$primary-color--dark:darken(desaturate($primary-color,15%),15%)!default;

$secondary-color--light: lighten(desaturate($secondary-color,18%),20%)!default;
$secondary-color--dark: darken(desaturate($secondary-color,15%),15%)!default;

$tertiary-color--light:lighten(desaturate($tertiary-color,18%),20%)!default;
$tertiary-color--dark:darken(desaturate($tertiary-color,15%),15%)!default;


/*====================================
=            ALERT COLORS            =
====================================*/

$success:#0E4A19!default;
$success-muted: #C4EFCC!default;
$info: #296B80!default;
$info-muted: #ddf4fb!default;
$alert: #8a6d3b!default;
$alert-muted: #fcf8e3!default;
$warning: #aa4543!default;
$warning-muted: #f1dedd!default;


/*===================================
=            FORM COLORS            =
===================================*/
$form-highlight-color: $accessible-blue!default;
$text-highlight-color: $accessible-blue!default;

/*=====================================
=            BUTTON VARS            =
=====================================*/

$btn-primary: $accessible-green!default;
$btn-primary-hover: darken(desaturate($btn-primary,5%),5%)!default;
$btn-secondary: $accessible-blue!default;
$btn-secondary-hover: darken(desaturate($btn-secondary,5%),5%)!default;
$btn-tertiary: $tertiary-color!default;
$btn-tertiary-hover: darken(desaturate($btn-tertiary,5%),5%)!default;
$btn-form-highlight: $form-highlight-color!default;
$btn-form-highlight-hover: darken(desaturate($btn-form-highlight,5%),5%)!default;
$btn-success: $success;
$btn-success-hover: $success;
$btn-info: $info;
$btn-info-hover: $info;
$btn-alert: $alert;
$btn-alert-hover: $alert;
$btn-warning: $warning;
$btn-warning-hover: $warning;
$button-text-color: white!default;

/*==================================
=            TYPOGRAPHY            =
==================================*/
//$system-font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;

$primary-text-color:black;
$base-font-family: 'sourcesans-light', sans-serif!default;
$base-font-size: 17px!default;
$base-line-height: 1.5!default;
$base-font-weight: 100!default;
$base-text-color: #333!default;

$loud-font-family: 'sourcesans', sans-serif!default;
$loud-font-weight: 400!default;
$loud-color: #000!default;

$bold-font-family: 'sourcesans-bold', sans-serif!default;
$bold-font-weight:100!default;
$bold-color:#000!default;

$light-font-family: 'sourcesans-light', sans-serif!default;
$light-font-weight: 100!default;

$link-font-family: $loud-font-family!default;
$link-color: #3171bf!default;
$link-hover-color: saturate($link-color, 20%)!default;
$link-active-color: saturate($link-color, 20%)!default;
$link-visited-color: saturate($link-color, 20%)!default;

$heading-font-family: 'sourcesans-light', sans-serif!default;;
$heading-line-height: 1.1!default;
$heading-font-weight: 100!default;
$heading-color: #333!default;

$menu-font-family: $loud-font-family!default;
$menu-font-size: 16px!default;
$menu-line-height: 1.42857!default;
$menu-font-weight: 100!default;
$menu-text-color: #333!default;

// $base-font-family: $system-font-family;
// $loud-font-family: $system-font-family;
// $bold-font-family: $system-font-family;
// $light-font-family: $system-font-family;
// $link-font-family: $system-font-family;
// $heading-font-family: $system-font-family;
// $menu-font-family: $system-font-family;

/*=========================================
=            SPACING VARIABLES            =
=========================================*/

$standard-margin: 1rem!default;
$standard-padding: 1rem!default;
$standard-border-radius: .35em!default;
$standard-border-width: 2px!default;
$standard-border-color:$gray-35;

/*==================================
=            ADG COLORS            =
==================================*/

$adg-blue:#3fb6ff;
$adg-red:#dd4e4e;
$adg-green:#b1ef75;
