/*===============================================
=            ASURION THEME OVERRIDE VARS            =
===============================================*/

$primary-color: #51b5e0;
$secondary-color: #7fba00;
$tertiary-color: #ff9111;
$quaternary-color: #0b2e72; 
$client-header-logo-path: '../../img/asurion-logo-black.svg';
$client-header-logo-width:10em;

/*=====================================
=            BUTTON VARS            =
=====================================*/

