{% extends "_step-layout.html" %}

{% set stepTitle = 'Let’s get you started.' %} 
{% set stepSubTitle = 'Please provide the following information.' %}
{% set btnText = 'Get Started' %}
{% set nextStep = '1002.confirm-account.html' %}



{% block messaging %}
<div class="hidden alert-box alert-box--warning">
    <div class="container text-center">
        <div class="alert-box__icon"><img src="../../assets/img/error_icon.svg" alt=""></div>
        <span class="alert-box__message">Whoops! Looks like there were some errors.  Please fix them and click continue.</span>
        <!-- <div data-alert-close class="alert-box__close icon-uniE601"></div> -->
    </div>
</div>
{% endblock %}

{% block stepContent %}
	<div class="container--xs">
		<form action="" id="step1-1">
			<div class="form-group">
				<label for="deviceWirelessNumber">Wireless number on your plan</label>
			    <input type="text" class="form-control js-phone_us" id="deviceWirelessNumber" value="">
			    <p class="form-group__error-message">Please enter a valid phone number</p>
			</div>
			<div class="row gutter--sm">
				<div class="col-sm-6">
					<div class="form-group">
						<label for="firstName">First name</label>
					    <input type="text" class="form-control" id="firstName" value="">
					    <p class="form-group__error-message">This is a required field.</p>
					</div>
				</div>
				<div class="col-sm-6">
					<div class="form-group">
						<label for="lastName">Last name</label>
					    <input type="text" class="form-control" id="lastName" value="">
					    <p class="form-group__error-message">This is a required field.</p>
					</div>
				</div>
			</div>
			<div class="form-group">
				<label for="zip">Billing address ZIP/postal code</label>
			    <input type="text" class="form-control" id="ZIP" value="">
			    <p class="form-group__error-message">This is a required field.</p>
			</div>
			<div class="form-group">
				<label for="email">Email</label>
			    <input type="text" class="form-control" id="email" value="">
			    <p class="form-group__error-message">This is a required field.</p>
			</div>
			<div class="form-group">
				<label for="zip">Alternate number where we can reach you</label>
			    <input type="text" class="form-control js-phone_us" id="altNumber" value="">
			    <p class="form-group__error-message">This is a required field.</p>
			</div>
		</form>
	</div>
	
{% endblock %}
{% block stepFooter %}
<div class="step__footer">
    <div class="container">
        <div class="btn-well">

            <a href="{[nextStep]}" id="nextButton" class="btn btn-primary path-control__button " >{[btnText]}</a>
            <!-- <span class="btn-caption btn-caption--active"><span class="btn-caption__next">Next: </span>Tell us what happened.</span> -->
        </div>
        
    </div>
</div>

{% endblock %}

{% block pageFoot %}

<script>
	jQuery(document).ready(function($) {
		var sticky = new Waypoint.Sticky({
		  element: $('.alert-box')[0]
		})
		
		

		$('#deviceWirelessNumber').on('blur', function(event) {
			var value = $(this).val().length;
			event.preventDefault();
			if ( value !== 14 || value == 0 ){
				$(this).closest('.form-group').addClass('form-group--error')	
			}
			else{
				$(this).closest('.form-group').removeClass('form-group--error')	
			}
			
		});
		$(document).on('blur', '.form-group--error .form-control', function(event) {
			event.preventDefault();
			var value = $(this).val().length;
			if ( value !== 0 ){
				$(this).closest('.form-group').removeClass('form-group--error')	
			}
			
		});

		$('#deviceWirelessNumber').on('keyup', function(event) {
			var value = $(this).val().length;
			console.log(value);
			if( value == 0){
				$(this).closest('.form-group').removeClass('form-group--error')		
			}
		});
		
			$('#nextButton').click(function(event) {
				event.preventDefault();

				setTimeout(function(){ 
					$('.alert-box').removeClass('hidden');
					$('input').filter(function() { return this.value == ""; }).closest('.form-group').addClass('form-group--error');
					
					$("html, body").animate({ scrollTop: "190px" });
				}, 1000);		
			});
		 
		

		
	});

</script>


{%endblock%}