<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
  <head>
      <meta name="robots" content="noindex,nofollow">
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <title>Asurion</title>
      <link rel="stylesheet" href="../../assets/theme/att/att.css">

      <link rel="stylesheet" href="../../assets/theme/att/att.css">
      <link rel="apple-touch-icon" sizes="180x180" href="../../assets/img/apple-touch-icon.png">
      <link rel="icon" type="image/png" sizes="32x32" href="../../assets/img/favicon-32x32.png">
      <link rel="icon" type="image/png" sizes="16x16" href="../../assets/img/favicon-16x16.png">
      <meta name="description" content="">
      <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
      <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
      <script src="https://code.jquery.com/jquery-1.12.1.min.js"></script>
  </head>
  <body>
    <div class="page">
      <div class="pre-footer ng-scope">
        <header class="ng-scope">
            <div class="span12">
              <h1 class="logo"></h1>
              <div class="links">
                  <a id="setlanguage" href="" class="es-link" data-ng-click="changeLanguage(languageToBeSet)" data-vzw-language="" style="display: none;">
                      <span data-ng-bind-html="selectedLanguage.Locales[selectedLanguage.Code] | unsafe" class="ng-scope ng-binding">Ver esta página en español</span>
                  </a>
                  <a id="liveChat" href="" class="chat-link" data-ng-click="clicked();launchChat()" style="display: none;">
                      <div id="LP_DIV_Verizon_Reactive_Chat"><div id="LPMcontainer-1539199012914-0" class="LPMcontainer LPMoverlay" role="button" tabindex="0" style="margin: 1px; padding: 0px; border-style: solid; border-width: 0px; font-style: normal; font-weight: normal; font-variant: normal; list-style: none outside none; letter-spacing: normal; line-height: normal; text-decoration: none; vertical-align: baseline; white-space: normal; word-spacing: normal; background-repeat: repeat-x; background-position: left bottom; cursor: auto; display: block; position: relative; top: 0px; left: 0px;"><a id="liveChat" href="" class="chat-link" data-lp-event="click" style="display: block;">
                      <i class="icon-chat"></i>
                      <span>Live Chat</span>
                      </a></div></div>
                  </a>
              </div>
            </div>
        </header>
        <section class="container main">
          <div class="steps-include">
            <div class="step ng-scope" style="">
              <div class="row">
                <div id="step1" class="span12">
                  <div class="stepbar clearfix">
                    <i class="icon-user"></i>
                    <div class="stepbar-text-top">STEP ONE</div>
                    <div class="stepbar-text-bottom">Your Information</div>
                    <div class="stepbar-text-ClaimCreation" id="claimId_1"></div>
                    <div class="stepbar-text-ClaimCreation" id="MDN_1"></div>
                  </div>
                </div>
              </div>
              <div class="claimstep ng-scope claimstep--ob" stepnum="1" iconclass="icon-user" style="display: block;">
                   
    <div class="container--sm">
        <div class="card">
            <div class="peril-card__header ">
                <h3 class="h4 loud text-center">Replacement device</h3>
            </div>
            <div class="card__content padding-left-right-2x padding-left-right-sm-4x ">
                <div class="text-center">
                  <img src="../../assets/img/iphone_img2.png" alt="">
                </div>
                <div class="text-center margin-top-1x">
                    <h2 class="h3 loud">Black Apple iPhone 6 <span class="micro">(64 GB)</span> </h2>
                </div>
                <hr>
                <h3 class="h4 loud">SIM card</h3>
                <p>Is your SIM card damaged or missing?</p>
                <div class="form-group">
                   <div class="inline-radio-group">
                    <div class="radio-inline clear">
                        <input type="radio" name="simCard" id="SIMyes" value="yes">
                        <label for="SIMyes">Yes</label>
                    </div>
                    <div class="radio-inline">
                        <input type="radio" name="simCard" id="SIMNo" value="no" >
                        <label for="SIMNo">No</label>
                    </div>
                   </div>
                </div>
                <hr>
                <h3 class="h4 loud">Accessories</h3>
                <p>Were any accessories affected?</p>
                <div class="form-group">
                   <div class="inline-radio-group">
                    <div class="radio-inline clear">
                        <input type="radio" name="accessoryAffected" id="yes" value="yes">
                        <label for="yes">Yes</label>
                    </div>
                    <div class="radio-inline">
                        <input type="radio" name="accessoryAffected" id="No" value="no">
                        <label for="No">No</label>
                    </div>
                   </div>
                </div>
                <div class="card js-accessories padding-left-right-sm-1x bg-gray-10">
                    <div class="card__content">
                        <h3 class="h5 loud">Choose one replacement accessory:
                        </h3>
                        <hr>
                        <div class=" form-group">
                            <div class="radio">
                                <input type="radio" name="accessories" id="CarryingCase" value="CarryingCase">
                                <label for="CarryingCase">Carrying Case</label>
                            </div>
                            <div class="radio">
                                <input type="radio" name="accessories" id="Car_Charger" value="Car_Charger">
                                <label for="Car_Charger">Car Charger</label>
                            </div>
                            <div class="radio">
                                <input type="radio" name="accessories" id="earBud" value="earBud">
                                <label for="earBud">Ear Bud</label>
                            </div>
                        </div>
                    </div>
                </div>  
                
            </div>
        </div>
    </div>
    <div class="container margin-top-2x">
    <div class="callout">
        <div class="container--md">
            <h2 class="h4 loud">Receive ProTech support</h2>
            <div class="checkbox margin-0x text-left">
                <input type="checkbox" name="formData.optIn.firstReview" id="formData.optIn.firstReview" value="">
                <label for="formData.optIn.firstReview" class="margin-reset">
                    <p class="fine-print margin-0x">Send me a text message reminder to call ProTech and receive expert support setting up my replacement device when it arrives! This support is included in your ProTech subscription at no additional cost. You'll receive a text message in 48 hours as a reminder to call.</p>
                </label>
            </div>
        </div>
    </div>
</div>

              </div>
            </div>
            <div class="ob-expert-help">
              <h4>If you have any questions, our experts will be happy to help.</h4>
              <p>1-866-853-2601</p>
            </div>
          </div>
        </section>
      </div>
    </div>
    

<script>
    jQuery(document).ready(function($) {
        $('.js-accessories').hide()
    });
    $('input[name="accessoryAffected"]').change(function(event) {
        if ($(this).val() == "yes") {
            $('.js-accessories').show();
        } else {
            $('.js-accessories').hide()
        }
    });
</script>

    <span class="ob-confetti">&nbsp;</span>
    <img src="/assets/img/trophy.svg" alt="trophy" class="ob-trophy" style="display:none;" />
  </body>
</html>
