<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
  <head>
      <meta name="robots" content="noindex,nofollow">
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <title>Asurion</title>
      <link rel="stylesheet" href="../../assets/theme/att/att.css">

      <link rel="stylesheet" href="../../assets/theme/att/att.css">
      <link rel="apple-touch-icon" sizes="180x180" href="../../assets/img/apple-touch-icon.png">
      <link rel="icon" type="image/png" sizes="32x32" href="../../assets/img/favicon-32x32.png">
      <link rel="icon" type="image/png" sizes="16x16" href="../../assets/img/favicon-16x16.png">
      <meta name="description" content="">
      <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
      <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
      <script src="https://code.jquery.com/jquery-1.12.1.min.js"></script>
  </head>
  <body>
    <div class="page">
      <div class="pre-footer ng-scope">
        <header class="ng-scope">
            <div class="span12">
              <h1 class="logo"></h1>
              <div class="links">
                  <a id="setlanguage" href="" class="es-link" data-ng-click="changeLanguage(languageToBeSet)" data-vzw-language="" style="display: none;">
                      <span data-ng-bind-html="selectedLanguage.Locales[selectedLanguage.Code] | unsafe" class="ng-scope ng-binding">Ver esta página en español</span>
                  </a>
                  <a id="liveChat" href="" class="chat-link" data-ng-click="clicked();launchChat()" style="display: none;">
                      <div id="LP_DIV_Verizon_Reactive_Chat"><div id="LPMcontainer-1539199012914-0" class="LPMcontainer LPMoverlay" role="button" tabindex="0" style="margin: 1px; padding: 0px; border-style: solid; border-width: 0px; font-style: normal; font-weight: normal; font-variant: normal; list-style: none outside none; letter-spacing: normal; line-height: normal; text-decoration: none; vertical-align: baseline; white-space: normal; word-spacing: normal; background-repeat: repeat-x; background-position: left bottom; cursor: auto; display: block; position: relative; top: 0px; left: 0px;"><a id="liveChat" href="" class="chat-link" data-lp-event="click" style="display: block;">
                      <i class="icon-chat"></i>
                      <span>Live Chat</span>
                      </a></div></div>
                  </a>
              </div>
            </div>
        </header>
        <section class="container main">
          <div class="steps-include">
            <div class="step ng-scope" style="">
              <div class="row">
                <div id="step1" class="span12">
                  <div class="stepbar clearfix">
                    <i class="icon-user"></i>
                    <div class="stepbar-text-top">STEP ONE</div>
                    <div class="stepbar-text-bottom">Your Information</div>
                    <div class="stepbar-text-ClaimCreation" id="claimId_1"></div>
                    <div class="stepbar-text-ClaimCreation" id="MDN_1"></div>
                  </div>
                </div>
              </div>
              <div class="claimstep ng-scope claimstep--ob" stepnum="1" iconclass="icon-user" style="display: block;">
                  
	<div class="container--lg">
		<ul class="tabs tabs-style-C js-tabs margin-bottom-2x">
			<li class="tab tab--active js-tab" data-tab="js-tab5"><div class="tab__content"><span class="tab__title">Open Claims</span></div></li>
			<li class="tab js-tab" data-tab="js-tab6"><div class="tab__content"><span class="tab__title">Closed Claims</span></div></li>
			<li class="tab js-tab" data-tab="js-tab7"><div class="tab__content"><span class="tab__title">Manage Your Devices</span></div></li>
			<li class="tab js-tab" data-tab="js-tab7"><div class="tab__content"><span class="tab__title">Your Account</span></div></li>
			<li class="tab"><div class="tab__content">
				<div class="btn btn-sm btn-primary margin-bottom-0x">Start New Claim</div>
			</div></li>
		</ul>
	</div>
	<div class="container--md">
		<div class="tab-anchor-box">
			<div data-tab="js-tab5" class="js-tab-anchor tab-anchor tab-anchor--active">
				<div class="card">
					<div class="card__content">
						<div class="row">
							<div class="col-sm-4">
								<div class="text-center">
								  <img src="../../assets/img/iphone_img2.png" alt="">
								  <p class="loud margin-bottom-0x">Mobile Number:</p>
								  <p>(123) 456-7890</p>
								</div>
							</div>
							<div class="col-sm-8">
								<h3 class="uppercase micro text-gray-75 bold">Claim Status</h3>
								<h4 class="h3 margin-bottom-2x">Claim on hold. <br>We're still missing documents from you.</h3>
								<dl class="d-list">
									<dt>Claim Number:</dt>
									<dd>123456789038763984</dd>
								</dl>
								<dl class="d-list">
									<dt>Claimed Device:</dt>
									<dd>Apple iPhone 5S 64GB Black</dd>
								</dl>
								<dl class="d-list">
									<dt>Claimed Opened:</dt>
									<dd>February 20, 2017</dd>
				                </dl>
				                <div class="btn btn-secondary btn-ghost btn-md margin-top-2x">Upload Documents</div>
							</div>
						</div>
					</div>
				</div>
				<div class="card">
					<div class="card__content">
						<div class="row">
							<div class="col-sm-4">
								<div class="text-center">
								  <img src="../../assets/img/iphone_img2.png" alt="">
								  <p class="loud margin-bottom-0x">Mobile Number:</p>
								  <p>(123) 456-7890</p>
								</div>
							</div>
							<div class="col-sm-8">
								<h3 class="uppercase micro text-gray-75 bold">Claim Status</h3>
								<h4 class="h3 margin-bottom-2x">Claim Initiated. <br>Take steps to complete your claim.</h3>
								<dl class="d-list">
									<dt>Claim Number:</dt>
									<dd>123456789038763984</dd>
								</dl>
								<dl class="d-list">
									<dt>Claimed Device:</dt>
									<dd>Apple iPhone 5S 64GB Black</dd>
								</dl>
								<dl class="d-list">
									<dt>Claimed Opened:</dt>
									<dd>January 30, 2017</dd>
				                </dl>
				                <div class="btn btn-secondary btn-ghost btn-md margin-top-2x">Resume Claim</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div data-tab="js-tab6" class="js-tab-anchor tab-anchor"></div>
			<div data-tab="js-tab7" class="js-tab-anchor tab-anchor"></div>
			<div data-tab="js-tab8" class="js-tab-anchor tab-anchor"></div>
		</div>
		
	</div>
	

              </div>
            </div>
            <div class="ob-expert-help">
              <h4>If you have any questions, our experts will be happy to help.</h4>
              <p>1-866-853-2601</p>
            </div>
          </div>
        </section>
      </div>
    </div>
    

<script>
	jQuery(document).ready(function($) {
		
	});

</script>


    <span class="ob-confetti">&nbsp;</span>
    <img src="/assets/img/trophy.svg" alt="trophy" class="ob-trophy" style="display:none;" />
  </body>
</html>
