{% extends "_step-layout.html" %}

{% set stepTitle = 'Let’s get you started.' %} 
{% set stepSubTitle = 'Please provide the following information.' %}
{% set btnText = 'Get Started' %}
{% set nextStep = '0202.pin.html' %}



                
{% block messaging %}
<div class="alert-box alert-box--warning">
    <div class="container text-center">
        <div class="alert-box__icon icon-alert"></div>
        <span class="alert-box__message">Whoops!  Looks like there were some errors. Please fix them and click continue.</span>
        <!-- <div data-alert-close class="alert-box__close icon-uniE601"></div> -->
    </div>
</div>
{% endblock %}

{% block stepContent %}
	<div class="container--xs">
		<form action="" id="step1-1">
			<div class="form-group">
				<label for="deviceWirelessNumber">Wireless number on account</label>
			    <input type="text" class="form-control js-phone_us" id="deviceWirelessNumber" placeholder="(123) 456-7890">
			</div>
			<div class="row">
				<div class="col-sm-6">
					<div class="form-group">
						<label for="firstName">First name</label>
					    <input type="text" class="form-control" id="firstName" placeholder="First name" >
					</div>
				</div>
				<div class="col-sm-6">
					<div class="form-group">
						<label for="lastName">Last name</label>
					    <input type="text" class="form-control" id="lastName" placeholder="Last name" >
					</div>
				</div>
			</div>
			<div class="form-group form-group--error">
				<label for="zip">ZIP/postal code on account</label>
			    <input type="text" class="form-control" id="ZIP" placeholder="ZIP/postal code on account" >
			    <p class="form-group__error-message">Please enter the correct claim number.</p>
			</div>
			<div class="form-group">
				<label for="zip">Email address</label>
			    <input type="text" class="form-control" id="email" placeholder="Email address" >
			</div>
			<div class="form-group">
				<label for="zip">Alternate contact number</label>
			    <input type="text" class="form-control js-phone_us" id="altNumber" placeholder="(123) 456-7890">
			</div>
		</form>
	</div>
	
{% endblock %}
{% block stepFooter %}
<div class="step__footer">
    <div class="container">
        <div class="btn-well">

            <a href="{[nextStep]}" id="nextButton" class="btn btn-primary path-control__button btn-disabled" disabled>{[btnText]}</a>
            <!-- <span class="btn-caption btn-caption--active"><span class="btn-caption__next">Next: </span>Tell us what happened.</span> -->
        </div>
        
    </div>
</div>

{% endblock %}

{% block pageFoot %}

<!-- <script>
	jQuery(document).ready(function($) {
		$('#deviceWirelessNumber').focus();

		$(document).on('keyup', '#deviceWirelessNumber', function(event) {
			if( $(this).val().length == 14 ){
				$('#firstName').prop('disabled', false);
				$('#lastName').prop('disabled', false);
			}
		})
		$('#lastName').on('keyup', function(event) {
			if( $(this).val().length >= 2 ){
				$('#ZIP').prop('disabled', false);
			}
			
		});
		$('#ZIP').on('keyup', function(event) {
			if( $(this).val().length >= 5 ){
				$('#email').prop('disabled', false);
			}
		});	
		$('#email').on('keyup', function(event) {
			if( $(this).val().length >= 3 ){
				$('#altNumber').prop('disabled', false);
			}
		});	
		$('#altNumber').on('keyup', function(event) {
			if( $(this).val().length == 14 ){
				$('#nextButton').prop('disabled', false).removeClass('btn-disabled');
			}
		});	

		
	});

</script> -->

{%endblock%}