{% extends "_step-layout.html" %}

{% set stepTitle = 'Enter the verification code.' %} 
{% set stepSubTitle = '' %}
{% set btnText = 'Continue' %}
{% set nextStep = '0103.claim-status.html' %}


{% block messaging %}
<div class="alert-box alert-box--success" data-peak="class font-size">
    <div class="container">
        <span class="alert-bar__custom-icon">
        	<svg class="alert-bar__custom-icon" width="70px" height="62px" viewBox="0 0 70 62" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><title>Email Success Icon</title><g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"><g transform="translate(-340.000000, -89.000000)"><g transform="translate(0.000000, 69.000000)"><g transform="translate(342.000000, 20.000000)"><circle fill="#FFFFFF" cx="39" cy="31" r="25"></circle><g transform="translate(25.000000, 15.000000)" stroke="#333333" stroke-width="1.5"><path d="M16.890224,2.16527 L14.995939,0.515895 C14.42851,0.022395 13.499939,0.022395 12.933367,0.515895 L10.93451,2.25627" stroke-linejoin="round"></path><polyline stroke-linejoin="round" points="1.864256 10.15309 0.16282714 11.634465 0.153398571 11.634465 0.153398571 11.642923 0.14997 11.645257 0.153398571 11.645257 0.153398571 27.91997 27.77226 27.91997 27.77226 11.645257 27.77911 11.645257 27.77226 11.639715 27.77226 11.634465 27.76626 11.634465 26.11397 10.1956733"></polyline><polyline points="1.89217 13.27197 1.89217 2.28372 26.03731 2.28372 26.03731 13.27197"></polyline><path d="M27.7496,11.66582 L24.31417,14.656862 L21.8916,16.766195 C21.60788,17.012653 21.23417,17.338153 20.86131,17.663653 L18.44845,19.764528 L9.45874,19.764528 L7.046169,17.663653 C6.673026,17.338153 6.299597,17.012653 6.015311,16.766195 L3.593311,14.656862 L0.15816857,11.66582 L0.14274,11.66582 L0.14274,27.91982 L27.78645,27.91982 L27.78645,11.66582 L27.7496,11.66582 Z" stroke-linejoin="bevel"></path><path d="M0.38409,27.680715 L3.593233,24.889465 L6.015233,22.762632 C6.299519,22.513548 6.673233,22.185423 7.04609,21.857298 L9.445233,19.75234"></path><path d="M18.46191,19.75245 L20.861053,21.857408 C21.234196,22.185533 21.60791,22.513658 21.891624,22.76245 L24.31391,24.889283 L27.768481,27.9197"></path><path d="M16.883382,14.789333 C16.104564,15.39413 15.134287,15.753145 14.081909,15.753145 C11.514731,15.753145 9.43399,13.617039 9.43399,10.982708 C9.43399,8.348043 11.514731,6.21227 14.081909,6.21227 C15.53116,6.21227 16.825944,6.8936659 17.6781,7.96072" stroke-linejoin="round"></path><path d="M15.54732,8.7565864 C15.54732,8.7565864 13.637918,8.3096493 12.5323215,9.3753712 C11.2018412,10.658234 11.4896792,12.652799 12.733192,13.019807 C13.95626,13.38082 14.424524,12.417341 14.566983,11.996714 C14.710091,11.575754 15.54732,8.7565864 15.54732,8.7565864 Z"></path><path d="M15.4135963,9.237926 C15.4135963,9.237926 14.5955131,12.181983 15.162103,12.710847 C16.82066,14.257476 20.639463,10.235042 16.920933,7.19174" stroke-linejoin="round"></path></g><g transform="translate(0.000000, 38.000000)"><circle fill="#1bac00" stroke="#FFFFFF" stroke-width="1.5" cx="10.7688978" cy="10.7688978" r="11.5188978"></circle><polygon fill="#FFFFFF" points="9.63465775 11.2950505 7.85822788 9.49234862 6.54054054 10.8290019 9.63518994 13.9672784 15.055483 8.47124905 13.7367313 7.13513514"></polygon></g></g></g></g></g></svg>
        </span>
        <div class="alert-box__message">
        	<p class="h4 loud margin-0x">We just sent you an email to <span class="bold">j********h@gmail.com.</span></p>
        	<p>You'll find important instructions on how to complete the process in that email.</p>
        </div>
        <!-- <div class="alert-box__close icon-uniE601"></div> --> 
    </div>
</div>
{% endblock %}
{% block stepContent %}
	
	<div class="container--xs">
		<div class="form-group">
			<label for="pinNumber">Verification code</label>
		    <input type="text" class="form-control" id="pinNumber">
		    <div class="field__help-text">
		    	<a href="#" class="clean-link">Didn't receive the email?</a>
		    </div>
		    
		</div>
	</div>

{% endblock %}
{% block stepFooter %}
<div class="step__footer">
    <div class="container">
        <div class="btn-well">

            <a href="{[nextStep]}" id="nextButton" class="btn btn-primary btn-disabled" disabled>{[btnText]}</a>
            <!-- <span class="btn-caption"><span class="btn-caption__next">Next : </span>Tell us what happened.</span> -->
        </div>
        
    </div>
</div>

{% endblock %}

{% block pageFoot %}
<div class="modal" id="js-pin-modal">
	<div class="modal__close-btn icon-uniE601" data-modal-close=""></div>
	<header class="modal__header">
		<h3 class="modal__title">What is my PIN?</h3>
	</header>
	<div class="modal__content">
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias error eius, cum possimus nobis rem laborum eum. Accusantium aliquid ut nulla amet impedit, similique incidunt, reiciendis necessitatibus odio laudantium cum?</p>
	</div>
	<footer class="modal__footer">
		<div class="btn-well">
			<button class="btn btn-primary" data-modal-close >Close</button>
		</div>
	</footer>
</div>
<script>
	jQuery(document).ready(function($) {
		$('.alert-box').addClass('alert-box--animate');
		$('#pinNumber').keyup(function(){
			if( $(this).val()){
				$('#securityQuestion').attr({
					disabled: 'disabled'
				});	
			}
			else{
				$('#securityQuestion').removeAttr('disabled')
			}
		});
		$('#securityQuestion').keyup(function(){
			if( $(this).val()){
				$('#pinNumber').attr({
					disabled: 'disabled'
				});	
			}
			else{
				$('#pinNumber').removeAttr('disabled')
			}
		});

		$('#pinNumber,#securityQuestion').keyup(function(event) {
			if( $(this).val() ){
				$('#nextButton').removeAttr('disabled').removeClass('btn-disabled')
				$('.btn-caption').addClass('btn-caption--active')
			}
			else{
				$('#nextButton').attr({disabled:'disabled'}).addClass('btn-disabled')	
				$('.btn-caption').removeClass('btn-caption--active')
			}
		});
		
	});
	
	
</script>
{%endblock%}