<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
  <head>
      <meta name="robots" content="noindex,nofollow">
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <title>Asurion</title>
      <link rel="stylesheet" href="../../assets/theme/att/att.css">

      <link rel="stylesheet" href="../../assets/theme/att/att.css">
      <link rel="apple-touch-icon" sizes="180x180" href="../../assets/img/apple-touch-icon.png">
      <link rel="icon" type="image/png" sizes="32x32" href="../../assets/img/favicon-32x32.png">
      <link rel="icon" type="image/png" sizes="16x16" href="../../assets/img/favicon-16x16.png">
      <meta name="description" content="">
      <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
      <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
      <script src="https://code.jquery.com/jquery-1.12.1.min.js"></script>
  </head>
  <body>
    <div class="page">
      <div class="pre-footer ng-scope">
        <header class="ng-scope">
            <div class="span12">
              <h1 class="logo"></h1>
              <div class="links">
                  <a id="setlanguage" href="" class="es-link" data-ng-click="changeLanguage(languageToBeSet)" data-vzw-language="" style="display: none;">
                      <span data-ng-bind-html="selectedLanguage.Locales[selectedLanguage.Code] | unsafe" class="ng-scope ng-binding">Ver esta página en español</span>
                  </a>
                  <a id="liveChat" href="" class="chat-link" data-ng-click="clicked();launchChat()" style="display: none;">
                      <div id="LP_DIV_Verizon_Reactive_Chat"><div id="LPMcontainer-1539199012914-0" class="LPMcontainer LPMoverlay" role="button" tabindex="0" style="margin: 1px; padding: 0px; border-style: solid; border-width: 0px; font-style: normal; font-weight: normal; font-variant: normal; list-style: none outside none; letter-spacing: normal; line-height: normal; text-decoration: none; vertical-align: baseline; white-space: normal; word-spacing: normal; background-repeat: repeat-x; background-position: left bottom; cursor: auto; display: block; position: relative; top: 0px; left: 0px;"><a id="liveChat" href="" class="chat-link" data-lp-event="click" style="display: block;">
                      <i class="icon-chat"></i>
                      <span>Live Chat</span>
                      </a></div></div>
                  </a>
              </div>
            </div>
        </header>
        <section class="container main">
          <div class="steps-include">
            <div class="step ng-scope" style="">
              <div class="row">
                <div id="step1" class="span12">
                  <div class="stepbar clearfix">
                    <i class="icon-user"></i>
                    <div class="stepbar-text-top">STEP ONE</div>
                    <div class="stepbar-text-bottom">Your Information</div>
                    <div class="stepbar-text-ClaimCreation" id="claimId_1"></div>
                    <div class="stepbar-text-ClaimCreation" id="MDN_1"></div>
                  </div>
                </div>
              </div>
              <div class="claimstep ng-scope claimstep--ob" stepnum="1" iconclass="icon-user" style="display: block;">
                  

<div class="container--sm">
    <div class="card">
        <div class="card__content padding-left-3x padding-right-2x padding-left-right-sm-4x">
            <div class="card-radio-group js-card-radio-group">
                <div class="radio">
                    <h3 class="h4 loud margin-top-1x">
                    <input class="card-radio" type="radio" name="paymentTypeRadio" id="paymentBTA" value="paymentBTA" checked>
                    <label for="paymentBTA">Bill to Wireless Account</label></h3>
                    
                        <p>Have your deductible charged to your monthly wireless bill.</p>    
                    
                </div>
            </div>
            <hr class="or or--white">
            <div class="card-radio-group js-card-radio-group">
                <div class="radio">
                    <h3 class="h4 loud margin-top-1x">
                    <input class="card-radio" type="radio" name="paymentTypeRadio" id="paymentCC" value="paymentCC">
                    <label for="paymentCC">Pay with Credit/Debit Card</label></h3>
                </div>
                <div class="card-radio-group__content">
                    <div class="form-group">
                        <label for="paymentCardNumber">Card number</label>
                        <input type="text" class="form-control" id="paymentCardNumber" placeholder="4111-1111-1111-1111" disabled>
                        <div class="ccbox-onfield"></div>
                    </div>
                    <div class="form-group">
                        <label for="paymentCardNumber">Full name on card</label>
                        <input type="text" class="form-control" id="nameOnCard" placeholder="Full name on card" disabled>
                    </div>
                    <div class="row gutter--sm">
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label for="paymentCardNumber">Exp. date</label>
                                <input type="text" class="form-control" id="expDate" placeholder="MM/YYYY" disabled>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="form-group">
                                <label for="paymentCardNumber">Sec. code</label>
                                <input type="text" class="form-control" id="CVV" placeholder="CVV" disabled>
                            </div>
                        </div>
                        <div class="col-sm-5">
                            <div class="form-group">
                                <label for="paymentCardNumber">ZIP/Postal code</label>
                                <input type="text" class="form-control" id="ZIPcode" placeholder="ZIP/Postal code" disabled>
                            </div>
                        </div> 
                        <div class="col-sm-12">
                             <div class="form-group">
                                <label for="billingStreet">Address 
                                </label>
                                <input type="text" class="form-control" id="billingStreet" placeholder="123 Elm Street" >
                            </div>
                            <div class="form-group">
                                <label for="billingStreet2">Apartment, suite, attn.</label>
                                <input type="text" class="form-control" id="billingStreet2" placeholder="Apartment number, Suite number, etc." >
                            </div>
                        </div>
                          
                    </div>
                     <div class="row gutter--sm">
                                             
                        <div class="col-sm-9">
                            <div class="form-group">
                                <label for="billingCity">City</label>
                                <input type="text" class="form-control" id="billingCity" placeholder="City" >
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="form-group">
                                <label for="billingStateProvince">State</label>
                                <div class="custom-dropdown">
                                    <select class="form-control" id="billingStateProvince" placeholder="Province" ng-model="formData.billing.stateProvince">
                                           <option value=""></option>
                                        <option value="AL">AL</option>
                                        <option value="AK">AK</option>
                                        <option value="AZ">AZ</option>
                                        <option value="AR">AR</option>
                                        <option value="CA">CA</option>
                                        <option value="CO">CO</option>
                                        <option value="CT">CT</option>
                                        <option value="DE">DE</option>
                                        <option value="DC">DC</option>
                                        <option value="FL">FL</option>
                                        <option value="GA">GA</option>
                                        <option value="HI">HI</option>
                                        <option value="ID">ID</option>
                                        <option value="IL">IL</option>
                                        <option value="IN">IN</option>
                                        <option value="IA">IA</option>
                                        <option value="KS">KS</option>
                                        <option value="KY">KY</option>
                                        <option value="LA">LA</option>
                                        <option value="ME">ME</option>
                                        <option value="MD">MD</option>
                                        <option value="MA">MA</option>
                                        <option value="MI">MI</option>
                                        <option value="MN">MN</option>
                                        <option value="MS">MS</option>
                                        <option value="MO">MO</option>
                                        <option value="MT">MT</option>
                                        <option value="NE">NE</option>
                                        <option value="NV">NV</option>
                                        <option value="NH">NH</option>
                                        <option value="NJ">NJ</option>
                                        <option value="NM">NM</option>
                                        <option value="NY">NY</option>
                                        <option value="NC">NC</option>
                                        <option value="ND">ND</option>
                                        <option value="OH">OH</option>
                                        <option value="OK">OK</option>
                                        <option value="OR">OR</option>
                                        <option value="PA">PA</option>
                                        <option value="RI">RI</option>
                                        <option value="SC">SC</option>
                                        <option value="SD">SD</option>
                                        <option value="TN">TN</option>
                                        <option value="TX">TX</option>
                                        <option value="UT">UT</option>
                                        <option value="VT">VT</option>
                                        <option value="VA">VA</option>
                                        <option value="WA">WA</option>
                                        <option value="WV">WV</option>
                                        <option value="WI">WI</option>
                                        <option value="WY">WY</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<p class="js-payment-message text-center loud margin-bottom-0x margin-top-1x">&nbsp;</p>

              </div>
            </div>
            <div class="ob-expert-help">
              <h4>If you have any questions, our experts will be happy to help.</h4>
              <p>1-866-853-2601</p>
            </div>
          </div>
        </section>
      </div>
    </div>
    

<script>
    $(document).ready(function() {
        $('[name=paymentTypeRadio]').change(function(event) {
            if( $('[name=paymentTypeRadio]:checked').val() == 'paymentBTA'){
                $('.js-payment-message').html('Your <span class="bold">$110.00</span> deductible will appear on your monthly wireless bill.')
            }
            else if( $('[name=paymentTypeRadio]:checked').val() == 'paymentCC'){
                $('.js-payment-message').html('Your credit card will be charged <span class="bold">$110.00</span> after you complete your claim. <br class="br-desktop"> It will appear on your statement as "ASURION WIRELESS INS 866-667-2535 TN"')
            }
            
        }).trigger('change');
    });
</script>

    <span class="ob-confetti">&nbsp;</span>
    <img src="/assets/img/trophy.svg" alt="trophy" class="ob-trophy" style="display:none;" />
  </body>
</html>
