<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
  <head>
      <meta name="robots" content="noindex,nofollow">
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <title>Asurion</title>
      <link rel="stylesheet" href="../../assets/theme/att/att.css">

      <link rel="stylesheet" href="../../assets/theme/att/att.css">
      <link rel="apple-touch-icon" sizes="180x180" href="../../assets/img/apple-touch-icon.png">
      <link rel="icon" type="image/png" sizes="32x32" href="../../assets/img/favicon-32x32.png">
      <link rel="icon" type="image/png" sizes="16x16" href="../../assets/img/favicon-16x16.png">
      <meta name="description" content="">
      <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
      <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
      <script src="https://code.jquery.com/jquery-1.12.1.min.js"></script>
  </head>
  <body>
    <div class="page">
      <div class="pre-footer ng-scope">
        <header class="ng-scope">
            <div class="span12">
              <h1 class="logo"></h1>
              <div class="links">
                  <a id="setlanguage" href="" class="es-link" data-ng-click="changeLanguage(languageToBeSet)" data-vzw-language="" style="display: none;">
                      <span data-ng-bind-html="selectedLanguage.Locales[selectedLanguage.Code] | unsafe" class="ng-scope ng-binding">Ver esta página en español</span>
                  </a>
                  <a id="liveChat" href="" class="chat-link" data-ng-click="clicked();launchChat()" style="display: none;">
                      <div id="LP_DIV_Verizon_Reactive_Chat"><div id="LPMcontainer-1539199012914-0" class="LPMcontainer LPMoverlay" role="button" tabindex="0" style="margin: 1px; padding: 0px; border-style: solid; border-width: 0px; font-style: normal; font-weight: normal; font-variant: normal; list-style: none outside none; letter-spacing: normal; line-height: normal; text-decoration: none; vertical-align: baseline; white-space: normal; word-spacing: normal; background-repeat: repeat-x; background-position: left bottom; cursor: auto; display: block; position: relative; top: 0px; left: 0px;"><a id="liveChat" href="" class="chat-link" data-lp-event="click" style="display: block;">
                      <i class="icon-chat"></i>
                      <span>Live Chat</span>
                      </a></div></div>
                  </a>
              </div>
            </div>
        </header>
        <section class="container main">
          <div class="steps-include">
            <div class="step ng-scope" style="">
              <div class="row">
                <div id="step1" class="span12">
                  <div class="stepbar clearfix">
                    <i class="icon-user"></i>
                    <div class="stepbar-text-top">STEP ONE</div>
                    <div class="stepbar-text-bottom">Your Information</div>
                    <div class="stepbar-text-ClaimCreation" id="claimId_1"></div>
                    <div class="stepbar-text-ClaimCreation" id="MDN_1"></div>
                  </div>
                </div>
              </div>
              <div class="claimstep ng-scope claimstep--ob" stepnum="1" iconclass="icon-user" style="display: block;">
                  
<div class="container--lg">
    <div class="card">
        <div class="card__content">
            <div class="row">
                <div class="col-sm-10 col-sm-offset-1">
                    <h3 class="h3 loud margin-top-1x">What happens next?</h3>
                    <p class="mega">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptate, neque, quae quod minus quasi, sed voluptatum laboriosam quaerat, et voluptates cumque facere necessitatibus. Architecto esse quod porro fuga animi repellendus.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="hr-toggler">
        <button class="hr-toggler__btn" data-hr-toggle="#js-transaction-details"><span class="js-hr-toggler__text-toggle">Show</span> Transaction Details</button>
    </div>
    <div id="js-transaction-details">
       <div class="row">
           <div class="col-sm-7">
                   <div class="card">
                       <div class="card__content padding-left-right-2x padding-left-right-sm-4x">
                          <h3 class="h4 loud">Shipping Information</span> </h3>
                          
                          <dl class="d-stacked-list margin-bottom-1x">
                              <dt>Address:</dt>
                              <dd>Kim Jones <br>5 South Lane <br> Orem, Ut 84057</dd>
                              
                          </dl>
                          <dl class="d-list">
                              <dt>Shipping Method:</dt>
                              <dd>3-5 business days</dd>
                          </dl>
                          <dl class="d-list">
                              <dt>Require Signature:</dt>
                              <dd>Yes</dd>
                          </dl>
                          <hr class="hr">
                           <h3 class="h4 loud margin-top-2x"><span>Billing Summary</span></h3>
                           <table class="table">
                               <tbody>
                                   <tr>
                                       <td>Deductible</td>
                                       <td>$110.00</td>
                                   </tr>
                                   <tr>
                                       <td>Shipping Fee</td>
                                       <td>FREE!</td>
                                   </tr>
                                   <tr class="bg-gray-15">
                                       <th>Total Fee</th>
                                       <th>$110.00</th>
                                   </tr>
                               </tbody>
                           </table>
                           <hr>
                           <h3 class="h4 loud margin-top-2x">Payment Details</span></h3>
                           <p>VISA Card ending in 1111<br>
                           </p>
                           <hr>
                           <h3 class="h4 loud margin-top-2x">Contact</span></h3>
                           <dl class="d-stacked-list">
                               <dt>Alternate phone number: </dt>
                               <dd class="js-phone-current">(555) 555-5555</dd>
                               <dt>Email address: </dt>
                               <dd class="js-email-current">kjones@gmail.com</dd>
                           </dl>
                       </div>
                   </div>
               </div>
               <div class="col-sm-5 ">
                   <div class="card">
                <div class="peril-card__header">
                    <h3 class="h4 loud text-center">Your replacement device</h3>
                </div>
                <div class="card__content">
                    <div class="text-center margin-bottom-1x">
                      <img src="../../assets/img/iphone_img2.png" alt="">
                    </div>
                    <div class="text-center margin-1x--top">
                        <h2 class="h4 loud">Black Apple iPhone 6 (64GB)</h4>
                        <p class="loud">Including charger</p>
                    </div>
                </div>
               <div class="card__footer padding-left-right-2x padding-left-right-sm-4x">
<!--                    <div class="card__footer__icon-top">
                       <span class="icon-Icon-cart"></span>
                   </div>
 -->                   <dl class="d-list">
                       <dt>Accessories:</dt>
                       <dd>Earbuds</dd>
                       <dt>Activation:</dt>
                       <dd>Yes</dd>
                   </dl>
               </div>
            </div>
           </div>
           </div>
        <div class="btn-well">
            <a class="btn btn-primary btn-ghost btn-md margin-top-1x" href="">Print this page</a>
        </div>
    </div>
        <div class="row">
            <div class="col-sm-8 ">
                    <h4 class="h4 loud">
                        <span class="text-primary icon-Icon-page-help-circle icon--bold icon--mega margin-half--right"></span>
                        <span>How'd we do?</span>
                    </h4>
                    <p>Did our website exceed your expectations? Please <a href="#" class="underline">click here</a> to tell us about it. We hope that you will recommend us to your friends and family.</p>
                    <!-- <a class="btn btn-secondary btn-sm btn-ghost margin-top-1x" href="">Feedback</a>     -->
                
                
            </div>
        </div>
    </div>
</div>

              </div>
            </div>
            <div class="ob-expert-help">
              <h4>If you have any questions, our experts will be happy to help.</h4>
              <p>1-866-853-2601</p>
            </div>
          </div>
        </section>
      </div>
    </div>
    
    
    <span class="ob-confetti">&nbsp;</span>
    <img src="/assets/img/trophy.svg" alt="trophy" class="ob-trophy" style="display:none;" />
  </body>
</html>
