{% extends "_step-layout.html" %}

{% set stepTitle = 'Thank you!' %} 
{% set stepSubTitle = 'We\'ll send a confirmation email shortly.' %}
{% set btnText = '' %}
{% set nextStep = 'step1.problem' %}



{% block stepHeader %}
<div class="step__header">
    <div class="container">
        <div class="text-primary icon--tera text-center icon-Icon-page-check-circle margin-bottom-2x"></div>
        <h1 class="h2 step__header__title">{[stepTitle | safe]}</h1>
        <h2 class="h4 step__header__subtitle">{[stepSubTitle | safe]}</h1>
    </div>
</div>
{% endblock %}

{% block stepContent %}

{% endblock %}
{% block stepFooter %}

{% endblock %}
