{% extends "_step-layout.html" %}

{% set stepTitle = 'Let’s get you started.' %} 
{% set stepSubTitle = 'Please provide the following information.' %}
{% set btnText = 'Get Started' %}
{% set nextStep = '0011.end.html' %}



{% block messaging %}

{% endblock %}

{% block stepContent %}
	<div class="container--lg">
		<div class="personal-account margin-bottom-sm-4x">
			<div class="row">
				<div class="col-sm-6">
					<div class="form-group">
						<label for="accountFirstName">First name</label>
					    <input type="text" class="form-control" id="accountFirstName" placeholder="First name">
					</div>
				</div>
				<div class="col-sm-6">
					<div class="form-group">
						<label for="accountLastName">Last name</label>
					    <input type="text" class="form-control" id="accountLastName" placeholder="Last name" >
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-6">
					<div class="form-group">
						<label for="accountAltPhone">Alternate number where we can reach you</label>
					    <input type="text" class="form-control js-phone_us" id="accountAltPhone" placeholder="(123) 456-7890" >
					</div>
				</div>
				<div class="col-sm-6">
					<div class="form-group">
						<label for="accountEmail">Email</label>
					    <input type="text" class="form-control" id="accountEmail" placeholder="email@address.com" >
					</div>
				</div>
			</div>
		</div>
		<div class="billing-address">
			<div class="row">
			    <div class="col-sm-6">
			        <div class="form-group">
			            <label for="billingStreet">Address 
			                <span class="milli">(No PO Boxes or military post offices.)
			                    <!-- <span class="tooltip icon-Icon-page-help-circle" data-tooltip-content="#tooltip_content"></span> -->
			                    <div class="tooltip_templates">
			                        <span id="tooltip_content">
			                            Sorry, we're not able to ship to P.O. boxes or military addresses.
			                        </span>
			                    </div>
			                </span>
			            </label>
			            <input type="text" class="form-control" id="billingStreet" placeholder="123 Elm Street" >
			        </div>
			    </div>
			    <div class="col-sm-6">
			        <div class="form-group">
			            <label for="billingStreet2">Apartment, suite, attn.</label>
			            <input type="text" class="form-control" id="billingStreet2" placeholder="Apartment number, Suite number, etc." >
			        </div>
			    </div>
			</div>
			<div class="row">
			    <div class="col-sm-2">
			        <div class="form-group">
			            <label for="billingPostalCode">ZIP code</label>
			            <input type="text" class="form-control" id="billingPostalCode" placeholder="Zip code">
			        </div>
			    </div>
			    <div class="col-sm-4">
			        <div class="form-group">
			            <label for="billingCity">City</label>
			            <input type="text" class="form-control" id="billingCity" placeholder="City" >
			        </div>
			    </div>
			    <div class="col-sm-2">
			        <div class="form-group">
			            <label for="billingStateProvince">State</label>
			            <div class="custom-dropdown">
			                <select class="form-control" id="billingStateProvince" placeholder="Province" ng-model="formData.billing.stateProvince">
			                        <option value=""></option>
			                        <option value="AL">Alabama</option>
			                        <option value="AK">Alaska</option>
			                        <option value="AZ">Arizona</option>
			                        <option value="AR">Arkansas</option>
			                        <option value="CA">California</option>
			                        <option value="CO">Colorado</option>
			                        <option value="CT">Connecticut</option>
			                        <option value="DE">Delaware</option>
			                        <option value="DC">District Of Columbia</option>
			                        <option value="FL">Florida</option>
			                        <option value="GA">Georgia</option>
			                        <option value="HI">Hawaii</option>
			                        <option value="ID">Idaho</option>
			                        <option value="IL">Illinois</option>
			                        <option value="IN">Indiana</option>
			                        <option value="IA">Iowa</option>
			                        <option value="KS">Kansas</option>
			                        <option value="KY">Kentucky</option>
			                        <option value="LA">Louisiana</option>
			                        <option value="ME">Maine</option>
			                        <option value="MD">Maryland</option>
			                        <option value="MA">Massachusetts</option>
			                        <option value="MI">Michigan</option>
			                        <option value="MN">Minnesota</option>
			                        <option value="MS">Mississippi</option>
			                        <option value="MO">Missouri</option>
			                        <option value="MT">Montana</option>
			                        <option value="NE">Nebraska</option>
			                        <option value="NV">Nevada</option>
			                        <option value="NH">New Hampshire</option>
			                        <option value="NJ">New Jersey</option>
			                        <option value="NM">New Mexico</option>
			                        <option value="NY">New York</option>
			                        <option value="NC">North Carolina</option>
			                        <option value="ND">North Dakota</option>
			                        <option value="OH">Ohio</option>
			                        <option value="OK">Oklahoma</option>
			                        <option value="OR">Oregon</option>
			                        <option value="PA">Pennsylvania</option>
			                        <option value="RI">Rhode Island</option>
			                        <option value="SC">South Carolina</option>
			                        <option value="SD">South Dakota</option>
			                        <option value="TN">Tennessee</option>
			                        <option value="TX">Texas</option>
			                        <option value="UT">Utah</option>
			                        <option value="VT">Vermont</option>
			                        <option value="VA">Virginia</option>
			                        <option value="WA">Washington</option>
			                        <option value="WV">West Virginia</option>
			                        <option value="WI">Wisconsin</option>
			                        <option value="WY">Wyoming</option>
			                </select>
			            </div>
			        </div>
			    </div>
			    <div class="col-sm-4">
			        <div class="form-group">
			            <label for="billingCountry">Country</label>
			            <div class="custom-dropdown">
			                <select class="form-control" id="billingStateProvince" placeholder="Province" ng-model="formData.billing.stateProvince">
			                    <option value="">Select country</option>
			                    <option value="US" selected>United States</option>
			                    <option value="Canada">Canada</option>
			                </select>
			            </div>
			        </div>
			    </div>
			</div>
		</div>
	</div>
	
	
{% endblock %}
{% block stepFooter %}
<div class="step__footer">
    <div class="container">
        <div class="btn-well">

            <a href="{[nextStep]}" id="nextButton" class="btn btn-primary path-control__button " >{[btnText]}</a>
            <!-- <span class="btn-caption btn-caption--active"><span class="btn-caption__next">Next: </span>Tell us what happened.</span> -->
        </div>
        
    </div>
</div>

{% endblock %}

{% block pageFoot %}

<script>
	jQuery(document).ready(function($) {
		$('#deviceWirelessNumber').focus();

		$(document).on('keyup', '#deviceWirelessNumber', function(event) {
			if( $(this).val().length == 14 ){
				$('#firstName').prop('disabled', false);
				$('#lastName').prop('disabled', false);
			}
		})
		$('#lastName').on('keyup', function(event) {
			if( $(this).val().length >= 2 ){
				$('#ZIP').prop('disabled', false);
			}
			
		});
		$('#ZIP').on('keyup', function(event) {
			if( $(this).val().length >= 5 ){
				$('#email').prop('disabled', false);
			}
		});	
		$('#email').on('keyup', function(event) {
			if( $(this).val().length >= 3 ){
				$('#altNumber').prop('disabled', false);
			}
		});	
		$('#altNumber').on('keyup', function(event) {
			if( $(this).val().length == 14 ){
				$('#nextButton').prop('disabled', false).removeClass('btn-disabled');
			}
		});	

		
	});

</script>

{%endblock%}