{% extends "_step-layout.html" %}

{% set stepTitle = 'Let’s get you started.' %} 
{% set stepSubTitle = 'Please provide the following information.' %}
{% set btnText = 'Get Started' %}
{% set nextStep = '0011.end.html' %}



{% block messaging %}

{% endblock %}

{% block stepContent %}
	<div class="container--xs">
		<form action="" id="step1-1">
			<div class="row">
				<div class="col-sm-6">
					<div class="form-group">
						<label for="firstName">First name</label>
					    <input type="text" class="form-control" id="firstName" placeholder="First name">
					</div>
				</div>
				<div class="col-sm-6">
					<div class="form-group">
						<label for="lastName">Last name</label>
					    <input type="text" class="form-control" id="lastName" placeholder="Last name">
					</div>
				</div>
			</div>
			<div class="form-group">
				<label for="zip">Alternate contact number</label>
			    <input type="text" class="form-control js-phone_us" id="altNumber" placeholder="(123) 456-7890">
			</div>
			<div class="form-group">
				<label for="zip">Email address</label>
			    <input type="text" class="form-control" id="email" placeholder="Email address">
			</div>
			<div class="row">
			    <div class="col-sm-12">
			        <div class="form-group">
			            <label for="billingStreet">Address 
			                <span class="milli">(No PO Boxes or military post offices.)
			                    <!-- <span class="tooltip icon-Icon-page-help-circle" data-tooltip-content="#tooltip_content"></span> -->
			                    <div class="tooltip_templates">
			                        <span id="tooltip_content">
			                            Sorry, we're not able to ship to P.O. boxes or military addresses.
			                        </span>
			                    </div>
			                </span>
			            </label>
			            <input type="text" class="form-control" id="billingStreet" placeholder="123 Elm Street" value="">
			        </div>
			    </div>
			    <div class="col-sm-12">
			        <div class="form-group">
			            <label for="billingStreet2">Apartment, suite, attn.</label>
			            <input type="text" class="form-control" id="billingStreet2" placeholder="Apartment number, Suite number, etc." >
			        </div>
			    </div>
			</div>
			<div class="row gutter--sm">
			    <div class="col-sm-12">
			        <div class="form-group">
			            <label for="billingPostalCode">ZIP code</label>
			            <input type="text" class="form-control" id="billingPostalCode" placeholder="Zip code" value="">
			        </div>
			    </div>
			</div>
			<div class="row gutter--sm">
			    <div class="col-sm-9">
			        <div class="form-group">
			            <label for="billingCity">City</label>
			            <input type="text" class="form-control" id="billingCity" placeholder="City" value="">
			        </div>
			    </div>
			    <div class="col-sm-3">
			        <div class="form-group">
			            <label for="billingStateProvince">State</label>
			            <div class="custom-dropdown">
			                <select class="form-control" id="billingStateProvince" placeholder="Province" ng-model="formData.billing.stateProvince">
			                        <option value=""></option>
			                        <option value="AL">AL</option>
			                        <option value="AK">AK</option>
			                        <option value="AZ">AZ</option>
			                        <option value="AR">AR</option>
			                        <option value="CA">CA</option>
			                        <option value="CO">CO</option>
			                        <option value="CT">CT</option>
			                        <option value="DE">DE</option>
			                        <option value="DC">DC</option>
			                        <option value="FL">FL</option>
			                        <option value="GA">GA</option>
			                        <option value="HI">HI</option>
			                        <option value="ID">ID</option>
			                        <option value="IL">IL</option>
			                        <option value="IN">IN</option>
			                        <option value="IA">IA</option>
			                        <option value="KS">KS</option>
			                        <option value="KY">KY</option>
			                        <option value="LA">LA</option>
			                        <option value="ME">ME</option>
			                        <option value="MD">MD</option>
			                        <option value="MA">MA</option>
			                        <option value="MI">MI</option>
			                        <option value="MN">MN</option>
			                        <option value="MS">MS</option>
			                        <option value="MO">MO</option>
			                        <option value="MT">MT</option>
			                        <option value="NE">NE</option>
			                        <option value="NV">NV</option>
			                        <option value="NH">NH</option>
			                        <option value="NJ">NJ</option>
			                        <option value="NM">NM</option>
			                        <option value="NY">NY</option>
			                        <option value="NC">NC</option>
			                        <option value="ND">ND</option>
			                        <option value="OH">OH</option>
			                        <option value="OK">OK</option>
			                        <option value="OR">OR</option>
			                        <option value="PA">PA</option>
			                        <option value="RI">RI</option>
			                        <option value="SC">SC</option>
			                        <option value="SD">SD</option>
			                        <option value="TN">TN</option>
			                        <option value="TX">TX</option>
			                        <option value="UT" >UT</option>
			                        <option value="VT">VT</option>
			                        <option value="VA">VA</option>
			                        <option value="WA">WA</option>
			                        <option value="WV">WV</option>
			                        <option value="WI">WI</option>
			                        <option value="WY">WY</option>
			                </select>
			            </div>
			        </div>
			    </div>

			    <!-- <div class="col-sm-4">
			        <div class="form-group">
			            <label for="billingCountry">Country</label>
			            <div class="custom-dropdown">
			                <select class="form-control" id="billingStateProvince" placeholder="Province" ng-model="formData.billing.stateProvince">
			                    <option value="">Select country</option>
			                    <option value="US" selected>United States</option>
			                    <option value="Canada">Canada</option>
			                </select>
			            </div>
			        </div>
			    </div> -->
			</div>
			<div class="form-group">
			    <label for="billingCountry">Country</label>
			    <div class="custom-dropdown">
			        <select class="form-control" id="billingStateProvince" placeholder="Province" ng-model="formData.billing.stateProvince">
			            <option value="">Select country</option>
			            <option value="US" selected>United States</option>
			            <option value="Canada">Canada</option>
			        </select>
			    </div>
			</div>
		</form>
	</div>
	
{% endblock %}
{% block stepFooter %}
<div class="step__footer">
    <div class="container">
        <div class="btn-well">

            <a href="{[nextStep]}" id="nextButton" class="btn btn-primary path-control__button " >{[btnText]}</a>
            <!-- <span class="btn-caption btn-caption--active"><span class="btn-caption__next">Next: </span>Tell us what happened.</span> -->
        </div>
        
    </div>
</div>

{% endblock %}

{% block pageFoot %}

<script>
	jQuery(document).ready(function($) {
		$('#deviceWirelessNumber').focus();

		$(document).on('keyup', '#deviceWirelessNumber', function(event) {
			if( $(this).val().length == 14 ){
				$('#firstName').prop('disabled', false);
				$('#lastName').prop('disabled', false);
			}
		})
		$('#lastName').on('keyup', function(event) {
			if( $(this).val().length >= 2 ){
				$('#ZIP').prop('disabled', false);
			}
			
		});
		$('#ZIP').on('keyup', function(event) {
			if( $(this).val().length >= 5 ){
				$('#email').prop('disabled', false);
			}
		});	
		$('#email').on('keyup', function(event) {
			if( $(this).val().length >= 3 ){
				$('#altNumber').prop('disabled', false);
			}
		});	
		$('#altNumber').on('keyup', function(event) {
			if( $(this).val().length == 14 ){
				$('#nextButton').prop('disabled', false).removeClass('btn-disabled');
			}
		});	

		
	});

</script>

{%endblock%}