/*=============================================
=            DATEPICKER            =
=============================================*/

.custom-datepicker {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  width:100%;
}

.custom-datepicker .form-control {
  padding-right: 2.6em; /* accommodate with the pseudo elements for the datepicker arrow */
}

.custom-datepicker::before,
.custom-datepicker::after {
  content: "";
  position: absolute;
  pointer-events: none;
}

.custom-datepicker::after { /*  Custom datepicker arrow */
  content: "\e998";
  font-weight: 400;
  font-family:'icomoon';
  height: 1em;
  color:$form-highlight-color;
  line-height: 1;
  right: .6em;
  font-size: 1.3em;
  top: 50%; 
  margin-top: -.5em;
}

.custom-datepicker::before { /*  Custom datepicker arrow cover */
  width: 2em;
  right: 0; top: 0; bottom: 0;
  border-radius: 0 3px 3px 0;
}

.custom-datepicker .form-control[disabled] {
  color: rgba(0,0,0,.3);
}

.custom-datepicker.custom-datepicker--disabled::after {
  color: rgba(0,0,0,.1);
}

.datepicker-holder {
  position: relative;
}

.datepicker {
  background: #fff;
  top: 0;
  position: absolute;
  width: 380px;
  margin-top: 2px;
  -webkit-border-radius: 6px;
  border-radius: 6px;
  border: 1px solid #ddd;
  
}

.datepicker-days, .dow, .datepicker-months, .datepicker-years {
  padding: 5px 15px;
  text-align: center;
}

.datepicker td {
  -webkit-transition: all .2s ease;
  transition: all .2s ease;
}

.datepicker .disabled {
  color: #ccc !important;
  cursor: default;
  background: none !important;
  &:hover {
    background: transparent;
    color: #ccc;
    cursor: default; 
  }
}

.datepicker table.table-condensed {
  width: 100%;
  max-width: 100%;
  text-align: center;
  border-collapse: separate;
  border-spacing: 2px;
}

.datepicker-days table.table-condensed td {
  padding: 10px;
  border: 0;
  border-radius: 3px;
  text-align: center; 
  color: #666;
  cursor: pointer;
}

.datepicker-months table.table-condensed span, .datepicker-years table.table-condensed span{
  padding: 20px 25px;
  border: 0;
  border-radius: 3px;
  text-align: center; 
  color: #666;
  cursor: pointer;
  display: block;
  float: left;
  width: 18%;
}

.datepicker-days table.table-condensed th.prev, .datepicker-days table.table-condensed th.next, .datepicker-months table.table-condensed th.prev, .datepicker-months table.table-condensed th.next, .datepicker-years table.table-condensed th.prev, .datepicker-years table.table-condensed th.next {
  color: #333;
  font-size: 16px;
  font-weight: normal;
  text-align: center;
  border-radius: 3px;
  padding: 10px;
  cursor: pointer;
  &:hover {
    color:#666;
    border-radius:3px; 
  }
}

.datepicker-days table.table-condensed th.switch, .datepicker-switch, .datepicker-months table.table-condensed th.switch, .datepicker-years table.table-condensed th.switch {
  color: #333333;
  font-size: 18px;
  font-weight: normal;
  text-align: center;
}

.dow {
  font-weight: normal;
  text-align: center;
  color:#333;
}

td.day.active, td.active.new {
  background-color: $form-highlight-color;
  color: #fff !important;
  border-radius: 3px;
  &:hover {
    background-color: darken($form-highlight-color, 1);
  }
}

td.day.old, td.day.new {
  background-color: #f7f7f7;
}

td.day:hover, span.year:hover, span.month:hover {
  background-color: #ddd;
}

td.day:active, span.year:active, span.month:active {
  background-color: #aaa; 
  color: #fff;
}

td.day:active, span.year:active, span.month:active { 
  background-color: #aaa; 
  color: #FFF; 
}
