<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
  <head>
      <meta name="robots" content="noindex,nofollow">
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <title>Asurion</title>
      <link rel="stylesheet" href="../../assets/theme/att/att.css">

      <link rel="stylesheet" href="../../assets/theme/att/att.css">
      <link rel="apple-touch-icon" sizes="180x180" href="../../assets/img/apple-touch-icon.png">
      <link rel="icon" type="image/png" sizes="32x32" href="../../assets/img/favicon-32x32.png">
      <link rel="icon" type="image/png" sizes="16x16" href="../../assets/img/favicon-16x16.png">
      <meta name="description" content="">
      <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
      <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
      <script src="https://code.jquery.com/jquery-1.12.1.min.js"></script>
  </head>
  <body>
    <div class="page">
      <div class="pre-footer ng-scope">
        <header class="ng-scope">
            <div class="span12">
              <h1 class="logo"></h1>
              <div class="links">
                  <a id="setlanguage" href="" class="es-link" data-ng-click="changeLanguage(languageToBeSet)" data-vzw-language="" style="display: none;">
                      <span data-ng-bind-html="selectedLanguage.Locales[selectedLanguage.Code] | unsafe" class="ng-scope ng-binding">Ver esta página en español</span>
                  </a>
                  <a id="liveChat" href="" class="chat-link" data-ng-click="clicked();launchChat()" style="display: none;">
                      <div id="LP_DIV_Verizon_Reactive_Chat"><div id="LPMcontainer-1539199012914-0" class="LPMcontainer LPMoverlay" role="button" tabindex="0" style="margin: 1px; padding: 0px; border-style: solid; border-width: 0px; font-style: normal; font-weight: normal; font-variant: normal; list-style: none outside none; letter-spacing: normal; line-height: normal; text-decoration: none; vertical-align: baseline; white-space: normal; word-spacing: normal; background-repeat: repeat-x; background-position: left bottom; cursor: auto; display: block; position: relative; top: 0px; left: 0px;"><a id="liveChat" href="" class="chat-link" data-lp-event="click" style="display: block;">
                      <i class="icon-chat"></i>
                      <span>Live Chat</span>
                      </a></div></div>
                  </a>
              </div>
            </div>
        </header>
        <section class="container main">
          <div class="steps-include">
            <div class="step ng-scope" style="">
              <div class="row">
                <div id="step1" class="span12">
                  <div class="stepbar clearfix">
                    <i class="icon-user"></i>
                    <div class="stepbar-text-top">STEP ONE</div>
                    <div class="stepbar-text-bottom">Your Information</div>
                    <div class="stepbar-text-ClaimCreation" id="claimId_1"></div>
                    <div class="stepbar-text-ClaimCreation" id="MDN_1"></div>
                  </div>
                </div>
              </div>
              <div class="claimstep ng-scope claimstep--ob" stepnum="1" iconclass="icon-user" style="display: block;">
                  
	
	<div class="container--xs">
		<div class="form-group">
			<label for="pinNumber">PIN number 
				<span class="tooltip icon-Icon-page-help-circle" data-tooltip-content="#tooltip_content"></span>
				<div class="tooltip_templates">
				    <span id="tooltip_content">
				        Lorem Ipsum dolor de, Lorem Ipsum dolor de Lorem Ipsum dolor deLorem Ipsum dolor deLorem Ipsum dolor de
				    </span>
				</div>
			</label>
		    <input type="text" class="form-control" id="pinNumber" placeholder="****">
		</div>
		<div class="text-center">
			<span class="giga loud">OR</span>
		</div>
		<div class="form-group">
			<label for="securityQuestion">Model of your first car</label>
		    <input type="text" class="form-control" id="securityQuestion" placeholder="Answer">
		</div>
	</div>


              </div>
            </div>
            <div class="ob-expert-help">
              <h4>If you have any questions, our experts will be happy to help.</h4>
              <p>1-866-853-2601</p>
            </div>
          </div>
        </section>
      </div>
    </div>
    
<div class="modal" id="js-pin-modal">
	<div class="modal__close-btn icon-uniE601" data-modal-close=""></div>
	<header class="modal__header">
		<h3 class="modal__title">What is my PIN?</h3>
	</header>
	<div class="modal__content">
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias error eius, cum possimus nobis rem laborum eum. Accusantium aliquid ut nulla amet impedit, similique incidunt, reiciendis necessitatibus odio laudantium cum?</p>
	</div>
	<footer class="modal__footer">
		<div class="btn-well">
			<button class="btn btn-primary" data-modal-close >Close</button>
		</div>
	</footer>
</div>
<script>
	jQuery(document).ready(function($) {
		$('#pinNumber').keyup(function(){
			if( $(this).val()){
				$('#securityQuestion').attr({
					disabled: 'disabled'
				});	
			}
			else{
				$('#securityQuestion').removeAttr('disabled')
			}
		});
		$('#securityQuestion').keyup(function(){
			if( $(this).val()){
				$('#pinNumber').attr({
					disabled: 'disabled'
				});	
			}
			else{
				$('#pinNumber').removeAttr('disabled')
			}
		});

		$('#pinNumber,#securityQuestion').keyup(function(event) {
			if( $(this).val() ){
				$('#nextButton').removeAttr('disabled').removeClass('btn-disabled')
				$('.btn-caption').addClass('btn-caption--active')
			}
			else{
				$('#nextButton').attr({disabled:'disabled'}).addClass('btn-disabled')	
				$('.btn-caption').removeClass('btn-caption--active')
			}
		});
		
	});
	
	
</script>

    <span class="ob-confetti">&nbsp;</span>
    <img src="/assets/img/trophy.svg" alt="trophy" class="ob-trophy" style="display:none;" />
  </body>
</html>
