<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
  <head>
      <meta name="robots" content="noindex,nofollow">
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <title>Asurion</title>
      <link rel="stylesheet" href="../../assets/theme/att/att.css">

      <link rel="stylesheet" href="../../assets/theme/att/att.css">
      <link rel="apple-touch-icon" sizes="180x180" href="../../assets/img/apple-touch-icon.png">
      <link rel="icon" type="image/png" sizes="32x32" href="../../assets/img/favicon-32x32.png">
      <link rel="icon" type="image/png" sizes="16x16" href="../../assets/img/favicon-16x16.png">
      <meta name="description" content="">
      <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
      <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
      <script src="https://code.jquery.com/jquery-1.12.1.min.js"></script>
  </head>
  <body>
    <div class="page">
      <div class="pre-footer ng-scope">
        <header class="ng-scope">
            <div class="span12">
              <h1 class="logo"></h1>
              <div class="links">
                  <a id="setlanguage" href="" class="es-link" data-ng-click="changeLanguage(languageToBeSet)" data-vzw-language="" style="display: none;">
                      <span data-ng-bind-html="selectedLanguage.Locales[selectedLanguage.Code] | unsafe" class="ng-scope ng-binding">Ver esta página en español</span>
                  </a>
                  <a id="liveChat" href="" class="chat-link" data-ng-click="clicked();launchChat()" style="display: none;">
                      <div id="LP_DIV_Verizon_Reactive_Chat"><div id="LPMcontainer-1539199012914-0" class="LPMcontainer LPMoverlay" role="button" tabindex="0" style="margin: 1px; padding: 0px; border-style: solid; border-width: 0px; font-style: normal; font-weight: normal; font-variant: normal; list-style: none outside none; letter-spacing: normal; line-height: normal; text-decoration: none; vertical-align: baseline; white-space: normal; word-spacing: normal; background-repeat: repeat-x; background-position: left bottom; cursor: auto; display: block; position: relative; top: 0px; left: 0px;"><a id="liveChat" href="" class="chat-link" data-lp-event="click" style="display: block;">
                      <i class="icon-chat"></i>
                      <span>Live Chat</span>
                      </a></div></div>
                  </a>
              </div>
            </div>
        </header>
        <section class="container main">
          <div class="steps-include">
            <div class="step ng-scope" style="">
              <div class="row">
                <div id="step1" class="span12">
                  <div class="stepbar clearfix">
                    <i class="icon-user"></i>
                    <div class="stepbar-text-top">STEP ONE</div>
                    <div class="stepbar-text-bottom">Your Information</div>
                    <div class="stepbar-text-ClaimCreation" id="claimId_1"></div>
                    <div class="stepbar-text-ClaimCreation" id="MDN_1"></div>
                  </div>
                </div>
              </div>
              <div class="claimstep ng-scope claimstep--ob" stepnum="1" iconclass="icon-user" style="display: block;">
                  
	<div class="container--lg">
		<div class="row margin-bottom-1x">
			<div class="col-sm-12 text-center js-my-card-is my-device-is my-device-is--active">
				<p class="giga loud">"I would like to..."</p>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-4 peril-card-wrapper peril-card-wrapper--active">
				<div class="card card-button peril-card js-select-card " data-mh="js-peril-card">
					<div class="peril-card__header">
						<h3 class="peril-card__header__title">Start new claim</h3>
					</div>
					<div class="peril-card__content">
						<p class="for-example">"I have a problem with my device, and I need to file a new claim."</p>
						
					</div>
					<!-- <div class="btn-well">
						<button class="btn btn-ghost btn-form-highlight btn-md">Select Missing</button>
					</div> -->
				</div>
			</div>
			<div class="col-sm-4 peril-card-wrapper peril-card-wrapper--active">
				<div class="card card-button peril-card js-select-card" data-mh="js-peril-card">
					<div class="peril-card__header">
						<h3 class="peril-card__header__title">Resume claim</h3>
					</div>
					<div class="peril-card__content">
						<p class="for-example">"I want to resume a claim I've already started."</p>
						
					</div>
					<!-- <div class="btn-well">
						<button class="btn btn-ghost btn-form-highlight btn-md">Select Missing</button>
					</div> -->
				</div>
			</div>
			<div class="col-sm-4 peril-card-wrapper peril-card-wrapper--active">
				<div class="card card-button peril-card js-select-card" data-mh="js-peril-card">
					<div class="peril-card__header">
						<h3 class="peril-card__header__title">Report an issue</h3>
					</div>
					<div class="peril-card__content">
						<p class="for-example">"I've already filed a claim, but there's a problem."</p>
						
					</div>
					<!-- <div class="btn-well">
						<button class="btn btn-ghost btn-form-highlight btn-md">Select Missing</button>
					</div> -->
				</div>
			</div>
		</div>
		
	</div>

              </div>
            </div>
            <div class="ob-expert-help">
              <h4>If you have any questions, our experts will be happy to help.</h4>
              <p>1-866-853-2601</p>
            </div>
          </div>
        </section>
      </div>
    </div>
    
<script>
    $('.js-select-card').click(function(event) {
        $this = $(this);
        if( $this.hasClass('card-button--selected')){

        }
        else{
            $('.js-select-card').removeClass('card-button--selected');
            $this.addClass('card-button--selected')
            $('.card').removeClass('card--selected')
            $('.js-card-group').addClass('card--muted')
            $this.closest('.js-card-group').addClass('card--selected').removeClass('card--muted')
            $('#js-next-button').removeClass('btn-disabled').removeAttr('disabled')
            $('.btn-caption').addClass('btn-caption--active')
        }
        
    });
</script>


    <span class="ob-confetti">&nbsp;</span>
    <img src="/assets/img/trophy.svg" alt="trophy" class="ob-trophy" style="display:none;" />
  </body>
</html>
