<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
  <head>
      <meta name="robots" content="noindex,nofollow">
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <title>Asurion</title>
      <link rel="stylesheet" href="../../assets/theme/att/att.css">

      <link rel="stylesheet" href="../../assets/theme/att/att.css">
      <link rel="apple-touch-icon" sizes="180x180" href="../../assets/img/apple-touch-icon.png">
      <link rel="icon" type="image/png" sizes="32x32" href="../../assets/img/favicon-32x32.png">
      <link rel="icon" type="image/png" sizes="16x16" href="../../assets/img/favicon-16x16.png">
      <meta name="description" content="">
      <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
      <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
      <script src="https://code.jquery.com/jquery-1.12.1.min.js"></script>
  </head>
  <body>
    <div class="page">
      <div class="pre-footer ng-scope">
        <header class="ng-scope">
            <div class="span12">
              <h1 class="logo"></h1>
              <div class="links">
                  <a id="setlanguage" href="" class="es-link" data-ng-click="changeLanguage(languageToBeSet)" data-vzw-language="" style="display: none;">
                      <span data-ng-bind-html="selectedLanguage.Locales[selectedLanguage.Code] | unsafe" class="ng-scope ng-binding">Ver esta página en español</span>
                  </a>
                  <a id="liveChat" href="" class="chat-link" data-ng-click="clicked();launchChat()" style="display: none;">
                      <div id="LP_DIV_Verizon_Reactive_Chat"><div id="LPMcontainer-1539199012914-0" class="LPMcontainer LPMoverlay" role="button" tabindex="0" style="margin: 1px; padding: 0px; border-style: solid; border-width: 0px; font-style: normal; font-weight: normal; font-variant: normal; list-style: none outside none; letter-spacing: normal; line-height: normal; text-decoration: none; vertical-align: baseline; white-space: normal; word-spacing: normal; background-repeat: repeat-x; background-position: left bottom; cursor: auto; display: block; position: relative; top: 0px; left: 0px;"><a id="liveChat" href="" class="chat-link" data-lp-event="click" style="display: block;">
                      <i class="icon-chat"></i>
                      <span>Live Chat</span>
                      </a></div></div>
                  </a>
              </div>
            </div>
        </header>
        <section class="container main">
          <div class="steps-include">
            <div class="step ng-scope" style="">
              <div class="row">
                <div id="step1" class="span12">
                  <div class="stepbar clearfix">
                    <i class="icon-user"></i>
                    <div class="stepbar-text-top">STEP ONE</div>
                    <div class="stepbar-text-bottom">Your Information</div>
                    <div class="stepbar-text-ClaimCreation" id="claimId_1"></div>
                    <div class="stepbar-text-ClaimCreation" id="MDN_1"></div>
                  </div>
                </div>
              </div>
              <div class="claimstep ng-scope claimstep--ob" stepnum="1" iconclass="icon-user" style="display: block;">
                  
<div class="container--xs">
    <div class="card">
        <div class="card__content padding-left-right-2x padding-left-right-sm-4x">
            
                <h3 class="h4 loud">Your Device</span></h3>
                <dl class="d-list">
                    <dt>Device Number:</dt>
                    <dd>(555) 555-5555</dd>
                </dl>
                <dl class="d-list">
                    <dd>Black Apple iPhone 6 (64 GB) <a href="" class="edit-link">(Edit)</a></dd>
                </dl>
            
            <hr class="hr">
            <h3 class="h4 loud">What Happened? </span> <a href="" class="edit-link">(Edit)</a></h3>
            <dl class="d-list">
                <dt>When it Happened:</dt>
                <dd>03/30/2016</dd>
            </dl>
            <dl class="d-list">
                <dt>Problem:</dt>
                <dd>Device is damaged</dd>
            </dl>
            <hr class="hr">
            <h3 class="h4 loud">Your Information</span></h3>
            <p>Kim Jones</p>
            <h5 class="h6 margin-bottom-0x">Address on Account: <a href="" class="edit-link ">(Edit)</a></h5>
            <p > 
                55 South Lane <br> Orem, Ut 84057</p>
            <dl class="d-stacked-list">
                <dt>Email Address:</dt>
                <dd class="js-email-current">kjones@gmail.com <a href="" class="edit-link js-email-change-trigger">(Edit)</a></dd>
                <div class="form-group form-group--inline js-email-change hidden">
                    <input type="text" class="form-control margin-bottom-1x" value="kjones@gmail.com">
                    <button class="btn btn-primary js-email-change-trigger margin-bottom-1x">Update</button>
                </div>
            </dl>
            <dl class="d-stacked-list">
                <dt>Contact Number:</dt>
                 <dd class="js-altPhone-current">(555) 555-5555 <a href="" class="edit-link js-altPhone-change-trigger">(Edit)</a></dd>
                <div class="form-group form-group--inline js-altPhone-change hidden">
                    <input type="text" class="form-control margin-bottom-1x" value="(555) 555-5555">
                    <button class="btn btn-primary js-altPhone-change-trigger margin-bottom-1x">Update</button>
                </div>
            </dl>
        </div>
    </div>
</div>
<div class="container margin-top-2x">
    <div class="callout highlight highlight--alert">
        <div class="checkbox margin-0x">
            <input type="checkbox" name="formData.optIn.firstReview" id="formData.optIn.firstReview" value="">
            <label for="formData.optIn.firstReview" class="margin-reset">
                <p class="fine-print margin-0x">I understand that filing a fraudulent service request may subject me to liability under appicable law. <span class="link" data-modal="#js-fraud-modal">Learn more</span>.</p>
            </label>
        </div>
    </div>
</div>

              </div>
            </div>
            <div class="ob-expert-help">
              <h4>If you have any questions, our experts will be happy to help.</h4>
              <p>1-866-853-2601</p>
            </div>
          </div>
        </section>
      </div>
    </div>
    
<div class="modal" id="js-fraud-modal">
    <div class="modal__close-btn icon-uniE601" data-modal-close></div>
    <header class="modal__header">
        <h3 class="modal__title">Important Legal Notice</h3>
    </header>
    <div class="modal__content">
        <div class="row">
            <div class="col-sm-10 col-sm-offset-1 typography">
                <p>Any person who knowingly and with intent to injure, defraud or deceive any insurer, files a statement of claim containing any false, incomplete, or misleading information is guilty of insurance fraud, which is a crime. All claim files and documentation are subject to inspection by the various State Departments of Insurance.</p>
            </div>
        </div>
    </div>
    <footer class="modal__footer">
        <div class="btn-well">
            <button class="btn btn-primary" data-modal-close >Close</button>
        </div>
    </footer>
</div>
<script>
    jQuery(document).ready(function($) {
        $('.js-email-change-trigger').click(function(event) {
            event.preventDefault();
            if( $('.js-email-change').hasClass('hidden') ){
                $('.js-email-change').removeClass('hidden');
                $('.js-email-current').addClass('hidden');
            } 
            else{
                $('.js-email-change').addClass('hidden');
                $('.js-email-current').removeClass('hidden');  
            }
        });
        $('.js-altPhone-change-trigger').click(function(event) {
            event.preventDefault();
            if( $('.js-altPhone-change').hasClass('hidden') ){
                $('.js-altPhone-change').removeClass('hidden');
                $('.js-altPhone-current').addClass('hidden');
            } 
            else{
                $('.js-altPhone-change').addClass('hidden');
                $('.js-altPhone-current').removeClass('hidden');  
            }
        });

    });
    
</script>


    <span class="ob-confetti">&nbsp;</span>
    <img src="/assets/img/trophy.svg" alt="trophy" class="ob-trophy" style="display:none;" />
  </body>
</html>
