/*=====================================
=            STORE LOCATOR            =
=====================================*/

.zipcode-search{
	@include clearfix;
	margin-bottom:1rem;
}

.zipcode-search__label{
	margin-right:.5rem;
	margin-bottom:.5rem;
	display:block;
	@include respond-to(small){
		display: inline-block;
		margin-bottom:0;
	}
}
.zipcode-search__input{
	width:100%;
	margin-bottom:1rem;
	padding:.5rem;
	height: auto;
	display: inline-block;
	vertical-align: middle;
	@include respond-to(small){
		width: 4rem;
		margin-bottom: 0;
		
	}
	@include respond-to(medium){width: 5rem;}
}
.form-group .zipcode-search__btn{
	display: inline-block;
	height: auto;
	width:100%;
	vertical-align: middle;
	margin: 0;
	min-width: auto;
	padding: .7rem ;
	font-size: .8rem;
	margin-left: 0;
	margin-top: 0;
	
	@include respond-to(small){
		margin-left: .5rem;
		width: auto;
	}
	
    
}
.radio label.store-listing__store-info{
	line-height:1.2;
	margin-bottom:0;

}
.store-listing__closed{
	color:$warning;
	@extend .loud;
}
.store-listing__store-name{
	@extend .bold;
	margin-bottom:.25rem;
	font-size:1rem;
	margin-top:0;
}

.store-listing__store-address{
	
		
	}
	
.store-listing{
	display: table;
	table-layout: auto;
	width:100%;
	border-collapse: collapse;

}
.store-listing__item{
	display: block;
	width:100%;
	@extend .clearfix;
	
}
.store-listing__item + .store-listing__item{
	border-top: solid 1px #ebebeb;
}
.store-listing__item .radio{
	margin-bottom:0;
}
.store-listing__col{
	padding:1rem .6rem;
	@include respond-to(small){
		display:block;
		float: left;
		
		vertical-align:top;	
	}
}
.store-listing__col1{
	padding-bottom:0;
	@include respond-to(small){
		padding-bottom:1rem;
		width:45%;
	}
}
.store-listing__col2{
	margin-left:2rem;
	@include respond-to(small){
		text-align:right;
		width:55%;
		margin-left:0;

	}
}
.store-listing__distance{
	@extend .loud;
	margin-bottom:0;

}
.store-listing__hours__intro{
	@extend .loud;
	@extend .link;
	margin-bottom:.5rem;

}
.store-listing__distance__icon{
	color:$gray-75!important;
	margin-left:.75rem;
	display:inline-block;
	vertical-align:middle;
}
.store-listing__hours__icon{
	color:$gray-75!important;
	margin-right:.15rem;
	margin-left:1rem;
	font-size:.6em;
	font-weight:bold;
	display:inline-block;
	vertical-align:middle;
	-ms-transform: rotate(0deg); /* IE 9 */
    -webkit-transform: rotate(0deg); /* Chrome, Safari, Opera */
    transform: rotate(0deg);
}

.hours-expander-trigger--active .store-listing__hours__icon{
	-ms-transform: rotate(180deg); /* IE 9 */
    -webkit-transform: rotate(180deg); /* Chrome, Safari, Opera */
    transform: rotate(180deg);
}

/*----------  STORE HOURS  ----------*/

.store-listing__hours__expanded{
	@extend .milli;
	// color:$link-color;
	list-style: none;
	display: block;
	width: 100%;
	padding-right: 2rem;
	padding-left: 0;
	margin-top: 1rem;
	@include respond-to(small){
		padding-right:1.75rem;
	}
}
.store-listing__hours__expanded__item{
	margin:0;
	padding:0;
	@extend .clearfix;
}
.store-listing__hours__expanded__day{
	float: left;
	padding:.25rem;
	padding-right:1rem;

}
.store-listing__hours__expanded__hours{
	margin-left: 6rem;
	display: block;
	@include respond-to(small){
		margin-left: 3rem;
	}
	
}
.hours-expander-target{
	display:none;
}
.hours-expander-target--active{
	display:block;
}


/*=====  End of STORE LOCATOR  ======*/
