/*=============================
=            PILLS            =
=============================*/

.pills{
	list-style:none;
	margin:0;
	padding:0;
	text-align:center;
}
.pill{
	display:inline-block;
	width:1.20rem;
	height:1.20rem;
	border-radius:100%;
	border:solid 1px $gray-35;
	margin:.25rem;
	transition:200ms;
	background:white;
	cursor:pointer; 
}
.pill.active{
	background:$gray-35;
}

