/*==================================
=            TYPOGRAPHY            =
==================================*/

html{
  font-size: $base-font-size - 2px;
  @include respond-to(small){font-size: $base-font-size - 2px}
  @include respond-to(medium){font-size: $base-font-size - 1px}
  @include respond-to(large){font-size: $base-font-size}
}
body{
  color: $base-text-color;
  font-family: $base-font-family;
  font-weight: $base-font-weight;
  line-height: $base-line-height;
}

p{}
.text-muted{
  opacity: .7;
}
.light { 
  font-weight: $light-font-weight !important; 
  font-family:$light-font-family !important; 
}
.loud  { 
  font-weight: $loud-font-weight !important; 
  font-family:$loud-font-family !important; 
}

.italic { font-style: italic; }
.bold   { 
  font-weight: $bold-font-weight !important; 
  font-family:$bold-font-family !important; 
}

.link {
  color: $link-color;
  font-family: $link-font-family;
  cursor: pointer;
  text-decoration:underline;
  &:visited {
    color: $link-color;
  }
  
  &:hover, &:visited:hover {
    color: $link-hover-color;
    // text-decoration: underline;
  }
}
.clean-link{
  @extend .link;
  text-decoration:none!important; 
}
.fancy-link{
  @extend .link;
  text-decoration: none;
  position: relative;
  white-space: nowrap;
  color: $link-color;
  cursor: pointer;
  &:after{
    content: '';
    border-bottom: dotted .05em $link-color;
    position: absolute;
    bottom: .1em;
    width: 100%;
    left: 0;
  }
  
  
}
.edit-link{
  @extend .fancy-link;
  font-size: .9rem;
  @extend .loud;
  
}


hr{
  margin-top:1.5rem;
  margin-bottom: 1.5rem;
  border:none;
  border-bottom: solid 1px $gray-25;
}
hr.or{
  @extend .bold;
  margin-top:2rem;
  margin-bottom: 2rem;
  border:none;
  border-bottom: solid 1px $gray-25;
  position: relative;
  overflow: visible;
  &:before{
    content:'OR';
    position: absolute;
    left:0;
    right:0;
    margin: auto;
    width: 3em;
    text-align: center;
    border-radius: 50%;
    top: -.5em;

  } 
}
hr.or--white{
  &:before{
    background: white;

  }
}
hr.or--gray-5{
  &:before{
    background: $gray-5;

  }
}
hr.or--gray-15{
  &:before{
    background: $gray-15;

  }
}
hr.or--gray-25{
  &:before{
    background-color: $gray-25;

  }
}
/*----------  HEADERS  ----------*/
.h1,.h2,.h3,.h4{
  @extend .light;
}
.h5,.h6{
  @extend .loud;
}
.h1, .h2, .h3, .h4, .h5, .h6, p, ul, ol{
  margin-top:0;
  margin-bottom: .8rem;
}

.h1, .h2, .h3, .h4, .h5, .h6 { 
  // color: $heading-color;
  color:inherit; 
  vertical-align: middle;
  font-family: $heading-font-family; 
  font-weight: $heading-font-weight; 
  line-height: $heading-line-height;
  
}

.h1 { font-size: 3rem; letter-spacing: -.02em;}
.h2 { font-size: 2.1rem; letter-spacing: -.02em;}
.h3 { font-size: 1.7rem; letter-spacing: -.02em;}
.h4 { font-size: 1.2rem; letter-spacing: -.01em;}
.h5 { font-size: 1.1rem; letter-spacing: -.01em;}
.h6 { font-size: .85rem;}

@include respond-to(small){
  .h1 { font-size: 3.5rem; letter-spacing: -.02em;}
  .h2 { font-size: 2.5rem; letter-spacing: -.02em;}
  .h3 { font-size: 1.6rem; letter-spacing: -.02em;}
  .h4 { font-size: 1.3rem; line-height:1.1;letter-spacing: -.01em;}
  .h5 { font-size: 1.2rem; line-height:1.1; letter-spacing: -.01em; font-family: $loud-font-family; }
  .h6 { font-size: 1rem; line-height:1.2; font-family: $loud-font-family; }
}

/*----------  SIZES  ----------*/

.nano{font-size: 0.6em;}
.micro{font-size: 0.7em;}
.milli{font-size: 0.8em;}
.mega{font-size: 1.0em;}
.giga{@extend .light;font-size: 1.2em;}
.tera{@extend .light;font-size: 1.4em;}

@include respond-to(small){
  .nano{font-size: 0.7em;}
  .micro{font-size: 0.8em;}
  .milli{font-size: 0.9em;}
  .mega{font-size: 1.1em;}
  .giga{font-size: 1.3em;}
  .tera{font-size: 1.5em;}
}

.block-margins { margin: .8em 0; }

.uppercase{
  text-transform: uppercase;
}

.typography {
  >:first-child{
    margin-top: 0;
  }
  a { @extend .link; }
  
  i, em { @extend .italic; }
  b, strong { @extend .bold; }
  
  p{
    margin:0 0 1em 0;
  }
  h1 { @extend .h1; margin: 1.25rem 0 0.5rem; }
  h2 { @extend .h2; margin: 1.25rem 0 0.5rem; }
  h3 { @extend .h3; margin: 1.25rem 0 0.5rem; }
  h4 { @extend .h4; margin: 1.25rem 0 0.5rem; }
  h5 { @extend .h5; margin: 1.25rem 0 0.5rem; }
  h6 { @extend .h6; margin: 1.25rem 0 0.5rem; }
  
  p, ul, ol, pre { @extend .block-margins; }
  
  // ul { @extend .unordered-list; }
  // ol { @extend .ordered-list; }
  
  // pre, code { @extend .fixed; }
  li{
    @extend .block-margins; 
  }
}



