{% extends "_step-layout.html" %}

{% block messaging %}

{% endblock %}

{% block stepContent %}

<div class="ob-tabs">
  <div class="ob-tabs--container">
    <a class="ob-tab js-toggle-ob ob-tab--selected" href="#?">Set up your device</a>
    <a class="ob-tab js-toggle-track" href="#?">Claim status and tracking</a>
  </div>
</div>
<div class="ob--content-track" style="display: none;">
  <div class="ob-top--padding">
    <div class="ob-container">
      <div class="ob-welcome--content">
        <img class="article-placeholder-img" src="../../assets/img/claim-status-tracking.png" alt="" />
      </div>
    </div>
  </div>
</div>
<div class="ob--content-onboard">
    <div class="ob-top--padding">
      <img class="ob-image" src="../../assets/img/bulb.svg" />
      <div class="ob-container">
        <div class="ob-welcome--content">
          <h1 class="ob-text--title">Hi <span>Maria.</span></h1>
          <p>Sorry to hear your iPhone X is missing. Thats&rsquo; a huge bummer. The good news is, setting up your replacement will be fast and easy! Just follow these steps.</p>
          <div class="ob-tracking-delivery">
            <p><span>Expected delivery October 19, 2018</span>|<span>Tracking number <a href="#?">162825173X637</a></span></p>
          </div>
        </div>
      </div>
    </div>

    <div class="ob-panel" id="panel1">
        <div class="ob-panel__header ob-container">
            <div class="ob-panel__header__heading">
                <div class="ob-panel__header__heading__number">
                    <span class="ob-panel__header__heading__number__inner">1</span>
                </div>
                <div class="ob-panel__header__heading__title">Have you received your replacement device?</div>
            </div>
            <div class="ob-panel__header__actions">
                <button class="ob-panel__header__actions__action ob-panel__header__actions__action--positive" value="yes" onclick="togglePanel(this)">Yes</button>
                <button class="ob-panel__header__actions__action ob-panel__header__actions__action--negative" value="no" onclick="togglePanel(this)">Nope</button>
            </div>
        </div>
        <div class="ob-panel__content" style="display:none;">
            <div class="ob-container">
                <div class="ob-panel__content__inner">
                    <p class="ob-panel__content__inner__headline">Your replacement is on the way!</p>

                    <p>Here's your shipping details. You can also <a class="ob-link" href="#">track your shipment</a> to see its delivery status.</p>

                    <p>Your device is expected to be delivered on<br/>
                      <span class="ob-panel__content__inner__date"> October 19th, 2018</span>
                    </p>

                    <p>Your tracking number is <a class="ob-link ob- panel__content__inner__tracking" href="#">162825173X637</a></p>

                    <button class="btn" value="yes" onclick="gotIt(this)">Got it. Let's continue!</button>
                </div>
            </div>
        </div>
    </div>
    <div class="ob-container"><hr class="ob-panel__break" /></div>
    <div class="ob-panel" id="panel2">
        <div class="ob-panel__header ob-container">
            <div class="ob-panel__header__heading">
                <div class="ob-panel__header__heading__number">
                    <span class="ob-panel__header__heading__number__inner">2</span>
                </div>
                <div class="ob-panel__header__heading__title">Have you activated your new device?</div>
            </div>
            <div class="ob-panel__header__actions">
                <button class="ob-panel__header__actions__action ob-panel__header__actions__action--positive" value="yes" onclick="togglePanel(this)">Yes</button>
                <button class="ob-panel__header__actions__action ob-panel__header__actions__action--negative" value="no" onclick="togglePanel(this)">Nope</button>
            </div>
        </div>
        <div class="ob-panel__content" style="display:none;">
            <div class="ob-container">
                <div class="ob-panel__content__inner">
                  <div class="ob-panel__content__inner__headline">First, turn off your old device</div>
                  <p>Press and hold the Power button and tap Power off twice.<br/><em>Note:</em> If your old phone was lost or stolen, you may want to skip this one.</p>

                  <div class="ob-panel__content__inner__headline">Then, insert the SIM card</div>
                  <p>- If a new SIM card was sent, <a class="ob-link" href="#">insert that SIM card</a> into the replacement device.<br/>- If not, remove the SIM card from your old phone and put it into your new phone.</p>

                  <div class="ob-panel__content__inner__headline">Then, turn on your replacement device</div>
                  <p>
                    1. Select your language.</br>
                    2. If your SIM card was not previously activated, it will activate with your device. If it was active in your old phone, you’ll see an activation message with your phone number.<br/>
                    3. Follow the instructions to finish setting up your phone.
                  </p>

                  <p>Now that your replacement is activated, you can get back to the modern world!</p>
                    <button class="btn" value="yes" onclick="gotIt(this)">Got it. Let's continue!</button>
                </div>
            </div>
        </div>
    </div>
    <div class="ob-container"><hr class="ob-panel__break" /></div>
    <div class="ob-panel" id="panel3">
        <div class="ob-panel__header ob-container">
            <div class="ob-panel__header__heading">
                <div class="ob-panel__header__heading__number">
                    <span class="ob-panel__header__heading__number__inner">3</span>
                </div>
                <div class="ob-panel__header__heading__title">Do you know your Apple ID and password?</div>
            </div>
            <div class="ob-panel__header__actions">
                <button class="ob-panel__header__actions__action ob-panel__header__actions__action--positive" value="yes" onclick="togglePanel(this)">Yes</button>
                <button class="ob-panel__header__actions__action ob-panel__header__actions__action--negative" value="no" onclick="togglePanel(this)">Nope</button>
            </div>
        </div>
        <div class="ob-panel__content" style="display:none;">
            <div class="ob-container">
                <div class="ob-panel__content__inner">
                    <div class="ob-panel__content__inner__headline">Reset known password</div>
<p>1. From a web browser, go to myaccount.google.com.<br/>
2. Tap Sign in and enter your username and password.<br/>
3. Under “Sign in &amp; security,” choose Signing in to Google.<br/>
4. Select Password. You may be asked to sign in again to verify your identity.<br/> 5. Enter your new password and tap Change Password.</p>

  <div class="ob-panel__content__inner__headline">Forgot your password?</div>
<p>1. From a web browser, go to the Account support page.<br/>
2. Enter your Gmail address or phone number and tap Next.<br/>
3. There are multiple ways to reset your Google password. If you’re not sure how to answer one of the security questions, tap Try a different question to move on.<br/>
4. Create a new password that you haven’t already used with your account. A strong password should have a mix of letters, numbers, and special characters.</p>

  <div class="ob-panel__content__inner__headline">You’re all set!</div>
<p>Keep in mind, changing your Google password also changes the password for your YouTube account, Android device login, Gmail, and other services connected to your account.</p>

                    <button class="btn" value="yes" onclick="gotIt(this)">Got it. Let's continue!</button>
                </div>
            </div>
        </div>
    </div>
    <div class="ob-container"><hr class="ob-panel__break" /></div>
    <div class="ob-panel" id="panel4">
        <div class="ob-panel__header ob-container">
            <div class="ob-panel__header__heading">
                <div class="ob-panel__header__heading__number">
                    <span class="ob-panel__header__heading__number__inner">4</span>
                </div>
                <div class="ob-panel__header__heading__title">Do you have a recent backup of your old device?</div>
            </div>
            <div class="ob-panel__header__actions">
                <button class="ob-panel__header__actions__action ob-panel__header__actions__action--positive" value="yes" onclick="togglePanel(this)">Yes</button>
                <button class="ob-panel__header__actions__action ob-panel__header__actions__action--negative" value="no" onclick="togglePanel(this)">Nope</button>
            </div>
        </div>
        <div class="ob-panel__content" style="display:none;">
            <div class="ob-container">
                <div class="ob-panel__content__inner">
                  <div class="ob-panel__content__inner__headline">Find and manage Google account backups</div>
<p>From the Google Drive app:<br/>
1. Tap Menu.<br/>
2. Tap Backups.<br/>
3. Tap on the backup you want to manage.
</p>

<p>From your web browser:<br/>
1. Go to drive.google.com.<br/>
2. On the left, click Backups.<br/>
3. Choose the backup you want to manage.
</p>

<div class="ob-panel__content__inner__headline">Back up to Samsung Cloud</div>
<p>1. Open Settings and tap Cloud and accounts &gt; Samsung Cloud.<br/>
2. Use your Samsung login, or create an account if you don’t have one.<br/>
3. Tap Backup Settings &gt; Auto Backup.<br/>
4. Under Data to sync, pick the apps and services you’d like to save to the cloud.
</p>

<p>Your phone will automatically back up as long as Auto backup is enabled and your battery is above 10%.</p>


<div class="ob-panel__content__inner__headline">Restore your info from Samsung Cloud</div>
<p>Open Settings and tap Cloud and accounts &gt; Samsung Cloud &gt; Restore.
Select the backed up data you’d like to restore, then tap Restore now.</p>


<div class="ob-panel__content__inner__headline">Restore backed-up app settings</div>
<p><em>Note:</em> Settings can vary by device. For more info, contact your device manufacturer.</p>

<p>When you reinstall an app, you can restore app settings that you&apos;d previously backed up with your Google Account.</p>

<p>Open your device&apos;s Settings app.<br/>
Tap System and then Advanced and then Backup and then App data.<br/>
If these steps don&apos;t match your device&apos;s settings, try searching your settings app for backup.<br/>
Turn on Automatic restore.<br/>
Note: Not all apps can back up or restore all settings and data. To find out about an app, learn how to contact its developer.</p>
                    <button class="btn" value="yes" onclick="gotIt(this)">Got it. Let's continue!</button>
                </div>
            </div>
        </div>
    </div>
    <div class="ob-container"><hr class="ob-panel__break" /></div>

  <h4 class="ob-article-headline">Here are some simple things you can do to improve your device's performance!</h4>
  <div class="ob-container">
    <div class="ob-articles--container">
      <div class="ob-articles--card-container">
          <a class="ob-articles--card" href="#?" onclick="toggleArticle(this)" id="article1Link">
            <div class="ob-articles--card__img js-article-image" style="background-image:url('../../assets/img/phone-race.png');"></div>
            <h5>Save battery life on your new iPhone</h5>
          </a>

          <div class="ob-articles--card__content js-article-content js-article1 hidden-sm hidden-md hidden-lg" style="display:none;">
              <img class="article-placeholder-img" src="../../assets/img/article1.png" alt="" />
          </div>
      </div>
      <div class="ob-articles--card-container">
          <a class="ob-articles--card" href="#?" onclick="toggleArticle(this)" id="article2Link">
            <div class="ob-articles--card__img js-article-image" style="background-image:url('../../assets/img/KB-Simultaneous-Voice-And-Data-Header-Android@4x.png');"></div>
            <h5>Talk and surf at the same time</h5>
          </a>

          <div class="ob-articles--card__content js-article-content js-article2 hidden-sm hidden-md hidden-lg" style="display:none;">
              <img class="article-placeholder-img" src="../../assets/img/article2.png" alt="" />
          </div>
      </div>

      <div class="ob-articles--card-container">
          <a class="ob-articles--card" href="#?" onclick="toggleArticle(this)" id="article3Link">
            <div class="ob-articles--card__img js-article-image" style="background-image:url('../../assets/img/KB-Content-Header-v2.png');"></div>
            <h5>Set up Bluetooth and connect your devices</h5>
          </a>

          <div class="ob-articles--card__content js-article-content js-article3 hidden-sm hidden-md hidden-lg" style="display:none;">
              <img class="article-placeholder-img" src="../../assets/img/article3.png" alt="" />
          </div>
      </div>
    </div>

    <div class="ob-articles--card__content js-article-content js-article1 hidden-xs" style="display:none;">
        <img class="article-placeholder-img" src="../../assets/img/article1.png" alt="" />
    </div>

    <div class="ob-articles--card__content js-article-content js-article2 hidden-xs" style="display:none;">
        <img class="article-placeholder-img" src="../../assets/img/article2.png" alt="" />
    </div>

    <div class="ob-articles--card__content js-article-content js-article3 hidden-xs" style="display:none;">
        <img class="article-placeholder-img" src="../../assets/img/article3.png" alt="" />
    </div>
  </div>

  <div class="ob-textbox ob-container js-textbox" style="display:none;">
      <label class="ob-textbox__label">How could we have made this experience better?</label>
      <textarea class="ob-textbox__textarea"></textarea>
      <div class="ob-textbox__submit">
          <input type="submit" value="Submit" class="btn ob-textbox__submit__btn" />
      </div>
  </div>
</div>
<script type="text/javascript">
    $('.ob-tab').on('click', function(){
      $('.ob-tab').removeClass('ob-tab--selected');
      $(this).addClass('ob-tab--selected');

      if ($(this).hasClass('js-toggle-track') && $('.ob--content-onboard').is(':visible')) {
        $('.ob--content-onboard').hide();
        $('.ob--content-track').show().addClass('animated fadeInLeft');
      }
      else {
        $('.ob--content-track').hide();
        $('.ob--content-onboard').show().addClass('animated fadeInLeft');
      }
    });

    var parentSelector = '.ob-panel';

    function setStepNumber(panel, numberString) {
        $(panel).parents(parentSelector).find('.ob-panel__header__heading__number__inner').text(numberString);
    }

    function showTrophy() {
        console.log('Show trophy');

        var confetti_colors = [
            '#E68F17',
            '#FAB005',
            '#FA5252',
            '#E64980',
            '#BE4BDB',
            '#0B7285',
            '#15AABF',
            '#EE1233',
            '#40C057'
        ];

        var confetti_conf = {
            angle: 90,
            spread: 370,
            startVelocity: 50,
            elementCount: 80,
            decay: 0.77,
            colors: confetti_colors
        };

        var confettiEl = document.querySelector('.ob-confetti');
        window.confetti(confettiEl, confetti_conf);

        var trophy = document.querySelector('.ob-trophy');
        $(trophy).addClass('ob-trophy--animate');
        $(trophy).fadeIn().delay(2000).fadeOut();
    }

    function togglePanel(panel) {
        // hide all panels and articles
        $('.ob-panel__content').hide();
        $('.js-article-content').hide();
        var panelId = $(panel).parents(parentSelector).attr('id');
        console.log(panelId);
        $(panel).siblings('.ob-panel__header__actions__action').removeClass('ob-panel__header__actions__action--selected')
        $(panel).addClass('ob-panel__header__actions__action--selected')
        $(panel).parents(parentSelector).find('.ob-panel__content').fadeOut(100);
        if (panel.value === 'no') {
            // $('.ob-panel__content').hide();
            $(panel).parents(parentSelector).find('.ob-panel__content').fadeIn(200);
            $(panel).parents(parentSelector).find('.ob-panel__header').removeClass('ob-panel__header--positive');
            $(panel).parents(parentSelector).find('.ob-panel__header__heading__number').removeClass('ob-panel__header__heading__number--checked');
            switch (panelId) {
                case 'panel1':
                    setStepNumber(panel, '1');
                    break;
                case 'panel2':
                    setStepNumber(panel, '2');
                    break;
                case 'panel3':
                    setStepNumber(panel, '3');
                    break;
                default:
                    setStepNumber(panel, '4');
            }
        } else {
            $(panel).parents(parentSelector).find('.ob-panel__header__heading__number').addClass('ob-panel__header__heading__number--checked');
            $(panel).parents(parentSelector).find('.ob-panel__header').addClass('ob-panel__header--positive');
            $(panel).parents(parentSelector).find('.ob-panel__header__heading__number__inner').text('\u2713');
        }

        // if all four panel's yes buttons are pressed, show trophy
        var numberOfYesPanels = $('.ob-panel__header__actions__action--positive.ob-panel__header__actions__action--selected').length;

        if (numberOfYesPanels === 4) {
            showTrophy();
            $('.js-textbox').fadeIn();
        }
    }

    function gotIt(panel) {
        // hide all panels and articles
        $('.ob-panel__content').hide();
        $('.js-article-content').hide();
        var panelId = $(panel).parents(parentSelector).attr('id');
        console.log(panelId);
        $(panel).parents(parentSelector).find('.ob-panel__header__actions__action').removeClass('ob-panel__header__actions__action--selected')
        $(panel).parents(parentSelector).find('.ob-panel__header__actions__action--positive').addClass('ob-panel__header__actions__action--selected');
        $(panel).parents(parentSelector).find('.ob-panel__content').fadeOut(100);
        document.getElementById(panelId).scrollIntoView();
        if (panel.value === 'no') {
            // $('.ob-panel__content').hide();
            $(panel).parents(parentSelector).find('.ob-panel__content').fadeIn(200);
            $(panel).parents(parentSelector).find('.ob-panel__header').removeClass('ob-panel__header--positive');
            $(panel).parents(parentSelector).find('.ob-panel__header__heading__number').removeClass('ob-panel__header__heading__number--checked');
            switch (panelId) {
                case 'panel1':
                    setStepNumber(panel, '1');
                    break;
                case 'panel2':
                    setStepNumber(panel, '2');
                    break;
                case 'panel3':
                    setStepNumber(panel, '3');
                    break;
                default:
                    setStepNumber(panel, '4');
            }
        } else {
            $(panel).parents(parentSelector).find('.ob-panel__header__heading__number').addClass('ob-panel__header__heading__number--checked');
            $(panel).parents(parentSelector).find('.ob-panel__header').addClass('ob-panel__header--positive');
            $(panel).parents(parentSelector).find('.ob-panel__header__heading__number__inner').text('\u2713');
        }

        // if all four panel's yes buttons are pressed, show trophy
        var numberOfYesPanels = $('.ob-panel__header__actions__action--positive.ob-panel__header__actions__action--selected').length;

        if (numberOfYesPanels === 4) {
            showTrophy();
            $('.js-textbox').fadeIn();
        }
    }

    function toggleArticle(articleLink) {
        // hide all panels when showing an article
        $('.ob-panel__content').hide();
        var articleLinkId = $(articleLink).attr('id');
        var articleSelector = '.js-' + articleLinkId.substring(0, articleLinkId.length - 4);
        console.log(articleSelector);
        // hide all panels and articles and then show just the one you want
        $('.js-article-content').hide();
        $(articleSelector).fadeIn();

        $('.js-article-image').addClass('ob-grayscale');
        $('#' + articleLinkId).find('.js-article-image').removeClass('ob-grayscale');
    }
</script>

<script type="text/javascript">
/**
              * Original library => dom-confetti
              * https://github.com/daniel-lundin/dom-confetti
              */

var defaultColors = [
'#a864fd',
'#29cdff',
'#78ff44',
'#ff718d',
'#fdff6a'];

var shape = function shape(element) {
 var list = [
 // Square
 function (e) {
   var size = Math.round((Math.random() + 0.5) * 10) + 'px';
   e.style.width = size;
   e.style.height = size;
   return e;
 },
 // Round
 function (e) {
   var size = Math.round((Math.random() + 0.5) * 10) + 'px';
   e.style.width = size;
   e.style.height = size;
   e.style['border-radius'] = '50%';
   return e;
 },
 // Triangle
 function (e) {
   var size = '' + Math.round((Math.random() + 0.5) * 10);
   var color = e.style['background-color'];
   e.style['background-color'] = 'transparent';

   e.style['border-bottom'] = size + 'px solid ' + color;
   e.style['border-left'] = size / 2 + 'px solid transparent';
   e.style['border-right'] = size / 2 + 'px solid transparent';
   e.style.height = 0;
   e.style.width = size;

   return e;
 }];

 return list[Math.floor(Math.random() * list.length)](element);
};

function createElements(root, elementCount, colors) {
 return Array.
 from({ length: elementCount }).
 map(function (_, index) {
   var element = document.createElement('div');
   var color = colors[index % colors.length];
   element.style['background-color'] = color; // eslint-disable-line space-infix-ops
   element.style.position = 'absolute';
   root.appendChild(shape(element));
   return element;
 });
}

function randomPhysics(angle, spread, startVelocity, random) {
 var radAngle = angle * (Math.PI / 180);
 var radSpread = spread * (Math.PI / 180);
 return {
   x: 0,
   y: 0,
   wobble: random() * 10,
   velocity: startVelocity * 0.5 + random() * startVelocity,
   angle2D: -radAngle + (0.5 * radSpread - random() * radSpread),
   angle3D: -(Math.PI / 4) + random() * (Math.PI / 2),
   tiltAngle: random() * Math.PI };

}

function updateFetti(fetti, progress, decay) {
 /* eslint-disable no-param-reassign */
 fetti.physics.x += Math.cos(fetti.physics.angle2D) * fetti.physics.velocity;
 fetti.physics.y += Math.sin(fetti.physics.angle2D) * fetti.physics.velocity;
 fetti.physics.z += Math.sin(fetti.physics.angle3D) * fetti.physics.velocity;
 fetti.physics.wobble += 0.1;
 fetti.physics.velocity *= decay;
 fetti.physics.y += 3;
 fetti.physics.tiltAngle += 0.1;var _fetti$physics =

 fetti.physics,x = _fetti$physics.x,y = _fetti$physics.y,tiltAngle = _fetti$physics.tiltAngle,wobble = _fetti$physics.wobble;
 var wobbleX = x + 10 * Math.cos(wobble);
 var wobbleY = y + 10 * Math.sin(wobble);
 var transform = 'translate3d(' + wobbleX + 'px, ' + wobbleY + 'px, 0) rotate3d(1, 1, 1, ' + tiltAngle + 'rad)';

 fetti.element.style.transform = transform;
 fetti.element.style.opacity = 1 - progress;

 /* eslint-enable */
}

function animate(root, fettis, decay) {
 var totalTicks = 200;
 var tick = 0;

 function update() {
   fettis.forEach(function (fetti) {return updateFetti(fetti, tick / totalTicks, decay);});

   tick += 1;
   if (tick < totalTicks) {
     requestAnimationFrame(update);
   } else {
     fettis.forEach(function (fetti) {
       if (fetti.element.parentNode === root) {
         return root.removeChild(fetti.element);
       }
     });
   }
 }

 requestAnimationFrame(update);
}

window.confetti = function (root)

{var _ref = arguments.length > 1 && arguments[1] !== undefined ? arguments[1] : {},_ref$angle = _ref.angle,angle = _ref$angle === undefined ? 90 : _ref$angle,_ref$decay = _ref.decay,decay = _ref$decay === undefined ? 0.9 : _ref$decay,_ref$spread = _ref.spread,spread = _ref$spread === undefined ? 45 : _ref$spread,_ref$startVelocity = _ref.startVelocity,startVelocity = _ref$startVelocity === undefined ? 45 : _ref$startVelocity,_ref$elementCount = _ref.elementCount,elementCount = _ref$elementCount === undefined ? 50 : _ref$elementCount,_ref$colors = _ref.colors,colors = _ref$colors === undefined ? defaultColors : _ref$colors,_ref$random = _ref.random,random = _ref$random === undefined ? Math.random : _ref$random;
 var elements = createElements(root, elementCount, colors);
 var fettis = elements.map(function (element) {return {
     element: element,
     physics: randomPhysics(angle, spread, startVelocity, random) };});

 animate(root, fettis, decay);
};
</script>

{% endblock %}
