{% extends "_step-layout.html" %}

{% set stepTitle = 'Let’s get you started.' %} 
{% set stepSubTitle = 'Please provide the following information.' %}
{% set btnText = 'Get Started' %}
{% set nextStep = '1002.confirm-account.html' %}



{% block messaging %}

{% endblock %}

{% block stepContent %}
	<div class="container--xs">
		<form action="" id="step1-1">
			<div class="form-group">
				<label for="deviceWirelessNumber">Wireless number on your plan</label>
			    <input type="text" class="form-control js-phone_us" id="deviceWirelessNumber">
			</div>
			<div class="row">
				<div class="col-sm-6">
					<div class="form-group">
						<label for="firstName">First name</label>
					    <input type="text" class="form-control" id="firstName">
					</div>
				</div>
				<div class="col-sm-6">
					<div class="form-group">
						<label for="lastName">Last name</label>
					    <input type="text" class="form-control" id="lastName">
					</div>
				</div>
			</div>
			<div class="form-group">
				<label for="zip">Billing address ZIP/postal code</label>
			    <input type="text" class="form-control" id="ZIP">
			</div>
			<div class="form-group">
				<label for="zip">Email</label>
			    <input type="text" class="form-control" id="email">
			</div>
			<div class="form-group">
				<label for="zip">Alternate number where we can reach you</label>
			    <input type="text" class="form-control js-phone_us" id="altNumber">
			</div>
		</form>
	</div>
	
{% endblock %}
{% block stepFooter %}
<div class="step__footer">
    <div class="container">
        <div class="btn-well">

            <a href="{[nextStep]}" id="nextButton" class="btn btn-primary path-control__button btn-disabled" disabled>{[btnText]}</a>
            <!-- <span class="btn-caption btn-caption--active"><span class="btn-caption__next">Next: </span>Tell us what happened.</span> -->
        </div>
        
    </div>
</div>

{% endblock %}

{% block pageFoot %}

<script>
	jQuery(document).ready(function($) {
	
		$('#altNumber').on('keyup', function(event) {
			if( $(this).val().length == 14 ){
				$('#nextButton').prop('disabled', false).removeClass('btn-disabled');
			}
		});	

		
	});

</script>

{%endblock%}