/*===============================================
=            TABS MODULE            =
===============================================*/

.tabs{
		display: none;
		@include respond-to(small){
			display:table;
			table-layout:fixed;
			width:100%;
			margin:0;
			padding:0;
			counter-reset: step-counter;
			position: relative;
			z-index: 0;	
		}
}
.tabs-mobile{
	display:block;
	@include respond-to(small){
		display: none;
	}
}
.tab{
	@extend .loud;
	cursor:pointer;
	display:table-cell;
	position: relative;
	vertical-align:middle;
	text-align:center;
	color:$gray-75;
	background-color:$gray-15;
	*{
   		opacity: 0.6;
   	}
	
}
.tab--active{
	
	*{
   		opacity: 1.0;
   	}
	
}
.tab .tab__content{
	margin-bottom:0;
}
.tabs--mobile-disable{
	display:none;
	@include respond-to(small){
		display:table;
	}
}
.tabs--mobile-list{
	@include respond-to(small-max){
		height: auto;
		margin-top: 0;
	}
}
.tabs--mobile-list .tab{
	@include respond-to(small-max){
		display: block!important;

	}
}

.tab-anchor-box{
	position: relative;
	z-index:1;
	border-top:0;
	border-top-right-radius:0;
	border-top-left-radius:0;
}
.tab-anchor{
	display: none;
}
.tab-anchor--active{
	display: block;
}
.tab-anchor--inactive{
	display: none;
}
.tab-anchor--mobile-disable.inactive{
	display: none;
	@include respond-to(small){
		display: block;
	}
}

/*====================================
=            TABS STYLE A            =
====================================*/


.tabs-style-A{}
.tabs-style-A .tab{
	letter-spacing:-.03em;
	height:3em;
	border-top:solid 1px #ebebeb;
	transition:all 75ms;
	&:after{
		content:"";
		height: 70%;
		top:15%;
		vertical-align: middle;
		width: $standard-border-width;
		background: $gray-25;
		right:0;
		position: absolute;
		
		
	}
	&:last-child{
		border-right:solid 2px #ebebeb;
		&:after{display: none;}
		border-top-right-radius: 5px;
	}
	&:first-child{
		border-left:solid 2px #ebebeb;
		border-top-left-radius: 5px;
		&:after{}
		
	}
	.tab__content, a{
		line-height: 1;
		display: block;
		@include respond-to(medium){
			display: inline-block;
			vertical-align: middle;
			width: auto;
		}
		
	}
}
.tab:after + .tab--active:after{
	display:none;
}
.tabs-style-A .tab--active{

	color:$primary-color;
	background:white;
	border-top:solid 4px $primary-color;
	transform:scaleY(1.1);
	transform-origin:bottom;
	
	border-radius:0;
	.tab__content{
		transform: scaleY(0.9);
	}
	&:after{
		display: none;
	}
	&:last-child{
		border-right:solid $standard-border-width $gray-25;
	}
	&:first-child{
		border-left:solid $standard-border-width $gray-25;
	}
	
}




/*====================================
=            TABS STYLE B            =
====================================*/


.tabs-style-B{}
.tabs-style-B .tab{
	color:$gray;
	height:4rem;
	letter-spacing:-.01em;
	border-top:solid $standard-border-width $gray-25;
	border-left:solid $standard-border-width/2 $gray-25;
	border-right:solid $standard-border-width/2 $gray-25;

	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	border-top-right-radius:$standard-border-radius;
	border-top-left-radius:$standard-border-radius;
	z-index: 1;
	transition:all 75ms;
	&:first-child{
		border-left:solid $standard-border-width $gray-25;
	}
	&:last-child{
		border-right:solid $standard-border-width $gray-25;
	}
	@include respond-to(small){
		
	}
	
	
	
}
.tabs-style-B .tab__title{
	@extend .bold;
	@extend .milli;
	margin-bottom:0;
	line-height:1.8;
	text-transform:uppercase;

	
}
.tabs-style-B .tab__subtitle{
	@extend .milli;
	margin-bottom:0;
	line-height:.95em;
	color:$gray-75;

}
.tabs-style-B .tab--active{
	background:white;
	position: relative;
	z-index: 2;
	border-bottom:0;
	transform:scaleY(1.15);
	transform-origin:bottom;
	
	-webkit-box-shadow: 0px 20px 15px 2px rgba(0, 0, 0, 0.08);
	-moz-box-shadow: 0px 20px 15px 2px rgba(0, 0, 0, 0.08);
	box-shadow: 0px 20px 15px 2px rgba(0, 0, 0, 0.08);
	&:first-child{
		-webkit-box-shadow: 5px 20px 10px 0px rgba(0, 0, 0, 0.05);
		-moz-box-shadow: 5px 20px 10px 0px rgba(0, 0, 0, 0.05);
		box-shadow: 5px 20px 10px 0px rgba(0, 0, 0, 0.05);
	}
	&:last-child{
		-webkit-box-shadow: -5px 20px 10px 0px rgba(0, 0, 0, 0.05);
		-moz-box-shadow: -5px 20px 10px 0px rgba(0, 0, 0, 0.05);
		box-shadow: -5px 20px 10px 0px rgba(0, 0, 0, 0.05);
	}
	.tab__content{
		transform: scaleY(0.85);
	}
}

/*====================================
=            TABS STYLE C            =
====================================*/


.tabs-style-C{}
.tabs-style-C .tab{
	color:$accessible-blue;
	height:3.5rem;
	background:none;
	transition:all 75ms;
	border-bottom:solid $standard-border-width $gray-35;
	border-top:solid $standard-border-width transparent;
	border-left:solid $standard-border-width transparent;
	border-right:solid $standard-border-width transparent;
	@include respond-to(small){
		
	}
	
	
	
}
.tabs-style-C .tab * {
    opacity: 1;
}
.tabs-style-C .tab__title{
	
	margin-bottom:0;
	line-height:1.8;

	
}
.tabs-style-C .tab__subtitle{
	@extend .milli;
	margin-bottom:0;
	line-height:.95em;

}
.tabs-style-C .tab--active{
	border-top:solid $standard-border-width $gray-35;
	border-left:solid $standard-border-width $gray-35;
	border-right:solid $standard-border-width $gray-35;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	border-top-right-radius:$standard-border-radius;
	border-top-left-radius:$standard-border-radius;
	z-index: 1;
	position: relative;
	z-index: 2;
	border-bottom:solid $standard-border-width transparent;
	color: $gray;
	.tab__content{
		
	}
}

