{% extends "_step-layout.html" %} 
{% set stepTitle = 'Provide a payment method.' %} 
{% set stepSubTitle = 'Your deductible is <span class="loud">$110.00</span>. To complete your claim, please provide a payment method.' %} {% set btnText = 'Continue' %} 
{% set btnTarget = 'payment-submit' %} 
{% set nextStep = '0010.final-review.html' %} 
{% block stepContent %}

<div class="container--sm">
    <div class="card">
        <div class="card__content padding-left-3x padding-right-2x padding-left-right-sm-4x">
            <div class="card-radio-group js-card-radio-group">
                <div class="radio">
                    <h3 class="h4 loud margin-top-1x">
                    <input class="card-radio" type="radio" name="paymentTypeRadio" id="paymentBTA" value="paymentBTA" checked>
                    <label for="paymentBTA">Bill to Wireless Account</label></h3>
                    
                        <p>Have your deductible charged to your monthly wireless bill.</p>    
                    
                </div>
            </div>
            <hr class="or or--white">
            <div class="card-radio-group js-card-radio-group">
                <div class="radio">
                    <h3 class="h4 loud margin-top-1x">
                    <input class="card-radio" type="radio" name="paymentTypeRadio" id="paymentCC" value="paymentCC">
                    <label for="paymentCC">Pay with Credit/Debit Card</label></h3>
                </div>
                <div class="card-radio-group__content">
                    <div class="form-group">
                        <label for="paymentCardNumber">Card number</label>
                        <input type="text" class="form-control" id="paymentCardNumber" placeholder="4111-1111-1111-1111" disabled>
                        <div class="ccbox-onfield"></div>
                    </div>
                    <div class="form-group">
                        <label for="paymentCardNumber">Full name on card</label>
                        <input type="text" class="form-control" id="nameOnCard" placeholder="Full name on card" disabled>
                    </div>
                    <div class="row gutter--sm">
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label for="paymentCardNumber">Exp. date</label>
                                <input type="text" class="form-control" id="expDate" placeholder="MM/YYYY" disabled>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="form-group">
                                <label for="paymentCardNumber">Sec. code</label>
                                <input type="text" class="form-control" id="CVV" placeholder="CVV" disabled>
                            </div>
                        </div>
                        <div class="col-sm-5">
                            <div class="form-group">
                                <label for="paymentCardNumber">ZIP/Postal code</label>
                                <input type="text" class="form-control" id="ZIPcode" placeholder="ZIP/Postal code" disabled>
                            </div>
                        </div> 
                        <div class="col-sm-12">
                             <div class="form-group">
                                <label for="billingStreet">Address 
                                </label>
                                <input type="text" class="form-control" id="billingStreet" placeholder="123 Elm Street" >
                            </div>
                            <div class="form-group">
                                <label for="billingStreet2">Apartment, suite, attn.</label>
                                <input type="text" class="form-control" id="billingStreet2" placeholder="Apartment number, Suite number, etc." >
                            </div>
                        </div>
                          
                    </div>
                     <div class="row gutter--sm">
                                             
                        <div class="col-sm-9">
                            <div class="form-group">
                                <label for="billingCity">City</label>
                                <input type="text" class="form-control" id="billingCity" placeholder="City" >
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="form-group">
                                <label for="billingStateProvince">State</label>
                                <div class="custom-dropdown">
                                    <select class="form-control" id="billingStateProvince" placeholder="Province" ng-model="formData.billing.stateProvince">
                                           <option value=""></option>
                                        <option value="AL">AL</option>
                                        <option value="AK">AK</option>
                                        <option value="AZ">AZ</option>
                                        <option value="AR">AR</option>
                                        <option value="CA">CA</option>
                                        <option value="CO">CO</option>
                                        <option value="CT">CT</option>
                                        <option value="DE">DE</option>
                                        <option value="DC">DC</option>
                                        <option value="FL">FL</option>
                                        <option value="GA">GA</option>
                                        <option value="HI">HI</option>
                                        <option value="ID">ID</option>
                                        <option value="IL">IL</option>
                                        <option value="IN">IN</option>
                                        <option value="IA">IA</option>
                                        <option value="KS">KS</option>
                                        <option value="KY">KY</option>
                                        <option value="LA">LA</option>
                                        <option value="ME">ME</option>
                                        <option value="MD">MD</option>
                                        <option value="MA">MA</option>
                                        <option value="MI">MI</option>
                                        <option value="MN">MN</option>
                                        <option value="MS">MS</option>
                                        <option value="MO">MO</option>
                                        <option value="MT">MT</option>
                                        <option value="NE">NE</option>
                                        <option value="NV">NV</option>
                                        <option value="NH">NH</option>
                                        <option value="NJ">NJ</option>
                                        <option value="NM">NM</option>
                                        <option value="NY">NY</option>
                                        <option value="NC">NC</option>
                                        <option value="ND">ND</option>
                                        <option value="OH">OH</option>
                                        <option value="OK">OK</option>
                                        <option value="OR">OR</option>
                                        <option value="PA">PA</option>
                                        <option value="RI">RI</option>
                                        <option value="SC">SC</option>
                                        <option value="SD">SD</option>
                                        <option value="TN">TN</option>
                                        <option value="TX">TX</option>
                                        <option value="UT">UT</option>
                                        <option value="VT">VT</option>
                                        <option value="VA">VA</option>
                                        <option value="WA">WA</option>
                                        <option value="WV">WV</option>
                                        <option value="WI">WI</option>
                                        <option value="WY">WY</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<p class="js-payment-message text-center loud margin-bottom-0x margin-top-1x">&nbsp;</p>
{% endblock %} {% block stepFooter %}

<div class="step__footer">
    <div class="container">
        <div class="btn-well">
            <a href="{[nextStep]}" id="nextButton" class="btn btn-primary" >{[btnText]}</a>
            <!-- <span class="btn-caption btn-caption--active"><span class="btn-caption__next">Next: </span>Review &amp; complete your claim.</span> -->
        </div>
    </div>
</div>
<!-- <div class="pills step__pills">
    <a class="pill" href="1.1.device.html" title=""></a>
    <a class="pill active" href="1.2.problem.html" title=""></a>
    <a class="pill" href="1.3.account.html" title=""></a>
    <a class="pill" href="1.4.review.html" title=""></a>
</div> -->
{% endblock %} {% block pageFoot %}

<script>
    $(document).ready(function() {
        $('[name=paymentTypeRadio]').change(function(event) {
            if( $('[name=paymentTypeRadio]:checked').val() == 'paymentBTA'){
                $('.js-payment-message').html('Your <span class="bold">$110.00</span> deductible will appear on your monthly wireless bill.')
            }
            else if( $('[name=paymentTypeRadio]:checked').val() == 'paymentCC'){
                $('.js-payment-message').html('Your credit card will be charged <span class="bold">$110.00</span> after you complete your claim. <br class="br-desktop"> It will appear on your statement as "ASURION WIRELESS INS 866-667-2535 TN"')
            }
            
        }).trigger('change');
    });
</script>
{%endblock%}
