/*=====================================
=            FOOTER STYLES            =
=====================================*/

.footer {
    background: $gray-15;
    border-top: solid 1px $gray-25;
    color: rgba(255, 255, 255, 0.50);
    @include respond-to(small) {
        position: absolute;
        left: 0;
        bottom: 0;
        height: 100px;
        width: 100%;
    }
}
.footer-brand{
    text-align: right;
    @include respond-to(small-max){
        float: none;
        width:100%;
        text-align: center;
    }
    float: right;
    width:40%;
    margin-top:1.4rem;
    .footer-brand__caption{
        @extend .milli;
        text-align:left;
        display: inline-block;
        vertical-align: middle;
        color:black;
        margin-left:.75rem;
        margin-top:.25rem;
    }
    img{
        display: inline-block;
        vertical-align: middle;
        height:3rem;
        width:auto;
        max-width: 100%;
    }
}
.footer-nav{
    @include respond-to(small-max){
        float: none;
        width:100%;
    }
    float: left;
    width:60%;
    margin-top:.75rem;
}
.copyright-wrap {
    // @extend .menu-wrap;
    text-align:center;
    @include respond-to(small){
        float: left;
        text-align:left;
    }
}

.copyright {
    @extend .menu-link;
    font-family: $menu-font-family;
    @include respond-to(small) {
        font-size: .9em;
    }
}

.footer-menu {
    text-align:center;
    margin: 0;
    padding:0; 
    font-size: .9em;
    .menu-item {
        color: inherit;
        display: inline-block;
    }
    .menu-item:last-child .menu-link{
        padding-right: 0;
    }
    .menu-link{
        @extend .loud;
        display: inline-block;
        padding:2em .5em;
        text-decoration:none;
        color:$gray;
        @include respond-to(small){
            padding:1.45rem 1.15rem;
        }
    }
    
}