/*================================
=            UPLOADER            =
================================*/

.upload-card{
	width:22%;
	margin:1%;
	vertical-align:top;
	display:inline-block;
	@include respond-to(medium-max){
		width:47%;
		margin-bottom:2rem;
		background:$gray-10;
		padding:1rem;
		border-radius:$standard-border-radius;
		border:dashed 2px $gray-35;
	}
	@include respond-to(small-max){
		width:100%;
		display: block;
	}
}
.upload-card__header{
	@extend .text-center;
	margin-bottom:1rem;
	display:table;
	width:100%;
}
.upload-card__content{
	margin-bottom:1rem;
	display:none;
	@include respond-to(medium){
		display: block;
	}
}
.upload-card__footer{
	text-align:center;
}
.upload-card__title{
	@extend .h4;
	@extend .loud;
	text-align:center;
	display:table-cell;
	margin-bottom:0;
	vertical-align:middle;
	
	
	
}
.upload-card__button{
	@extend .btn;
	@extend .btn-sm;
	@extend .btn-ghost;
	@extend .btn-secondary;
	min-width:initial;
	padding-left:2rem;
	padding-right:2rem;	
	@include respond-to(medium){
		
		width:initial;
	}
	
	
}
.upload-card__button--upload{
	display:none;
	@include respond-to(medium){
		display: inline-block;
	}
}
.upload-card__button--photo{
	display:inline-block;
	@include respond-to(medium){
		display: none;
	}
}
.upload-card__eg{
	@extend .milli;
}
.uploader__header{
	@extend .giga;
	@extend .loud;
	@extend .text-center;
}

/*=====  End of UPLOADER  ======*/


/*================================
=            DROPZONE            =
================================*/


.upload-dropzone{
	background:$gray-10;
	text-align:center;
	width:100%;
	display: table;
	min-height:8rem;
	padding:1rem;
	border-radius:$standard-border-radius;
	border:dashed 2px $gray-35;
	@include respond-to(medium){
		padding:2rem;
	}
	
		&:after {
			@include respond-to(medium-max){
		    -webkit-transform: translateY(0%);
		    transform: translateY(0%);
		    position: absolute;
		    opacity: 1;
		    height: 1.25em;
		    width: 1.25em;
		    background: $form-highlight-color;
		    border-radius: 50%;
		    z-index: 9999;
		    font-family: 'icomoon' !important;
		    font-size: 1.5rem;
		    content: "\e918";
		    color: $button-text-color;
		    top: -1rem;
		    right: -1rem;
		    padding: 8px;
		    transition: all .4s ease;
		    text-align: center;
		}
	}
}
.upload-dropzone__content{
	display:table-cell;
	vertical-align:middle;
}
.upload-dropzone__text{
	margin-bottom:.5rem;
}
.upload-dropzone__content >:last-child{
	margin-bottom:0;
}

.dz-started{
	&.upload-dropzone{
		border: solid 2px $form-highlight-color;
		background:white;
		position: relative;
		.btn {
		    background-color: $form-highlight-color;
		    color: $button-text-color;
		}
		&:after {
		    -webkit-transform: translateY(0%);
		    transform: translateY(0%);
		    position: absolute;
		    opacity: 1;
		    height: 1.25em;
		    width: 1.25em;
		    background: $form-highlight-color;
		    border-radius: 50%;
		    z-index: 9999;
		    font-family: 'icomoon' !important;
		    font-size: 1.5rem;
		    content: "\e918";
		    color: $button-text-color;
		    top: -1rem;
		    right: -1rem;
		    padding: 8px;
		    transition: all .4s ease;
		    text-align: center;
		}
	}
	.upload-dropzone__content{
		display: none;
	}
	.dz-success-mark{
		display: none;
	}
	.dz-error-message{
		display: none;
	}
	.dz-error-mark{
		display: none;
	}
	.dz-size{
		display: none;
	}
	.dz-image img{
		display: none;
	}
	.dz-remove{
		@extend .micro;
		@extend .fancy-link;
	}
	.dz-image:after{
		
		@extend .icon--mega;
		content: "\e995";
		font-family: 'icomoon';

	}
}
