/*======================================
=            TRICITY TIER 2            =
======================================*/


$primary-color: #29D9C2;
$secondary-color: #FA8819;
$client-header-logo-path: '../../img/asurion-logo-black.svg';
$client-header-logo-width:10em;

/*=====================================
=            BUTTON VARS            =
=====================================*/

$btn-primary: $primary-color;
$btn-secondary: $primary-color;

$form-highlight-color: $primary-color;
$text-highlight-color: $primary-color;

$client-header-background:$primary-color;

.client-header__branding__logo{
	opacity:0.5;
}