{% extends "_step-layout.html" %}
{% set nextStep = '009.4004.repair-or-replace.html' %}

{% block stepHeader %}
{% endblock %}

{% block stepContent %}
	
		<div class="vert-center-container" >
			<div class="vert-center">
				<div class="container">		
					<div class="processing-message" >
					  <h1 class="h2 step__header__title">One moment please. We are processing your claim.</h1>
					  <h1 class="h2 step__header__title">We're checking to make sure we've got the right device.</h1>
					  <h1 class="h2 step__header__title">Your security is important to us, so we're verifying your identity.</h1>
					  <h1 class="h2 step__header__title">To protect against fraud, we're checking just a few additional things.</h1>
					</div>
					<div class="progressBar" ><div></div></div>
				</div>
			</div>
		</div>
		<div class="path-control submission-outcome">
			<select name="" id="path-conrol__select" class="hidden">
				<option value="{[nextStep]}">Select Submission Outcome</option>
			</select>	
			<button class="path-control__button">Skip</button>
		</div>
		
{% endblock %}

{% block stepFooter %}

{% endblock %}


{% block pageFoot %}
	<script>

	

	
	jQuery(document).ready(function($) {
		$('.footer').hide();
		$('.path-control__button').click(function(event) {
			var path = $('#path-conrol__select').val()
			document.location.href = path
		});

		// BIG SUBMIT
		$('#claimInitiation').removeClass('active');
		$('#claimProcessing').addClass('active');
		setTimeout(function() {
		    $('.processing-message h1:nth-child(1)').addClass('active');
		}, 0);
		setTimeout(function() {
		    $('.processing-message h1:nth-child(1)').removeClass('active');
		    $('.processing-message h1:nth-child(2)').addClass('active');

		}, 5000);
		setTimeout(function() {
		    $('.processing-message h1:nth-child(2)').removeClass('active');
		    $('.processing-message h1:nth-child(3)').addClass('active');
		}, 10000);
		setTimeout(function() {
		    $('.processing-message h1:nth-child(3)').removeClass('active');
		    $('.processing-message h1:nth-child(4)').addClass('active');
		    var path = $('#path-conrol__select').val()
		    document.location.href = path
		}, 15000);	
	});

	</script>
{% endblock %}
