{% extends "_step-layout.html" %}

{% set stepTitle = 'Good news! We have a replacement for you.' %} 
{% set stepSubTitle = 'Please review your options.' %}
{% set btnText = 'Continue' %}
{% set nextStep = '010.4002.lfl-shipping.html' %}

{% block stepContent %} 
    <div class="container--lg">
        <div class="card padding-left-right-sm-4x padding-top-3x">
           <div class="text-center">
               <img width="400" src="../../assets/img/zip-code.png" alt="">
           </div>
           <hr class="margin-bottom-4x">
           <div class="row margin-bottom-2x">
               <div class="col-sm-6">
                   <div class="card bg-gray-10 padding-1x text-center" >
                        <div class="card-header-icon margin-bottom-1x">
                            <span class="card-header-icon__in icon-Icon-page-shipping"></span>
                        </div>
                       <h2 class="bold h2 margin-bottom-0x">$89</h2>
                       <p class="margin-bottom-2x">Deductible</p>
                       <p class="h3 bold margin-bottom-2x">We'll come to you.</p>
                       <ul class="list list--spaced margin-bottom-2x text-left" data-mh="js-same-height">
                         <li>Schedule a 2 hour appointment window</li>
                         <li>We'll come to your home or work</li>
                         <li>An Asurion certified tech will repair your device</li>
                         <li>Reschedule if something comes up</li>
                         <li>12 month warranty</li>
                       </ul>
                       <a href="H" class="h4 link bold inline-block margin-bottom-2x">How does it work?</a>
                       <a href="009.4005.repair-confirm.html" class="btn btn-primary">Schedule repair</a>
                   </div>
               </div>
               <div class="col-sm-6">
                   <div class="card bg-gray-10 padding-1x text-center" >
                        <div class="card-header-icon margin-bottom-1x">
                            <span class="card-header-icon__in icon-store-front"></span>
                        </div>
                       <h2 class="bold h2 margin-bottom-0x">$89</h2>
                       <p class="margin-bottom-2x">Deductible</p>
                       <p class="h3 bold margin-bottom-2x">Bring it in.</p>
                       <ul class="list list--spaced margin-bottom-2x text-left" data-mh="js-same-height">
                         <li>No appointment needed</li>
                         <li>Choose a convenient location</li>
                         <li>An Asurion certified tech will repair your device</li>
                         <li>Repairs are usually completed within two hours</li>
                         <li>12 month warranty</li>
                       </ul>
                       <a href="#" class="h4 link bold inline-block margin-bottom-2x">How does it work?</a>
                       <a href="009.4007.repair-location.html" class="btn btn-primary">Choose location</a>
                   </div>
               </div>
           </div>
           <div class="btn-well">
               <a href="#" class="btn btn-primary btn-ghost margin-bottom-2x">Replace by mail</a>
           </div>
        </div>
    </div>
</div>
{% endblock %}
{% block stepFooter %}

{% endblock %}

{% block pageFoot %}

<script>
    
</script>
{%endblock%}