{% extends "_step-layout.html" %} 
{% set stepTitle = 'Schedule your repair.' %} 
{% set stepSubTitle = 'Choose an appointment time that works for you.' %} 
{% set btnText = 'Continue' %} 
{% set nextStep = '011.5001.final-review.html' %} 


{% block messaging %}
<div class="container margin-top-1x">
    <a href="009.4004.repair-or-replace.html" class="back-link">Back to options</a>    
</div>

{% endblock %}
{% block stepContent %}
<div class="container--sm">
  <div class="card">
    <form class="adg-scheduler">
        <div class="adg-scheduler__dates">
            <div class="adg-scheduler__dates__month">September 2017</div>
            <div class="adg-scheduler__dates__week">
                <label for="september_01" class="adg-scheduler__dates__day">
                    <input class="adg-scheduler__dates__day__input" type="radio" name="date" id="september_01" value="Friday, September 1, 2017" >
                    <div class="adg-scheduler__dates__day__name">F</div>
                    <div class="adg-scheduler__dates__day__number">1</div>
                </label>
                <label for="september_02" class="adg-scheduler__dates__day">
                    <input class="adg-scheduler__dates__day__input" type="radio" name="date" id="september_02" value="Saturday, September 2, 2017">
                    <div class="adg-scheduler__dates__day__name">S</div>
                    <div class="adg-scheduler__dates__day__number">2</div>
                </label>
                <label for="september_03" class="adg-scheduler__dates__day" >
                    <input class="adg-scheduler__dates__day__input" type="radio" name="date" id="september_03" value="Sunday, September 3, 2017" disabled>
                    <div class="adg-scheduler__dates__day__name">S</div>
                    <div class="adg-scheduler__dates__day__number">3</div>
                </label>
                <label for="september_04" class="adg-scheduler__dates__day">
                    <input class="adg-scheduler__dates__day__input" type="radio" name="date" id="september_04" value="Monday, September 4, 2017">
                    <div class="adg-scheduler__dates__day__name">M</div>
                    <div class="adg-scheduler__dates__day__number">4</div>
                </label>
                <label for="september_05" class="adg-scheduler__dates__day">
                    <input class="adg-scheduler__dates__day__input" type="radio" name="date" id="september_05" value="Tuesday, September 5, 2017">
                    <div class="adg-scheduler__dates__day__name">T</div>
                    <div class="adg-scheduler__dates__day__number">5</div>
                </label>
                <label for="september_06" class="adg-scheduler__dates__day">
                    <input class="adg-scheduler__dates__day__input" type="radio" name="date" id="september_06" value="Wednesday, September 6, 2017">
                    <div class="adg-scheduler__dates__day__name">W</div>
                    <div class="adg-scheduler__dates__day__number">6</div>
                </label>
                <label for="september_07" class="adg-scheduler__dates__day">
                    <input class="adg-scheduler__dates__day__input" type="radio" name="date" id="september_07" value="Thursday, September 7, 2017">
                    <div class="adg-scheduler__dates__day__name">Th</div>
                    <div class="adg-scheduler__dates__day__number">7</div>
                </label>
            </div>
        </div>
        <div class="adg-scheduler__times">
            <label for="9am" class="adg-scheduler__time">
                <input class="adg-scheduler__time__input" type="radio" name="time" id="9am" value="9:00 AM-11:00 AM">
                <span class="adg-scheduler__time__btn">9:00 AM-11:00 AM</span>
            </label>
            <label for="11am" class="adg-scheduler__time adg-scheduler__time--selected">
                <input class="adg-scheduler__time__input" type="radio" name="time" id="11am" value="11:00 AM-1:00 PM">
                <span class="adg-scheduler__time__btn">11:00 AM-1:00 PM</span>
            </label>
            <label for="1pm" class="adg-scheduler__time">
                <input class="adg-scheduler__time__input" type="radio" name="time" id="1pm" value="1:00 PM-3:00 PM">
                <span class="adg-scheduler__time__btn">1:00 PM-3:00 PM</span>
            </label>
            <label for="3pm" class="adg-scheduler__time">
                <input class="adg-scheduler__time__input" type="radio" name="time" id="3pm" value="3:00 PM-5:00 PM" disabled>
                <span class="adg-scheduler__time__btn">3:00 PM-5:00 PM</span>
            </label>
            <label for="5pm" class="adg-scheduler__time">
                <input class="adg-scheduler__time__input" type="radio" name="time" id="5pm" value="5:00 PM-7:00 PM" >
                <span class="adg-scheduler__time__btn">5:00 PM-7:00 PM</span>
            </label>
        </div>
        <div class="adg-scheduler__review js-adg-scheduler__review" >
            <dl>
                <dt class="adg-scheduler__review__title">You have selected:</dt>
                <dd class="adg-scheduler__review__val">
                    <span class="js-dateVal"></span>  
                    <span class="js-timeVal"></span>
                </dd>
            </dl>
        </div>
    </form>
  </div>
</div>
<div class="container margin-top-2x">
    <div class="callout highlight highlight--alert">
        <div class="checkbox margin-0x">
            <input type="checkbox" name="formData.optIn.firstReview" id="formData.optIn.firstReview" value="">
            <label for="formData.optIn.firstReview" class="margin-reset">
               <p class="fine-print margin-0x">I acknowledge that after my screen has been repaired my device may no longer be water resistant.</p>
            </label>
        </div>
    </div>
</div>

{% endblock %}
{% block stepFooter %}
<div class="step__footer">
    <div class="container">

        <div class="btn-well">
            <a href="{[nextStep]}" class="btn btn-primary">{[btnText]}</a>
            <span class="btn-caption btn-caption--active"><span class="btn-caption__next">Next: </span>Review and complete your claim.</span>
        </div>
    </div>
</div>
<!-- <div class="pills step__pills">
    <a class="pill" href="1.1.device.html" title=""></a>
    <a class="pill active" href="1.2.problem.html" title=""></a>
    <a class="pill" href="1.3.account.html" title=""></a>
    <a class="pill" href="1.4.review.html" title=""></a>
</div> -->
{% endblock %}

{% block pageFoot %}

<script>
    $(document).ready(function() {
        $(document).on('change', '[name=date]', function(event) {
            var val = $('input[name=date]:checked').val()
            console.log(val)
            if( $(this).has('val') ){
                $('.js-dateVal').html(val);
                $('.js-adg-scheduler__review').slideDown();

            }
            else{
                $('.js-dateVal').html('');
                $('.js-adg-scheduler__review').hide();
            }
        });
        $(document).on('change', '[name=time]', function(event) {
            var val = $('input[name=time]:checked').val()
            console.log(val)
            if( $(this).has('val') ){
                $('.js-timeVal').html('at '+val);
                $('.js-adg-scheduler__review').show();

            }
            else{
                $('.js-timeVal').html('');
                $('.js-adg-scheduler__review').hide();
            }
        });
        
    });
</script>

{% endblock %}
