{% extends "_step-layout.html" %}

{% set stepTitle = 'Submit your claim.' %} 
{% set stepSubTitle = 'If your information is correct, please submit your claim.' %}
{% set btnText = 'Submit Your Claim' %} 
{% set nextStep = '011.5003.end.html' %}

{% block messaging %}
<div class="container margin-top-1x">
    <a href="009.4004.repair-or-replace.html" class="back-link">Back to options</a>    
</div>
{% endblock %}
{% block stepContent %}
<div class="container--lg">
    <div class="row">
        <div class="col-sm-7">
            <div class="card">
                <div class="card__content padding-left-right-2x padding-left-right-sm-4x">
                   <h3 class="h4 loud inline-block">UBREAKWEFIX</span> <a href="" class="margin-half--left micro link">Edit</a></h3>
                   <h4 class="h5">Store address:</h4>
                   <p>10600 Tamami Trl <br>Washington, DC 20002</p>
                   <h4 class="h5">Phone number:</h4>
                   <p>(416) 469-1234</p>
                   <h4 class="h5">Hours:</h4>
                   <p>M-F 10:00 AM - 7:00 PM</p>
                   <p>The repair center will evaluate your device and perform the repair.  The repair process is normally completed in 2 hours.</p>
                   <hr class="hr">
                   <h3 class="h4 loud inline-block">Repair On or Before</span></h3>
                   
                   <p> Tuesday, November 21, 2017</p>
                   <p><span class="loud">Note: You must have your device repaired on or before this date or you'll need to reschedule to ensure parts are available.</span></p>
                    <hr>
                    <h3 class="h4 loud margin-top-2x">Payment Details</span></h3>
                    <p class="loud">After your repair is complete, your non-refundable deductible of $89.00 will be applied to your AT&amp;T wireless bill within 1 to 2 billing cycles.
                    </p>
                    <hr>
                    
                    <h3 class="h4 loud margin-top-2x">Contact</span></h3>
                    <dl class="d-stacked-list">
                      <dt>Email address: </dt>
                      <dd class="js-email-current">johnsmith@gmail.com <a href="" class="edit-link js-email-change-trigger">(Edit)</a></dd>
                      <div class="form-group form-group--inline js-email-change hidden">
                          <input type="text" class="form-control" value="johnsmith@gmail.com">
                          <button class="btn btn-primary js-email-change-trigger">Update</button>
                      </div>
                        <dt>Contact number: </dt>
                        <dd class="js-phone-current">(555) 555-5555 <a href="" class="edit-link js-phone-change-trigger">(Edit)</a></dd>
                          <div class="form-group form-group--inline js-phone-change hidden">
                              <input type="text" class="form-control" value="(555) 555-5555" width="100px">
                              <button class="btn btn-primary js-phone-change-trigger">Update</button>
                          </div>
                         
                        
                    </dl>
                    
                </div>
            </div>
        </div>
        <div class="col-sm-5 ">
            <div class="card">
                <div class="peril-card__header">
                    <h3 class="h4 loud text-center">Device to be repaired</h3>
                </div>
                <div class="card__content">
                    <div class="text-center margin-bottom-1x">
                      <img src="../../assets/img/iphone_img2.png" alt="">
                    </div>
                    <div class="text-center margin-1x--top">
                        <h2 class="h4 loud">Black Apple iPhone 6 (64GB)</h4>
                    </div>
                </div>
               <div class="card__footer padding-left-right-2x padding-left-right-sm-2x">
                  <p class="bold">IMEI#: *********1111</p>
                  <p><span class="loud">Note:</span> The IMEI of the device being repaired must match the IMEI shown here for the repair to be covered.</p>
               </div>
            </div>
        </div>
    </div>
   <!--  
    <div class="callout margin-top-2x padding-left-right-2x padding-left-right-sm-4x">
        
        <h4 class="h4 loud">
            <span class="warning icon-Icon-page-alert-circle icon--bold icon--mega margin-half--right"></span> 
            <span>Please verify your claim!</span>
        </h4>
        <p>I understand that insurance fraud is unlawful in all states and may subject an individual who files a fraudulent insurance claim to civil/ and/or criminal prosecution under applicable law.</p>
        <div class="checkbox margin-top-2x">
            <input type="checkbox" name="checkbox" id="checkbox" value="">
            <label for="checkbox" class="margin-reset">
                <p class="loud margin-reset">I verify that this claim is true.</p>
            </label>
        </div>
            
    </div> -->
</div>
{% endblock %}
{% block pageFoot %}

<script>
    jQuery(document).ready(function($) {
        $('.js-email-change-trigger').click(function(event) {
            event.preventDefault();
            if( $('.js-email-change').hasClass('hidden') ){
                $('.js-email-change').removeClass('hidden');
                $('.js-email-current').addClass('hidden');
            } 
            else{
                $('.js-email-change').addClass('hidden');
                $('.js-email-current').removeClass('hidden');  
            }
        });
        $('.js-phone-change-trigger').click(function(event) {
            event.preventDefault();
            if( $('.js-phone-change').hasClass('hidden') ){
                $('.js-phone-change').removeClass('hidden');
                $('.js-phone-current').addClass('hidden');
            } 
            else{
                $('.js-phone-change').addClass('hidden');
                $('.js-phone-current').removeClass('hidden');  
            }
        });

    });
    $('.js-alert-box__details-content').hide();
    $(document).on('click', '.js-alert-box__details-toggle', function(event) {
      var content = $(this).closest('.alert-box').find('.js-alert-box__details-content'),
          openClass = 'js-alert-box__details-content--open'
      if( content.hasClass(openClass)){
        $(this).html('Show details')
        content.slideUp().removeClass(openClass)
      } 
      else{
        $(this).html('Hide details')
        content.slideDown().addClass(openClass)
        
      }
    });
    
</script>
{%endblock%}
