/*=============================================
=            MISCELLANEOUS HELPERS            =
=============================================*/

.no-wrap	{ white-space:nowrap; }
.no-wrap--desktop{
    @include respond-to(small){
        white-space:nowrap;    
    }
}
.no-wrap--mobile{
    white-space:nowrap;    
    @include respond-to(small){
        white-space:initial;    
    }
}

dt+dd.no-wrap{padding-left:0;}
.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}
.br-mobile{
	display:block;
	@include respond-to(small){
		display: none;
	}
}
.br-desktop{
    display:none;
    @include respond-to(small){
        display: block;
    }
}

.mobile-spacer{
    margin-bottom: 2rem;
    @include respond-to(small)
    {
        margin-bottom:initial;
    }
}
.clear{
    clear: both;
    display: block;
}
.nowrap{
    white-space: nowrap;
}
.inline-block{
    display: inline-block;
}
.visuallyhidden { 
  position: absolute; 
  overflow: hidden; 
  clip: rect(0 0 0 0); 
  height: 1px; width: 1px; 
  margin: -1px; padding: 0; border: 0; 
}
.hidden {
    display: none!important;
    visibility: hidden !important;
    &--xs{
        display: none!important;
        visibility: hidden !important;
    }
    &--sm{
        @include respond-to(small){
            display: none!important;
            visibility: hidden !important;    
        }
    }
    &--md{
        @include respond-to(medium){
            display: none!important;
            visibility: hidden !important;    
        }
    }
    &--lg{
        @include respond-to(large){
            display: none!important;
            visibility: hidden !important;    
        }
    }
    
}

.eg{
    // display: block;
    @extend .light;
    font-size: .8em;
    display: block;
    @include respond-to(small){
        display: inline;
        white-space: nowrap;    
    }
}
.fadeOut{
    @include fadeOut(
        $duration: 200ms
    );
}

/*=================================
=            ALIGNMENT            =
=================================*/


.float-left  { float: left; margin-right: 1em; }
.float-right { float: right; margin-left: 1em; }

.float-left--mobile{
    @extend .float-left;
    @include respond-to(small){
        float: none;
        margin: none; 
    }
}
.float-right--mobile{
    @extend .float-right;
    @include respond-to(small){
        float: none;
        margin: none; 
    }
}

.float-left--desktop{
    @include respond-to(small){
        float: left;
        margin-right: 1em; 
    }
}
.float-right--desktop{
    @include respond-to(small){
        float: right;
        margin: 1em; 
    }
}
.float-inherit--desktop{
    @include respond-to(small){
        float:inherit;
    }
}
.text-left   { text-align: left   !important; }
.text-center { text-align: center !important; }
.text-right  { text-align: right  !important; }


.border-reset{
    border:0!important;
    &--left{border-left:0!important;}
    &--right{border-right:0!important;}
    &--top{border-top:0!important;}
    &--bottom{border-bottom:0!important;}
    &--left-right{border-left:0!important;border-right:0!important;}
    &--top-bottom{border-top:0!important;border-bottom:0!important;}
}

.visually-hidden{
    position: absolute;
    right: 99999px;
    visibility: hidden;
    opacity: 0;
}

.vert-center-container{
    position: fixed; top:0; left:0; height:100%; width:100%; display:table; pointer-events: none; z-index:9999;
}
.vert-center{
    display: table-cell; vertical-align: middle; text-align: center; 
}
.text-strikethrough{
    text-decoration: line-through; 
}

/*==========================================
=            PROTOTYPE CONTROLS            =
==========================================*/

.pt-controls{
    position: fixed;
    left: .5em;
    bottom: .5em;
    z-index: 99999;

}
.pt-control{
    display: inline-block;
    margin-right: .5em;
    cursor: pointer;
    background: #FFFFFF;
    line-height: 1;
    font-size: .5em;
    border-radius: 100%;
    opacity: .7;
    padding: 1em;
    width: 3.3em;
    text-align: center;
    &:hover{
        opacity: 1;
        background:$asurion-lt-blue;
    }
}

.vert-center-container{
    position: fixed; top:0; left:0; height:100%; width:100%; display:table; pointer-events: none; z-index:9999;
}
.vert-center{
    display: table-cell; vertical-align: middle; text-align: center; 
}
.text-strikethrough{
    text-decoration: line-through; 
}
